// Animations
@keyframes loading_container {
  0% {
    transform: translateX(($rectWidth + $gutterWidth));
  }

  100% {
    transform: translateX(0);
  }
}

@each $size, $width, $height, $gutterWidth, $perspective in $sizes {
  @keyframes loading_container_#{$size} {
    0% {
      transform: translateX(($width + $gutterWidth));
    }

    100% {
      transform: translateX(0);
    }
  }
}

@each $index, $start, $end in $loadingRectangleOpacities {
  @keyframes loading_rectangle#{$index} {
    0% {
      opacity: $start;
    }

    100% {
      opacity: $end;
    }
  }
}
