<button
  (click)="onClick($event)"
  #triggerButton
  class="sbb-tooltip-trigger sbb-icon-fit"
  [class.sbb-tooltip-trigger-active]="overlayAttached"
  [attr.aria-describedby]="contentId"
  tabindex="0"
  type="button"
>
  <ng-container *ngTemplateOutlet="icon"></ng-container>
</button>
<ng-template cdkPortal #tooltipTemplate="cdkPortal">
  <div class="sbb-tooltip-content-body" [attr.id]="contentId">
    <ng-content></ng-content>
  </div>
  <div class="sbb-tooltip-shadow"></div>
  <button type="button" class="sbb-tooltip-icon sbb-icon-fit" (click)="onClick($event)">
    <sbb-icon svgIcon="kom:cross-small"></sbb-icon>
  </button>
</ng-template>

<ng-template #defaultIcon>
  <sbb-icon svgIcon="kom:circle-question-mark-small"></sbb-icon>
</ng-template>
