<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 sbbsc-v-sep">
      <h4 class="sbbsc-block">Single Checkbox</h4>
      <sbb-checkbox
        value="single-checkbox"
        [disabled]="disabled"
        [required]="required"
        [checked]="checked"
        (change)="incrementChangeCounter()"
        >Test label</sbb-checkbox
      >
    </div>
    <div class="col-lg-6">
      <h4 class="sbbsc-block">Properties</h4>
      <div class="sbbsc-block">
        <sbb-checkbox [(ngModel)]="checked">Checked</sbb-checkbox>
      </div>
      <div class="sbbsc-block">
        <sbb-checkbox [(ngModel)]="required">Required</sbb-checkbox>
      </div>
      <div class="sbbsc-block">
        <sbb-checkbox [(ngModel)]="disabled">Disabled</sbb-checkbox>
      </div>
      <p>Change Counter: {{ changeCounter }}</p>
    </div>
  </div>

  <div role="presentation" class="sbbsc-separator"></div>

  <div class="row">
    <div class="col-lg-6 sbbsc-v-sep">
      <h4 class="sbbsc-block">Checkboxes Group</h4>
      <ng-container *ngFor="let option of checkboxOptions; index as i">
        <div class="sbbsc-block">
          <sbb-checkbox [(ngModel)]="option.selected">{{ option.name }}</sbb-checkbox>
        </div>
      </ng-container>
    </div>
    <div class="col-lg-6">
      <h4 class="sbbsc-block">Model</h4>
      <pre>{{ checkboxOptions | json }}</pre>
    </div>
  </div>
</div>
