<sbb-breadcrumb>
  <sbb-breadcrumb-level>
    <a routerLink="/">
      <sbb-icon-home></sbb-icon-home>
    </a>
  </sbb-breadcrumb-level>
  <sbb-breadcrumb-level>
    <a routerLink="/level1">Level 1</a>
  </sbb-breadcrumb-level>
  <sbb-breadcrumb-level>
    <a routerLink="/level1/level2">Level 2</a>
  </sbb-breadcrumb-level>
</sbb-breadcrumb>

<div role="presentation" class="sbbsc-separator"></div>

<sbb-breadcrumb>
  <sbb-breadcrumb-level>
    <a routerLink="/">
      <sbb-icon-home></sbb-icon-home>
    </a>
  </sbb-breadcrumb-level>

  <sbb-breadcrumb-level label="Level 1 dasdasd  dasdasdas">
    <sbb-dropdown>
      <a sbbDropdownItem routerLink="/level1" routerLinkActive="classForActive">Level 1</a>
      <a sbbDropdownItem routerLink="/level1b" routerLinkActive="classForActive">Level 1b</a>
    </sbb-dropdown>
  </sbb-breadcrumb-level>


  <sbb-breadcrumb-level label="Level 2">
    <sbb-dropdown>
      <a sbbDropdownItem routerLink="/level1/level2" routerLinkActive="classForActive">Level 2</a>
      <a sbbDropdownItem routerLink="/level1/level2b" routerLinkActive="classForActive">Level 2 asdasd as das dasdas dasd asd ab</a>
    </sbb-dropdown>
  </sbb-breadcrumb-level>
</sbb-breadcrumb>