@import '../../../angular-core/styles/common/variants';
@import '../../../angular-core/styles/common/colors';
@import '../../../angular-core/styles/common/functions';
@import '../../../angular-core/styles/common/mediaqueries';
@import '../../../angular-core/styles/common/mixins';
@import '../../../angular-core/styles/common/checkbox';

$checkBoxGreyColor: if($sbbBusiness, $sbbColorGranite, $sbbColorGrey);

@mixin checkbox() {
  & > label {
    @include checkboxBase();
  }
}

@mixin checkboxBase {
  display: flex;
  position: relative; // assure absolute positioned native input is close to the label!
  align-items: flex-start;

  & > input[type='checkbox'] {
    & + .sbb-checkbox-container {
      @include checkboxContainer();

      & > .sbb-checkbox-checked {
        display: none;
      }

      & + .sbb-checkbox-label-content {
        @include businessOnly() {
          line-height: toEm(21 / $sizeFontDefault);
        }

        color: $checkBoxGreyColor;
        transition: color 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      }
    }

    &:focus + .sbb-checkbox-container {
      border-color: $checkBoxGreyColor;
    }

    &:checked + .sbb-checkbox-container,
    &[checked] + .sbb-checkbox-container {
      & > .sbb-checkbox-checked {
        display: block;
      }

      & + .sbb-checkbox-label-content {
        color: $sbbColorBlack;
      }
    }

    @include businessOnly() {
      &:indeterminate + .sbb-checkbox-container,
      &[indeterminate] + .sbb-checkbox-container {
        &::before {
          content: '';
          position: relative;
          height: 1px;
          width: 10px;
          left: 4px;
          top: 8.5px;
          border: 1px solid $sbbColorGranite;
          display: block;
        }

        & > .sbb-checkbox-checked {
          display: none;
        }

        & + .sbb-checkbox-label-content {
          color: $sbbColorBlack;
        }
      }
    }

    &:disabled + .sbb-checkbox-container,
    &[disabled] + .sbb-checkbox-container {
      border-color: $sbbColorAluminum;
      background-color: $sbbColorMilk;

      & > .sbb-checkbox-checked {
        @include svgIconColor($sbbColorGrey);
      }

      & + .sbb-checkbox-label-content {
        color: $checkBoxGreyColor;
      }
    }
  }
}
