<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 sbbsc-v-sep">
      <h4 class="sbbsc-block">Single Option Selection with img</h4>

      <sbb-radio-button-panel
        name="single-option"
        value="single-option"
        [disabled]="disabled"
        [required]="required"
        [checked]="checked"
        label="SBB - Finanzen"
        subtitle="Armin Burgermeister"
      >
        <img
          icon
          src="https://support.hipay.com/hc/article_attachments/115011468665/BC_logo_ORGNL_RGB.png"
        />
      </sbb-radio-button-panel>

      <h4 class="sbbsc-block">Single Option Selection with icon component</h4>
      <sbb-radio-button-panel
        name="single-option-svg"
        value="single-option"
        label="SBB - Finanzen"
        subtitle="Armin Burgermeister"
        [disabled]="disabled"
        [required]="required"
        [checked]="checked"
      >
        <sbb-icon-heart icon></sbb-icon-heart>
      </sbb-radio-button-panel>
    </div>
    <div class="col-lg-6">
      <h4 class="sbbsc-block">Properties</h4>
      <div class="sbbsc-block">
        <sbb-checkbox [(ngModel)]="checked">Checked</sbb-checkbox>
      </div>
      <div class="sbbsc-block">
        <sbb-checkbox [(ngModel)]="required">Required</sbb-checkbox>
      </div>
      <div class="sbbsc-block">
        <sbb-checkbox [(ngModel)]="disabled">Disabled</sbb-checkbox>
      </div>
    </div>
  </div>

  <div role="presentation" class="sbbsc-separator"></div>

  <div class="row">
    <div class="col-lg-6 sbbsc-v-sep">
      <h4 class="sbbsc-block">Option selections</h4>
      <sbb-radio-group [(ngModel)]="modelValue" class="sbbsc-block">
        <sbb-radio-button-panel
          *ngFor="let option of radioOptions; index as i"
          [value]="option.value"
          [label]="option.name"
        ></sbb-radio-button-panel>
      </sbb-radio-group>
    </div>
    <div class="col-lg-6">
      <h4 class="sbbsc-block">Model</h4>
      <pre>{{ modelValue }}</pre>
    </div>
  </div>
</div>
