<label [attr.for]="inputId">
  <input
    #input
    type="radio"
    class="cdk-visually-hidden"
    [id]="inputId"
    [checked]="checked"
    [attr.aria-checked]="checked"
    [disabled]="disabled"
    [tabIndex]="tabIndex"
    [attr.name]="name"
    [attr.value]="value"
    [required]="required"
    [attr.aria-label]="ariaLabel"
    [attr.aria-labelledby]="ariaLabelledby"
    [attr.aria-describedby]="ariaDescribedby"
    (change)="_onInputChange($event)"
    (click)="_onInputClick($event)"
  />

  <div class="sbb-radio-circle-container">
    <div class="sbb-radio-circle-checked"></div>
  </div>

  <div class="sbb-radio-label-content">
    <!-- Add an invisible span so JAWS can read the label -->
    <span style="display:none">&nbsp;</span>
    <ng-content></ng-content>
  </div>
</label>
