$processflowArrowWidth: 24;
$processflowArrowHeight: 24;
$processflowArrowLineHeight: 21;
$processflowArrowMarginsMP: 12;
$processflowArrowMarginsTP: 16;
$processflowArrowMarginsDT: 24;

$processflowArrowMargins4K: 36;
$processflowArrowWidth4K: 36;
$processflowArrowHeight4K: 36;

$processflowArrowMargins5K: 48;
$processflowArrowWidth5K: 48;
$processflowArrowHeight5K: 48;

$processflowStepButtonFontSizeMP: 21;
$processflowStepButtonLineHeightMP: 21;
$processflowStepButtonPaddingBottomMP: 11;

$processflowStepButtonFontSizeTP: 21;
$processflowStepButtonLineHeightTP: 21;
$processflowStepButtonPaddingBottomTP: 14;

$processflowStepButtonFontSizeDT: 21;
$processflowStepButtonLineHeightDT: 21;
$processflowStepButtonPaddingBottomDT: 22;

$processflowStepButtonFontSize4K: 32;
$processflowStepButtonLineHeight4K: 34;
$processflowStepButtonPaddingBottom4K: 32;

$processflowStepButtonFontSize5K: 42;
$processflowStepButtonLineHeight5K: 45;
$processflowStepButtonPaddingBottom5K: 42;
