@import '../styles/option';

sbb-option {
  @include optionInSelect;
  @include optionInAutocomplete;
  @include multipleOption;
}

sbb-option[disabled],
.sbb-option-disabled {
  cursor: default;
  opacity: 0.5;
}

sbb-option[aria-disabled='true'] {
  user-select: none;
  cursor: default;
}
