<sbb-tabs>
  <sbb-tab label="Overview">
    <div [innerHtml]="overview | async"></div>
  </sbb-tab>
  <sbb-tab label="API">
    <div [innerHtml]="api | async"></div>
  </sbb-tab>
  <sbb-tab *ngIf="standardExamples | async as exampleDatas" label="Standard Examples">
    <ng-template sbbTabContent>
      <sbb-example-viewer
        *ngFor="let exampleData of exampleDatas"
        [exampleData]="exampleData"
      ></sbb-example-viewer>
    </ng-template>
  </sbb-tab>
  <sbb-tab *ngIf="leanExamples | async as exampleDatas" label="Lean Examples">
    <ng-template sbbTabContent>
      <sbb-example-viewer
        *ngFor="let exampleData of exampleDatas"
        [exampleData]="exampleData"
      ></sbb-example-viewer>
    </ng-template>
  </sbb-tab>
</sbb-tabs>
