:host {
  background: #fff;
  overflow-y: auto;
  height: calc(100vh - 48px);
  width: 300px;
  position: fixed;
  border-right: solid 1px #cccccc;
  transition: all 0.3s ease;
  z-index: 998;
  padding-top: 1rem;
  padding-bottom: 10rem;
}

:host ::ng-deep *:not(li) > ul {
  padding-top: 30px;
}

:host ::ng-deep ul {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;

  & > li {
    line-height: 25px;
    padding: 2px 50px;
    font-weight: 700;
    font-size: 14px;
    opacity: 0.7;

    & > ul {
      margin: 0 0 20px 0;

      & > li {
        margin-left: 0;
        padding: 2px 10px;
        font-size: 16px;
        opacity: 1;
        font-weight: 200;

        a {
          padding-left: 0;
        }
      }
    }

    a {
      padding-left: 20px;
      display: block;
      text-decoration: none;

      &.active {
        color: #eb0000;
      }

      &:hover {
        color: #eb0000;
      }
    }
  }
}
