
<input class="search-input-icon" type="text" placeholder="Search icons" spellcheck="false" [formControl]="inputValue"
  #reference>

<p i18n *ngIf="!(foundUiIcons | async)?.length;">No Icons found</p>

<nav class="sbbsc-cards">
  <ul class="sbbsc-cards-list">
    <li class="sbbsc-cards-card sbbsc-search-icon-context" *ngFor="let uiIcon of foundUiIcons | async">
      <a [routerLink]="['/content/' + uiIcon['name']]">
        <h4 class="sbbsc-cards-card-hero">
          <ng-template [sbbIconViewer]="uiIcon" singleOrMultiple="single"></ng-template>
        </h4>
        <h3 class="sbbsc-cards-card-title" [innerHTML]="uiIcon['label']">
        </h3>
        <small class="sbbsc-cards-card-icon-selector">{{ (uiIcon['selector']) }}</small>
        <div *ngFor="let tag of uiIcon['tags']">
          <span>{{ tag }} </span>
        </div>
      </a>
    </li>
  </ul>
</nav>





<!-- 
<div class="result" *ngIf="foundUiIcons.length > 0">
  <div *ngFor="let uiIcon of foundUiIcons">
    <a [routerLink]="['/content/' + uiIcon['name'].replace('<b>', '').replace('</b>', '')]"
        style="text-decoration: none; color: white;"
        (click)="navigate('/content/' + uiIcon['name'].replace('<b>', '').replace('</b>', ''));">
      <div id="flip_container">
        <div id="flip_card" class="shadow">
          <div class="front face">
            <div class="row">
              <div class="col align-self-start">
                <span id="uiIconName" [innerHTML]="uiIcon['name'].substring(4, uiIcon['name'].length-9)">
                </span>
              </div>
            </div>
            <div class="row">
              <div class="col align-self-start">
                <span id="uiIconSelector">{{ (uiIcon['selector']) }}</span>  
              </div>
            </div>
            <hr/> 
            <div class="row">
              <div class="col align-self-center" style="font-size: 13px;">
                <span style="float:left;" class="badge badge-secondary">
                  <i class="fa fa-check-circle" aria-hidden="true"></i> Component
                </span>
                <span>
                  <div *ngFor="let tag of uiIcon['tags']">
                    <span style="float:right;" class="badge badge-secondary badge-warning">{{ tag }} </span>
                  </div>
                </span>
              </div>
            </div>
          </div>
          <div class="back face center">
            <div class="col align-self-center">
              <i class="fa fa-info-circle" aria-hidden="true"></i>
              <br/>
              More information about {{ uiIcon['name'].substring(4, uiIcon['name'].length-9) | replacePipe:'b':'' }}.  
            </div>
          </div>
        </div>
      </div>
    </a>
 </div>
 <span id="foundUiIconsTotal">Found {{ foundUiIcons.length }} Component(s).</span>
</div> -->