<input
  class="search-input-icon"
  type="text"
  placeholder="Search icons"
  spellcheck="false"
  [formControl]="inputValue"
  #reference
/>

<p i18n *ngIf="!(foundUiIcons | async)?.length">No Icons found</p>

<nav class="sbbsc-cards">
  <ul class="sbbsc-cards-list">
    <li
      class="sbbsc-cards-card sbbsc-search-icon-context"
      *ngFor="let uiIcon of foundUiIcons | async"
    >
      <a [routerLink]="['/content/' + uiIcon['name']]">
        <h4 class="sbbsc-cards-card-hero">
          <ng-template [sbbIconViewer]="uiIcon" svgHeight="60"></ng-template>
        </h4>
        <h3 class="sbbsc-cards-card-title" [innerHTML]="uiIcon.label"></h3>
        <small class="sbbsc-cards-card-icon-selector">{{
          uiIcon.selector
        }}</small>
      </a>
    </li>
  </ul>
</nav>
