<div class="container-fluid pb-5">
    <div class="row">
        <div class="col-lg-6">
            <article>
                <h3 class="mb-2">Example</h3>
                <div *ngIf="showButton">
                    <button sbbButton [mode]="buttonMode" [icon]="buttonIcon" [disabled]="buttonDisabled">Bezeichnung</button>
                </div>
            </article>
        </div>
        <div class="col-lg-6">
            <article [formGroup]="buttonForm">
                <h3 class="mb-2">Properties</h3>
                <div>
                    <div class="form-group">
                        <label for="buttonMode">Mode</label>
                        <select formControlName="mode" class="form-control" id="buttonMode">
                            <option *ngFor="let mode of modes" [ngValue]="mode">{{ mode }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="buttonIcon">Icon</label>
                        <select formControlName="icon" class="form-control" id="buttonIcon">
                            <option [ngValue]="null">No Icon</option>
                            <option *ngFor="let icon of icons" [ngValue]="icon">{{ icon.name }}</option>
                        </select>
                        <small class="font-italic">* All icons allowed, in this example are loaded only three as sample icons</small>
                    </div>
                    <div class="form-check">
                        <input formControlName="disabled" type="checkbox" class="form-check-input" id="buttonDisabled">
                        <label for="buttonDisabled" class="form-check-label">Disabled button</label>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>