@use './../../style/icons' as i;
@use '@sbb-esta/angular' as esta;

.teaser-container {
  z-index: 99;
  position: absolute;
  left: 0;
  margin: 16px;
  height: calc(100% - 32px);
  overflow-y: auto;
  padding: 1rem;
  background-color: esta.$sbbColorWhite;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: calc(100% - 32px);

  &.dark {
    color: esta.$sbbColorWhite;
    background-color: esta.$sbbColorBlack;
    .close {
      background: esta.$sbbColorWhite none;
    }
  }

  @include esta.mq($from: tablet) {
    width: 20rem;
    max-width: calc(100% - 96px);
    top: 0;
  }

  .close {
    z-index: 101;
    position: absolute;
    top: 5px;
    right: 5px;
    height: 24px;
    width: 24px;
    cursor: pointer;
    padding: 0;
    border: none;
    background: esta.$sbbColorCharcoal none;
    @include i.icon-mask('cross');
  }

  sbb-overlay-paginator {
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    z-index: 100;
  }
}
