@import '../../../angular-core/styles/common/colors';
@import '../../../angular-core/styles/common/functions';
@import '../../../angular-core/styles/common/mediaqueries';
@import '../../../angular-core/styles/common/mixins';
@import '../../../angular-core/styles/common/button';

$dialog-bgcolor: $sbbColorWhite;
$dialog-min-width: 560;
$dialog-max-width: 800;

$dialog-header-height: 52;
$dialog-header-y-padding: 8;
$dialog-header-x-padding-mobile: 16;
$dialog-header-x-padding-tablet: 16;
$dialog-header-x-padding: 16;
$dialog-header-border-color: $sbbColorCloud;

$dialog-content-y-padding-mobile: 24;
$dialog-content-y-padding: 24;
$dialog-content-x-padding-mobile: 16;
$dialog-content-x-padding-tablet: 16;
$dialog-content-x-padding: 16;

$dialog-close-button-size: 24;
$dialog-close-icon-size: 24;
$dialog-close-button-color: $sbbColorStorm;
$dialog-close-button-color-hover: $sbbColorRed125;
$dialog-close-icon-color: $sbbColorGrey;

$dialog-footer-height-mobile: 52;
$dialog-footer-height-tablet: 52;
$dialog-footer-padding: 0;

@function getContentMaxHeightOffset($mode, $viewport: mobile) {
  @if ($viewport == mobile) and ($mode == withHeaderAndFooter) {
    @return $dialog-header-height + $dialog-footer-height-mobile;
  } @else if ($viewport == tabletPortrait) and ($mode == withHeaderAndFooter) {
    @return $dialog-header-height + $dialog-footer-height-tablet;
  } @else if ($viewport == mobile) and ($mode == withHeader) {
    @return $dialog-header-height;
  } @else if ($viewport == mobile) and ($mode == withFooter) {
    @return $dialog-footer-height-mobile;
  } @else if ($viewport == tabletPortrait) and ($mode == withFooter) {
    @return $dialog-footer-height-tablet;
  }
}

@mixin overlay() {
  background-color: rgba(255, 255, 255, 0.7);
  align-items: center;
}

@mixin dialogContainer() {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $sbbColorWhite;
  position: relative;
  outline: 0;
  width: 100%;
}

@mixin dialogCloseBtn() {
  @include buttonResetFrameless();
  @include svgIconColor($dialog-close-icon-color);

  margin-left: auto;
  position: relative;
  width: pxToEm($dialog-close-button-size);
  height: pxToEm($dialog-close-button-size);

  &::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: border 0.3s;
  }

  svg {
    @include absoluteCenterXY();

    width: pxToEm($dialog-close-icon-size);
    height: pxToEm($dialog-close-icon-size);
  }

  &:hover,
  &:focus {
    @include svgIconColor($dialog-close-button-color-hover);
    cursor: pointer;

    &::before {
      border-color: $dialog-close-button-color-hover;
    }
  }
}

@mixin dialogContentHeight($mode: default) {
  perfect-scrollbar {
    @if ($mode == default) {
      max-height: 100vh;
    } @else if ($mode == withHeader) {
      max-height: calc(100vh - #{pxToEm(getContentMaxHeightOffset(withHeader))});
    } @else {
      max-height: calc(100vh - #{pxToEm(getContentMaxHeightOffset($mode, mobile))});

      @include mq($from: tabletPortrait) {
        max-height: calc(100vh - #{pxToEm(getContentMaxHeightOffset($mode, tabletPortrait))});
      }
    }
  }
}

@mixin dialogContent() {
  display: block;
  border-left: 1px solid $sbbColorGranite;
  border-right: 1px solid $sbbColorGranite;
  flex: 1 1 auto;
  overflow: auto;
  @include dialogContentHeight();
}

@mixin dialogFooter() {
  &-align-start {
    perfect-scrollbar .ps-content {
      justify-content: flex-start;

      button {
        @include mq($from: tabletPortrait) {
          margin-right: pxToEm(10);
        }
      }
    }
  }

  &-align-end {
    perfect-scrollbar .ps-content {
      justify-content: flex-end;

      button {
        @include mq($from: tabletPortrait) {
          margin-left: pxToEm(10);
        }
      }
    }
  }

  &-align-center {
    perfect-scrollbar .ps-content {
      justify-content: space-around;
    }
  }
}

@mixin dialogTitle() {
  text-align: center;
  font-size: 28px;
  font-family: $fontSbbThin;
  margin-top: toPx(48 - $dialog-content-y-padding-mobile);
  margin-bottom: 36px;

  @include mq($from: tabletPortrait) {
    font-size: 30px;
    margin-top: toPx(80 - $dialog-content-y-padding);
    margin-bottom: 48px;
  }

  @include mq($from: desktop) {
    font-size: 40px;
  }
}
