// Checkbox mixins
// ----------------------------------------------------------------------------------------------------

@mixin checkboxLabel {
  & + label {
    position: relative;
    color: $colorGrey;
    transition: color .3s cubic-bezier(.785,.135,.15,.86);
  }

  &.sbb-checkbox-checked + label {
    color: $colorBlack;
  }

  &.sbb-checkbox-disabled + label {
    color: $colorGrey;
  }

}
