@import '../../../angular-core/styles/common';

$notificationMessageMarginTopBottomLeft: 16;
$notificationMessageMarginRight: 24;

.sbb-notification {
  display: flex;
  align-items: center;
  color: $sbbColorWhite;
  width: 100%;
  min-height: pxToEm(68);
  border-radius: pxToEm(2);
  line-height: pxToEm(26);
  padding: pxToEm($notificationMessageMarginTopBottomLeft) pxToEm($notificationMessageMarginRight)
    pxToEm($notificationMessageMarginTopBottomLeft) pxToEm($notificationMessageMarginTopBottomLeft);

  font-size: toPx($sizeFontDefault);
  @include mq($from: desktop4k) {
    font-size: toPx($sizeFontDefault4k);
  }
  @include mq($from: desktop5k) {
    font-size: toPx($sizeFontDefault5k);
  }

  &.sbb-notification-error {
    background-color: $sbbColorRed;
  }

  &.sbb-notification-success,
  &.sbb-notification-info {
    background-color: $sbbColorGrey;
  }

  &.sbb-notification-has-jump-marks {
    &,
    a {
      line-height: pxToEm(23);
    }
    min-height: pxToEm(92);
  }

  .sbb-notification-content {
    margin-left: pxToEm($notificationMessageMarginTopBottomLeft);

    .sbb-notification-content-title {
      font-family: $fontSbbBold;
    }
  }

  .sbb-notification-jump-mark {
    a {
      color: $sbbColorWhite;
      cursor: pointer;
    }
  }

  .sbb-notification-icon-wrapper {
    flex-shrink: 0;
    flex-grow: 0;

    width: pxToEm(36);
    height: pxToEm(36);

    * {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
