<form [formGroup]="form" novalidate>
  <sbb-toggle formControlName="test">
    <sbb-toggle-option *ngFor="let option of toggleOptions; let i = index;" [label]="option.label" [value]="option.value">
      <sbb-field *ngIf="i === 1">
        <sbb-label for="name1">Select date</sbb-label>
        <sbb-datepicker></sbb-datepicker>
      </sbb-field>
    </sbb-toggle-option>
  </sbb-toggle>
</form>

<br><br>

{{ modelReactive }}

<br><br>

<sbb-toggle [(ngModel)]="modelValue" name="test-toggle-2">
  <sbb-toggle-option *ngFor="let option of toggleOptions; let i = index;" [label]="option.label" [value]="option.value">
    <sbb-field *ngIf="i === 1">
      <sbb-label for="name2">Select date</sbb-label>
      <sbb-datepicker></sbb-datepicker>
    </sbb-field>
  </sbb-toggle-option>
</sbb-toggle>

<br><br>

{{ modelValue }}

<br><br>
