.sbb-toggle-option {
  &-content {
    display: none;
  }

  &-selected {
    .sbb-toggle-option-button {
      background: #fff;
    }
    .sbb-toggle-option-content {
      display: block;
    }
  }

  .sbb-toggle-option-button-icon {
    width: 24px;
    height: 24px;
    display: inline-block;
  }
}
