<h2 class="sbbsc-content-title">
  <span i18n class="sbbsc-content-title-text">{{ uiComponent.title }}</span>
  <sbb-icon-arrow-left></sbb-icon-arrow-left>
  <button *ngIf="!uiIcon" i18n sbbButton mode="frameless" routerLink="/components-list" class="sbbsc-content-title-button">
    All Components
    <sbb-icon-arrow-down *sbbButtonIcon></sbb-icon-arrow-down>
  </button>
  <button *ngIf="uiIcon" i18n sbbButton mode="frameless" routerLink="/icons-list" class="sbbsc-content-title-button">
    All Icons
    <sbb-icon-arrow-down *sbbButtonIcon></sbb-icon-arrow-down>
  </button>
</h2>

<div role="presentation" class="sbbsc-separator"></div>

<!-- TO UPDATE WITH SBB TABS WHEN READY -->
<ngb-tabset (tabChange)="cambiatoTab($event)" *ngIf="!uiIcon">
  <ngb-tab title="Overview" id="sbbsc-overview-tab">
    <ng-template ngbTabContent>
      <div [sbbDoc]="uiComponent" type="md"></div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Api" id="sbbsc-api-tab">
    <ng-template ngbTabContent>
      <article [sbbDoc]="uiComponent"></article>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Examples" id="sbbsc-example-tab">
    <ng-template ngbTabContent>
      <sbb-examples-tab-doc [component]="uiComponent"></sbb-examples-tab-doc>
      <ng-template [sbbComponentViewer]="uiComponent"></ng-template>
    </ng-template>
  </ngb-tab>
</ngb-tabset>

<ng-template *ngIf="uiIcon" [sbbIconViewer]="uiIcon" singleOrMultiple="multiple"></ng-template>
