<!-- 1) Introduction -->
<div class="content-section introduction">
  <div class="row">
    <div class="col-10">
      <span class="feature-title">
        <div *ngIf="uiIcon;else other">{{ uiIcon.name.substring(4, uiIcon.name.length - 9) }}</div>
        <ng-template #other>{{ uiComponent.title }}</ng-template>
      </span>
      <span>{{ uiComponent.subTitle }}</span>
    </div>
    <div class="col-2 center text-right">
      <div class="ghost-button" (click)="navigateHome()">Home</div>
    </div>
  </div>
</div>

<!-- 2) Implementation -->
<div class="content-section implementation">
  <div class="result" *ngIf="uiComponent.isComponent || uiIcon">
    <div *ngIf="uiIcon;else other">
      <h4>{{ uiIcon.name.substring(4, uiIcon.name.length - 9) }} Icons</h4>
    </div>
    <ng-template #other>
      <h4>{{ uiComponent.title }} Component</h4>
    </ng-template>
    <table class="code table">
      <tbody>
        <tr>
          <td>
            <div *ngIf="!uiIcon">
              <ng-template [sbbComponentViewer]="uiComponent"></ng-template>
            </div>
            <div class="icon-flex-container" *ngIf="uiIcon">
              <ng-template [sbbIconViewer]="uiIcon" singleOrMultiple="multiple" style="float: right;"></ng-template>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="uiComponent.isDirective">
    <hr />
    <div class="result">
      <h4>{{ uiComponent.title }} Directive</h4>
      <table class="code table">
        <tbody>
          <tr>
            <td><i class="fa fa-file-code-o" aria-hidden="true"></i> Directive goes here ...</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- 3) Documentation -->
<div class="content-section documentation">
  <div class="result">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a [ngClass]="isSourceTabClicked ? 'nav-link active' : 'nav-link'" id="doc-tab" data-toggle="tab" href="javascript:void(0);"
          role="tab" aria-controls="doc" aria-selected="true" (click)="isSourceTabClicked=!isSourceTabClicked">Documentation</a>
      </li>
      <li class="nav-item">
        <a [ngClass]="isSourceTabClicked ? 'nav-link' : 'nav-link active'" id="source-tab" data-toggle="tab" href="javascript:void(0);"
          role="tab" aria-controls="source" aria-selected="false" (click)="isSourceTabClicked=!isSourceTabClicked">Source</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div [ngClass]="isSourceTabClicked ? 'tab-pane fade show active' : 'tab-pane fade'" id="doc" role="tabpanel"
        aria-labelledby="doc-tab" *ngIf="isSourceTabClicked">
        <div class="col-lg-12">
          <div class="highlight">

            <div id="accordion">
              <div class="card" *ngIf="uiComponent?.documentationImportComponent">
                <div id="headingImport" (click)="importClicked=!importClicked">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#import" aria-expanded="importClicked"
                    aria-controls="import">
                    <div class="row">
                      <div class="col-sm-2">
                        <i [ngClass]="importClicked ? 'fa fa-chevron-down' : 'fa fa-chevron-right'" aria-hidden="true"></i>
                      </div>
                      <div class="col-sm-6">
                        Import <span class="badge badge-pill badge-secondary">TBD</span>
                      </div>
                    </div>
                  </button>
                </div>
                <div id="import" [ngClass]="importClicked ? 'collapse show' : 'collapse'" aria-labelledby="headingImport"
                  data-parent="#accordion">
                  <div class="card-body">
                    <table class="code table">
                      <tbody>
                        <tr>
                          <td>
                            <ng-template [sbbComponentViewer]="uiComponent" documentationPart="import"></ng-template>
                          </td>
                        </tr>
                      </tbody>  
                    </table>  
                  </div>
                </div>
              </div>
              <div class="card" *ngIf="uiComponent?.documentationGettingStartedComponent">
                <div id="headingGettingStarted" (click)="gettingStartedClicked=!gettingStartedClicked">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#gettingStarted" aria-expanded="gettingStartedClicked"
                    aria-controls="gettingStarted">
                    <div class="row">
                      <div class="col-sm-2">
                        <i [ngClass]="gettingStartedClicked ? 'fa fa-chevron-down' : 'fa fa-chevron-right'" aria-hidden="true"></i>
                      </div>
                      <div class="col-sm-6">
                        Getting Started <span class="badge badge-pill badge-secondary">TBD</span>
                      </div>
                    </div>
                  </button>
                </div>
                <div id="gettingStarted" [ngClass]="gettingStartedClicked ? 'collapse show' : 'collapse'"
                  aria-labelledby="headingGettingStarted" data-parent="#accordion">
                  <div class="card-body">
                    <table class="code table">
                      <tbody>
                        <tr>
                          <td>
                            <ng-template [sbbComponentViewer]="uiComponent" documentationPart="gettingStarted"></ng-template>
                          </td>
                        </tr>
                      </tbody>  
                    </table>
                  </div>
                </div>
              </div>
              <div class="card" *ngIf="uiComponent?.documentationModelBindingComponent">
                <div id="headingModelBinding" (click)="modelBindingClicked=!modelBindingClicked">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#modelBinding" aria-expanded="modelBindingClicked"
                    aria-controls="modelBinding">
                    <div class="row">
                      <div class="col-sm-2">
                        <i [ngClass]="modelBindingClicked ? 'fa fa-chevron-down' : 'fa fa-chevron-right'" aria-hidden="true"></i>
                      </div>
                      <div class="col-sm-6">
                        Model Binding <span class="badge badge-pill badge-secondary">TBD</span>
                      </div>
                    </div>
                  </button>
                </div>
                <div id="modelBinding" [ngClass]="modelBindingClicked ? 'collapse show' : 'collapse'" aria-labelledby="headingModelBinding"
                  data-parent="#accordion">
                  <div class="card-body">
                    <table class="code table">
                      <tbody>
                        <tr>
                          <td>
                            <ng-template [sbbComponentViewer]="uiComponent" documentationPart="modelBinding"></ng-template>
                          </td>
                        </tr>
                      </tbody>  
                    </table>
                  </div>
                </div>
              </div>
              <div class="card" *ngIf="uiComponent?.documentationIconsComponent">
                <div id="headingIcons" (click)="iconsClicked=!iconsClicked">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#icons" aria-expanded="iconsClicked"
                    aria-controls="icons">
                    <div class="row">
                      <div class="col-sm-2">
                        <i [ngClass]="iconsClicked ? 'fa fa-chevron-down' : 'fa fa-chevron-right'" aria-hidden="true"></i>
                      </div>
                      <div class="col-sm-6">
                        Icons <span class="badge badge-pill badge-secondary">TBD</span>
                      </div>
                    </div>
                  </button>
                </div>
                <div id="icons" [ngClass]="iconsClicked ? 'collapse show' : 'collapse'" aria-labelledby="headingIcons"
                  data-parent="#accordion">
                  <div class="card-body">
                    <table class="code table">
                      <tbody>
                        <tr>
                          <td>
                            <ng-template [sbbComponentViewer]="uiComponent" documentationPart="icons"></ng-template>
                          </td>
                        </tr>
                      </tbody>  
                    </table>
                  </div>
                </div>
              </div>
              <div class="card" *ngIf="uiComponent?.documentationAutoResizeComponent">
                <div id="headingAutoResize" (click)="autoResizeClicked=!autoResizeClicked">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#autoResize" aria-expanded="iconsClicked"
                    aria-controls="autoResize">
                    <div class="row">
                      <div class="col-sm-2">
                        <i [ngClass]="autoResizeClicked ? 'fa fa-chevron-down' : 'fa fa-chevron-right'" aria-hidden="true"></i>
                      </div>
                      <div class="col-sm-6">
                        Auto Resize <span class="badge badge-pill badge-secondary">TBD</span>
                      </div>
                    </div>
                  </button>
                </div>
                <div id="autoResize" [ngClass]="autoResizeClicked ? 'collapse show' : 'collapse'" aria-labelledby="headingAutoResize"
                  data-parent="#accordion">
                  <div class="card-body">
                    <table class="code table">
                      <tbody>
                        <tr>
                          <td>
                            <ng-template [sbbComponentViewer]="uiComponent" documentationPart="autoResize"></ng-template>
                          </td>
                        </tr>
                      </tbody>  
                    </table>
                  </div>
                </div>
              </div>
              <div class="card" *ngIf="uiComponent?.documentationPropertiesComponent">
                <div id="headingProperties" (click)="propertiesClicked=!propertiesClicked">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#properties" aria-expanded="propertiesClicked"
                    aria-controls="properties">
                    <div class="row">
                      <div class="col-sm-2">
                        <i [ngClass]="propertiesClicked ? 'fa fa-chevron-down' : 'fa fa-chevron-right'" aria-hidden="true"></i>
                      </div>
                      <div class="col-sm-6">
                        Properties <span class="badge badge-pill badge-secondary">TBD</span>
                      </div>
                    </div>
                  </button>
                </div>
                <div id="properties" [ngClass]="propertiesClicked ? 'collapse show' : 'collapse'" aria-labelledby="headingProperties"
                  data-parent="#accordion">
                  <div class="card-body">
                    <table class="code table">
                      <tbody>
                        <tr>
                          <td>
                            <ng-template [sbbComponentViewer]="uiComponent" documentationPart="properties"></ng-template>
                          </td>
                        </tr>
                      </tbody>  
                    </table>
                  </div>
                </div>
              </div>
              <div class="card" *ngIf="uiComponent?.documentationEventsComponent">
                <div id="headingEvents" (click)="eventsClicked=!eventsClicked">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#events" aria-expanded="eventsClicked"
                    aria-controls="events">
                    <div class="row">
                      <div class="col-sm-2">
                        <i [ngClass]="eventsClicked ? 'fa fa-chevron-down' : 'fa fa-chevron-right'" aria-hidden="true"></i>
                      </div>
                      <div class="col-sm-6">
                        Events <span class="badge badge-pill badge-secondary">TBD</span>
                      </div>
                    </div>
                  </button>
                </div>
                <div id="events" [ngClass]="eventsClicked ? 'collapse show' : 'collapse'" aria-labelledby="headingEvents"
                  data-parent="#accordion">
                  <div class="card-body">
                    <table class="code table">
                      <tbody>
                        <tr>
                          <td>
                            <ng-template [sbbComponentViewer]="uiComponent" documentationPart="events"></ng-template>
                          </td>
                        </tr>
                      </tbody>  
                    </table>
                  </div>
                </div>
              </div>
              <div class="card" *ngIf="uiComponent?.documentationStylingComponent">
                <div id="headingStyling" (click)="stylingClicked=!stylingClicked">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#styling" aria-expanded="stylingClicked"
                    aria-controls="styling">
                    <div class="row">
                      <div class="col-sm-2">
                        <i [ngClass]="stylingClicked ? 'fa fa-chevron-down' : 'fa fa-chevron-right'" aria-hidden="true"></i>
                      </div>
                      <div class="col-sm-6">
                        Styling <span class="badge badge-pill badge-secondary">TBD</span>
                      </div>
                    </div>
                  </button>
                </div>
                <div id="styling" [ngClass]="stylingClicked ? 'collapse show' : 'collapse'" aria-labelledby="headingStyling"
                  data-parent="#accordion">
                  <div class="card-body">
                    <table class="code table">
                      <tbody>
                        <tr>
                          <td>
                            <ng-template [sbbComponentViewer]="uiComponent" documentationPart="styling"></ng-template>
                          </td>
                        </tr>
                      </tbody>  
                    </table>
                  </div>
                </div>
              </div>
              <div class="card" *ngIf="uiComponent?.documentationDependenciesComponent">
                <div id="headingDependencies" (click)="dependenciesClicked=!dependenciesClicked">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#dependencies" aria-expanded="dependenciesClicked"
                    aria-controls="dependencies">
                    <div class="row">
                      <div class="col-sm-2">
                        <i [ngClass]="dependenciesClicked ? 'fa fa-chevron-down' : 'fa fa-chevron-right'" aria-hidden="true"></i>
                      </div>
                      <div class="col-sm-6">
                        Dependencies <span class="badge badge-pill badge-secondary">TBD</span>
                      </div>
                    </div>
                  </button>
                </div>
                <div id="dependencies" [ngClass]="dependenciesClicked ? 'collapse show' : 'collapse'" aria-labelledby="headingDependencies"
                  data-parent="#accordion">
                  <div class="card-body">
                    <table class="code table">
                      <tbody>
                        <tr>
                          <td>
                            <ng-template [sbbComponentViewer]="uiComponent" documentationPart="dependencies"></ng-template>
                          </td>
                        </tr>
                      </tbody>  
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div [ngClass]="isSourceTabClicked ? 'tab-pane fade' : 'tab-pane fade show active'" id="source" role="tabpanel"
      aria-labelledby="source-tab" *ngIf="!isSourceTabClicked && uiComponent?.documentationSourceComponent">
      <div class="col-lg-12">
        <div class="highlight">
          <table class="code table">
            <tbody>
              <tr>
                <td>
                  <ng-template [sbbComponentViewer]="uiComponent" documentationPart="source"></ng-template>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<br />
<br />

<!-- 4) Footer -->
<div class="layout-footer">
  <div class="container text-center">
    <span class="center">&#169; 2018 Fincons Group AG</span>
    <div class="footer-links">
      <a href="https://github.com/">
        <i class="fa fa-github" aria-hidden="true"></i>
      </a>
      <a href="https://twitter.com/">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
      <a href="https://slack.com/">
        <i class="fa fa-slack" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>

<br />
<br />
