@import '../textarea';

:host {
  @include sbbTextarea($sbbColorGraphite);

  textarea {
    border: none;
    padding: 2px; // TODO (Breaking Change): Remove padding here and remove padding of sbbTextarea to make use of generic textarea padding. Breaking Change: If a consumer has defined a min-height on sbbTextarea the height will be smaller because of changed paddings and effects on min-height: inherit.
    min-height: inherit;
    resize: none;
    overflow: hidden;
  }

  &.focused {
    border-color: $sbbColorGrey;
  }

  &.disabled {
    background-color: $sbbColorMilk;
    border-color: $sbbColorAluminum;
    opacity: 1;
  }

  &.ng-dirty.ng-invalid {
    @include sbbTextarea($sbbColorCallToAction);

    textarea {
      color: $sbbColorCallToAction;
    }
  }

  div {
    position: relative;
    float: right;
    background: transparent;
    color: $sbbColorBlack;
    letter-spacing: 0;
    line-height: pxToRem(13);
    font-size: pxToRem(13);
    font-family: $fontSbbRoman;

    @include publicOnly() {
      @include mq($from: desktop4k) {
        font-size: pxToRem(20);
        line-height: pxToRem(13);
      }

      @include mq($from: desktop5k) {
        font-size: pxToRem(26);
        line-height: pxToRem(13);
      }
    }
  }
}
