$breadcrumbHeight: 48;
$breadcrumbArrowWidth: 16;
$breadcrumbArrowHeight: 16;
$breadcrumbArrowLineHeight: 20;
$breadcrumbArrowMarginsDT: 16;

$breadcrumbStepButtonFontSizeDT: 13;
$breadcrumbStepButtonLineHeightDT: 20;

$breadcrumbDropdownTriggerIconMarginLeft: 10.5;

$breadcrumbTriggerBorderActive: solid 2px #666;
$breadcrumbTriggerBorder: solid 2px white;
