@import '../styles/common';

.sbb-link-group {
  display: inline-flex;
  width: calc(#{pxToRem(250)} * var(--sbb-scaling-factor));
  flex-direction: column;
  border-top: var(--sbb-border-width-thin) solid var(--sbb-color-silver);

  .sbb-link {
    padding: var(--sbb-divider-thin) calc(#{pxToRem(28)} * var(--sbb-scaling-factor))
      var(--sbb-divider-thin) 0;
    min-width: calc(#{pxToRem(240)} * var(--sbb-scaling-factor));
    border-bottom: var(--sbb-border-width-thin) solid var(--sbb-color-silver);

    // Disable transitions from default behavior
    :is(&, &:hover) {
      :where(html:not(.sbb-lean)) & {
        transition: none;
        padding-left: 0;
        padding-right: 0;

        .sbb-button-indicator-icon {
          transition: none;
          transform: none;
        }

        .sbb-button-left-icon {
          display: none;
        }

        .sbb-button-right-icon {
          opacity: 1;
          right: 0;
        }
      }
    }

    :where(html.sbb-lean) & {
      .sbb-button-right-icon {
        right: 0;
      }
    }
  }
}
