@import '../styles/common';

.sbb-link-group {
  display: inline-flex;
  width: pxToRem(250);
  flex-direction: column;
  border-top: pxToRem(1) solid $sbbColorSilver;

  html:not(.sbb-lean) & {
    @include mq($from: desktop4k) {
      border-top-width: pxToRem(2);
    }
  }

  .sbb-link {
    padding: pxToRem(8) pxToRem(28) pxToRem(8) 0;
    border-bottom: pxToRem(1) solid $sbbColorSilver;

    html:not(.sbb-lean) & {
      @include mq($from: desktop4k) {
        padding: pxToRem(12) pxToRem(42) pxToRem(12) 0;
        border-bottom-width: pxToRem(2);
        min-width: pxToRem(320);
      }
      @include mq($from: desktop5k) {
        padding: pxToRem(16) pxToRem(55) pxToRem(16) 0;
        min-width: pxToRem(400);
      }

      // Disable transitions from default behavior
      &,
      &:hover {
        .sbb-button-indicator-icon,
        .sbb-button-wrapper {
          transition: none;
          margin-left: 0;
          margin-right: 0;
        }

        .sbb-button-left-icon {
          display: none;
        }

        .sbb-button-right-icon {
          opacity: 1;
          right: 0;
        }
      }
    }
    html.sbb-lean & {
      .sbb-button-right-icon {
        right: 0;
      }
    }
  }
}
