<p>
  Please, click on "Login" to login and subsequently use the "arrow down" key on your keyboard to
  expand the user menu.
</p>

<sbb-usermenu [userName]="user.userName" [displayName]="user.displayName" (loginRequest)="login()">
  <a
    *ngFor="let link of links"
    sbb-usermenu-item
    [routerLink]="linkGenerator(link.page).routerLink"
    [queryParams]="linkGenerator(link.page).queryParams"
    routerLinkActive="sbb-selected"
  >
    {{ link.text }}
  </a>
  <hr />
  <button sbb-usermenu-item type="button" (click)="logout(user)">
    Logout
  </button>
</sbb-usermenu>

<sbb-usermenu [userName]="user.userName" [displayName]="user.displayName" (loginRequest)="login()">
  <button sbb-usermenu-item disabled>
    Test disabled
  </button>
  <button sbb-usermenu-item type="button" (click)="logout(user)">
    Logout
  </button>
</sbb-usermenu>
