<p>
  Please, click on "Login" to login and subsequently use the "arrow down" key on your keyboard to
  expand the user menu.
</p>

<sbb-usermenu [userName]="user.userName" [displayName]="user.displayName" (loginRequest)="login()">
  <a sbb-usermenu-item [queryParams]="{ page: 0 }" routerLink="." routerLinkActive="sbb-selected">
    <sbb-icon svgIcon="kom:user-small" class="sbb-icon-fit"></sbb-icon> Account
  </a>
  <a sbb-usermenu-item [queryParams]="{ page: 1 }" routerLink="." routerLinkActive="sbb-selected">
    <sbb-icon svgIcon="kom:tickets-class-small" class="sbb-icon-fit"></sbb-icon> Orders
  </a>
  <hr />
  <button sbb-usermenu-item type="button" (click)="logout(user)">
    <sbb-icon svgIcon="kom:exit-small" class="sbb-icon-fit"></sbb-icon> Logout
  </button>
  <sbb-icon svgIcon="kom:user-small" *sbbIcon></sbb-icon>
</sbb-usermenu>

<sbb-usermenu [userName]="user.userName" [displayName]="user.displayName" (loginRequest)="login()">
  <a sbb-usermenu-item [queryParams]="{ page: 1 }" routerLink="." routerLinkActive="sbb-selected">
    Orders
  </a>
  <a sbb-usermenu-item [queryParams]="{ page: 1 }" routerLink="." routerLinkActive="sbb-selected">
    Orders
  </a>
  <a sbb-usermenu-item [queryParams]="{ page: 1 }" routerLink="." routerLinkActive="sbb-selected">
    Orders
  </a>
  <a sbb-usermenu-item [queryParams]="{ page: 1 }" routerLink="." routerLinkActive="sbb-selected">
    Orders
  </a>
  <a sbb-usermenu-item [queryParams]="{ page: 1 }" routerLink="." routerLinkActive="sbb-selected">
    Orders
  </a>
  <a sbb-usermenu-item [queryParams]="{ page: 1 }" routerLink="." routerLinkActive="sbb-selected">
    Orders
  </a>
  <a sbb-usermenu-item [queryParams]="{ page: 1 }" routerLink="." routerLinkActive="sbb-selected">
    Orders
  </a>
  <a sbb-usermenu-item [queryParams]="{ page: 1 }" routerLink="." routerLinkActive="sbb-selected">
    Orders
  </a>
  <a sbb-usermenu-item [queryParams]="{ page: 1 }" routerLink="." routerLinkActive="sbb-selected">
    Orders
  </a>
  <a sbb-usermenu-item [queryParams]="{ page: 1 }" routerLink="." routerLinkActive="sbb-selected">
    Orders
  </a>
  <a sbb-usermenu-item [queryParams]="{ page: 1 }" routerLink="." routerLinkActive="sbb-selected">
    Orders
  </a>
  <a sbb-usermenu-item [queryParams]="{ page: 1 }" routerLink="." routerLinkActive="sbb-selected">
    Orders
  </a>
  <a sbb-usermenu-item [queryParams]="{ page: 1 }" routerLink="." routerLinkActive="sbb-selected">
    Orders
  </a>
  <a sbb-usermenu-item [queryParams]="{ page: 1 }" routerLink="." routerLinkActive="sbb-selected">
    Orders
  </a>
  <a sbb-usermenu-item [queryParams]="{ page: 1 }" routerLink="." routerLinkActive="sbb-selected">
    Orders
  </a>
  <a sbb-usermenu-item [queryParams]="{ page: 1 }" routerLink="." routerLinkActive="sbb-selected">
    Orders
  </a>
  <a sbb-usermenu-item [queryParams]="{ page: 1 }" routerLink="." routerLinkActive="sbb-selected">
    Orders
  </a>
  <a sbb-usermenu-item [queryParams]="{ page: 1 }" routerLink="." routerLinkActive="sbb-selected">
    Orders
  </a>
  <a sbb-usermenu-item [queryParams]="{ page: 1 }" routerLink="." routerLinkActive="sbb-selected">
    Orders
  </a>
  <button sbb-usermenu-item disabled>Test disabled</button>
  <button sbb-usermenu-item type="button" (click)="logout(user)">Logout</button>
</sbb-usermenu>

<sbb-usermenu [userName]="user.userName" (loginRequest)="login()">
  <button sbb-usermenu-item disabled>Test disabled</button>
  <button sbb-usermenu-item type="button" (click)="logout(user)">Logout</button>
</sbb-usermenu>

<sbb-usermenu [userName]="user.userName" (loginRequest)="login()">
  <sbb-icon svgIcon="kom:cross-small" *sbbIcon></sbb-icon>
  <button sbb-usermenu-item>Test</button>
  <button sbb-usermenu-item type="button" (click)="logout(user)">Logout</button>
</sbb-usermenu>

<sbb-usermenu [userName]="user.userName" (loginRequest)="login()">
  <img src="https://upload.wikimedia.org/wikipedia/commons/d/da/ABB-Logo.svg" *sbbIcon />
  <button sbb-usermenu-item>Test</button>
  <button sbb-usermenu-item type="button" (click)="logout(user)">Logout</button>
</sbb-usermenu>
