<sbb-sidebar-container>
  <sbb-sidebar role="navigation">
    <sbb-expansion-panel expanded>
      <sbb-expansion-panel-header>Introduction</sbb-expansion-panel-header>
      <a sbbSidebarLink routerLink="./introduction/getting-started" routerLinkActive="sbb-active"
        >Getting started</a
      >
      <a sbbSidebarLink routerLink="./introduction/i18n" routerLinkActive="sbb-active">i18n</a>
      <a sbbSidebarLink routerLink="./introduction/typography" routerLinkActive="sbb-active"
        >Typography</a
      >
    </sbb-expansion-panel>
    <sbb-expansion-panel expanded>
      <sbb-expansion-panel-header>Form Components</sbb-expansion-panel-header>
      <a
        sbbSidebarLink
        *ngFor="let c of formComponents | keyvalue"
        [routerLink]="['./components/', c.key]"
        routerLinkActive="sbb-active"
        >{{ c.value }}</a
      >
    </sbb-expansion-panel>
    <sbb-expansion-panel expanded>
      <sbb-expansion-panel-header>Layout Components</sbb-expansion-panel-header>
      <a
        sbbSidebarLink
        *ngFor="let c of layoutComponents | keyvalue"
        [routerLink]="['./components/', c.key]"
        routerLinkActive="sbb-active"
        >{{ c.value }}</a
      >
    </sbb-expansion-panel>
    <sbb-expansion-panel expanded>
      <sbb-expansion-panel-header>Button & Indicators Components</sbb-expansion-panel-header>
      <a
        sbbSidebarLink
        *ngFor="let c of buttonAndIndicatorComponents | keyvalue"
        [routerLink]="['./components/', c.key]"
        routerLinkActive="sbb-active"
        >{{ c.value }}</a
      >
    </sbb-expansion-panel>
    <sbb-expansion-panel expanded>
      <sbb-expansion-panel-header>Popups & Modals Components</sbb-expansion-panel-header>
      <a
        sbbSidebarLink
        *ngFor="let c of popupsAndModals | keyvalue"
        [routerLink]="['./components/', c.key]"
        routerLinkActive="sbb-active"
        >{{ c.value }}</a
      >
    </sbb-expansion-panel>
  </sbb-sidebar>
  <sbb-sidebar-content role="main">
    <router-outlet></router-outlet>
  </sbb-sidebar-content>
</sbb-sidebar-container>
