@use '@sbb-esta/angular' as sbb;
@use './tabs';

@include tabs.paginated-tab-header;
@include tabs.paginated-tab-header-shadows;

.sbb-tab-links {
  @include tabs.paginated-tab-header-item-wrapper('.sbb-tab-link-container');
}

.sbb-tab-link-container {
  @include tabs.paginated-tab-header-container;
}

// Wraps each link in the header
.sbb-tab-link {
  vertical-align: top;
  text-decoration: none; // Removes anchor underline styling
  position: relative;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;

  @include tabs.tab-label;

  [sbb-stretch-tabs] & {
    flex-basis: 0;
    flex-grow: 1;
  }

  :where(html.sbb-lean) & {
    // We need to unset overflow: hidden on lean due to our requirement of hiding
    // the border between the tab link header and body.
    overflow: unset;
  }

  &.sbb-tab-disabled {
    // We use `pointer-events` to make the element unclickable when it's disabled, rather than
    // preventing the default action through JS, because we can't prevent the action reliably
    // due to other directives potentially registering their events earlier. This shouldn't cause
    // the user to click through, because we always have a `.sbb-tab-links` behind the link.
    pointer-events: none;
  }
}

// The bottom section of the view; contains the tab bodies
:is(.sbb-tab-nav-panel, .sbb-tab-nav-bar-body) {
  @include tabs.tab-body-wrapper;

  :where(html.sbb-lean) & {
    padding: sbb.pxToRem(15);
  }
}
