@use '@sbb-esta/angular' as sbb;
@use './tabs';

.sbb-tab-group {
  display: flex;
  flex-direction: column;
}

// Wraps each tab label
.sbb-tab-label {
  position: relative;
  @include tabs.tab-label;
}

// Note that we only want to target direct descendant tabs.
.sbb-tab-group[sbb-stretch-tabs] > .sbb-tab-header .sbb-tab-label {
  flex-basis: 0;
  flex-grow: 1;
}

// The bottom section of the view; contains the tab bodies
.sbb-tab-body-wrapper {
  @include tabs.tab-body-wrapper;
  & {
    display: flex;
  }
}

// Wraps each tab body
.sbb-tab-body {
  @include sbb.sbbAbsoluteFill();

  display: block;
  overflow: hidden;

  // Fix for auto content wrapping in IE11
  flex-basis: 100%;

  :where(html.sbb-lean) & {
    padding: sbb.pxToRem(15);
  }

  &.sbb-tab-body-active {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1;
    flex-grow: 1;
  }

  .sbb-tab-group.sbb-tab-group-dynamic-height &.sbb-tab-body-active {
    overflow-y: hidden;
  }
}
