@use './tabs';

@include tabs.paginated-tab-header-shadows;
@include tabs.paginated-tab-header;

.sbb-tab-labels {
  @include tabs.paginated-tab-header-item-wrapper('.sbb-tab-header');
}

.sbb-tab-label-container {
  @include tabs.paginated-tab-header-container;
}

// Wraps each tab label
.sbb-tab-label {
  position: relative;
  @include tabs.tab-label;
}
