.accordion-example-open-state {
  margin: 0 0 0 1rem;
  align-self: center;
}

.accordion-example-open-close-buttons {
  margin: 1rem 0 0 0;
}

.accordion-example-open-close-buttons button {
  margin-right: 0.5rem;
}
