<sbb-search [formControl]="myControl" [sbbAutocomplete]="auto"></sbb-search>
<sbb-autocomplete #auto="sbbAutocomplete">
  <sbb-option *ngFor="let option of filteredOptions" [value]="option">
    {{ option }}
  </sbb-option>
</sbb-autocomplete>

<pre>
  {{ myControl.value | json}}
</pre>

<sbb-search mode="header" [formControl]="myControl2" [sbbAutocomplete]="auto2"></sbb-search>
<sbb-autocomplete #auto2="sbbAutocomplete">
  <sbb-option *ngFor="let option of filteredOptions2" [value]="option">
    {{ option }}
  </sbb-option>
</sbb-autocomplete>

<pre>
  {{ myControl2.value | json}}
</pre>


<sbb-search [formControl]="myControlStatic" [sbbAutocomplete]="autoStatic"></sbb-search>
<sbb-autocomplete #autoStatic="sbbAutocomplete">
  <sbb-option *ngFor="let option of options$ | async" [value]="option">
    {{ option }}
  </sbb-option>
  <sbb-option-group label="Oft gesucht:">
    <sbb-option *ngFor="let option of staticOptions" [value]="option">
      {{ option }}
    </sbb-option>
  </sbb-option-group>
</sbb-autocomplete>

<pre>
  {{ myControlStatic.value | json}}
</pre>
