<sbb-search [formControl]="myControl" [sbbAutocomplete]="auto"></sbb-search>
<sbb-autocomplete #auto="sbbAutocomplete" >
  <sbb-option *ngFor="let option of filteredOptions" [value]="option">
    {{ option }}
  </sbb-option>
</sbb-autocomplete>

<pre>
  {{ myControl.value | json}}
</pre>

<sbb-search mode="header"  [formControl]="myControl2" [sbbAutocomplete]="auto2"></sbb-search>
<sbb-autocomplete #auto2="sbbAutocomplete" >
  <sbb-option *ngFor="let option of filteredOptions" [value]="option">
    {{ option }}
  </sbb-option>
</sbb-autocomplete>

<pre>
  {{ myControl2.value | json}}
</pre>