@mixin datePickerPopup() {
  &-arrow {
    @include datePickerToggleArrow();
  }
}

@mixin datePickerCalendar() {
  display: block;
  width: $datePickerCalendarWidth;
  height: $datePickerCalendarHeight;
  background-color: $datePickerCalendarBg;
  border: $datePickerCalendarBorder;
  border-radius: $datePickerCalendarBorderRadius;
  box-shadow: $datePickerCalendarBoxShadow;
}

@mixin datePickerCalendarHeader() {
  &-header {
    border-bottom: 1px solid $colorGreySilver;
  }
}

@mixin datePickerCalendarControls() {
  &-controls {
    display: flex;
    height: $datePickerCalendarHeaderHeight;
    align-items: center;

    &-months,
    &-years {
      flex: 1 0 50%;
      text-align: center;
      position: relative;
    }

    &-months {
      &::after {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: calc(100% - #{pxToEm(2)});
        top: pxToEm(2);
        right: 0;
        border-right: 1px solid $colorGreySilver;
      }
    }

    &-years {
    }

    &-left-arrow,
    &-right-arrow {
      width: pxToEm($defaultPickerIconSize) + pxToEm(16);
      height: $datePickerCalendarHeaderHeight;
      vertical-align: middle;

      &[disabled] {
        opacity: 0;
      }
    }

    &-left-arrow {
      float: left;
    }

    &-label {
      font-size: pxToEm(21);
      font-family: $fontSbbLight;
      line-height: 3.4;
    }

    &-right-arrow {
      float: right;
    }
  }
}
