$defaultPickerIconSize:                 24;
$defaultPickerInputLeftPadding:         $defaultPickerIconSize + 20;
$defaultToggleLeftOffset:               $defaultPickerIconSize / 2;
$withArrowsToggleLeftOffset:            $defaultPickerIconSize;
$pickerIconsHoverColor:                 $colorRed125;
$withArrowsPickerInputLeftPadding:      ($defaultPickerIconSize * 2) + 24;
$withArrowsPickerInputRightPadding:     $defaultPickerIconSize + 20;
$withArrowsToggleLeftOffset:            $defaultPickerIconSize + ($defaultPickerIconSize / 2) + 4;
$withArrowsLeftArrowOffset:             $defaultPickerIconSize / 2;
$withArrowsRightArrowOffset:            $defaultPickerIconSize / 2;

$datePickerToggleWrapperArrowWidth:     pxToEm(24);
$datePickerToggleWrapperArrowHeight:    pxToEm(16);
$datePickerToggleArrowWidth:            pxToEm(18);
$datePickerToggleArrowHeight:           pxToEm(2);
$datePickerToggleArrowColor:            $colorGrey;
$datePickerToggleArrowBeforeOffset:     pxToEm(-3);
$datePickerToggleArrowAfterOffset:      pxToEm(9);
$datePickerToggleArrowTopOffset:        -($datePickerToggleWrapperArrowHeight - $datePickerToggleArrowHeight);

$datePickerCalendarBg:                  $colorWhite;
$datePickerCalendarHeaderColor:         $colorBlack60;
$datePickerCalendarHeaderFontSize:      pxToEm(13);
$datePickerCalendarWidthMobile:         pxToEm(340);
$datePickerCalendarHeightMobile:        pxToEm(380);
$datePickerCalendarWidth:               pxToEm(428);
$datePickerCalendarHeight:              pxToEm(428);
$datePickerCalendarBorder:              pxToEm(2) solid $colorGrey;
$datePickerCalendarBorderRadius:        pxToEm(2);
$datePickerCalendarBoxShadow:           0 pxToEm(8) 0 rgba(0,0,0,.15);
$datePickerRevertCalendarBoxShadow:     0 pxToEm(-8) 0 rgba(0,0,0,.15);
$datePickerCalendarHeaderHeight:        pxToEm(68);

$datePickerCalendarTableContentPaddingMobile: 0 pxToEm(11) pxToEm(8) pxToEm(11);
$datePickerCalendarTableContentPadding: 0 pxToEm(22) pxToEm(16) pxToEm(22);
$datePickerCalendarTableTodayFontFamily:$fontSbbBold;
$datePickerCalendarTableTodayColor:     $colorBlack;
$datePickerCalendarTableActiveColor:    $colorRed125;
$datePickerCalendarTableSelectedColor:  $colorGrey;
$datePickerCalendarTableRangeBgColor:   $colorBlack5;

$datePickerCalendarDisabledCellColor:   $colorBlack30;