@mixin datePickerPopup() {
  &-arrow {
    @include datePickerToggleArrow();
  }
}

@mixin datePickerCalendar() {
  display: block;
  width: $datePickerCalendarWidth;
  height: $datePickerCalendarHeight;
  background-color: $datePickerCalendarBg;
  border: $datePickerCalendarBorder;
  border-radius: $datePickerCalendarBorderRadius;
  box-shadow: $datePickerCalendarBoxShadow;
}

@mixin datePickerCalendarHeader() {
  &-header {
  }
}

@mixin datePickerCalendarControls() {
  &-controls {
    display: flex;
    height: $datePickerCalendarHeaderHeight;
    align-items: center;

    &-months,
    &-years {
      flex: 1 0 50%;
      text-align: center;
      padding-left: pxToEm(16);
      padding-right: pxToEm(16);
    }

    &-months {
    }

    &-years {
    }

    &-left-arrow,
    &-right-arrow {
      width: pxToEm($defaultPickerIconSize);
      height: $datePickerCalendarHeaderHeight;
      vertical-align: middle;

      &[disabled] {
        opacity: 0;
      }
    }

    &-left-arrow {
      float: left;
    }

    &-label {
      font-size: pxToEm(21);
      font-family: $fontSbbLight;
      line-height: 3.4;
    }

    &-right-arrow {
      float: right;
    }
  }
}
