<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 sbbsc-block">
      <h4 class="sbbsc-block">Processflow</h4>
      <sbb-processflow #processflow>
        <sbb-processflow-step title="Schritt 1">
          <div>
            Schrittinhalt 1
          </div>
        </sbb-processflow-step>
        <sbb-processflow-step title="Schritt 2">
          <div>
            Schrittinhalt 2
          </div>
        </sbb-processflow-step>
        <sbb-processflow-step title="Schritt 3">
          <div>
            Schrittinhalt 3
          </div>
        </sbb-processflow-step>
      </sbb-processflow>
    </div>
    <div class="sbbsc-block">
      <h4 class="sbbsc-block">Processflow Controls</h4>
      <button sbbButton (click)="processflow.prevStep()">
        Vorheriger Schritt
      </button>
      <button sbbButton (click)="processflow.nextStep()" style="margin-left: 0.5rem">
        Nächster Schritt
      </button>
      <button mode="ghost" sbbButton (click)="processflow.reset()" style="margin-left: 0.5rem">
        Reset
      </button>
    </div>
  </div>
</div>
