$timeInputWidth: 70;
$timeInputHeight: 48;

@mixin timeInputBase {

  width: toPx($timeInputWidth);
  height: toPx($timeInputHeight);
  text-align: center;

  @include mq($from: desktop4k) {
    width: toPx($timeInputWidth * $scalingFactor4k);
    height: toPx($timeInputWidth * $scalingFactor4k);

  }

  @include mq($from: desktop5k) {
    width: toPx($timeInputWidth * $scalingFactor5k);
    height: toPx($timeInputWidth * $scalingFactor5k);

  }

}
