<h4>Trains per section of line</h4>

@if (!loading) {
<sbb-table-wrapper class="table-wrapper">
  <table sbb-table sbbSort [dataSource]="dataSource" (sbbSortChange)="announceSortChange($event)">
    <ng-container sbbColumnDef="line" sticky>
      <th
        sbb-header-cell
        *sbbHeaderCellDef
        sbb-sort-header="line"
        sortActionDescription="Sort by line"
      >
        line
      </th>
      <td sbb-cell *sbbCellDef="let element">{{ element.line }}</td>
      <td sbb-footer-cell *sbbFooterCellDef>line</td>
    </ng-container>
    <!-- Iterate over all non sticky columns -->
    @for (column of displayedColumns.slice(1, -1); track column) {
    <ng-container [sbbColumnDef]="column">
      <th
        sbb-header-cell
        *sbbHeaderCellDef
        [sbb-sort-header]="column"
        [sortActionDescription]="'Sort by ' + column"
      >
        {{column}}
      </th>
      <td sbb-cell *sbbCellDef="let element">{{ element[column] }}</td>
      <td sbb-footer-cell *sbbFooterCellDef>{{column}}</td>
    </ng-container>
    }
    <ng-container sbbColumnDef="recordId" stickyEnd>
      <th
        sbb-header-cell
        *sbbHeaderCellDef
        sbb-sort-header="recordId"
        sortActionDescription="Sort by recordId"
      >
        recordId
      </th>
      <td sbb-cell *sbbCellDef="let element">{{ element.recordId }}</td>
      <td sbb-footer-cell *sbbFooterCellDef>recordId</td>
    </ng-container>
    <tr sbb-header-row *sbbHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr sbb-row *sbbRowDef="let row; columns: displayedColumns"></tr>
    <tr sbb-footer-row *sbbFooterRowDef="displayedColumns; sticky: true"></tr>
  </table>
</sbb-table-wrapper>
} @else {
<sbb-loading-indicator mode="small"></sbb-loading-indicator>
}

<p>
  <small>
    *Switching between standard and lean design in the showcase does not update sticky styles which
    can result in wrongly displayed styles. Please refresh your view after switching between
    standard and lean design.
  </small>
</p>
