<h4>Trains per section of line</h4>

<sbb-table-wrapper class="table-wrapper" *ngIf="!loading; else: loadingIndicator">
  <table sbb-table sbbSort [dataSource]="dataSource">
    <ng-container sbbColumnDef="line" sticky>
      <th sbb-header-cell *sbbHeaderCellDef sbb-sort-header="line">line</th>
      <td sbb-cell *sbbCellDef="let element">{{ element.line }}</td>
      <td sbb-footer-cell *sbbFooterCellDef>line</td>
    </ng-container>

    <!-- Iterate over all non sticky columns -->
    <ng-container *ngFor="let column of displayedColumns.slice(1, -1)" [sbbColumnDef]="column">
      <th sbb-header-cell *sbbHeaderCellDef [sbb-sort-header]="column">{{column}}</th>
      <td sbb-cell *sbbCellDef="let element">{{ element[column] }}</td>
      <td sbb-footer-cell *sbbFooterCellDef>{{column}}</td>
    </ng-container>

    <ng-container sbbColumnDef="recordId" stickyEnd>
      <th sbb-header-cell *sbbHeaderCellDef sbb-sort-header="recordId">recordId</th>
      <td sbb-cell *sbbCellDef="let element">{{ element.recordId }}</td>
      <td sbb-footer-cell *sbbFooterCellDef>recordId</td>
    </ng-container>

    <tr sbb-header-row *sbbHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr sbb-row *sbbRowDef="let row; columns: displayedColumns"></tr>
    <tr sbb-footer-row *sbbFooterRowDef="displayedColumns; sticky: true"></tr>
  </table>
</sbb-table-wrapper>

<ng-template #loadingIndicator>
  <sbb-loading mode="small"></sbb-loading>
</ng-template>

<p>
  <small>
    *Switching between standard and lean design in the showcase does not update sticky styles which
    can result in wrongly displayed styles. Please refresh your view after switching between
    standard and lean design.
  </small>
</p>
