/***
* sbb-angular mixins
***/
@import '../../../dist/sbb-angular/styles.scss';

.sbbsc-typography-example {
  &-body{
    border: 1px solid $colorGreyLight;
    overflow: hidden;
    padding: 0.5em;
  }

  ngx-monaco-editor {
    min-height: 300px;
  }
}

.sbbsc-typography-section-title {
  padding-bottom: 0.25em;
}

code {
  display: inline-block;
  padding: .05em 0.25em;
  border-radius: .1em;
  border: 1px solid #e5e5e5;
}