<section class="sbbsc-typography">
  <h2 class="text-headline1" style="margin-top: 0;">Typography</h2>
  <p class="text-lead">
    Documentation and examples for SBB typography, including global settings, headings, body text, lists, and more.
  </p>

  <h3 class="bbsc-typography-section-title">Table of contents</h3>
  <ol>
    <li><a href="#" (click)="goToInpageLink($event, 0)">Global settings</a></li>
    <li><a href="#" (click)="goToInpageLink($event, 1)">Headings</a></li>
    <li><a href="#" (click)="goToInpageLink($event, 2)">Lists</a></li>
    <li><a href="#" (click)="goToInpageLink($event, 3)">Tables</a></li>
    <li><a href="#" (click)="goToInpageLink($event, 4)">Section (Fieldset)</a></li>
  </ol>

  <div class="sbbsc-separator" role="presentation"></div>

  <h3 class="text-headline2 sbbsc-typography-section-title" #pageLink tabindex="0">1. Global settings</h3>

  <p>SBB Angular library sets basic global typography, display and link styles.</p>
  <ul>
    <li>Use the custom SBB Font stack. <code>SBBWeb Roman</code>&nbsp;<code>SBBWeb Bold</code>
      &nbsp;<code>SBBWeb Light</code>&nbsp;<code>SBBWeb Thin</code>&nbsp;<code>SBBWeb Ultralight</code></li>
    <li>The html base font is a <code>SBBWeb Roman</code> size <code>93.75% | 15px</code> with a line height of <code>1.7</code></li>
    <li>Default body background color is <code>#FFFFFF</code></li>
    <li>Default link color is <code>#000000</code>, hover/focus color is <code>#C60018</code></li>
  </ul>
  <article class="sbbsc-typography-example">
    <ngx-monaco-editor [options]="editorOptionsScss" [(ngModel)]="codeGlobal"></ngx-monaco-editor>
  </article>

  <h3 class="text-headline2 sbbsc-typography-section-title" #pageLink tabindex="0">2. Headings</h3>
  <p>HTML headings, from <code>h1</code> to <code>h4</code>.</p>
  <p>You can also use the headings classes to make every tag looks like an heading. Available classes:
    <code>.text-headline1</code>&nbsp;<code>.text-headline2</code>&nbsp;<code>.text-headline3</code>&nbsp;<code>.text-headline4</code>.</p>
  <article class="sbbsc-typography-example">
    <h4 class="text-headline3">Headings</h4>
    <div class="sbbsc-typography-example-body" [innerHTML]="codeHeadings">
    </div>
    <ngx-monaco-editor [options]="editorOptionsHtml" [(ngModel)]="codeHeadings"></ngx-monaco-editor>
  </article>

  <h3 class="text-headline2 sbbsc-typography-section-title" #pageLink tabindex="0">3. Lists</h3>

  <article class="sbbsc-typography-example">
    <h4 class="text-headline3">Unordered lists</h4>
    <div class="sbbsc-typography-example-body" [innerHTML]="codeUnorderedList">
    </div>
    <ngx-monaco-editor [options]="editorOptionsHtml" [(ngModel)]="codeUnorderedList"></ngx-monaco-editor>
  </article>

  <article class="sbbsc-typography-example">
    <h4 class="text-headline3">Nested unordered lists</h4>
    <div class="sbbsc-typography-example-body" [innerHTML]="codeNestedUnorderedList">
    </div>
    <ngx-monaco-editor [options]="editorOptionsHtml" [(ngModel)]="codeNestedUnorderedList"></ngx-monaco-editor>
  </article>

  <article class="sbbsc-typography-example">
    <h4 class="text-headline3">Ordered lists</h4>
    <div class="sbbsc-typography-example-body" [innerHTML]="codeOrderedList">
    </div>
    <ngx-monaco-editor [options]="editorOptionsHtml" [(ngModel)]="codeOrderedList"></ngx-monaco-editor>
  </article>

  <article class="sbbsc-typography-example">
    <h4 class="text-headline3">Nested ordered lists</h4>
    <div class="sbbsc-typography-example-body" [innerHTML]="codeNestedOrderedList">
    </div>
    <ngx-monaco-editor [options]="editorOptionsHtml" [(ngModel)]="codeNestedOrderedList"></ngx-monaco-editor>
  </article>

  <article class="sbbsc-typography-example">
    <h4 class="text-headline3">Mixed lists</h4>
    <div class="sbbsc-typography-example-body" [innerHTML]="codeMixedList">
    </div>
    <ngx-monaco-editor [options]="editorOptionsHtml" [(ngModel)]="codeMixedList"></ngx-monaco-editor>
  </article>

  <h3 class="text-headline2 sbbsc-typography-section-title" #pageLink tabindex="0">4. Tables</h3>

  <p>
    The table is an actual component but you can use the <code>@include table()</code> mixin to style a custom table.
  </p>
  <p>
    Don't forget to follow a couple of simple rules for the accessibility and styling. In order to have proper styles
    <strong>must</strong> be used the <code>thead</code>&nbsp;<code>tbody</code> tags.
  </p>
  <p>
    In order to have proper accessibility you have to mark table headings with the proper <code>th</code> tag and the
    <code>scope</code> attribute set
    to <code>col</code> for column headers and <code>row</code> for row headers.
  </p>
  <p>
    Don't forget in presence of a custom caption or legend ( <code>*sbbTableCaption</code> directive ) to put proper
    <code>aria-describedby</code> and <code>aria-labelledby</code> association.
    Note that the <code>sbb-table</code> component accept an attribute <code>tableLabelledBy="caption_ID"</code> to set
    proper
    <code>aria-labelledby</code> attribute on the table.
  </p>

  <article class="sbbsc-typography-example">
    <h4 class="text-headline3">Simple Table</h4>
    <div class="sbbsc-typography-example-body">
      <ng-container *ngTemplateOutlet="test"></ng-container>
      <sbb-table tableLabelledBy="caption">
        <thead>
          <tr>
            <th scope="col">Unternehmen und Land *1</th>
            <th scope="col">Personenkilometer (Mio. Pkm)</th>
            <th scope="col">Nettotonnenkilometer (Mio. Ntkm)</th>
            <th scope="col">Trassenkilometer (Mio. Trkm)</th>
            <th scope="col">Personal (FTE)</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <th scope="row" aria-describedby="legend_item_1">
              Langer Text im Link um zu sehen, wie dieser in der Zelle umbricht. *1
            </th>
            <td>6 907</td>
            <td>
              Langer Text im Link um zu sehen, wie dieser in der Zelle umbricht.
            </td>
            <td>Langer Text um zu sehen wie genau die Zelle umbricht</td>
            <td>24 882</td>
          </tr>
          <tr>
            <th scope="row" aria-describedby="legend_item_2">
              SZDC (CZ) *2
            </th>
            <td>-</td>
            <td>-</td>
            <td>161</td>
            <td>17 380</td>
          </tr>
          <tr>
            <th scope="row" aria-describedby="legend_item_3">
              DB AG (DE) *3
            </th>
            <td>80 805</td>
            <td>78 542</td>
            <td>1 037</td>
            <td>286 237</td>
          </tr>
          <tr>
            <th scope="row" aria-describedby="legend_item_3">
              FS (IT) *3
            </th>
            <td>37 489</td>
            <td>22 081</td>
            <td>316</td>
            <td>72 341</td>
          </tr>
          <tr>
            <th scope="row" aria-describedby="legend_item_3">
              JR (JP) *3
            </th>
            <td>244 591</td>
            <td>20 255</td>
            <td>693</td>
            <td>127 989</td>
          </tr>
          <tr>
            <th scope="row" aria-describedby="legend_item_1">
              NS (NL) *1
            </th>
            <td>16 604</td>
            <td>-</td>
            <td>-</td>
            <td>7 959</td>
          </tr>
        </tbody>
        <ng-container *sbbTableCaption>
          <ol>
            <li id="legend_item_1" tabindex="-1">
              Eisenbahnverkehrsunternehmen
            </li>
            <li id="legend_item_2" tabindex="-1">
              Eisenbahninfrastrukturbetreiberin
            </li>
            <li id="legend_item_3" tabindex="-1">
              Integriertes Bahnunternehmen/Holding
            </li>
          </ol>
          <p id="caption">Quelle: UIC-Statistik 2012.</p>
        </ng-container>
      </sbb-table>
    </div>
    <ngx-monaco-editor [options]="editorOptionsHtml" [(ngModel)]="codeTable"></ngx-monaco-editor>
  </article>

  <h3 class="text-headline2 sbbsc-typography-section-title" #pageLink tabindex="0">5. Section (Fieldset)</h3>

  <article class="sbbsc-typography-example">
    <h4 class="text-headline3">Example nested fieldsets</h4>
    <div class="sbbsc-typography-example-body" [innerHTML]="getRawHTML(codeFieldset)">
    </div>
    <ngx-monaco-editor [options]="editorOptionsHtml" [(ngModel)]="codeFieldset"></ngx-monaco-editor>
  </article>

</section>
