<sbb-chip
  [label]="option"
  (dismissed)="deselectOption(option)"
  [disabled]="disabled"
  *ngFor="let option of value"
></sbb-chip>
<input
  #chipInputTextfield
  type="text"
  [id]="inputId"
  [value]="inputModel"
  [disabled]="disabled"
  [sbbAutocomplete]="autocomplete"
  [sbbAutocompleteConnectedTo]="_origin"
  (focus)="_onFocus()"
  (blur)="_onBlur()"
  (keydown)="_handleKeydown($event)"
  class="sbb-chip-input-textfield"
  [formControl]="inputControl"
/>

<!-- To avoid duplicating styles use existing chip input and hide it so the styles should be loaded -->
<sbb-chip-input style="display: none"></sbb-chip-input>
