<span class="sbb-notification-icon-wrapper sbb-icon-fit">
  <ng-container *ngTemplateOutlet="icon"></ng-container>
</span>

<div class="sbb-notification-content">
  <div class="sbb-notification-content-message">
    <ng-content></ng-content>
  </div>
  <div *ngIf="jumpMarks">
    <span *ngFor="let jumpMark of jumpMarks; let isLast = last" class="sbb-notification-jump-mark">
      <a (click)="scrollTo($event, jumpMark)">{{ jumpMark.title }}</a>
      <ng-container *ngIf="!isLast"> / </ng-container>
    </span>
  </div>
</div>

<button
  (click)="dismiss()"
  class="sbb-notification-icon-wrapper sbb-notification-icon-close-wrapper sbb-icon-fit"
  *ngIf="!readonly"
  type="button"
>
  <sbb-icon svgIcon="kom:cross-small"></sbb-icon>
</button>

<ng-template #check>
  <sbb-icon svgIcon="kom:tick-small"></sbb-icon>
</ng-template>

<ng-template #error>
  <sbb-icon svgIcon="kom:sign-exclamation-point-small"></sbb-icon>
</ng-template>

<ng-template #info>
  <sbb-icon svgIcon="kom:circle-information-small"></sbb-icon>
</ng-template>
