$sbbBusiness: true;
@import '../../../angular-core/styles/common';

$notificationHeight: 51;
$notificationBaseWidth: 100%;
$notificationIconWidth: 24;
$notificationIconHeight: 24;
$notificationDefaultBackgroundColor: $sbbColorWhite;
$notificationErrorBackgroundColor: $sbbColorRed;
$notificationWarnBackgroundColor: $sbbColorOrange;
$notificationLinksHeight: 72;
$notificationBorderRadius: 2;
$notificationDefaultFontSize: $sizeFontDefault;
$notificationIconMarginLeft: 16;
$notificationIconMarginRight: 22;
$notificationMessageMarginLeft: 8;
$notificationMessageMarginRight: 24;
$notificationToastOffset: 20;
$notificationToastMaxWidth: 251;
$notificationVerticalMargin: 12;

@mixin notificationToast {
  position: absolute;
  max-width: pxToEm($notificationToastMaxWidth);
}

.sbb-notification {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  min-height: pxToEm($notificationHeight);
  width: $notificationBaseWidth;
  border-radius: toPx($notificationBorderRadius);
  color: $sbbColorWhite;
  background-color: $notificationDefaultBackgroundColor;
  font-size: toPx($notificationDefaultFontSize);
  padding-top: pxToEm($notificationVerticalMargin);
  padding-bottom: pxToEm($notificationVerticalMargin);

  &.sbb-notification-error {
    background-color: $notificationErrorBackgroundColor;

    &,
    a,
    button {
      color: $sbbColorWhite;
    }
  }

  &.sbb-notification-success {
    border: 1px solid $sbbColorGreen;

    &,
    a,
    button {
      color: $sbbColorGreen;
    }
  }

  &.sbb-notification-info {
    border: 1px solid $sbbColorGranite;

    &,
    a,
    button {
      color: $sbbColorGranite;
    }
  }

  &.sbb-notification-warn {
    &,
    a,
    button {
      color: $sbbColorWhite;
    }

    background-color: $notificationWarnBackgroundColor;
  }

  &.sbb-notification-has-jump-marks {
    min-height: toPx($notificationLinksHeight);
  }

  .sbb-notification-content {
    margin-left: toPx($notificationMessageMarginLeft);
    margin-right: toPx($notificationMessageMarginRight);
  }

  .sbb-notification-jump-mark {
    a {
      cursor: pointer;
    }
  }

  .sbb-notification-icon-wrapper {
    min-width: toPx($notificationIconWidth);
    width: toPx($notificationIconWidth);
    height: toPx($notificationIconHeight);
    margin-left: toPx($notificationIconMarginLeft);
    border: none;
    background: none;
    padding: 0;

    * {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .sbb-notification-icon-close-wrapper {
    cursor: pointer;
    margin-left: auto;
    margin-right: pxToEm($notificationIconMarginRight);
  }

  &.sbb-notification-toast-top-right {
    @include notificationToast();
    top: pxToEm($notificationToastOffset);
    right: pxToEm($notificationToastOffset);
  }

  &.sbb-notification-toast-bottom-left {
    @include notificationToast();
    bottom: pxToEm($notificationToastOffset);
    left: pxToEm($notificationToastOffset);
  }

  &.sbb-notification-toast-top-left {
    @include notificationToast();
    top: pxToEm($notificationToastOffset);
    left: pxToEm($notificationToastOffset);
  }

  &.sbb-notification-toast-bottom-right {
    @include notificationToast();
    bottom: pxToEm($notificationToastOffset);
    right: pxToEm($notificationToastOffset);
  }
}
