<sbb-search (search)="search()" aria-label="Start search">
  <input sbbInput placeholder="Search" [formControl]="searchControl" [sbbAutocomplete]="auto" />
</sbb-search>
<sbb-autocomplete #auto="sbbAutocomplete">
  @for (option of filteredCities; track option) {
    <sbb-option [value]="option">{{ option }}</sbb-option>
  }
</sbb-autocomplete>

<h4>Search results (only first 10 are shown)</h4>
@if (!searchResults.length) {
  No results
}
@if (showSpinner) {
  <sbb-loading-indicator mode="fullbox"></sbb-loading-indicator>
}
@for (image of searchResults; track image) {
  <span [title]="image.station">
    <img
      width="300"
      [attr.src]="
        'https://data.sbb.ch/explore/dataset/historische-bahnhofbilder/files/' + image.id + '/300/'
      "
    />
  </span>
}
