@mixin pseudoCheckbox {
  @include checkboxContainer;

  & > .sbb-checkbox-checked {
    display: none;
  }

  &.sbb-pseudo-checkbox-checked {
    & > .sbb-checkbox-checked {
      display: block;
    }
  }
  &.sbb-pseudo-checkbox-disabled {
    border-color: $colorBlack20;
    background-color: $colorBlack5;

    & > .sbb-checkbox-checked {
      fill: $colorGrey;
    }
  }
}
