@import '../../../core/styles/common';

.sbb-toggle {
  display: flex;
  width: 100%;

  @include mq($from: desktop4k) {
    font-size: toEm(1 * $scalingFactor4k);
  }

  @include mq($from: desktop5k) {
    font-size: toEm(1 * $scalingFactor5k);
  }
}
