<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 sbbsc-v-sep">
      <h4>Single Radio Button</h4>
      <sbb-radio-button name="single-radio"
                        value="single-radio"
                        [disabled]="disabled"
                        [required]="required"
                        [checked]="checked">Test label</sbb-radio-button>
    </div>
    <div class="col-lg-6">
      <h4>Properties</h4>
      <div class="sbbsc-block">
        <sbb-checkbox inputId="checkedCheck"
                      [(ngModel)]="checked"></sbb-checkbox>
        <label for="checkedCheck">Checked</label>
      </div>
      <div class="sbbsc-block">
        <sbb-checkbox inputId="requiredCheck"
                      [(ngModel)]="required"></sbb-checkbox>
        <label for="requiredCheck">Required</label>
      </div>
      <div class="sbbsc-block">
        <sbb-checkbox inputId="disabled"
                      [(ngModel)]="disabled"></sbb-checkbox>
        <label for="disabled">Disabled</label>
      </div>
    </div>
  </div>

  <div role="presentation"
       class="sbbsc-separator"></div>

  <div class="row">
    <div class="col-lg-6 sbbsc-v-sep">
      <h4>Radio buttons</h4>
      <ng-container *ngFor="let option of radioOptions; index as i">
        <div class="sbbsc-block">
          <sbb-radio-button [(ngModel)]="modelValue"
                            name="model-radio"
                            [value]="option.value">{{option.name}}</sbb-radio-button>
        </div>
      </ng-container>
    </div>
    <div class="col-lg-6">
      <h4>Model</h4>
      <pre>{{ modelValue }}</pre>
    </div>
  </div>
</div>