<div class="container-fluid">
  <h3>Single Radio Button</h3>
  <div class="row">
    <div class="col-lg-6">
      <legend>Example</legend>
      <fieldset>
        <sbb-radio-button inputId="single-radio" name="single-radio" inputValue="single-radio"
          [disabled]="disabled" [required]="required" [checked]="checked"></sbb-radio-button>
        <label for="single-radio">Test label</label>
      </fieldset>
    </div>
    <div class="col-lg-6">
      <legend>Properties</legend>
      <fieldset>
        <div>
          <div class="form-check">
            <input id="checkedCheck" class="form-check-input" type="checkbox" [(ngModel)]="checked">
            <label class="form-check-label" for="checkedCheck">Checked</label>
          </div>
          <div class="form-check">
            <input id="requiredCheck" class="form-check-input" type="checkbox" [(ngModel)]="required">
            <label class="form-check-label" for="requiredCheck">Required</label>
          </div>
          <div class="form-check">
            <input id="disabled" class="form-check-input" type="checkbox" [(ngModel)]="disabled">
            <label class="form-check-label" for="disabled">Disabled</label>
          </div>
        </div>
      </fieldset>
    </div>
  </div>

  <h3>Radio buttons with Template-driven Forms</h3>
  <div class="row">
    <div class="col-lg-6">
      <legend>Example</legend>
      <fieldset>
        <ng-container *ngFor="let option of radioOptions; index as i">
          <sbb-radio-button [(ngModel)]="modelValue" inputId="model-radio-{{i}}" name="model-radio" [inputValue]="option.value"></sbb-radio-button>
          <label for="model-radio-{{i}}">{{option.name}}</label>
        </ng-container>
      </fieldset>
    </div>
    <div class="col-lg-6">
      <legend>Model</legend>
      <fieldset>
        <div>
          <div class="form-group">
            <pre>{{ modelValue }}</pre>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</div>
