# Bazel configuration that will be copied to ~/.bazelrc in GitHub Actions containers.
# This allows us adding specific configuration flags for builds within GitHub Actions.
# See more: https://docs.bazel.build/versions/master/user-manual.html#where-are-the-bazelrc-files

# Print all enabled Bazel flags in CI mode. This makes it easier to debug and reproduce
# Bazel issues that show up on GitHub Actions.
common --announce_rc

# Save downloaded repositories in a location that can be cached by GitHub Actions. This helps us
# speeding up the analysis time significantly with Bazel managed node dependencies on the CI.
build --repository_cache=/home/runner/bazel_repository_cache

# Try to avoid https://github.com/angular/angular/issues/24143#issuecomment-460934490
build --nobuild_runfile_links
build --noenable_runfiles
