# Bazel configuration that will be copied to ~/.bazelrc in GitHub Actions containers.
# This allows us adding specific configuration flags for builds within GitHub Actions.
# See more: https://docs.bazel.build/versions/master/user-manual.html#where-are-the-bazelrc-files

# Print all enabled Bazel flags in CI mode. This makes it easier to debug and reproduce
# Bazel issues that show up on GitHub Actions.
common --announce_rc

# Use the JDK from GitHub Actions
build --host_javabase=@local_jdk//:jdk
run --host_javabase=@local_jdk//:jdk
test --host_javabase=@local_jdk//:jdk
build --javabase=@local_jdk//:jdk
run --javabase=@local_jdk//:jdk
test --javabase=@local_jdk//:jdk
