"""
  Entry points list for <%= shortName %>.
"""

ALL_EXAMPLES = [
    # TODO(devversion): try to have for each entry-point a bazel package so that
    # we can automate this using the "package.bzl" variables. Currently generated
    # with "bazel query 'kind("ng_project", //src/components-examples/...:*)' --output="label"<% for (let module of exampleModules) { %>
    "/<%= module.path %>",<% } %>
]
