/***
* @sbb-esta/angular-public mixins
***/
@import '../../../../../dist/sbb-esta/angular-public/styles.scss';

.sbbsc-typography-example {
  position: relative;

  &-body {
    border: 1px solid $sbbColorSilver;
    overflow: hidden;
    padding: 0.5em;
  }

  ngx-monaco-editor {
    min-height: 300px;
    max-width: 100%;
  }
}

.sbbsc-typography-section-title {
  padding-bottom: 0.25em;
}

code {
  display: inline-block;
  padding: 0.05em 0.25em;
  border-radius: 0.1em;
  border: 1px solid #e5e5e5;
}
