@import '../../../../angular-core/styles/common/colors';

:host {
  display: block;
}

div {
  &.sbb-relax-tooltip {
    background: $sbbColorWhite;
    color: $sbbColorGranite;
    font-size: 0.9375rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    border: 0.0625rem solid rgb(104, 104, 104, 0.7);
  }
}
