<sbb-sidebar-container>
  <sbb-sidebar role="navigation">
    <sbb-expansion-panel expanded>
      <sbb-expansion-panel-header>Introduction</sbb-expansion-panel-header>
      <a
        sbbSidebarLink
        routerLink="./introduction/getting-started"
        routerLinkActive="sbb-sidebar-link-active"
        >Getting started</a
      >
      <a
        sbbSidebarLink
        routerLink="./introduction/overview-and-usage"
        routerLinkActive="sbb-sidebar-link-active"
        >Overview and usage</a
      >
      <a
        sbbSidebarLink
        routerLink="./introduction/mapping-basics"
        routerLinkActive="sbb-sidebar-link-active"
        >Mapping basics</a
      >
    </sbb-expansion-panel>
    <sbb-expansion-panel expanded>
      <sbb-expansion-panel-header>Maps</sbb-expansion-panel-header>
      <a
        sbbSidebarLink
        *ngFor="let c of maps | keyvalue"
        [routerLink]="['./components/', c.key]"
        routerLinkActive="sbb-sidebar-link-active"
        >{{ c.value }}</a
      >
    </sbb-expansion-panel>
    <sbb-expansion-panel expanded>
      <sbb-expansion-panel-header>Map Utilities</sbb-expansion-panel-header>
      <a
        sbbSidebarLink
        *ngFor="let c of mapUtilities | keyvalue"
        [routerLink]="['./components/', c.key]"
        routerLinkActive="sbb-sidebar-link-active"
        >{{ c.value }}</a
      >
    </sbb-expansion-panel>
    <sbb-expansion-panel expanded>
      <sbb-expansion-panel-header>Advanced Usage</sbb-expansion-panel-header>
      <a
        sbbSidebarLink
        routerLink="./advanced/loading-arcgis-types"
        routerLinkActive="sbb-sidebar-link-active"
        >Loading ArcGIS types</a
      >
      <a
        sbbSidebarLink
        routerLink="./advanced/layer-filtering"
        routerLinkActive="sbb-sidebar-link-active"
        >Layer filtering</a
      >
      <a
        sbbSidebarLink
        routerLink="./advanced/accessing-map-data"
        routerLinkActive="sbb-sidebar-link-active"
        >Accessing map data</a
      >
    </sbb-expansion-panel>
  </sbb-sidebar>
  <sbb-sidebar-content>
    <router-outlet></router-outlet>
  </sbb-sidebar-content>
</sbb-sidebar-container>
