@mixin sbbInputFields() {
  input[type='email'],
  input[type='password'],
  input[type='search'],
  input[type='text'],
  input[type='number'],
  input[type='tel'],
  input[type='time'],
  input[type='datetime'],
  input[type='datetime-local'],
  input[type='url'],
  input:not([type]) {
    @include inputfields;
  }

  input[placeholder] {
    text-overflow: ellipsis;
  }

  input[type='number'],
  input[type='time'],
  input[type='datetime'],
  input[type='datetime-local'] {
    -moz-appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button,
    &::-webkit-clear-button {
      appearance: none;
      margin: 0;
      width: 0;
      padding: 0;
      background: transparent;
    }
  }
}

@mixin timeInputBase {
  text-align: center;

  @include publicOnly() {
    $timeInputWidth: 70;
    $timeInputHeight: 48;

    width: toPx($timeInputWidth);
    height: toPx($timeInputHeight);

    @include mq($from: desktop4k) {
      width: toPx($timeInputWidth * $scalingFactor4k);
      height: toPx($timeInputWidth * $scalingFactor4k);
    }

    @include mq($from: desktop5k) {
      width: toPx($timeInputWidth * $scalingFactor5k);
      height: toPx($timeInputWidth * $scalingFactor5k);
    }
  }

  @include businessOnly() {
    width: 68px;
    height: 36px;
  }
}

@mixin nativeSelectBase {
  $selectArrowWidthHeight: 24;
  $selectNativeBackground: 'data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJfeDMwX18xXyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMjQgMjQ7ZmlsbDogJTIzNjY2OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTcuNywxMC43TDguNCwxMGwzLjYsMy42bDMuNi0zLjZsMC43LDAuN0wxMiwxNUw3LjcsMTAuN3oiLz48L3N2Zz4=';
  $selectArrowRight: 12;
  $selectTriggerPaddingRight: 44;

  @include businessOnly() {
    $selectArrowRight: 6;
    $selectTriggerPaddingRight: 38;
  }

  @include inputfields;
  cursor: pointer;
  align-items: center;
  width: 100%;
  padding-right: toPx($selectTriggerPaddingRight);

  &:disabled {
    cursor: default;
  }

  &::-ms-expand {
    display: none;
  }

  background: url($selectNativeBackground) no-repeat;
  background-position: center right toPx($selectArrowRight);
  background-size: toPx($selectArrowWidthHeight) toPx($selectArrowWidthHeight);

  @include publicOnly() {
    @include mq($from: desktop4k) {
      background-size: toPx($selectArrowWidthHeight * $scalingFactor4k);
      background-position: center right toPx($selectArrowRight * $scalingFactor4k);
    }

    @include mq($from: desktop5k) {
      background-size: toPx($selectArrowWidthHeight * $scalingFactor5k);
      background-position: center right toPx($selectArrowRight * $scalingFactor5k);
    }
  }
}

@mixin sbbTimeInputField() {
  input.sbb-time-input {
    @include timeInputBase;
  }
}

@mixin sbbSelect() {
  select {
    @include nativeSelectBase;
  }
}

@mixin sbbFieldset() {
  fieldset {
    @include fieldset;
  }
}

@mixin sbbTextarea() {
  textarea {
    @include textarea();
  }
}
