.sbb-scrollbar {
  scrollbar-color: transparent transparent;
  scrollbar-width: thin;

  &:hover {
    scrollbar-color: #444444 #f6f6f6;
  }
  &::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &:hover::-webkit-scrollbar-track {
    background-color: #f6f6f6;
  }
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  &:hover::-webkit-scrollbar-thumb {
    background-color: #444444;
  }
}
