@import '../common/colors';

.sbb-scrollbar {
  scrollbar-color: transparent transparent;
  scrollbar-width: thin;

  &:hover {
    scrollbar-color: $sbbColorPlatinum $sbbColorMilk;
  }
  &::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &:hover::-webkit-scrollbar-track {
    background-color: $sbbColorMilk;
  }
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  &:hover::-webkit-scrollbar-thumb {
    background-color: $sbbColorPlatinum;
  }
  &:hover::-webkit-scrollbar-thumb:hover {
    background-color: $sbbColorStorm;
  }
}
