<sbb-search
  mode="header"
  (search)="search()"
  placeholder="Search"
  [formControl]="searchControl"
  [sbbAutocomplete]="auto"
>
</sbb-search>
<sbb-autocomplete #auto="sbbAutocomplete">
  <sbb-option *ngFor="let option of filteredCities" [value]="option">
    {{ option }}
  </sbb-option>
</sbb-autocomplete>

<h4 class="sbbsc-block">Search results (only first 10 are shown)</h4>
<ng-container *ngIf="!searchResults.length">No results</ng-container>
<sbb-loading *ngIf="showSpinner" mode="fullbox"></sbb-loading>
<span [title]="image.station" *ngFor="let image of searchResults">
  <img
    width="300"
    [attr.src]="
      'https://data.sbb.ch/explore/dataset/historische-bahnhofbilder/files/' + image.id + '/300/'
    "
  />
</span>
