.navlist li {
    font-size: 13px;
    margin: 5px 0;
}

ul.navlist {
    list-style: none;
    margin: 20px 0 20px 0; 
    padding-left: 0;
    overflow-y:scroll;
    overflow-x: hidden;
    height:330px;
}

.navlist a, .navlist a:visited {
    color: #444;
}

h3.navtitle {
    font-size: 17px;
    font-weight: 500;
    margin: 40px 0 10px 0;
}

.icon-flex-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-end;
    align-content: space-around;
}
  
:host ::ng-deep .icon-flex-column {
    flex-grow: 1;
}
  
:host ::ng-deep .icon-sm {
    width: .875em;
}
  
:host ::ng-deep .icon-lg {
    width: 1.33em;
}
  
:host ::ng-deep .icon-2x {
    width: 2em;
}
  
:host ::ng-deep .icon-3x {
    width: 3em;
}
  
:host ::ng-deep .icon-5x {
    width: 5em;
}
  
:host ::ng-deep .icon-7x {
    width: 7em;
}
