# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/bazel-out
/dist
/tmp
/out-tsc

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.iml

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
docker/browser
*LintReport.json
.husky/_

# System Files
.DS_Store
Thumbs.db

# Projects node_modules
.history/
.js
.js.map
.d.ts
.bazel-out_tmp
.ng-dev.log
