# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
docker/browser
*LintReport.json

# System Files
.DS_Store
Thumbs.db

# Projects node_modules
.history/
yarn.lock
.js
.js.map
.d.ts

# Markdown
projects/angular-showcase/src/assets/docs
projects/angular-showcase/src/assets/examples

# Copied modules
projects/sbb-esta/angular-business/accordion
projects/sbb-esta/angular-business/autocomplete
projects/sbb-esta/angular-business/badge
projects/sbb-esta/angular-business/datepicker
projects/sbb-esta/angular-business/dropdown
projects/sbb-esta/angular-business/field
projects/sbb-esta/angular-business/input
projects/sbb-esta/angular-business/pagination
projects/sbb-esta/angular-business/option
projects/sbb-esta/angular-business/radio-button
projects/sbb-esta/angular-business/select
projects/sbb-esta/angular-business/tabs
projects/sbb-esta/angular-business/textarea
projects/sbb-esta/angular-business/time-input
projects/sbb-esta/angular-business/usermenu
