package.json
package-lock.json
dist
angular.json
.github/*
.vscode/*
src/*/schematics/*/*/files
src/*/schematics/ng-update/test-cases
src/*/schematics/ng-add/test-cases
tools/schematics/*/index.js
tools/schematics/*/files
coverage
**/*.properties
CHANGELOG.md
CONTRIBUTING.md
*.bazel
*.bzl
WORKSPACE
src/showcase-merge/assets/stack-blitz/*
bazel-out
