package.json
package-lock.json
dist
angular.json
.github/*
.vscode/*
src/*/schematics/*/*/files
src/*/schematics/ng-update/test-cases
src/*/schematics/ng-add/test-cases
src/angular-icons/*
tools/schematics/*/index.js
tools/schematics/*/files
coverage
**/svg-icons/**/icon-*.module.ts
**/*.svg
**/*.properties
CHANGELOG.md
CONTRIBUTING.md
*.bazel
*.bzl
WORKSPACE
src/showcase/assets/stackblitz/*
src/showcase-merge/assets/stackblitz/*
bazel-out
