package.json
package-lock.json
dist
angular.json
.github/*
.vscode/*
src/*/schematics/*/*/index.js
src/*/schematics/*/*/files
src/angular-core/icon/icon-cdn-provider.ts
schematics/*/index.js
schematics/*/files
coverage
**/svg-icons/**/icon-*.module.ts
**/*.svg
**/*.properties
CHANGELOG.md
CONTRIBUTING.md
*.bazel
*.bzl
WORKSPACE