@use '@sbb-esta/angular' as sbb;

sbb-cdn-icon {
  width: 100px;
  min-height: 124px;
  margin-right: 20px;
  margin-bottom: 20px;
  display: inline-block;
}

.sbb-cdn-icon-filter-bar {
  margin-bottom: 30px;

  @include sbb.mq($from: desktop) {
    display: flex;

    sbb-form-field,
    div {
      flex: 1 0 0;
      margin-right: 15px;
    }

    div {
      align-self: center;
    }
  }
}

.icon-paginator {
  display: block;
  margin: 1em 0 2em 0;
}
