@import '../../../angular-core/styles/common/variables';
@import '../../../angular-core/styles/common/colors';
@import '../../../angular-core/styles/common/functions';
@import '../../../angular-core/styles/common/mediaqueries';
@import '../../../angular-core/styles/common/button';

@mixin textexpand {
  color: $sbbColorMetal;
  letter-spacing: 0;
  line-height: 1.538;
  font-size: pxToRem(13);

  @include mq($from: desktop4k) {
    font-size: pxToRem(13 * $scalingFactor4k);
  }

  @include mq($from: desktop5k) {
    font-size: pxToRem(13 * $scalingFactor5k);
  }
}

@mixin textexpandButton {
  @include buttonResetFrameless();

  color: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  font-size: inherit;

  &:focus,
  &:hover {
    color: $sbbColorRed;
  }

  &-label {
    text-decoration: underline;
  }
}
