<label class="sbb-file-selector-label" [for]="inputId">
  <input
    type="file"
    class="cdk-visually-hidden"
    #fileInput
    [attr.id]="inputId"
    [attr.accept]="accept"
    [attr.capture]="capture"
    [attr.multiple]="multiple"
    [disabled]="disabled"
    (change)="fileChange($event)"
    (blur)="_onTouched()"
  />
  <span class="sbb-file-selector-button" [class.sbb-file-selector-disabled]="disabled">
    <span i18n="Button label to select files for upload@@sbbFileSelectorUploadFile"
      >Datei hochladen</span
    >
    <span class="sbb-svgsprite-icon sbb-icon-fit"
      ><sbb-icon svgIcon="kom:upload-small"></sbb-icon
    ></span>
  </span>
</label>

<ul class="sbb-file-selector-list sbb-icon-fit">
  <li *ngFor="let file of filesList">
    <div
      role="presentation"
      class="sbb-file-selector-list-type-icon"
      [ngSwitch]="getFileTypeCat(file)"
    >
      <sbb-icon svgIcon="kom:document-text-small" *ngSwitchCase="fileTypeCategory.DOC"></sbb-icon>
      <sbb-icon
        svgIcon="kom:document-image-small"
        *ngSwitchCase="fileTypeCategory.IMAGE"
      ></sbb-icon>
      <sbb-icon svgIcon="kom:document-pdf-small" *ngSwitchCase="fileTypeCategory.PDF"></sbb-icon>
      <sbb-icon
        svgIcon="kom:document-sound-small"
        *ngSwitchCase="fileTypeCategory.AUDIO"
      ></sbb-icon>
      <sbb-icon
        svgIcon="kom:document-video-small"
        *ngSwitchCase="fileTypeCategory.VIDEO"
      ></sbb-icon>
      <sbb-icon svgIcon="kom:document-zip-small" *ngSwitchCase="fileTypeCategory.ZIP"></sbb-icon>
      <sbb-icon svgIcon="kom:document-standard-small" *ngSwitchDefault></sbb-icon>
    </div>
    <span class="sbb-file-selector-list-desc"
      >{{ file | fileNameNoExtension }} (<span class="sbb-file-selector-list-file-ext">{{
        file | fileExtension
      }}</span
      >, {{ file | fileSizeFormatted }})</span
    >
    <button type="button" class="sbb-file-selector-list-remove-icon" (click)="removeFile(file)">
      <span
        i18n="
          Hidden button label to remove a file from the selection list@@sbbFileSelectorRemoveFile"
        class="cdk-visually-hidden"
        >Datei entfernen</span
      >
      <sbb-icon svgIcon="kom:trash-small"></sbb-icon>
    </button>
  </li>
</ul>
