@import '../../../angular-core/styles/common';

.sbb-file-selector {
  &-button {
    @include buttons;

    &:not(.sbb-file-selector-disabled) {
      @include secondaryButton;
      @include publicOnly() {
        @include arrowbuttons;

        .sbb-svgsprite-icon {
          @include svgIconColor($buttonSecondaryColor);
        }
      }
    }

    @include businessOnly() {
      .sbb-svgsprite-icon {
        display: none;
      }
    }

    @if $sbbBusiness {
      &.sbb-file-selector-disabled {
        &,
        &:hover,
        &:focus {
          border: none;
          @include sbbButtonSecondaryDisabledBusiness;
        }

        &:hover,
        &:focus {
          cursor: default;
        }
      }
    } @else {
      // :not(:disabled) is needed to overwrite button base styles
      &.sbb-file-selector-disabled:not(:disabled) {
        @include disabledButton;

        &:hover,
        &:focus {
          color: $buttonGhostColor;
          border-color: $buttonGhostBorderColor;
          cursor: default;
        }
      }
    }
  }

  &-label {
    display: inline-flex;
    overflow: hidden;

    &:hover {
      cursor: pointer;
    }
  }

  &-list {
    list-style: none;
    padding: 0;
    margin: 0;

    @include publicOnly() {
      @include mq($from: desktop4k) {
        font-size: toEm(1 * $scalingFactor4k);
      }

      @include mq($from: desktop5k) {
        font-size: toEm(1 * $scalingFactor5k);
      }
    }

    li {
      margin-bottom: pxToEm(17);
      padding-left: 0;
    }

    &-type-icon,
    &-remove-icon {
      display: inline-block;
      vertical-align: middle;
    }

    &-type-icon {
      width: pxToEm(24);
      height: pxToEm(24);
      margin-right: 0.5em;
      margin-bottom: pxToEm(2);
    }

    &-desc {
      text-decoration: underline;
    }

    &-remove-icon {
      @include buttonResetFrameless();
      margin-bottom: pxToEm(2);
      position: relative;
      width: pxToEm(32);
      height: pxToEm(32);
      margin-left: pxToEm(8);
      cursor: pointer;

      @include publicOnly() {
        @include svgIconColor($sbbColorAnthracite);
        border: pxToEm(1) solid $sbbColorStorm;
        border-radius: 50%;
      }

      svg {
        @include absoluteCenterXY();
        width: pxToEm(24);
        height: pxToEm(24);
      }
    }

    &-file-ext {
      text-transform: uppercase;
    }
  }
}
