$notificationBaseHeight: 68;
$notificationBaseWidth: 100%;
$notificationIconWidth: 36;
$notificationIconHeight: 36;
$notificationSuccessBackgroundColor: $sbbColorGrey;
$notificationErrorBackgroundColor: $sbbColorRed;
$notificationLinksHeight: 92;
$notificationBorderRadius: 2;
$notificationDefaultFontSize: $sizeFontDefault;
$notificationIconMarginLeft: 16;
$notificationMessageMarginLeft: 16;
$notificationMessageMarginRight: 24;
