<h1>SBB Angular Component Library</h1>

<p>
  Our customers should find their way around SBB's digital channels and get to the information they
  need as quickly as possible. This only works with a consistent user experience across all
  channels, guaranteeing a uniform appearance across all platforms.
</p>

<p>
  SBB's digital guidelines form the visual guidelines in the new media and are binding on both
  internal and external projects. They provide clarity on the most important and everyday
  brand-related questions in online media.
</p>

<p>
  This library is being developed on GitHub (<a
    href="https://github.com/sbb-design-systems/sbb-angular"
    >sbb-design-systems/sbb-angular</a
  >). Any
  <a href="https://github.com/sbb-design-systems/sbb-angular/blob/master/CONTRIBUTING.md"
    >contribution</a
  >
  is always welcome. If you would like to report a problem or have a feature request, feel free to
  open an
  <a href="https://github.com/sbb-design-systems/sbb-angular/issues/new/choose">issue</a>.
</p>

<nav>
  <ul>
    <li *ngFor="let packageEntry of packages | keyvalue">
      <a [routerLink]="['/', packageEntry.key]">
        <div class="hero">
          <img [attr.alt]="packageEntry.value.name" [attr.src]="packageEntry.value.image" />
        </div>
        <span class="title">{{ packageEntry.value.name }}</span>
        <span class="text">{{ packageEntry.value.description }}</span>
      </a>
    </li>
  </ul>
</nav>
