$ghettobox-bg: $sbbColorIron;
$ghettobox-color: $sbbColorWhite;
$ghettobox-border-top: pxToEm(1) solid $sbbColorGrey;
$ghettobox-icon-bg: $sbbColorRed;
$ghettobox-icon-radius: 2px;
$ghettobox-icon-size: pxToEm(24);
$ghettobox-icon-inner-size: pxToEm(20);
$ghettobox-link-icon-size: pxToEm(26);
$ghettobox-wrapper-padding: pxToEm(16);
$ghettobox-wrapper-padding-desktop-x: pxToEm(24);
$ghettobox-wrapper-padding-desktop-y: pxToEm(36);
$ghettobox-wrapper-padding-desktop: $ghettobox-wrapper-padding-desktop-y
  $ghettobox-wrapper-padding-desktop-x;
$ghettobox-link-transition: background-color 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
