@use '@sbb-esta/angular' as sbb;

:is(.sbb-tag, .sbb-tag-link) {
  .sbb-badge {
    display: flex;
    align-self: center;
    // In order to align in the center, we need to slightly move the badge downwards.
    // This is due to the padding of the label inside the sbb-tag.
    margin-top: sbb.pxToRem(1);
  }
  .sbb-badge-content {
    position: relative;
    display: block;
    transition: background-color var(--sbb-transition-fast-start);
    background-color: var(--sbb-tag-badge-background-color-disabled);
  }
}

.sbb-tag {
  display: inline-block;
}

.sbb-tags {
  display: flex;
  flex-wrap: wrap;
  gap: calc(#{sbb.pxToRem(8)} * var(--sbb-scaling-factor));
}

.sbb-tag-base {
  display: flex;
  transition: {
    duration: var(--sbb-transition-duration-fast);
    timing-function: var(--sbb-transition-timing-fast-start);
    property: border-color, background-color, color;
  }
  cursor: pointer;
  background-color: var(--sbb-tag-background-color-inactive);
  border: var(--sbb-border-width-thin) solid transparent;
  border-radius: 1.2em;
  color: var(--sbb-tag-label-color-inactive);

  font-size: var(--sbb-font-size);
  line-height: var(--sbb-line-height-medium);
  padding: sbb.pxToRem(4) sbb.pxToRem(8) sbb.pxToRem(6) sbb.pxToRem(15);

  :where(html:not(.sbb-lean)) & {
    @include sbb.mq($from: desktop4k) {
      padding: sbb.pxToRem(6) sbb.pxToRem(12) sbb.pxToRem(7) sbb.pxToRem(22);
    }
    @include sbb.mq($from: desktop5k) {
      padding: sbb.pxToRem(9) sbb.pxToRem(16) sbb.pxToRem(12) sbb.pxToRem(30);
    }
  }

  :where(html.sbb-lean) & {
    line-height: var(--sbb-line-height);
    padding: sbb.pxToRem(2) sbb.pxToRem(6) sbb.pxToRem(3) sbb.pxToRem(13);
  }
}

.sbb-tag-label {
  position: relative;

  .sbb-badge-content {
    color: var(--sbb-tag-badge-label-color-disabled);
  }

  .sbb-tag:not(.sbb-tag-disabled):is(:hover, :focus, .cdk-focused) & {
    background-color: var(--sbb-tag-background-color-inactive-hover);
    color: var(--sbb-tag-label-color-inactive-hover);

    .sbb-badge-content {
      background-color: var(--sbb-tag-badge-background-color-disabled-hover);
      color: var(--sbb-tag-badge-label-color-default);
    }
  }

  .sbb-tag-active & {
    background-color: var(--sbb-color-background);
    border-color: var(--sbb-tag-border-color-active);
    color: var(--sbb-tag-label-color-active);

    .sbb-badge-content {
      background-color: var(--sbb-tag-badge-background-color-default);
      color: var(--sbb-tag-badge-label-color-default);
    }
  }

  .sbb-tag-active:not(.sbb-tag-disabled):is(:hover, :focus, .cdk-focused) & {
    background-color: transparent;
    border-color: var(--sbb-tag-border-color-active-hover);
    color: var(--sbb-tag-label-color-active-hover);

    .sbb-badge-content {
      background-color: var(--sbb-tag-badge-background-color-default);
    }
  }
}

.sbb-tag-link {
  display: inline-flex;
  background-color: var(--sbb-color-background);
  border-color: var(--sbb-tag-link-border-color);
  color: var(--sbb-tag-link-label-color);
  outline: 0;
  text-decoration: none;

  .sbb-badge-content {
    background-color: var(--sbb-tag-badge-background-color-default);
  }

  &:is(:hover, :focus, :active, .sbb-active) {
    border-color: var(--sbb-color-call-to-action-hover);
    color: var(--sbb-color-call-to-action-hover);

    .sbb-badge-content {
      background-color: var(--sbb-tag-badge-link-background-color-focused);
    }
  }
}
