@import '../styles/common';

:is(.sbb-tag, .sbb-tag-link) {
  .sbb-badge {
    display: flex;
    align-self: center;
  }
  .sbb-badge-content {
    position: relative;
    display: block;
    transition: background-color var(--sbb-transition-tag);
  }
}

.sbb-tag {
  display: inline-block;
}

.sbb-tags {
  display: flex;
  flex-wrap: wrap;
  gap: calc(#{pxToRem(8)} * var(--sbb-scaling-factor));
}

.sbb-tag-base {
  display: flex;
  transition: border-color var(--sbb-transition-tag), background-color var(--sbb-transition-tag),
    color var(--sbb-transition-tag);
  cursor: pointer;
  background-color: var(--sbb-color-milk);
  border: var(--sbb-border-width-thin) solid transparent;
  border-radius: 1.2em;
  color: var(--sbb-color-grey);

  font-size: var(--sbb-font-size);
  line-height: var(--sbb-line-height-medium);
  // TODO
  padding: pxToRem(4) pxToRem(8) pxToRem(6) pxToRem(15);

  :where(html:not(.sbb-lean)) & {
    @include mq($from: desktop4k) {
      padding: pxToRem(6) pxToRem(12) pxToRem(7) pxToRem(22);
    }
    @include mq($from: desktop5k) {
      padding: pxToRem(9) pxToRem(16) pxToRem(12) pxToRem(30);
    }
  }

  :where(html.sbb-lean) & {
    color: var(--sbb-color-granite);
    line-height: pxToRem(23);
    padding: pxToRem(2) pxToRem(6) pxToRem(3) pxToRem(13);
  }
}

.sbb-tag-label {
  .sbb-tag:not(.sbb-tag-disabled):is(:hover, :focus, .cdk-focused) & {
    background-color: var(--sbb-color-cloud);
    color: var(--sbb-color-black);

    .sbb-badge-content {
      background-color: var(--sbb-color-cement);
    }
  }

  .sbb-tag-active & {
    background-color: var(--sbb-color-background);
    border-color: var(--sbb-color-black);
    color: var(--sbb-color-black);
  }

  .sbb-tag-active:not(.sbb-tag-disabled):is(:hover, :focus, .cdk-focused) & {
    background-color: transparent;
    border-color: var(--sbb-color-graphite);
    color: var(--sbb-color-grey);

    .sbb-badge-content {
      background-color: var(--sbb-color-red);

      :where(html.sbb-lean) & {
        background-color: var(--sbb-color-black);
      }
    }
  }

  .sbb-tag-disabled & {
    cursor: default;
  }
}

.sbb-tag-link {
  display: inline-flex;
  background-color: var(--sbb-color-background);
  border-color: var(--sbb-color-black);
  color: var(--sbb-color-black);
  outline: 0;

  &:is(:hover, :focus, :active, .sbb-active) {
    border-color: var(--sbb-color-call-to-action-hover);
    color: var(--sbb-color-call-to-action-hover);

    .sbb-badge-content {
      :where(html.sbb-lean) & {
        background-color: var(--sbb-color-call-to-action-hover);
      }
    }
  }
}
