@import '../../../../angular-core/styles/common/variants';

$selectMaxWidth: 480;
$selectArrowWidthHeight: 24;
$selectArrowRight: 12;
$selectTriggerPaddingRight: 44;

@if $sbbBusiness {
  $selectTriggerPaddingRight: 38;
  $selectArrowRight: 6;
}
