@mixin formError($borderColor) {
  display: block;
  letter-spacing: 0;
  outline: none;
  resize: none;
  opacity: 1;
  font-family: $fontSbbRoman;
  font-size: pxToRem($formErrorFontSize);
  line-height: pxToEm($formErrorLineHeight, $formErrorFontSize);
  color: $colorError;

  @include mq($from: desktop4k) {
    font-size: pxToRem($formErrorFontSize * $scalingFactor4k);
  }

  @include mq($from: desktop5k) {
    font-size: pxToRem($formErrorFontSize * $scalingFactor5k);
  }
}
