// https://digital.sbb.ch/en/farben

// Core Colors
$sbbColorRed: #EB0000;
$sbbColorRed125: #C60018;
$sbbColorRed150: #A20013;
$sbbColorWhite: #FFFFFF;
$sbbColorMilk: #F6F6F6;
$sbbColorCloud: #E5E5E5;
$sbbColorSilver: #DCDCDC;
$sbbColorAluminum: #D2D2D2;
$sbbColorPlatinum: #CDCDCD;
$sbbColorCement: #BDBDBD;
$sbbColorGraphite: #B7B7B7;
$sbbColorStorm: #A8A8A8;
$sbbColorMetal: #767676;
$sbbColorGranite: #686868;
$sbbColorAnthracite: #5A5A5A;
$sbbColorIron: #444444;
$sbbColorBlack: #000000;
$sbbColorBlue: #2d327d;

// Extended Colors
$sbbColorSky: #0079C7;
$sbbColorNight: #143A85;
$sbbColorViolet: #6F2282;
$sbbColorAutumn: #E84E10;
$sbbColorOrange: #F27E00;
$sbbColorPeach: #FCBB00;
$sbbColorLemon: #FFDE15;
$sbbColorGreen: #00973B;

// Non-Standard Colors
$sbbColorGrey: #666666;
$sbbColorGreyMedium: #979797;

// Context Colors
$sbbColorBg: $sbbColorWhite;
$sbbColorCallToAction: $sbbColorRed;
$sbbColorCallToActionHover: $sbbColorRed125;
$sbbColorError: $sbbColorRed;
$sbbColorText: $sbbColorBlack;