@import '../../../../../angular-core/styles/common/functions';
@import '../../../../../angular-core/styles/common/mixins';
@import '../../dialog';

$dialog-footer-padding: 7;
$dialog-footer-button-bottom-padding: 10;
$dialog-footer-button-left-padding: 8;

.sbb-dialog-footer {
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $dialog-bgcolor;

  border-left: 1px solid $sbbColorGranite;
  border-right: 1px solid $sbbColorGranite;
  border-bottom: 1px solid $sbbColorGranite;
  border-top: 1px solid $dialog-border-color;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  max-height: pxToEm($dialog-footer-height-mobile + 2);
  min-height: pxToEm($dialog-footer-height-mobile);

  padding: pxToEm($dialog-footer-padding) pxToEm($dialog-x-padding-mobile)
    pxToEm($dialog-footer-padding);

  @include mq($from: tabletPortrait) {
    max-height: pxToEm($dialog-footer-height-tablet + 2);
  }

  @include mq($from: tabletPortrait) {
    flex-direction: row;
    min-height: pxToEm($dialog-footer-height-tablet);
    padding: pxToEm($dialog-footer-padding) pxToEm($dialog-x-padding-tablet)
      pxToEm($dialog-footer-padding);
  }

  @include mq($from: desktop) {
    padding: pxToEm($dialog-footer-padding) pxToEm($dialog-x-padding) pxToEm($dialog-footer-padding);
  }

  button {
    margin-bottom: pxToEm($dialog-footer-button-bottom-padding);
    margin-left: pxToEm($dialog-footer-button-left-padding);

    @include mq($from: tabletPortrait) {
      margin-bottom: 0;
    }
  }
}
