<button
  *ngIf="!_loggedIn"
  class="sbb-button-reset-frameless sbb-usermenu-trigger sbb-usermenu-trigger-logged-out"
  (click)="_emitLogin()"
  type="button"
>
  <sbb-icon svgIcon="kom:user-small" class="sbb-usermenu-logged-out-icon"></sbb-icon>
  <span class="sbb-usermenu-logged-out-label">{{ _labelLogin }}</span>
</button>

<button
  *ngIf="_loggedIn && menu"
  [sbbMenuTriggerFor]="menu"
  (menuOpened)="_emitMenuOpened()"
  (menuClosed)="_emitMenuClosed()"
  class="sbb-button-reset-frameless sbb-usermenu-trigger sbb-usermenu-trigger-logged-in"
  [attr.aria-label]="_labelOpenPanel"
  type="button"
>
  <ng-template sbbMenuDynamicTrigger>
    <ng-container *ngTemplateOutlet="triggerContent"></ng-container>
    <sbb-icon
      [svgIcon]="(variant | async) === 'standard' ? 'kom:chevron-small-down-small' : 'kom:chevron-right-small'"
      class="sbb-usermenu-arrow"
    ></sbb-icon>
  </ng-template>
</button>

<div *ngIf="_loggedIn && !menu" class="sbb-usermenu-trigger sbb-usermenu-trigger-logged-in">
  <ng-template sbbMenuDynamicTrigger>
    <ng-container *ngTemplateOutlet="triggerContent"></ng-container>
  </ng-template>
</div>

<ng-template #triggerContent>
  <span class="sbb-usermenu-identification" aria-hidden="true">
    <ng-container *ngIf="_icon">
      <ng-container *ngTemplateOutlet="_icon"></ng-container>
    </ng-container>
    <span *ngIf="!_icon" class="sbb-usermenu-initial-letters"> {{ _initialLetters }} </span>
  </span>

  <span class="sbb-usermenu-user-info">
    <span class="sbb-usermenu-user-info-display-name"> {{ displayName || userName }} </span>
    <span class="sbb-usermenu-user-info-name" *ngIf="displayName && userName">
      {{ userName }}
    </span>
  </span>
</ng-template>
