.sbbsc-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.sbbsc-sr-only-focusable {
  @extend .sbbsc-sr-only;

  &:active,
  &:focus {
    position: static;
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    white-space: normal;
  }
}

.sbbsc-no-padding {
  padding: 0;
}

@-ms-viewport {
  width: device-width;
}

body {
  padding-top: $headerHeight;
}

.sbbsc-brand-header {
  padding: 0;
  width: inherit;
  background-color: #fff;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  height: $headerHeight;
  border-bottom: solid 1px #ccc;
  z-index: 99;

  .sbbsc-home {
    height: $headerHeight;
    display: block;
    float: right;
    padding: 14px 50px;

    svg {
      width: 178px;
      height: 20px;
      display: block;
    }
  }

  .sbbsc-beta {
    position: fixed;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    z-index: 3000;
  }
}

.sbbsc-content-section-left,
.sbbsc-nav {
  @include mq($from: tabletLandscape) {
    max-width: $left-nav-width;
  }
}

.sbbsc-content-section-main {
  @include mq($from: tabletLandscape) {
    min-width: calc(100% - #{$left-nav-width});
  }
}

.sbbsc-main-content {
  padding: $main-content-padding-mobile;

  @include mq($from: tabletLandscape) {
    padding: $main-content-padding;
  }
}
