<ng-container [ngSwitch]="icon">
  <sbb-icon-facebook class="sbb-svgsprite-icon" *ngSwitchCase="'facebook'"></sbb-icon-facebook>
  <sbb-icon-instagram class="sbb-svgsprite-icon" *ngSwitchCase="'instagram'"></sbb-icon-instagram>
  <sbb-icon-pinterest class="sbb-svgsprite-icon" *ngSwitchCase="'pinterest'"></sbb-icon-pinterest>
  <sbb-icon-twitter class="sbb-svgsprite-icon" *ngSwitchCase="'twitter'"></sbb-icon-twitter>
  <sbb-icon-xing class="sbb-svgsprite-icon" *ngSwitchCase="'xing'"></sbb-icon-xing>
  <sbb-icon-youtube class="sbb-svgsprite-icon" *ngSwitchCase="'youtube'"></sbb-icon-youtube>
  <sbb-icon-linkedin class="sbb-svgsprite-icon" *ngSwitchCase="'linkedin'"></sbb-icon-linkedin>
</ng-container>
