<div class="conatiner">
  <div class="row justify-content-between">  
     <div class="col-6">
        <h6>1. Label with Input</h6> 
        <hr/>
        <form autocomplete="off" [formGroup]="myForm1">
          <div class="form-group">
            <sbb-field for="name1" label="Name"></sbb-field>
            <input type="text" formControlName="name1" required (keyup)="onKeyEnter1($event)" class="form-control" placeholder="Please enter your name ..." id="name1" spellcheck="false">
          </div>
          <div class="form-group">Chars : {{ valueFromInput1 }}</div>
          <div class="form-group">
              <sbb-form-error *ngIf="myForm1.get('name1').errors?.required" errorMsg="Name is required!">
              </sbb-form-error>
          </div>
        </form>
     </div>
     <div class="col-6">
        <h6>2. Label with optional Text, Tooltip and Input</h6>
        <hr/>
        <form autocomplete="off" [formGroup]="myForm2">
          <div class="form-group">
            <sbb-field for="name2" label="Name" optional="With optional Text" toolTip="Here comes the Tooltip"></sbb-field>
            <input type="text" formControlName="name2" (keyup)="onKeyEnter2($event)" class="form-control" placeholder="Please enter your name ..." id="name2" spellcheck="false" required minlength="3">
          </div>
          <div class="form-group">Chars : {{ valueFromInput2 }}</div>
          <div class="form-group">
              <sbb-form-error *ngIf="myForm2.get('name2').errors?.required" errorMsg="Name is required!">
              </sbb-form-error>
              <sbb-form-error *ngIf="myForm2.get('name2').errors?.minlength" errorMsg="Name must contain at least 3 characters!">
              </sbb-form-error>
          </div>
        </form>  
      </div>
  </div>
</div>
