<sbb-notification type="info" class="api-key-info"
  >This example uses a test API key, that might be disabled at any time.
</sbb-notification>
<div class="web-map">
  @if (form.get("mapVisible")?.value) {
  <sbb-journey-maps
    #advancedMap
    language="en"
    [styleOptions]="form.get('styleOptions')?.value"
    [interactionOptions]="interactionOptions"
    [listenerOptions]="form.get('listenerOptions')?.value"
    [uiOptions]="form.get('uiOptions')?.value"
    [viewportDimensions]="viewportDimensions"
    [viewportBounds]="form.get('viewportBounds')?.value"
    [homeButtonOptions]="homeButtonOptions"
    [apiKey]="apiKey"
    [markerOptions]="form.get('markerOptions')?.value"
    [markerDetailsTemplate]="markerDetailsTemplate"
    [journeyMapsRoutingOption]="journeyMapsRoutingOption"
    [journeyMapsZones]="form.get('zoneGeoJson')?.value"
    [poiOptions]="form.get('pointsOfInterestOptions')?.value"
    [(selectedMarkerId)]="selectedMarkerId"
    [selectedLevel]="this.form.get('level')?.value"
    (selectedLevelChange)="this.changeSelectedLevel($event)"
    (mapCenterChange)="mapCenterChange.next($event)"
    (mapBoundsChange)="mapBoundingBoxChange.next($event)"
    (zoomLevelsChange)="zoomLevels=$event"
    (visibleLevelsChange)="visibleLevels.next($event)"
  ></sbb-journey-maps>
  }
  <ng-template #markerDetailsTemplate let-marker>
    <div class="markerdetails-title">{{marker.title}}</div>
    <div class="markerdetails-subtitle">{{marker.subtitle}}</div>
  </ng-template>
  <ng-template #stationTemplate let-station>
    <div class="station-title">{{station.properties.name}}</div>
    <div class="station-subtitle">{{station.properties.sbb_id}}</div>
  </ng-template>
  <ng-template #routeTemplate let-route>
    <div class="route-title">{{route.properties.routeId}}</div>
  </ng-template>
  <ng-template #poiTemplate let-poi>
    <div>{{poi.properties.name}}</div>
    <div>{{poi.properties.sbbId}}</div>
  </ng-template>
</div>
<div>
  <form [formGroup]="form">
    <ul>
      <li class="sbb-label">
        Map move / pan with one finger: {{(interactionOptions.oneFingerPan ?? false) ? 'on' :
        'off'}}
      </li>

      <li class="sbb-label">
        Map zoom with scroll wheel: {{(interactionOptions.scrollZoom ?? false) ? 'on' : 'off'}}
      </li>

      <li class="sbb-label">
        Map center (lng / lat): {{mapCenterInfo()?.lng | number: '1.1-6'}}, {{mapCenterInfo()?.lat |
        number:'1.1-6'}}
      </li>

      <li class="sbb-label">{{mapBoundingBoxInfo()}}</li>

      <li class="sbb-label">
        Map zoom (within range {{zoomLevels?.minZoom}}..{{zoomLevels?.maxZoom}} ):
        {{zoomLevels?.currentZoom | number: '1.1-2'}}
      </li>

      <li>
        <hr />
      </li>

      <li>
        <div class="sbb-checkbox-group-horizontal">
          <sbb-checkbox formControlName="mapVisible"> Map visibility</sbb-checkbox>
          <ng-container formGroupName="uiOptions">
            <sbb-checkbox formControlName="showSmallButtons">Small map controls</sbb-checkbox>
            <sbb-checkbox formControlName="basemapSwitch">Basemap Switch</sbb-checkbox>
            <sbb-checkbox formControlName="levelSwitch">Level Switcher</sbb-checkbox>
            <sbb-checkbox formControlName="homeButton">Home Button</sbb-checkbox>
            <sbb-checkbox formControlName="geoLocation">Show GeoLocation</sbb-checkbox>
          </ng-container>
          <sbb-checkbox formControlName="limitMaxBounds"> Limit max bounds to CH</sbb-checkbox>
        </div>
      </li>

      <li formGroupName="styleOptions">
        <sbb-radio-group class="sbb-checkbox-group-horizontal" formControlName="mode">
          <sbb-radio-button value="bright">Bright Mode</sbb-radio-button>
          <sbb-radio-button value="dark">Dark Mode</sbb-radio-button>
        </sbb-radio-group>
        <div class="rail-options" formGroupName="railNetwork">
          <span class="sbb-label">Rail network color (v2 style only)</span>
          <sbb-select formControlName="railNetworkColor">
            @for (color of railColors; track color) {
            <sbb-option [value]="color.value">{{color.label}}</sbb-option>
            }
          </sbb-select>
        </div>
      </li>

      <li formGroupName="styleVersion">
        <span class="sbb-label">Style</span>
        <sbb-radio-group class="sbb-checkbox-group-horizontal" formControlName="versionNumber">
          <sbb-radio-button value="v1">v1</sbb-radio-button>
          <sbb-radio-button value="v2">v2</sbb-radio-button>
        </sbb-radio-group>
      </li>

      <li>
        <span class="sbb-label">Zoom map</span>
        <button sbb-ghost-button (click)="client.zoomIn()">Zoom In</button>
        <button sbb-ghost-button (click)="client.zoomOut()">Zoom Out</button>
      </li>

      <li formGroupName="viewportBounds">
        <sbb-form-field>
          <span class="sbb-label">Min Zoom</span>
          <input
            sbbInput
            type="number"
            required="true"
            min="0"
            [max]="(form.get('viewportBounds.maxZoomLevel')?.value ?? 24) - 1"
            formControlName="minZoomLevel"
          />
        </sbb-form-field>
        <sbb-form-field>
          <span class="sbb-label">Max Zoom</span>
          <input
            sbbInput
            type="number"
            required="true"
            [min]="(form.get('viewportBounds.minZoomLevel')?.value ?? 0) + 1"
            max="24"
            formControlName="maxZoomLevel"
          />
        </sbb-form-field>
      </li>

      <li>
        <span class="sbb-label">Move / pan map</span>
        <button sbb-ghost-button (click)="client.moveNorth()">North</button>
        <button sbb-ghost-button (click)="client.moveEast()">East</button>
        <button sbb-ghost-button (click)="client.moveSouth()">South</button>
        <button sbb-ghost-button (click)="client.moveWest()">West</button>
      </li>

      <li>
        <div formGroupName="listenerOptions">
          <span class="sbb-label">Map interaction configuration</span>
          <div class="sbb-checkbox-group-horizontal">
            @for (type of listenerOptionTypes(); track type) {
            <ng-container [formGroupName]="type">
              <sbb-checkbox formControlName="watch">{{type | titlecase}}</sbb-checkbox>
            </ng-container>
            }
          </div>
        </div>
      </li>

      <li>
        <span class="sbb-label">Teaser / Popup actions</span>
        <button sbb-ghost-button (click)="client.unselectAll(['MARKER', 'POI'])">
          Close all Teasers / Popups
        </button>
        <button sbb-ghost-button (click)="client.unselectAll(['POI'])">Close POI Teasers</button>
        <button sbb-ghost-button (click)="client.unselectAll(['MARKER'])">
          Close marker Teasers / Popups
        </button>
      </li>
      <li formGroupName="selectedPoi">
        <span class="sbb-label">POIs</span>
        <sbb-form-field [style.width.px]="400">
          <input sbbInput formControlName="poiId" placeholder="Enter SBB-ID" />
        </sbb-form-field>
        <button
          sbb-ghost-button
          (click)="client.setSelectedPoi(form.get('selectedPoi.poiId')?.value)"
        >
          Select POI
        </button>
      </li>

      <li>
        <span class="sbb-label">
          Map markers@if (selectedMarkerId) {
          <span> (selected: {{selectedMarkerId}})</span>
          }</span
        >
        <button sbb-ghost-button (click)="selectedMarkerId='velo'">Basel</button>
        <button sbb-ghost-button (click)="selectedMarkerId=undefined">Unselect all</button>
      </li>

      <li formGroupName="markerOptions">
        <span class="sbb-label">Map marker info style</span>
        <sbb-radio-group class="sbb-checkbox-group-horizontal" formControlName="popup">
          <sbb-radio-button [value]="true">Popup</sbb-radio-button>
          <sbb-radio-button [value]="false">Teaser</sbb-radio-button>
        </sbb-radio-group>
      </li>

      <li formGroupName="pointsOfInterestOptions">
        <sbb-form-field label="POI Environment">
          <sbb-select formControlName="environment">
            @for (environment of ['prod', 'int']; track environment) {
            <sbb-option [value]="environment">{{environment}}</sbb-option>
            }
          </sbb-select>
        </sbb-form-field>
        <sbb-form-field label="POI Subcategories">
          <sbb-select multiple formControlName="categories">
            @for (category of ['park_rail', 'car_sharing', 'p2p_car_sharing', 'bike_parking',
            'bike_sharing', 'on_demand']; track category) {
            <sbb-option [value]="category">{{category}}</sbb-option>
            }
          </sbb-select>
        </sbb-form-field>
        <sbb-checkbox formControlName="includePreview">Include preview-POIs?</sbb-checkbox>
      </li>

      <li>
        <sbb-form-field label="Select zones">
          <sbb-select formControlName="zoneGeoJson" placeholder="(none)">
            @for (input of journeyMapsZoneOptions; track input) {
            <sbb-option [value]="input.value">{{input.label}}</sbb-option>
            }
          </sbb-select>
        </sbb-form-field>
        <sbb-form-field label="Select route">
          <sbb-select formControlName="routingGeoJson" placeholder="(none)">
            @for (input of journeyMapsRoutingOptions; track input) {
            <sbb-option [value]="input.value"> {{input.label}} </sbb-option>
            }
          </sbb-select>
        </sbb-form-field>
        @if (journeyMapsRoutingLegIds.length) {
        <sbb-form-field label="Select leg">
          <sbb-select formControlName="routingLegId" placeholder="(none)">
            <sbb-option [value]="">(none)</sbb-option>
            @for (legId of journeyMapsRoutingLegIds; track legId) {
            <sbb-option [value]="legId"> {{legId || '(none)'}} </sbb-option>
            }
          </sbb-select>
        </sbb-form-field>
        }
      </li>
      @if (visibleLevels | async; as visibleLevels) {
      <li>
        @if (!visibleLevels.length) {
        <sbb-notification type="info">No indoor data visible in map </sbb-notification>
        } @if (visibleLevels.length) {
        <div>
          <span class="sbb-label">Select indoor level</span>
          <sbb-radio-group class="sbb-checkbox-group-horizontal" formControlName="level">
            @for (level of visibleLevels; track level) {
            <sbb-radio-button [value]="level">Level {{level}}</sbb-radio-button>
            }
          </sbb-radio-group>
        </div>
        }
      </li>
      }
    </ul>
  </form>
</div>
