@mixin optionSelection {
  .sbb-option-selection {
    border: toPx($optionSelectionBorderSize) solid $colorBlack5;
    background-color: $colorBlack5;
    font-size: toPx($sizeFontDefault);
    width: 100%;
    height: toPx($optionSelectionHeight);
    padding: toPx($optionSelectionPadding);
    border-radius: toPx($optionSelectionBorderRadius);
    display: flex;
    transition: border-color 0.15s ease-in-out;
    user-select: none;

    &-checked {
      background-color: $colorWhite;
      border: solid toPx($optionSelectionBorderSize) $colorBlack;
      color: $colorBlack;
    }

    @include mq($from: desktop4k) {
      font-size: toPx($sizeFontDefault * $scalingFactor4k);
      height: toPx($optionSelectionHeight * $scalingFactor4k);
      border: toPx($optionSelectionBorderSize * $scalingFactor4k) solid
        $colorBlack5;
      padding: toPx($optionSelectionPadding * $scalingFactor4k);
      border-radius: toPx($optionSelectionBorderRadius * $scalingFactor4k);
    }

    @include mq($from: desktop5k) {
      font-size: toPx($sizeFontDefault * $scalingFactor5k);
      height: toPx($optionSelectionHeight * $scalingFactor5k);
      border: toPx($optionSelectionBorderSize * $scalingFactor5k) solid
        $colorBlack5;
      padding: toPx($optionSelectionPadding * $scalingFactor5k);
      border-radius: toPx($optionSelectionBorderRadius * $scalingFactor5k);
    }

    &-has-subtitle {
      height: toPx($optionSelectionHeightWithSubtitle);
      @include mq($from: desktop4k) {
        height: toPx($optionSelectionHeightWithSubtitle * $scalingFactor4k);
      }

      @include mq($from: desktop5k) {
        height: toPx($optionSelectionHeightWithSubtitle * $scalingFactor5k);
      }
    }

    &-disabled {
      @include optionSelectionDisabled;
    }

    .sbb-option-selection-header {
      @include radioButtonBase;
    }

    .sbb-option-selection-multiple-header {
      @include checkboxBase;
    }

    .sbb-option-selection-header-subtitle {
      color: $colorGrey;
      font-size: toPx($optionSelectionSubtitleFontSize);

      @include mq($from: desktop4k) {
        font-size: toPx($optionSelectionSubtitleFontSize * $scalingFactor4k);
      }
      @include mq($from: desktop5k) {
        font-size: toPx($optionSelectionSubtitleFontSize * $scalingFactor5k);
      }
    }
  }
}
@mixin optionSelectionDisabled {
  color: $colorGrey;
  background-color: $colorWhite;
  border: toPx($optionSelectionBorderSize) solid $colorBlack5;
  @include mq($from: desktop4k) {
    border: toPx($optionSelectionBorderSize * $scalingFactor4k) solid
      $colorBlack5;
  }
  @include mq($from: desktop5k) {
    border: toPx($optionSelectionBorderSize * $scalingFactor5k) solid
      $colorBlack5;
  }
}
.sbb-option-selection-image {
  width: toPx($optionSelectionImageWidth);
  height: toPx($optionSelectionImageHeight);
  margin-left: auto;
  @include mq($from: desktop4k) {
    width: toPx($optionSelectionImageWidth * $scalingFactor4k);
    height: toPx($optionSelectionImageHeight * $scalingFactor4k);
  }
  @include mq($from: desktop5k) {
    width: toPx($optionSelectionImageWidth * $scalingFactor5k);
    height: toPx($optionSelectionImageHeight * $scalingFactor5k);
  }
  * {
    max-width: 100%;
    max-height: 100%;
  }
}
