$optionSelectionHeight:                64;
$optionSelectionHeightWithSubtitle:    88;
$optionSelectionBorderRadius:           2;
$optionSelectionHeaderMargin:          24;
$optionSelectionPadding:               20;