$optionSelectionHeight:                64;
$optionSelectionHeightWithSubtitle:    88;
$optionSelectionBorderRadius:           2;
$optionSelectionHeaderMargin:          24;
$optionSelectionPadding:               20;
$optionSelectionBorderSize:             1;
$optionSelectionSubtitleFontSize:      13;
$optionSelectionHeaderPaddingLeft:     28;
$optionSelectionImageWidth:            64;
$optionSelectionImageHeight:           40;