@import '../styles/common';

.sbb-file-selector {
  display: inline-block;
}

.sbb-file-selector-label {
  display: inline-flex;
}

.sbb-file-selector-upload-icon {
  display: inline-block;
  margin-left: pxToEm(6);

  // Achieve that icon is not greater than line-height
  margin-bottom: -0.5em;

  .sbb-disabled & {
    display: none;
  }

  :where(html:not(.sbb-lean)) & {
    margin-top: pxToEm(1);
  }
}

.sbb-file-selector-list {
  font-size: var(--sbb-font-size);
  line-height: var(--sbb-line-height);
  margin: var(--sbb-divider-small) 0 0;

  li {
    margin-top: var(--sbb-divider-thin);
  }

  html.sbb-lean & {
    margin-top: var(--sbb-divider-medium);
  }
}

:is(.sbb-file-selector-list-type-icon, .sbb-file-selector-list-remove-icon) {
  display: inline-block;
  vertical-align: middle;
}

.sbb-file-selector-list-type-icon {
  margin-right: pxToEm(8);

  :where(html.sbb-lean) & {
    vertical-align: top;
  }
}

.sbb-file-selector-list-desc {
  text-decoration: underline;
}

.sbb-file-selector-list-remove-icon {
  position: relative;
  width: pxToEm(32);
  height: pxToEm(32);
  margin-left: pxToEm(8);
  cursor: pointer;
  outline: 0;
  color: var(--sbb-color-granite);
  border: var(--sbb-border-width-thin) solid var(--sbb-color-storm);
  border-radius: 50%;
  padding: pxToEm(3);

  &:is(:hover, :focus, :active) {
    color: var(--sbb-color-call-to-action-hover);
    border-color: var(--sbb-color-call-to-action-hover);
  }

  :where(html.sbb-lean) & {
    width: var(--sbb-icon-size-default);
    height: var(--sbb-icon-size-default);
    color: var(--sbb-color-black);
    vertical-align: top;
    border: none;
    padding: 0;
  }
}

.sbb-file-selector-list-file-ext {
  text-transform: uppercase;
}
