@use '@sbb-esta/angular' as sbb;

.sbb-file-selector {
  display: inline-block;
}

.sbb-file-selector-label {
  display: inline-flex;
}

.sbb-file-selector-upload-icon {
  display: inline-block;
  margin-left: calc(#{sbb.pxToRem(6)} * var(--sbb-scaling-factor));

  // Achieve that icon is not greater than line-height
  margin-bottom: -0.5em;

  .sbb-disabled & {
    display: none;
  }

  :where(html:not(.sbb-lean)) & {
    margin-top: var(--sbb-scaling-factor);
  }
}

.sbb-file-selector-list {
  font-size: var(--sbb-font-size);
  line-height: var(--sbb-line-height);
  margin: var(--sbb-divider-small) 0 0;

  li {
    margin-top: var(--sbb-divider-thin);
    display: flex;
    align-items: center;
  }

  :where(html.sbb-lean) & {
    margin-top: var(--sbb-divider-medium);
  }
}

:is(.sbb-file-selector-list-type-icon, .sbb-file-selector-list-remove-icon) {
  display: inline-flex;
}

.sbb-file-selector-list-type-icon {
  margin-right: calc(#{sbb.pxToRem(8)} * var(--sbb-scaling-factor));

  :where(html.sbb-lean) & {
    vertical-align: top;
  }
}

.sbb-file-selector-list-desc {
  text-decoration: underline;
}

.sbb-file-selector-list-remove-icon {
  position: relative;
  width: calc(#{sbb.pxToRem(32)} * var(--sbb-scaling-factor));
  height: calc(#{sbb.pxToRem(32)} * var(--sbb-scaling-factor));
  margin-left: calc(#{sbb.pxToRem(8)} * var(--sbb-scaling-factor));
  cursor: pointer;
  outline: 0;
  color: var(--sbb-file-selector-list-remove-icon-color);
  border: var(--sbb-border-width-thin) solid var(--sbb-color-storm);
  border-radius: 50%;
  padding: calc(#{sbb.pxToRem(3)} * var(--sbb-scaling-factor));

  &:is(:hover, :focus, :active) {
    color: var(--sbb-color-call-to-action-hover);
    border-color: var(--sbb-color-call-to-action-hover);
  }

  :where(html.sbb-lean) & {
    width: var(--sbb-icon-size-default);
    height: var(--sbb-icon-size-default);
    vertical-align: top;
    border: none;
    padding: 0;
  }
}

.sbb-file-selector-list-file-ext {
  text-transform: uppercase;
}
