<label
  class="sbb-file-selector-label sbb-secondary-button"
  [class.sbb-disabled]="disabled"
  [for]="inputId"
>
  <input
    type="file"
    class="cdk-visually-hidden"
    #fileInput
    [attr.id]="inputId"
    [attr.accept]="accept"
    [attr.capture]="capture"
    [attr.multiple]="multiple"
    [disabled]="disabled"
    (change)="fileChange($event)"
    (blur)="_onTouched()"
  />
  {{ _labelUploadFile }}
  <span class="sbb-file-selector-upload-icon">
    <sbb-icon class="sbb-icon-scaled" svgIcon="upload-small"></sbb-icon>
  </span>
</label>

@if (filesList?.length) {
<ul class="sbb-file-selector-list sbb-clean-list sbb-icon-scaled">
  @for (file of filesList; track file) {
  <li>
    <div role="presentation" class="sbb-file-selector-list-type-icon">
      @switch (_resolveFileTypeCategory(file)) { @case ('doc') {
      <sbb-icon svgIcon="document-text-small"></sbb-icon>
      } @case ('image') {
      <sbb-icon svgIcon="document-image-small"></sbb-icon>
      } @case ('pdf') {
      <sbb-icon svgIcon="document-pdf-small"></sbb-icon>
      } @case ('audio') {
      <sbb-icon svgIcon="document-sound-small"></sbb-icon>
      } @case ('video') {
      <sbb-icon svgIcon="document-video-small"></sbb-icon>
      } @case ('zip') {
      <sbb-icon svgIcon="document-zip-small"></sbb-icon>
      } @default {
      <sbb-icon svgIcon="document-standard-small"></sbb-icon>
      } }
    </div>
    <span class="sbb-file-selector-list-desc"
      >{{ _fileNameNoExtension(file) }} (<span class="sbb-file-selector-list-file-ext"
        >{{ _fileExtension(file) }}</span
      >, {{ _fileSizeFormatted(file) }})</span
    >
    <button
      type="button"
      class="sbb-file-selector-list-remove-icon sbb-button-reset-frameless"
      (click)="removeFile(file)"
    >
      <span class="cdk-visually-hidden">{{ _labelRemoveFile }}</span>
      <sbb-icon svgIcon="trash-small"></sbb-icon>
    </button>
  </li>
  }
</ul>
}
