@import '../styles/common';

.sbb-status {
  display: inline-flex;
  align-items: center;
  font-size: var(--sbb-font-size);
  line-height: var(--sbb-line-height);
  height: pxToEm(24);
}

.sbb-status-icon {
  width: pxToEm(24);
  height: pxToEm(24);
  border-radius: pxToRem(1);
  color: $sbbColorWhite;

  :where(html:not(.sbb-lean)) & {
    @include mq($from: desktop4k) {
      border-radius: pxToRem(2);
    }
  }
}

// Variant for .sbb-status-icon
.sbb-status-icon-valid {
  background-color: $sbbColorGreen;
}

// Variant for .sbb-status-icon
.sbb-status-icon-warning {
  background-color: $sbbColorOrange;
}

// Variant for .sbb-status-icon
.sbb-status-icon-invalid {
  background-color: $sbbColorRed;
}

.sbb-status-message {
  background-color: $sbbColorMilk;
  color: $sbbColorGranite;
  font-family: $fontSbbRoman;
  margin-left: pxToEm(6);
  padding: pxToEm(0) pxToEm(8) pxToEm(1) pxToEm(8);
}
