<div
  class="sbb-usermenu-logged-in"
  [sbbDropdown]="dropdown"
  tabindex="0"
  [class.sbb-usermenu-hidden]="!userName"
  [class.sbb-usermenu-logged-in-active]="dropdown.open"
  [sbbDropdownDisabled]="!userName"
>
  <div
    class="sbb-usermenu-logged-in-collapsed"
    [class.sbb-usermenu-logged-in-collapsed-dropdown-expanded]="dropdown.open"
  >
    <ng-container *ngIf="userName && userName.length">
      <div class="sbb-usermenu-logged-in-collapsed-user-icon">
        <div #icon class="sbb-usermenu-logged-in-collapsed-icon">
          <ng-content select="[sbbIcon]"></ng-content>
        </div>
        <div class="sbb-usermenu-logged-in-collapsed-initial-letters" *ngIf="!icon.children.length">
          <div>{{ getInitialLetters() }}</div>
        </div>
      </div>
      <div
        class="sbb-usermenu-logged-in-expanded-info-user"
        [class.sbb-usermenu-logged-in-expanded-info-user-dropdown-open]="dropdown.open"
      >
        <div
          class="sbb-usermenu-logged-in-expanded-displayName"
          [class.sbb-displayName-logged-in-collapsed]="!dropdown.open"
        >
          {{ displayName || userName }}
        </div>
        <div class="sbb-usermenu-logged-in-expanded-username" *ngIf="dropdown.open && displayName">
          {{ userName }}
        </div>
      </div>
      <div
        class="sbb-usermenu-logged-in-collapsed-arrow"
        *ngIf="userName && userName.length && !dropdown.open"
      >
        <sbb-icon-chevron-small-down></sbb-icon-chevron-small-down>
      </div>
    </ng-container>
    <div class="sbb-usermenu-logged-in-expanded-arrow-above">
      <div class="sbb-usermenu-logged-in-expanded-arrow" *ngIf="dropdown.open">
        <sbb-icon-chevron-small-down></sbb-icon-chevron-small-down>
      </div>
    </div>
  </div>
</div>
<div class="sbb-usermenu-logged-off" *ngIf="!userName">
  <button class="sbb-usermenu-logged-off-button" (click)="emitLogin()" type="button">
    <sbb-icon-user></sbb-icon-user>
    <ng-container i18n="Button label for login@@sbbUsermenuLogin">Login</ng-container>
  </button>
</div>

<ng-content select="sbb-dropdown"></ng-content>
