@import '../../../angular-core/styles/common';
$borderWidth: 1px;
$borderWidth4k: 3px;
$borderWidth5k: 4px;

$border: solid $borderWidth $sbbColorGraphite;
$borderActive: if($sbbBusiness, solid 1px $sbbColorIron, solid 2px $sbbColorGrey);
$textColor: if($sbbBusiness, $sbbColorIron, $sbbColorMetal);

$border4k: solid $borderWidth4k $sbbColorGraphite;
$border5k: solid $borderWidth5k $sbbColorGraphite;
$borderActive4k: solid toPx($borderWidth4k) $sbbColorGrey;
$borderActive5k: solid toPx($borderWidth5k) $sbbColorGrey;

$panelWidth: 288px;
$panelWidth4k: toPx($panelWidth * $scalingFactor4k);
$panelWidth5k: toPx($panelWidth * $scalingFactor5k);

.sbb-usermenu {
  cursor: pointer;
  display: inline-block;

  .sbb-usermenu-logged-in {
    position: relative;
    align-items: center;
    display: flex;
    width: $panelWidth;
    height: 48px;
    line-height: 1.533;
    border: if($sbbBusiness, 1px solid transparent, 2px solid transparent);
    background-color: $sbbColorWhite;

    @include publicOnly() {
      @include mq($from: desktop4k) {
        width: $panelWidth4k;
        height: toPx(72);
        border: 3px solid transparent;
      }

      @include mq($from: desktop5k) {
        width: $panelWidth5k;
        height: toPx(96);
        border: 4px solid transparent;
      }
    }

    &.sbb-usermenu-hidden {
      display: none;
    }

    &.sbb-usermenu-logged-in-active {
      border: $borderActive;
      outline: 0;

      @include businessOnly() {
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
      }

      @include publicOnly() {
        @include mq($from: desktop4k) {
          border: $borderActive4k;
        }

        @include mq($from: desktop5k) {
          border: $borderActive5k;
        }
      }

      .sbb-usermenu-logged-in-collapsed {
        padding-left: if($sbbBusiness, 4px, 18px);
        @include publicOnly() {
          @include mq($from: desktop4k) {
            padding-left: toPx(24);
          }
          @include mq($from: desktop5k) {
            padding-left: toPx(32);
          }
        }
      }
    }

    .sbb-usermenu-logged-in-collapsed {
      display: flex;
      align-items: center;
      width: 100%;
      transition: 0.1s ease-in-out padding;
      padding-left: 4px;
      @include mq($from: tablet) {
        padding-left: if($sbbBusiness, 4px, 18px);
      }
      @include publicOnly() {
        @include mq($from: desktop4k) {
          padding-left: toPx(24);
        }
        @include mq($from: desktop5k) {
          padding-left: toPx(32);
        }
      }

      .sbb-usermenu-logged-in-collapsed-user-icon {
        flex: 0 0 32px;
        width: 118px;

        @include publicOnly() {
          @include mq($from: desktop4k) {
            flex-basis: toPx(32 * $scalingFactor4k);
          }

          @include mq($from: desktop5k) {
            flex-basis: toPx(32 * $scalingFactor5k);
          }
        }

        .sbb-usermenu-logged-in-collapsed-initial-letters {
          border-radius: 50%;
          background-color: $sbbColorCloud;
          font-family: $fontFamilyBase;
          font-size: pxToRem(15);
          color: $textColor;
          font-weight: 700;
          width: 32px;
          height: 32px;
          text-align: center;
          position: relative;

          @include publicOnly() {
            @include mq($from: desktop4k) {
              font-size: pxToRem(23);
              width: toPx(32 * $scalingFactor4k);
              height: toPx(32 * $scalingFactor4k);
            }

            @include mq($from: desktop5k) {
              font-size: pxToRem(30);
              width: toPx(32 * $scalingFactor5k);
              height: toPx(32 * $scalingFactor5k);
            }
          }

          > div {
            @include absoluteCenterXY;
          }
        }
      }

      &.sbb-usermenu-logged-in-collapsed-dropdown-expanded {
        width: 100%;
      }

      .sbb-usermenu-logged-in-collapsed-arrow {
        color: $textColor;
        width: toPx(24);
        height: toPx(24);
        position: relative;
        pointer-events: none;
        flex-shrink: 0;

        @include mq($to: tabletPortrait) {
          display: none;
        }

        @include publicOnly() {
          @include mq($from: desktop4k) {
            width: toPx(24 * $scalingFactor4k);
            height: toPx(24 * $scalingFactor4k);
          }

          @include mq($from: desktop5k) {
            width: toPx(24 * $scalingFactor5k);
            height: toPx(24 * $scalingFactor5k);
          }
        }
      }

      .sbb-usermenu-logged-in-expanded-info-user {
        padding-left: 4px;
        max-width: calc(100% - 58px);
        overflow: hidden;

        @include publicOnly() {
          @include mq($from: desktop4k) {
            padding-left: toPx(4 * $scalingFactor4k);
            max-width: calc(100% - #{58px * $scalingFactor4k});
          }

          @include mq($from: desktop5k) {
            padding-left: toPx(4 * $scalingFactor5k);
            max-width: calc(100% - #{58px * $scalingFactor5k});
          }
        }

        &.sbb-usermenu-logged-in-expanded-info-user-dropdown-open {
          flex-grow: 1;
        }

        .sbb-usermenu-logged-in-expanded-username,
        .sbb-usermenu-logged-in-expanded-displayName {
          font-family: $fontSbbRoman;
          color: $textColor;
          @include ellipsis();
        }

        .sbb-usermenu-logged-in-expanded-username {
          font-size: pxToRem(13);

          @include publicOnly() {
            @include mq($from: desktop4k) {
              font-size: pxToRem(13 * $scalingFactor4k);
            }

            @include mq($from: desktop5k) {
              font-size: pxToRem(13 * $scalingFactor5k);
            }
          }
        }

        .sbb-usermenu-logged-in-expanded-displayName {
          font-size: pxToRem(15);

          @include publicOnly() {
            @include mq($from: desktop4k) {
              font-size: pxToRem(23);
            }

            @include mq($from: desktop5k) {
              font-size: pxToRem(30);
            }
          }

          &.sbb-displayName-logged-in-collapsed {
            @include mq($to: tabletPortrait) {
              display: none;
            }
          }
        }
      }

      .sbb-usermenu-logged-in-expanded-arrow-above {
        flex-basis: 24px;

        .sbb-usermenu-logged-in-expanded-arrow {
          color: $textColor;
          width: toPx(24);
          height: toPx(24);
          transform: rotate(180deg);

          @include publicOnly() {
            @include mq($from: desktop4k) {
              width: toPx(24 * $scalingFactor4k);
              height: toPx(24 * $scalingFactor4k);
            }

            @include mq($from: desktop5k) {
              width: toPx(24 * $scalingFactor5k);
              height: toPx(24 * $scalingFactor5k);
            }
          }
        }
      }
    }
  }

  .sbb-usermenu-logged-off {
    display: flex;
    align-items: center;
    position: relative;
    height: 48px;
    width: 156px;
    color: $textColor;

    @include publicOnly() {
      @include mq($from: desktop4k) {
        height: toPx(72);
        width: toPx(103);
      }

      @include mq($from: desktop5k) {
        height: toPx(96);
        width: toPx(134);
      }
    }

    &:hover {
      .sbb-usermenu-logged-off-button {
        color: $sbbColorRed125;
      }
    }

    .sbb-usermenu-logged-off-button {
      @include buttonResetFrameless;
      position: relative;
      width: 100%;
      height: 100%;
      color: inherit;
      cursor: pointer;
      display: flex;
      align-items: center;

      @include publicOnly() {
        @include mq($from: desktop4k) {
          font-size: toPx(14 * $scalingFactor4k);
        }

        @include mq($from: desktop5k) {
          font-size: toPx(14 * $scalingFactor5k);
        }
      }

      .sbb-icon {
        width: 24px;
        height: 24px;
        margin-right: 0.9rem;
        flex-shrink: 0;
        flex-grow: 0;

        @include publicOnly() {
          @include mq($from: desktop4k) {
            height: toPx(36);
            width: toPx(36);
          }

          @include mq($from: desktop5k) {
            height: toPx(48);
            width: toPx(48);
          }
        }
      }

      .sbb-usermenu-logged-off-label {
        display: none;
        @include mq($from: tablet) {
          display: inline;
        }
      }
    }
  }

  .sbb-usermenu-logged-in-collapsed-icon {
    img {
      border-radius: 50%;
    }
    &,
    img {
      width: 32px;
      height: 32px;

      @include publicOnly() {
        @include mq($from: desktop4k) {
          width: toPx(32 * $scalingFactor4k);
          height: toPx(32 * $scalingFactor4k);
        }

        @include mq($from: desktop5k) {
          width: toPx(32 * $scalingFactor5k);
          height: toPx(32 * $scalingFactor5k);
        }
      }
    }
  }
}

.sbb-usermenu-panel {
  @include autocompleteBase();
  position: absolute;
  right: 0;
  overflow: hidden;
}

.sbb-usermenu-inner-panel {
  width: $panelWidth;

  @include publicOnly() {
    @include mq($from: desktop4k) {
      width: $panelWidth4k;
    }

    @include mq($from: desktop5k) {
      width: $panelWidth5k;
    }
  }
}

.sbb-usermenu-item {
  @include buttonResetFrameless;
  @include optionBase;
  width: 100%;

  &[disabled] {
    cursor: default;
    opacity: 0.5;
    user-select: none;
  }
}

hr {
  margin: 4px 0;
  padding: 0;
  border: none;
  border-top: solid 1px $sbbColorCloud;
}
