<button
  *ngIf="!_loggedIn"
  class="sbb-usermenu-trigger sbb-usermenu-logged-off-button"
  (click)="emitLogin()"
  type="button"
>
  <sbb-icon svgIcon="kom:user-small" class="sbb-usermenu-logged-off-icon"></sbb-icon>
  <span class="sbb-usermenu-logged-off-label" i18n="Button label for login@@sbbUsermenuLogin"
    >Login</span
  >
</button>

<ng-container *ngIf="_loggedIn">
  <ng-container *ngTemplateOutlet="usermenuTrigger"></ng-container>
</ng-container>

<ng-template #usermenuTrigger>
  <button class="sbb-usermenu-trigger sbb-usermenu-trigger-open" (click)="toggle()">
    <span class="sbb-usermenu-identification">
      <ng-container *ngIf="_icon">
        <ng-container *ngTemplateOutlet="_icon"></ng-container>
      </ng-container>
      <sbb-icon svgIcon="kom:user-small" class="sbb-usermenu-standard-icon"></sbb-icon>
      <span *ngIf="!_icon" class="sbb-usermenu-initial-letters" aria-hidden="true">
        {{ getInitialLetters() }}
      </span>
    </span>

    <span class="sbb-usermenu-user-info">
      <span class="sbb-usermenu-user-info-display-name">
        {{ displayName || userName }}
      </span>
      <span class="sbb-usermenu-user-info-name" *ngIf="displayName">
        {{ userName }}
      </span>
    </span>

    <sbb-icon svgIcon="kom:chevron-small-down-small" class="sbb-usermenu-arrow"></sbb-icon>
  </button>
</ng-template>

<ng-template
  cdk-connected-overlay
  cdkConnectedOverlayLockPosition
  cdkConnectedOverlayFlexibleDimensions
  [cdkConnectedOverlayMinHeight]="_triggerRect?.height!"
  [cdkConnectedOverlayWidth]="_overlayWidth"
  cdkConnectedOverlayHasBackdrop
  cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
  cdkConnectedOverlayPanelClass="sbb-overlay-panel"
  [cdkConnectedOverlayScrollStrategy]="_scrollStrategy"
  [cdkConnectedOverlayOrigin]="{ elementRef: _elementRef }"
  [cdkConnectedOverlayOpen]="panelOpen"
  [cdkConnectedOverlayPositions]="_positions"
  (backdropClick)="close()"
  (detach)="close()"
>
  <div
    #panel
    tabindex="-1"
    class="sbb-usermenu-panel sbb-scrollbar"
    [attr.id]="id + '-panel'"
    [@transformPanel]="{ value: 'showing', params: { width: _overlayWidth + 'px' } }"
  >
    <ng-container *ngTemplateOutlet="usermenuTrigger"></ng-container>
    <div class="sbb-usermenu-inner-panel">
      <ng-content select="a[sbb-usermenu-item],button[sbb-usermenu-item],hr"></ng-content>
    </div>

    <!---     (keydown)="_handleKeydown($event)" TODO
 --->
  </div>
</ng-template>
