@mixin processflowBase {
  @include tabsBase;
  display: block;

  .sbb-processflow-header {
    @include processflowStepBase;
    list-style-type: none;
  }
  .sbb-processflow-step {
    display: flex;
    &::before {
      content: '';
    }
    &-arrow {
      @include svgIconColor($colorGrey);
      width: toPx($processflowArrowWidth);
      height: toPx($processflowArrowHeight);
      line-height: toPx($processflowArrowLineHeight);
      margin-bottom: auto;

      @include mq($from: mobilePortrait) {
        margin-left: toPx($processflowArrowMarginsMP);
        margin-right: toPx($processflowArrowMarginsMP);
      }

      @include mq($from: tabletPortrait) {
        margin-left: toPx($processflowArrowMarginsTP);
        margin-right: toPx($processflowArrowMarginsTP);
      }

      @include mq($from: desktop) {
        margin-left: toPx($processflowArrowMarginsDT);
        margin-right: toPx($processflowArrowMarginsDT);
      }

      @include mq($from: desktop4k) {
        margin-left: toPx($processflowArrowMargins4K);
        margin-right: toPx($processflowArrowMargins4K);
        width: toPx($processflowArrowWidth4K);
        height: toPx($processflowArrowHeight4K);
      }

      @include mq($from: desktop5k) {
        margin-left: toPx(processflowArrowMargins5K);
        margin-right: toPx(processflowArrowMargins5K);
        width: toPx($processflowArrowWidth5K);
        height: toPx($processflowArrowHeight5K);
      }
    }
    button {
      @include processflowButton;
    }
  }
}

@mixin processflowStepBase {
  display: flex;
  align-items: center;
}

@mixin processflowButton {
  @include buttonResetFrameless();
  display: block;
  white-space: nowrap;
  font-family: $fontSbbLight;
  text-decoration: none;
  position: relative;

  @include mq($from: mobilePortrait) {
    font-size: toPx($processflowStepButtonFontSizeMP);
    line-height: toPx($processflowStepButtonLineHeightMP);
    padding-bottom: toPx($processflowStepButtonPaddingBottomMP);
  }

  @include mq($from: tabletPortrait) {
    font-size: toPx($processflowStepButtonFontSizeTP);
    line-height: toPx($processflowStepButtonLineHeightTP);
    padding-bottom: toPx($processflowStepButtonPaddingBottomTP);
  }

  @include mq($from: desktop) {
    font-size: toPx($processflowStepButtonFontSizeDT);
    line-height: toPx($processflowStepButtonLineHeightDT);
    padding-bottom: toPx($processflowStepButtonPaddingBottomDT);
  }

  @include mq($from: desktop4k) {
    font-size: toPx($processflowStepButtonFontSize4K);
    line-height: toPx($processflowStepButtonLineHeight4K);
    padding-bottom: toPx($processflowStepButtonPaddingBottom4K);
  }

  @include mq($from: desktop5k) {
    font-size: toPx($processflowStepButtonFontSize5K);
    line-height: toPx($processflowStepButtonLineHeight5K);
    padding-bottom: toPx($processflowStepButtonPaddingBottom5K);
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 0;
    left: 50%;
    height: 1px;
    border-bottom: 1px solid currentColor;
    transition: width 0.3s, left 0.3s;
  }

  &.sbb-active::after,
  &:not(.sbb-active):focus::after,
  &:not(.sbb-active):hover::after {
    left: 0;
    width: 100%;
  }

  &:not(.sbb-active):focus,
  &:not(.sbb-active):hover {
    color: $colorRed125;

    &::after {
      border-bottom-color: $colorRed125;
    }
  }

  &[disabled] {
    color: $colorBlack40;

    &:hover,
    &:focus {
      color: $colorBlack40;
      cursor: default;

      &::after {
        width: 0;
      }
    }
  }

  &.sbb-active:hover,
  &.sbb-active:focus {
    color: currentColor;
    cursor: default;

    &::after {
      border-bottom-color: currentColor;
    }
  }
}
