@import '../../../../angular-core/styles/common/variants';
@import '../../../../angular-core/styles/common/colors';
@import '../../../../angular-core/styles/common/functions';

$autocompleteTransition: height 0.25s cubic-bezier(0.4, 0, 0.2, 1),
  opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
$autocompleteBg: $sbbColorWhite;
$autocompleteBorder: 2px solid $sbbColorGrey;
$autocompleteBorderTop: none;
$autocompleteShadow: 0 8px 0 rgba(0, 0, 0, 0.15);
$autocompleteShadowReverse: 0 -8px 0 rgba(0, 0, 0, 0.15);
$autocompleteColor: $sbbColorGrey;
$autocompleteInputActiveBorderBottomColor: $sbbColorCloud;
$autocompleteInputActiveBorder: 0 -3px 0 -2px $autocompleteInputActiveBorderBottomColor;
$autocompleteInputActiveBorderReverse: 0 3px 0 -2px $autocompleteInputActiveBorderBottomColor;
$autocompleteMarginOffset: 2px;
$optionGroupItemPaddingLeft: 24px;
$optionPaddingLeft: 14px;

$autocompletePaddingTop: 14px;
$autocompletePaddingX: 16px;
$autocompletePaddingBottom: 18px;
$optionSelectedBarTop: 3;
$optionSelectedBarTopFirst: 6;

@if $sbbBusiness {
  $autocompleteBorder: 1px solid $sbbColorGranite;
  $autocompleteShadow: 0 4px 0 rgba(0, 0, 0, 0.15);
  $autocompleteShadowReverse: 0 -4px 0 rgba(0, 0, 0, 0.15);
  $autocompleteColor: $sbbColorGranite;
  $optionGroupItemPaddingLeft: 16px;

  $autocompletePaddingTop: 8px;
  $autocompletePaddingX: 8px;
  $autocompletePaddingBottom: 8px;
}

$autocompleteBorderTopReverse: $autocompleteBorder;
$autocompletePadding: $autocompletePaddingTop $autocompletePaddingX $autocompletePaddingBottom;
