@import '../../../../angular-core/styles/common/variants';
@import '../../../../angular-core/styles/common/colors';
@import '../../../../angular-core/styles/common/functions';

$autocompleteTransition: height 0.25s cubic-bezier(0.4, 0, 0.2, 1),
  opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
$autocompleteBg: $sbbColorWhite;
$autocompleteBorderWidth: 2px;
$autocompleteBorder: $autocompleteBorderWidth solid $sbbColorGrey;
$autocompleteColor: $sbbColorGrey;
$autocompleteShadowWidth: 8px;
$autocompleteInputActiveBorderBottomColor: $sbbColorCloud;
$autocompleteInputActiveBorderWidth: 1px;
$optionGroupItemPaddingLeft: 24px;
$optionPaddingLeft: 14px;

$autocompletePaddingTop: 14px;
$autocompletePaddingX: 16px;
$autocompletePaddingBottom: 18px;
$optionSelectedBarTop: 3;
$optionSelectedBarTopFirst: 6;

@if $sbbBusiness {
  $autocompleteBorderWidth: 1px;
  $autocompleteBorder: $autocompleteBorderWidth solid $sbbColorGranite;
  $autocompleteShadowWidth: 4px;
  $autocompleteColor: $sbbColorGranite;
  $optionGroupItemPaddingLeft: 16px;

  $autocompletePaddingTop: 8px;
  $autocompletePaddingX: 8px;
  $autocompletePaddingBottom: 8px;
}

$autocompleteBorderTopReverse: $autocompleteBorder;
$autocompletePadding: $autocompletePaddingTop $autocompletePaddingX $autocompletePaddingBottom;
