<h2 class="sbbsc-content-title">
  <span class="sbbsc-content-title-text">SBB Angular Components</span>
  <sbb-icon-arrow-left></sbb-icon-arrow-left>
  <button sbbButton mode="frameless" routerLink="/icons-list" routerLinkActive="router-link-active" class="sbbsc-content-title-button">
    SBB Angular Icons
    <sbb-icon-arrow-down *sbbButtonIcon></sbb-icon-arrow-down>
  </button>
</h2>

<div role="presentation" class="sbbsc-separator"></div>

<sbb-search [allUiComponents]="foundUiComponents"></sbb-search>

