<p>This is an example for grouping checkbox panels and is not intended to be used "as is".</p>

<form [formGroup]="form">
  <sbb-radio-group formControlName="value" class="sbb-radio-panel-group" [ngClass]="groupClasses">
    @for (option of radios; track option) {
      <sbb-radio-button-panel [value]="option.value">{{ option.label }}</sbb-radio-button-panel>
    }
  </sbb-radio-group>

  <div class="configuration">
    <sbb-form-field>
      <sbb-label>Amount</sbb-label>
      <input sbbInput formControlName="amount" />
    </sbb-form-field>
    @for (breakpoint of breakpoints; track breakpoint) {
      <sbb-form-field>
        <sbb-label>{{ breakpoint }} columns</sbb-label>
        <sbb-select [formControlName]="breakpoint">
          @for (i of breakpointRange(breakpoint); track i) {
            <sbb-option [value]="i">{{ i === 1 ? '-' : i }}</sbb-option>
          }
        </sbb-select>
      </sbb-form-field>
    }
  </div>
</form>

<h4>CSS Classes</h4>
<pre>sbb-checkbox-panel-group {{ groupClasses.join(' ') }}</pre>
