<ng-content></ng-content>

<button
  type="button"
  class="sbb-textexpand-button"
  [attr.aria-controls]="id"
  [attr.aria-expanded]="isExpanded"
  (click)="toggleExpanded()"
>
  <span
    class="sbb-textexpand-button-label"
    *ngIf="isExpanded"
    i18n="Button label for showing less@@sbbTextexpandShowLess"
    >Weniger anzeigen</span
  >
  <span
    class="sbb-textexpand-button-label"
    *ngIf="!isExpanded"
    i18n="Button label for showing more@@sbbTextexpandShowMore"
    >Mehr anzeigen</span
  >
</button>
