<div
  cdk-overlay-origin
  class="sbb-select-trigger"
  aria-hidden="true"
  (click)="toggle()"
  #origin="cdkOverlayOrigin"
  #trigger
  [attr.tabindex]="tabIndex"
  [attr.aria-expanded]="panelOpen"
  [class.sbb-select-disabled]="disabled"
>
  <div class="sbb-select-value" [ngSwitch]="empty">
    <span class="sbb-select-placeholder" *ngSwitchCase="true">{{ placeholder || '\u00A0' }}</span>
    <span class="sbb-select-value-text" *ngSwitchCase="false">
      <span>{{ triggerValue || '\u00A0' }}</span>
    </span>
  </div>

  <div class="sbb-select-arrow-wrapper" [class.sbb-select-arrow-wrapper-rotate]="rotateIcon">
    <sbb-icon-chevron-small-down></sbb-icon-chevron-small-down>
  </div>
</div>

<ng-template
  cdk-connected-overlay
  cdkConnectedOverlayLockPosition
  cdkConnectedOverlayFlexibleDimensions
  [cdkConnectedOverlayMinHeight]="30"
  cdkConnectedOverlayHasBackdrop
  cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
  cdkConnectedOverlayPanelClass="sbb-overlay-panel"
  [cdkConnectedOverlayScrollStrategy]="scrollStrategy"
  [cdkConnectedOverlayOrigin]="origin"
  [cdkConnectedOverlayOpen]="panelOpen"
  [cdkConnectedOverlayPositions]="positions"
  [cdkConnectedOverlayWidth]="triggerRect?.width"
  [cdkConnectedOverlayOffsetY]="offsetY"
  (backdropClick)="close()"
  (attach)="onAttached()"
  (detach)="close()"
>
  <div
    #panel
    class="sbb-select-panel sbb-select-content sbb-scrollbar"
    [ngClass]="panelClass"
    [style.transformOrigin]="transformOrigin"
    [style.font-size.px]="triggerFontSize"
    (keydown)="handleKeydown($event)"
  >
    <ng-content></ng-content>
  </div>
</ng-template>
