<div class="sbb-select-trigger" aria-hidden="true" (click)="toggle()" #trigger>
  <div class="sbb-select-value" [ngSwitch]="empty">
    <span class="sbb-select-placeholder" *ngSwitchCase="true">{{ placeholder || '\u00A0' }}</span>
    <span class="sbb-select-value-text" *ngSwitchCase="false">
      <span>{{ triggerValue || '\u00A0' }}</span>
    </span>
  </div>

  <div class="sbb-select-arrow-wrapper" [class.sbb-select-arrow-wrapper-rotate]="rotateIcon">
    <sbb-icon svgIcon="kom:chevron-small-down-small" class="sbb-icon-fit"></sbb-icon>
  </div>
</div>

<ng-template
  cdk-connected-overlay
  cdkConnectedOverlayLockPosition
  cdkConnectedOverlayFlexibleDimensions
  [cdkConnectedOverlayMinHeight]="30"
  cdkConnectedOverlayHasBackdrop
  cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
  cdkConnectedOverlayPanelClass="sbb-overlay-panel"
  [cdkConnectedOverlayScrollStrategy]="scrollStrategy"
  [cdkConnectedOverlayOrigin]="{ elementRef: _elementRef }"
  [cdkConnectedOverlayOpen]="panelOpen"
  [cdkConnectedOverlayPositions]="positions"
  [cdkConnectedOverlayWidth]="triggerRect?.width"
  [cdkConnectedOverlayOffsetY]="offsetY"
  (backdropClick)="close()"
  (attach)="onAttached()"
  (detach)="close()"
>
  <div
    #panel
    class="sbb-select-panel sbb-select-content sbb-scrollbar"
    [ngClass]="panelClass"
    [style.transformOrigin]="transformOrigin"
    [style.font-size.px]="triggerFontSize"
    (keydown)="handleKeydown($event)"
  >
    <ng-content></ng-content>
  </div>
</ng-template>
