@import '../../../angular-core/styles/common';

$selectArrowWidthHeight: 24;
$selectArrowRight: 12;
$selectTriggerPaddingRight: 44;

@if $sbbBusiness {
  $selectTriggerPaddingRight: 38;
  $selectArrowRight: 6;
}

.sbb-select-panel {
  @include autocompleteBase();
  @include autocompleteDirectionalRules();

  &.sbb-select-panel-above {
    @include autocompleteDirectionalRules($mode: reverse);
  }
}

sbb-select.sbb-select {
  outline: 0;
  display: block;
  @include inputfields;
  cursor: pointer;

  // overwrite input padding because it's applied in .sbb-select-trigger
  padding: 0;
  @include publicOnly() {
    @include mq($from: desktop4k) {
      padding: 0;
    }

    @include mq($from: desktop5k) {
      padding: 0;
    }
  }

  &.sbb-select-focused {
    border-color: $sbbColorGrey;

    &[aria-expanded='true'] {
      &:not(.sbb-select-input-above) {
        @include autocompleteInputActive();
      }

      &.sbb-select-input-above {
        @include autocompleteInputActive($mode: reverse);
      }
    }
  }

  &.sbb-select-disabled {
    cursor: default;
    background-color: $sbbColorMilk;
    border-color: $sbbColorAluminum;
  }

  .sbb-select-trigger {
    @include inputFieldPadding();
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-right: toPx($selectTriggerPaddingRight);

    @include publicOnly() {
      @include mq($from: desktop4k) {
        padding-right: toPx($selectTriggerPaddingRight * $scalingFactor4k);
      }

      @include mq($from: desktop5k) {
        padding-right: toPx($selectTriggerPaddingRight * $scalingFactor5k);
      }
    }

    .sbb-select-value {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .sbb-select-arrow-wrapper {
      color: if($sbbBusiness, $sbbColorGranite, $sbbColorGrey);
      @include absoluteCenterY();
      right: toPx($selectArrowRight);

      width: toPx($selectArrowWidthHeight);
      height: toPx($selectArrowWidthHeight);

      @include publicOnly() {
        @include mq($from: desktop4k) {
          right: toPx($selectArrowRight * $scalingFactor4k);
          width: toPx($selectArrowWidthHeight * $scalingFactor4k);
          height: toPx($selectArrowWidthHeight * $scalingFactor4k);
        }

        @include mq($from: desktop5k) {
          right: toPx($selectArrowRight * $scalingFactor5k);
          width: toPx($selectArrowWidthHeight * $scalingFactor5k);
          height: toPx($selectArrowWidthHeight * $scalingFactor5k);
        }
      }

      .sbb-icon {
        transition: transform 120ms cubic-bezier(0, 0, 0.2, 1);

        &.sbb-select-arrow-icon-business {
          display: if($sbbBusiness, inline-block, none);
          transform: rotate(90deg);
        }

        &:not(.sbb-select-arrow-icon-business) {
          display: if($sbbBusiness, none, inline-block);
        }
      }

      &.sbb-select-arrow-wrapper-rotate {
        .sbb-icon {
          &.sbb-select-arrow-icon-business {
            transform: rotate(-90deg);
          }

          &:not(.sbb-select-arrow-icon-business) {
            transform: rotate(180deg);
          }
        }
      }
    }

    @include businessOnly() {
      // Used when setting a placeholder
      .sbb-select-value-empty {
        color: $sbbColorStorm;
      }
    }
  }

  // We want to provide the error styles both for invalid state
  // in a sbb-form-field and also for Angular Form Validation.
  .sbb-form-field-invalid &:not([aria-expanded='true']),
  &.ng-touched.ng-invalid:not([aria-expanded='true']) {
    color: $sbbColorError;
    border-color: $sbbColorError;
  }
}
