<h1>SBB Angular Component Library</h1>

<p i18n>
  Our customers should find their way around SBB's digital channels and get to the information they
  need as quickly as possible. This only works with a consistent user experience across all
  channels, guaranteeing a uniform appearance across all platforms.
</p>

<p i18n>
  SBB's digital guidelines form the visual guidelines in the new media and are binding on both
  internal and external projects. They provide clarity on the most important and everyday
  brand-related questions in online media.
</p>

<p i18n>
  This library is being developed on GitHub (<a
    href="https://github.com/sbb-design-systems/sbb-angular"
    >sbb-design-systems/sbb-angular</a
  >). Any
  <a href="https://github.com/sbb-design-systems/sbb-angular/blob/master/CONTRIBUTING.md"
    >contribution</a
  >
  is always welcome. If you would like to report a problem or have a feature request, feel free to
  open an
  <a href="https://github.com/sbb-design-systems/sbb-angular/issues/new/choose">issue</a>.
</p>

<nav>
  <ul>
    <li>
      <a routerLink="/public">
        <div class="hero">
          <img alt="@sbb-esta/angular-public" src="assets/websites.jpg" />
        </div>
        <span class="title">@sbb-esta/angular-public</span>
        <span class="text">Components which can be used for public websites.</span>
      </a>
    </li>
    <li>
      <a routerLink="/business">
        <div class="hero">
          <img alt="@sbb-esta/angular-business" src="assets/webapps.jpg" />
        </div>
        <span class="title">@sbb-esta/angular-business</span>
        <span class="text">Components which can be used for business apps.</span>
      </a>
    </li>
    <li>
      <a routerLink="/core">
        <div class="hero">
          <img alt="@sbb-esta/angular-core" src="assets/core.jpg" />
        </div>
        <span class="title">@sbb-esta/angular-core</span>
        <span class="text"
          >Common functionality for @sbb-esta/angular-public and @sbb-esta/angular-business.</span
        >
      </a>
    </li>
    <li>
      <a routerLink="/icons">
        <div class="hero">
          <img alt="@sbb-esta/angular-icons" src="assets/icons.jpg" />
        </div>
        <span class="title">@sbb-esta/angular-icons</span>
        <span class="text">Icons provided as components.</span>
      </a>
    </li>
    <li>
      <a routerLink="/keycloak">
        <div class="hero">
          <img alt="@sbb-esta/angular-keycloak" src="assets/keycloak.jpg" />
        </div>
        <span class="title">@sbb-esta/angular-keycloak</span>
        <span class="text">Authentication module for use with keycloak (sso.sbb.ch).</span>
      </a>
    </li>
    <li>
      <a routerLink="/maps">
        <div class="hero">
          <img alt="@sbb-esta/angular-maps" src="assets/maps.jpg" />
        </div>
        <span class="title">@sbb-esta/angular-maps</span>
        <span class="text">Components to display 2D/3D maps and to provide map interaction.</span>
      </a>
    </li>
    <li>
      <a routerLink="/maps-leaflet">
        <div class="hero">
          <img alt="@sbb-esta/angular-maps-leaflet" src="assets/maps-leaflet.jpg" />
        </div>
        <span class="title">@sbb-esta/angular-maps-leaflet</span>
        <span class="text">Components to display simple maps based on leaflet.js</span>
      </a>
    </li>
  </ul>
</nav>
