@use '@sbb-esta/angular' as sbb;

.sbb-notification {
  margin-bottom: 2em;
  max-width: sbb.pxToEm(700);
}

:host nav {
  padding: 0;
  margin: sbb.pxToEm(50) 0 sbb.pxToEm(50) 0;
  font-size: var(--sbb-font-size);

  ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: stretch;
    font-size: inherit !important;

    > li {
      width: sbb.pxToEm(300);
      margin: 0 sbb.pxToEm(20) sbb.pxToEm(20) 0;
      border-radius: sbb.pxToEm(6);
      background: var(--sbb-color-background);
      border: solid sbb.pxToEm(1) #cccccc;
      color: #1b1b1b;
      cursor: pointer;
      position: relative;
      display: flex;

      &::before {
        content: '';
        display: inherit;
        color: #000000;
        padding-right: 0;
      }

      a {
        text-decoration: none;
        border-bottom: none;
        display: inline-block;
        width: 100%;

        &:hover {
          color: var(--sbb-color-text);
        }

        .hero {
          position: relative;
          overflow: hidden;
          display: block;
          width: 100%;
          height: sbb.pxToEm(180);
          border-radius: sbb.pxToEm(4) sbb.pxToEm(4) 0 0;
        }

        .hero img {
          max-width: 100%;
          transition: transform var(--sbb-transition-duration-default) ease;
        }

        .hero:hover img {
          transform: scale(1.1);
        }

        .title {
          margin: sbb.pxToEm(15) sbb.pxToEm(20) 0 sbb.pxToEm(20);
          display: block;
          font-weight: 400;
        }

        .text {
          margin: sbb.pxToEm(5) sbb.pxToEm(20) sbb.pxToEm(15) sbb.pxToEm(20);
          display: block;
          font-weight: 200;
        }
      }
    }
  }
}
