<article class="container-fluid">
  <div class="row">
    <div class="col-lg-6 sbbsc-v-sep">
      <h4 class="sbbsc-block">Lightbox sharing data</h4>
      <sbb-lightbox-showcase-example></sbb-lightbox-showcase-example>
    </div>
    <div class="col-lg-6">
      <h4 class="sbbsc-block">Description</h4>
      <p>
        This implementation shows how to share data between parent component and lightbox component.
      </p>
    </div>
  </div>
  <div role="presentation" class="sbbsc-separator"></div>
  <div class="row">
    <div class="col-lg-6 sbbsc-v-sep">
      <h4 class="sbbsc-block">Lightbox with content loaded from Component</h4>
      <sbb-lightbox-showcase-example-2></sbb-lightbox-showcase-example-2>
    </div>
    <div class="col-lg-6">
      <h4 class="sbbsc-block">Description</h4>
      <p>
        This lightbox load its content from a component and shows custom content inside the header,
        scrollable content and footer with its 3 positioning options.
      </p>
    </div>
  </div>
  <div role="presentation" class="sbbsc-separator"></div>
  <div class="row">
    <div class="col-lg-6 sbbsc-v-sep">
      <h4 class="sbbsc-block">Lightbox with content loaded from Template</h4>
      <sbb-lightbox-showcase-example-3></sbb-lightbox-showcase-example-3>
    </div>
    <div class="col-lg-6">
      <h4 class="sbbsc-block">Description</h4>
      <p>
        Lightbox with content loaded from a TemplateRef.
      </p>
    </div>
  </div>
  <div role="presentation" class="sbbsc-separator"></div>
  <div class="row">
    <div class="col-lg-6 sbbsc-v-sep">
      <h4 class="sbbsc-block">Alert Lightbox with confirmation button</h4>
      <sbb-lightbox-showcase-example-4></sbb-lightbox-showcase-example-4>
      <sbb-lightbox-showcase-example-5></sbb-lightbox-showcase-example-5>
    </div>
    <div class="col-lg-6">
      <h4 class="sbbsc-block">Description</h4>
      <ol>
        <li>
          <p>
            The first example shows a lightbox with default closing disabled and handle into it a
            confirmation step to close it manually via the manualCloseAction observable.
          </p>
        </li>
        <li>
          <p>
            The second example like the first has the default closing disabled but the confirmation
            step is handled via a second new lightbox which is charge to close all the instances of
            opened lightboxes.
          </p>
        </li>
      </ol>
    </div>
  </div>
</article>
