@use './../../style/icons' as i;
@use '@sbb-esta/angular' as esta;

$fontSize: 1.1em;

/* end of constants */

.poi_container {
  display: flex;
  width: 100px;
  height: 23px;
  text-align: center;
  vertical-align: middle;
  background-color: esta.$sbbColorWhite;

  @at-root .jmc-container.dark #{&} {
    background-color: esta.$sbbColorBlack;
  }
}

.poi_icon {
  background-color: esta.$sbbColorWhite;
  background-position: center;
  background-repeat: no-repeat;
  color: esta.$sbbColorBlack;
  font-size: $fontSize;
  width: 33%;

  @at-root .jmc-container.dark #{&} {
    background-color: esta.$sbbColorBlack;
    color: esta.$sbbColorWhite;
  }
}

.travel_destination_level {
  font-size: $fontSize;
  font-weight: normal;
}

.stroke {
  background-color: esta.$sbbColorCloud;
  height: 28px;
  margin-top: -2px;
  width: 1px;

  @at-root .jmc-container.dark #{&} {
    background-color: esta.$sbbColorMetal;
  }
}

@mixin base_icon($icon) {
  @include i.icon-mask($icon);
  background-color: esta.$sbbColorBlack;
  mask-size: 90% 100%;

  @at-root .jmc-container.dark #{&} {
    background-color: esta.$sbbColorWhite;
  }
}

@mixin base_direction($icon) {
  @include base_icon($icon);
  mask-size: 40% 100%;
}

.travel_type_lift {
  @include base_icon('leit-poi-lift');
}

.travel_type_ramp {
  @include base_icon('leit-poi-rampe');
}

.travel_type_stairs {
  @include base_icon('leit-poi-treppe');
}

.travel_type_default {
  @include base_icon('leit-poi-rolltreppe');
}

.travel_type_escalator {
  @include base_icon('leit-poi-rolltreppe');
}

.travel_direction_downstairs {
  @include base_direction('leit-poi-down');
}

.travel_direction_default {
  @include base_direction('leit-poi-up');
}

.travel_direction_upstairs {
  @include base_direction('leit-poi-up');
}

/* global styling for leit-poi-popup styling ROKAS-1018 */
.maplibregl-popup {
  &.leit-poi-popup {
    .maplibregl-popup-tip {
      padding: 0;
      height: 0;
      display: none;
    }

    .maplibregl-popup-content {
      border-radius: 25px;
      padding: 6px;
      border: 1px solid esta.$sbbColorBlack;
      cursor: pointer;

      @at-root .jmc-container.dark #{&} {
        background-color: esta.$sbbColorBlack;
        outline: 1px solid esta.$sbbColorMetal;
      }
    }
  }

  &.leit-poi-popup-hidden {
    display: none !important;
  }
}
