<sbb-chip
  [label]="option"
  (dismissed)="deselectOption(option)"
  [disabled]="disabled"
  *ngFor="let option of value"
  class="sbb-chip"
></sbb-chip>
<input
  #chipInputTextfield
  *ngIf="autocomplete; else noAutocomplete"
  type="text"
  [value]="inputModel"
  [disabled]="disabled"
  [sbbAutocomplete]="autocomplete"
  [sbbAutocompleteConnectedTo]="origin"
  (focus)="_onFocus()"
  (blur)="_onBlur()"
  (keydown.enter)="onEnter($any($event.target)?.value)"
  class="sbb-chip-input-textfield"
/>
<ng-template #noAutocomplete>
  <input
    #chipInputTextfield
    type="text"
    [value]="inputModel"
    [disabled]="disabled"
    (focus)="_onFocus()"
    (blur)="_onBlur()"
    (keydown.enter)="onEnter($any($event.target)?.value)"
    class="sbb-chip-input-textfield"
  />
</ng-template>
