$sbbBusiness: true;
@import '../../../angular-core/styles/common';

$sbb-chip-input-field-height: 37;
$sbb-chip-border-radius: 2;

.sbb-chip-input {
  @include inputfields;

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  background: transparent;
  line-height: 23px;

  .sbb-chip {
    max-width: 100%;
    margin: 0.25rem;
  }

  input.sbb-chip-input-textfield {
    border: none;
  }
}

.sbb-chip-input-textfield {
  width: 0;
  flex: 1 1 auto;
}

.sbb-chip-input-disabled {
  border-color: $sbbColorCloud;
  background-color: $sbbColorMilk;
}

.sbb-chip-input-active {
  border-color: $sbbColorGranite;
}

.sbb-chip-input-autocomplete-expanded {
  &:not(.sbb-autocomplete-input-above) {
    @include autocompleteInputActive();
  }

  &.sbb-autocomplete-input-above {
    @include autocompleteInputActive($mode: reverse);
  }
}
