@mixin paginationBase {
  display: flex;
  padding-left: 0;
  list-style: none;
  margin-left: 0;
  li.sbb-pagination-item {
    position: relative;
    line-height: 0;
    text-align: center;
    outline: 0;
    width: if($sbbBusiness, toPx($paginationLiWidthHeightBusiness), toPx($paginationLiWidthHeight));
    height: if(
      $sbbBusiness,
      toPx($paginationLiWidthHeightBusiness),
      toPx($paginationLiWidthHeight)
    );

    @include publicOnly() {
      @include mq($from: desktop4k) {
        width: toPx($paginationLiWidthHeight4K);
        height: toPx($paginationLiWidthHeight4K);
        font-size: toPx($sizeFontBase * $scalingFactor4k);
      }

      @include mq($from: desktop5k) {
        width: toPx($paginationLiWidthHeight5K);
        height: toPx($paginationLiWidthHeight5K);
        font-size: toPx($sizeFontBase * $scalingFactor5k);
      }
    }

    .sbb-pagination-item-ellipsis {
      cursor: default;
      display: block;
      margin-top: 65%;

      @include businessOnly() {
        color: $sbbColorGrey;
      }

      &:hover {
        color: $sbbColorGrey;
      }
    }

    > button,
    > a {
      cursor: pointer;
      border-color: transparent;
      border-width: pxToEm(2);
      border-style: solid;
      border-radius: 50%;
      background-color: $sbbColorWhite;
      text-decoration: none;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      line-height: 1;
      outline: 0;

      @include businessOnly() {
        color: $sbbColorGrey;
      }

      &.sbb-pagination-item-selected {
        border-color: if($sbbBusiness, $sbbColorGranite, $sbbColorGrey);
        cursor: default;

        &:hover,
        &:focus {
          color: $sbbColorGrey;
        }
      }

      &:hover,
      &:focus {
        @if $sbbBusiness {
          @include svgIconColor($sbbColorRed125);
          color: $sbbColorRed125;
        } @else {
          @include svgIconColor($sbbColorRed);
          color: $sbbColorRed;
        }
      }

      &.sbb-pagination-item-boundary {
        width: toPx($paginationLiWidthHeight);
        height: if(
          $sbbBusiness,
          toPx($paginationLiWidthHeightBusiness),
          toPx($paginationLiWidthHeight)
        );

        @include businessOnly() {
          @include svgIconColor($sbbColorGrey);
        }

        @include publicOnly() {
          @include mq($from: desktop4k) {
            width: toPx($paginationLiWidthHeight4K);
            height: toPx($paginationLiWidthHeight4K);
          }

          @include mq($from: desktop5k) {
            width: toPx($paginationLiWidthHeight5K);
            height: toPx($paginationLiWidthHeight5K);
          }
        }

        &:hover {
          @if $sbbBusiness {
            @include svgIconColor($sbbColorRed125);
          } @else {
            @include svgIconColor($sbbColorRed);
          }
        }

        > * {
          margin-top: toPx(1);
          width: toPx($paginationItemIconSize);
          height: toPx($paginationItemIconSize);

          @include publicOnly() {
            @include mq($from: desktop4k) {
              margin-top: toPx($scalingFactor4k);
              width: toPx($paginationItemIconSize4K);
              height: toPx($paginationItemIconSize4K);
            }

            @include mq($from: desktop5k) {
              margin-top: toPx($scalingFactor5k);
              width: toPx($paginationItemIconSize5K);
              height: toPx($paginationItemIconSize5K);
            }
          }
        }
      }

      &.sbb-pagination-item-disabled {
        @include svgIconColor($sbbColorSilver);
        color: $sbbColorSilver;
        cursor: default;
        pointer-events: none;

        &:hover {
          color: $sbbColorGrey;
          cursor: default;
        }
      }
    }
  }
}
