<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 sbbsc-v-sep">
      <h4 class="sbbsc-block">Input Field (Within SBB-Field)</h4>
      <sbb-field>
        <sbb-label for="simpleInput">Name</sbb-label>
        <input [type]="inputType" [placeholder]="placeholder" autocomplete="off" spellcheck="false" [readonly]="readonly"
          [disabled]="disabled" [required]="required" [(ngModel)]="inputText" id="simpleInput" name="simpleInput"
          #simpleInput="ngModel">
      </sbb-field>
      <sbb-form-error *ngIf="simpleInput.invalid && simpleInput.dirty && simpleInput.errors.required">The input is
        required!</sbb-form-error>
      <p>
        <sbb-label>Model:</sbb-label>
        <sbb-label>{{ inputText | json }}</sbb-label>
      </p>
      <button sbbButton type="button" (click)="inputText=''" [disabled]="disabled || readonly">Reset</button>
    </div>
    <div class="col-lg-6">
      <h4 class="sbbsc-block">Properties</h4>
      <sbb-label>Please choose :</sbb-label>
      <select [(ngModel)]="inputType" (ngModelChange)="onChange($event)" id="dropdown">
        <option *ngFor="let type of types" [ngValue]="type">{{ type }}</option>
      </select>
      <div class="sbbsc-block">
        <input id="disabled" type="checkbox" [(ngModel)]="disabled">&nbsp;
        <label for="disabled">Disabled</label>
      </div>
      <div class="sbbsc-block">
        <input id="required" type="checkbox" [(ngModel)]="required">&nbsp;
        <label for="required">Required</label>
      </div>
      <div class="sbbsc-block" *ngIf="inputType !== 'file'">
        <input id="readonly" type="checkbox" [(ngModel)]="readonly">&nbsp;
        <label for="readonly">Readonly</label>
      </div>
    </div>
  </div>
</div>