<p>Table with column grouping:</p>
<table sbbTable [dataSource]="dataSource" aria-describedby="sbb-table">
  <ng-container sbbColumnDef="leftAligned">
    <th sbbHeaderCell *sbbHeaderCellDef id="leftAligned">left-aligned</th>
    <td sbbCell *sbbCellDef="let element">{{ element.left }}</td>
  </ng-container>

  <ng-container sbbColumnDef="groupedOne">
    <th sbbHeaderCell *sbbHeaderCellDef id="groupedOne">Grouped col 1</th>
    <td sbbCell *sbbCellDef="let element">{{ element.groupedOne }}</td>
  </ng-container>
  <ng-container sbbColumnDef="groupedTwo">
    <th sbbHeaderCell *sbbHeaderCellDef id="groupedTwo">Grouped col 2</th>
    <td sbbCell *sbbCellDef="let element">{{ element.groupedTwo }}</td>
  </ng-container>
  <ng-container sbbColumnDef="groupedThree">
    <th sbbHeaderCell *sbbHeaderCellDef id="groupedThree">Grouped col 3</th>
    <td sbbCell *sbbCellDef="let element">{{ element.groupedThree }}</td>
  </ng-container>

  <ng-container sbbColumnDef="centerAligned">
    <th sbbHeaderCell *sbbHeaderCellDef id="centerAligned" class="sbb-col-center-align">
      center-aligned
    </th>
    <td sbbCell *sbbCellDef="let element">{{ element.center }}</td>
  </ng-container>

  <tr sbbHeaderRow *sbbHeaderRowDef="displayedColumns"></tr>
  <tr sbbRow *sbbRowDef="let row; columns: displayedColumns"></tr>
</table>
