$thumbColor: $sbbColorPlatinum;
$trackColor: $sbbColorMilk;

@mixin scrollbarColor($thumbColor, $trackColor) {
  scrollbar-color: $thumbColor $trackColor;
  &::-webkit-scrollbar-thumb {
    background-color: $thumbColor;
  }
  &::-webkit-scrollbar-track {
    background-color: $trackColor;
  }
}
@mixin scrollbarThickness() {
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }
}

@mixin sbbScrollbar() {
  .sbb-scrollbar {
    @include scrollbarColor(transparent, transparent);

    &:hover {
      @include scrollbarColor($thumbColor, $trackColor);
    }

    @include scrollbarThickness();

    &:hover::-webkit-scrollbar-thumb:hover {
      background-color: $sbbColorStorm;
    }
  }
}

@mixin sbbScrollbarOverlay() {
  .sbb-scrollbar-overlay {
    @include scrollbarColor(transparent, transparent);

    &:hover {
      @include scrollbarColor($thumbColor, $trackColor);
      @include scrollbarThickness();
    }

    scrollbar-width: none;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    &:hover::-webkit-scrollbar-thumb:hover {
      background-color: $sbbColorStorm;
    }
  }
}
