@import '../../../angular-core/styles/common';

.sbb-processflow {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;

  .sbb-processflow-header-wrapper {
    overflow-x: hidden;
  }
  .sbb-processflow-header {
    display: flex;
    align-items: center;
    list-style-type: none;
    overflow-x: auto;
    margin: 0 0 2em 0;
    padding: 0;
  }
  .sbb-processflow-step {
    display: flex;
    flex: 0 0 auto;
    &::before {
      content: '';
      padding: 0;
      margin: 0;
    }
    .sbb-processflow-step-arrow {
      color: $sbbColorGrey;
      width: toPx(21);
      height: toPx(21);
      line-height: 0;
      margin-bottom: auto;
      margin-left: toPx(12);
      margin-right: toPx(12);

      @include mq($from: tabletPortrait) {
        margin-left: toPx(16);
        margin-right: toPx(16);
      }

      @include mq($from: desktop) {
        margin-left: toPx(24);
        margin-right: toPx(24);
      }

      @include mq($from: desktop4k) {
        margin-left: toPx(36);
        margin-right: toPx(36);
        width: toPx(36);
        height: toPx(36);
      }

      @include mq($from: desktop5k) {
        margin-left: toPx(48);
        margin-right: toPx(48);
        width: toPx(48);
        height: toPx(48);
      }
    }
    button {
      @include buttonResetFrameless();
      display: block;
      white-space: nowrap;
      font-family: $fontSbbLight;
      text-decoration: none;
      position: relative;

      font-size: toPx(20);
      line-height: toPx(20);
      padding-bottom: toPx(11);

      @include mq($from: tabletPortrait) {
        font-size: toPx(21);
        line-height: toPx(21);
        padding-bottom: toPx(14);
      }

      @include mq($from: desktop) {
        font-size: toPx(21);
        line-height: toPx(21);
        padding-bottom: toPx(22);
      }

      @include mq($from: desktop4k) {
        font-size: toPx(32);
        line-height: toPx(34);
        padding-bottom: toPx(32);
      }

      @include mq($from: desktop5k) {
        font-size: toPx(42);
        line-height: toPx(45);
        padding-bottom: toPx(42);
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        width: 0;
        left: 50%;
        height: 1px;
        border-bottom: 1px solid currentColor;
        transition: width 0.3s, left 0.3s;
      }

      &.sbb-active::after,
      &:not(.sbb-active):focus::after,
      &:not(.sbb-active):hover::after {
        left: 0;
        width: 100%;
      }

      &:not(.sbb-active):focus,
      &:not(.sbb-active):hover {
        color: $sbbColorRed125;

        &::after {
          border-bottom-color: $sbbColorRed125;
        }
      }

      &[disabled] {
        color: $sbbColorStorm;

        &:hover,
        &:focus {
          color: $sbbColorStorm;
          cursor: default;

          &::after {
            width: 0;
          }
        }
      }

      &.sbb-active:hover,
      &.sbb-active:focus {
        color: currentColor;
        cursor: default;

        &::after {
          border-bottom-color: currentColor;
        }
      }
    }
  }
}
