@import '../../../angular/styles/common';

.sbb-expansion-panel {
  box-sizing: content-box;
  display: block;
  margin: 0;
  transition: margin 225ms cubic-bezier(0.4, 0, 0.2, 1);
  border: pxToRem(1) solid transparent;

  html:not(.sbb-lean) & {
    @include mq($from: desktop4k) {
      border-width: pxToRem(1 * $scalingFactor4k);
    }

    @include mq($from: desktop5k) {
      border-width: pxToRem(1 * $scalingFactor5k);
    }
  }

  &.sbb-expanded {
    border-color: $sbbColorCloud;
    margin-bottom: pxToRem(2);

    html:not(.sbb-lean) & {
      @include mq($from: desktop4k) {
        margin-bottom: pxToRem(2 * $scalingFactor4k);
      }

      @include mq($from: desktop5k) {
        margin-bottom: pxToRem(2 * $scalingFactor5k);
      }
    }
  }
}

.sbb-expansion-panel-content {
  display: flex;
  flex-direction: column;
  overflow: visible;

  &.ng-animating,
  .sbb-expansion-panel:not(.sbb-expanded) & {
    overflow: hidden;
  }
}

.sbb-expansion-panel-body {
  padding: pxToRem(36) pxToRem(24);

  html:not(.sbb-lean) & {
    @include mq($from: tablet) {
      padding: pxToRem(48) pxToRem(48);
    }
    @include mq($from: desktop) {
      padding: pxToRem(48) pxToRem(32);
    }
    @include mq($from: desktop4k) {
      padding: pxToRem(72) pxToRem(48);
      font-size: pxToRem($sizeFontDefault4k);
    }
    @include mq($from: desktop5k) {
      padding: pxToRem(96) pxToRem(64);
      font-size: pxToRem($sizeFontDefault5k);
    }
  }

  html.sbb-lean & {
    padding: pxToEm(24) pxToEm(16);
  }
}
