@import '../../../../angular-core/styles/common/variables';
@import '../../../../angular-core/styles/common/colors';
@import '../../../../angular-core/styles/common/mixins';

:host ::ng-deep {
  svg.sbb-status-valid {
    @include svgIconColors(none, $sbbColorWhite);
    @include svgIconBackground($sbbColorGreen, pxToRem(2px));
  }

  svg.sbb-status-warning {
    @include svgIconColors($sbbColorWhite, none);
    @include svgIconBackground($sbbColorOrange, pxToRem(2px));
  }

  svg.sbb-status-invalid {
    @include svgIconColors($sbbColorRed, $sbbColorWhite);
    @include svgIconBackground($sbbColorRed, pxToRem(2px));
  }
}

:host {
  display: inline-flex;
  flex-direction: row;

  font-family: $fontSbbRoman;
  font-size: pxToRem(15px);
  margin: pxToEm(4px) 0 pxToEm(4px) 0;

  > .sbb-status-icon {
    width: pxToRem(24px);
    height: pxToRem(24px);
    margin: 0 pxToEm(6px) 0 pxToEm(6px);
    line-height: pxToRem(23px);
  }

  > .sbb-status-message {
    height: pxToRem(23px);
    line-height: pxToRem(23px);
    margin-left: pxToEm(2px);
    color: $sbbColorGranite;
  }
}
