@use '@sbb-esta/angular' as esta;
@use './../../style/functions' as f;

@include f.map-controls-shared;

.map-control-button {
  cursor: pointer;
  border-radius: 18px;
  text-align: center;
  vertical-align: middle;
  width: 36px;

  @include esta.mq($from: tabletPortrait) {
    @at-root .map-control-container.small-buttons #{&} {
      border-radius: 13px;
      width: 26px;
    }
  }
}

.map-control-button:hover,
.map-control-button-selected {
  @extend .map-control-button;
  background-color: esta.$sbbColorCharcoal;
  color: white;
}

.map-control-button-wrapper {
  border-bottom: 1px solid #e5e5e5;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.side-buttons-container {
  display: flex; /* Make the container a flexbox */
  overflow: hidden; /* Hide the overflow content */
  max-width: 0; /* Initial max-width set to 0 */
  transition:
    max-width 0.5s ease,
    visibility 0s linear 0.5s; /* Transition for max-width and visibility */
  visibility: hidden; /* Initially not visible */
}

/* Adjusted to ensure the buttons are visible when the container is displayed */
.side-buttons-container.show {
  max-width: 300px; /* Set a max-width large enough to contain all buttons */
  transition: max-width 0.5s ease;
  visibility: visible; /* Make visible when expanded */
}

.vertical-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Aligns items to the right */
}
