@use '@sbb-esta/angular' as esta;
@use './../../style/functions' as f;

@include f.map-controls-shared;

.map-control-button {
  cursor: pointer;
  border-radius: 8px;
  text-align: center;
  vertical-align: middle;

  @include esta.mq($from: tabletPortrait) {
    @at-root .map-control-container.small-buttons #{&} {
      border-radius: 6px;
    }
  }
}

.map-control-button:hover,
.map-control-button-selected {
  @extend .map-control-button;
  background-color: esta.$sbbColorCharcoal;
  color: white;
}

.map-control-button-wrapper {
  border-bottom: 1px solid #e5e5e5;
}

.map-control-button-wrapper:first-child {
  border-radius: 24px 24px 0 0;

  @include esta.mq($from: tabletPortrait) {
    @at-root .map-control-container.small-buttons #{&} {
      border-radius: 16px 16px 0 0;
    }
  }

  .map-control-button {
    border-radius: 24px 24px 8px 8px;

    @include esta.mq($from: tabletPortrait) {
      @at-root .map-control-container.small-buttons #{&} {
        border-radius: 16px 16px 6px 6px;
      }
    }
  }
}

.map-control-button-wrapper:last-child {
  border-radius: 0 0 24px 24px;
  border-bottom-width: 0;

  @include esta.mq($from: tabletPortrait) {
    @at-root .map-control-container.small-buttons #{&} {
      border-radius: 0 0 16px 16px;
    }
  }

  .map-control-button {
    border-radius: 8px 8px 24px 24px;

    @include esta.mq($from: tabletPortrait) {
      @at-root .map-control-container.small-buttons #{&} {
        border-radius: 6px 6px 16px 16px;
      }
    }
  }
}
