<div
  class="map-control-container"
  [class.small-buttons]="showSmallButtons"
  *ngIf="map && visibleLevels.length"
  @fade
>
  <div class="button-container">
    <div class="side-buttons-container" [class.show]="showSideButtons">
      <ng-container *ngFor="let level of visibleLevels">
        <div class="map-control-button-wrapper">
          <button
            #sideButton
            class="side-button"
            (click)="onSideButtonClick(level)"
            (keydown.enter)="onSideButtonClick(level)"
            [ngClass]="{
          'map-control-button-selected': level === selectedLevel,
          'map-control-button': level !== selectedLevel
          }"
            [attr.aria-label]="getLevelLabel(level, selectedLevel)"
          >
            {{ level }}
          </button>
        </div>
      </ng-container>
    </div>
    <div class="map-control-button-wrapper">
      <button
        #mainButton
        class="main-button map-control-button"
        (click)="toggleSideButtons()"
        (keydown.enter)="toggleSideButtons()"
      >
        {{ selectedLevel ?? 'N/A' }}
      </button>
    </div>
  </div>
</div>
