$sbbHeaderMenuWidth: 300px;

// <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="none" stroke="#000" d="M5 12.491h12.49M13.5 16.5l3.99-4.008L13.5 8.5"/></svg>
$sbbHeaderLinkArrow: 'data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDAwIiBkPSJNNSAxMi40OTFoMTIuNDlNMTMuNSAxNi41bDMuOTktNC4wMDhMMTMuNSA4LjUiLz48L3N2Zz4=';
// <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="none" stroke="#c60018" d="M5 12.491h12.49M13.5 16.5l3.99-4.008L13.5 8.5"/></svg>
$sbbHeaderLinkArrowRed: 'data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSIjYzYwMDE4IiBkPSJNNSAxMi40OTFoMTIuNDlNMTMuNSAxNi41bDMuOTktNC4wMDhMMTMuNSA4LjUiLz48L3N2Zz4=';

$sbbHeaderBaseZIndex: 1000;
$sbbHeaderSideMenuZIndex: 800;
$sbbHeaderMenuMobileZIndex: 1100;
$sbbHeaderMenuTabletZIndex: 700;

@mixin headerRightArrow() {
  position: relative;

  &::after {
    content: url($sbbHeaderLinkArrow);
    display: inline-block;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 0;
    vertical-align: middle;
  }

  &:hover::after {
    content: url($sbbHeaderLinkArrowRed);
  }
}
