<div class="sbb-file-selector">
  <label class="sbb-file-selector-label" [for]="inputId">
    <input
      type="file"
      class="cdk-visually-hidden"
      #fileInput
      [attr.id]="inputId"
      [attr.accept]="accept"
      [attr.capture]="capture"
      [attr.multiple]="multiple"
      [disabled]="disabled"
      (change)="fileChange($event.target.files)"
      (blur)="onTouched()"
    />
    <span class="sbb-file-selector-button" [class.sbb-file-selector-disabled]="disabled">
      <span i18n="Button label to select files for upload@@sbbFileSelectorUploadFile"
        >Datei hochladen</span
      >
      <span class="sbb-svgsprite-icon"><sbb-icon-upload></sbb-icon-upload></span>
    </span>
  </label>

  <ul class="sbb-file-selector-list">
    <li *ngFor="let file of filesList">
      <div
        role="presentation"
        class="sbb-file-selector-list-type-icon"
        [ngSwitch]="getFileTypeCat(file)"
      >
        <sbb-icon-document-text *ngSwitchCase="fileTypeCategory.DOC"></sbb-icon-document-text>
        <sbb-icon-document-image *ngSwitchCase="fileTypeCategory.IMAGE"></sbb-icon-document-image>
        <sbb-icon-document-pdf *ngSwitchCase="fileTypeCategory.PDF"></sbb-icon-document-pdf>
        <sbb-icon-document-sound *ngSwitchCase="fileTypeCategory.AUDIO"></sbb-icon-document-sound>
        <sbb-icon-document-video *ngSwitchCase="fileTypeCategory.VIDEO"></sbb-icon-document-video>
        <sbb-icon-document-zip *ngSwitchCase="fileTypeCategory.ZIP"></sbb-icon-document-zip>
        <sbb-icon-document-standard *ngSwitchDefault></sbb-icon-document-standard>
      </div>
      <span class="sbb-file-selector-list-desc"
        >{{ file | fileNameNoExtension }} (<span class="sbb-file-selector-list-file-ext">{{
          file | fileExtension
        }}</span
        >, {{ file | fileSizeFormatted }})</span
      >
      <button type="button" class="sbb-file-selector-list-remove-icon" (click)="removeFile(file)">
        <span
          i18n="
             Hidden button label to remove a file from the selection list@@sbbFileSelectorRemoveFile

          "
          class="cdk-visually-hidden"
          >Datei entfernen</span
        >
        <sbb-icon-trash></sbb-icon-trash>
      </button>
    </li>
  </ul>
</div>
