@import '../styles/common';

.sbb-processflow {
  display: block;
}

.sbb-processflow-header-container {
  white-space: nowrap;
  display: flex;
  align-items: flex-start;
}

.sbb-processflow-horizontal-separator {
  line-height: 0;
  color: $sbbColorGrey;

  html:not(.sbb-lean) & {
    width: pxToRem(21);
    height: pxToRem(21);
    margin: 0 pxToRem(12);

    @include mq($from: tabletPortrait) {
      margin: 0 pxToRem(16);
    }
    @include mq($from: desktop) {
      margin: 0 pxToRem(24);
    }
    @include mq($from: desktop4k) {
      width: pxToRem(36);
      height: pxToRem(36);
      margin: 0 pxToRem(36);
    }
    @include mq($from: desktop5k) {
      width: pxToRem(48);
      height: pxToRem(48);
      margin: 0 pxToRem(48);
    }
  }
  html.sbb-lean & {
    width: pxToRem(12);
    height: pxToRem(12);
    margin: pxToRem(1) pxToRem(22) 0;
  }
}

.sbb-processflow-header {
  display: flex;
  overflow: hidden;
  align-items: center;
}

.sbb-processflow-content {
  outline: 0;

  &[aria-expanded='false'] {
    height: 0;
    overflow: hidden;
  }
}

.sbb-processflow-content-container {
  overflow: hidden;
}

.sbb-step:last-child {
  .sbb-vertical-content-container {
    border: none;
  }
}
