@use '@sbb-esta/angular' as sbb;

.sbb-processflow {
  display: block;
}

.sbb-processflow-header-container {
  white-space: nowrap;
  display: flex;
  align-items: flex-start;
  overflow-x: auto;
}

.sbb-processflow-separator {
  line-height: 0;
  color: var(--sbb-color-text);
  font-size: calc(#{sbb.pxToRem(18)} * var(--sbb-scaling-factor));
  margin: sbb.pxToRem(3) sbb.pxToRem(15);
  // We use em here to reduce redeclarations
  width: 1em;
  min-width: 1em;
  height: 1em;

  :where(html:not(.sbb-lean)) & {
    @include sbb.mq($from: tabletPortrait) {
      margin: sbb.pxToRem(3) sbb.pxToRem(19);
    }
    @include sbb.mq($from: desktop) {
      margin: calc(#{sbb.pxToRem(3)} * var(--sbb-scaling-factor))
        calc(#{sbb.pxToRem(27)} * var(--sbb-scaling-factor));
    }
    @include sbb.mq($from: desktop4k, $to: desktop5k) {
      margin: sbb.pxToRem(4) sbb.pxToRem(40);
    }
  }
  :where(html.sbb-lean) & {
    font-size: sbb.pxToRem(12);
    margin: sbb.pxToRem(1) sbb.pxToRem(22) 0;
  }

  // This matches all separators after the currently active step.
  [aria-selected='true'] ~ & {
    color: var(--sbb-porcessflow-separator-inactive-color);
  }
}

.sbb-processflow-header {
  display: flex;
  align-items: center;
}

.sbb-processflow-content {
  outline: 0;

  &.sbb-processflow-content-hidden {
    height: 0;
    overflow: hidden;
  }
}

.sbb-processflow-content-container {
  overflow: hidden;
}

.sbb-step:last-child .sbb-vertical-content-container {
  border: none;
}

// We want to display a gap between buttons. Vertically for mobile resolution
// and horizontally for above.
.sbb-processflow-previous + :is(.sbb-processflow-next, .sbb-button-base) {
  @include sbb.mq($to: tabletPortrait) {
    margin-top: sbb.pxToRem(8);
  }
  @include sbb.mq($from: tabletPortrait) {
    margin-left: calc(#{sbb.pxToRem(8)} * var(--sbb-scaling-factor));
  }
}
