<div
  class="sbb-step-label"
  [class.sbb-step-label-active]="active"
  [class.sbb-step-label-selected]="selected"
  [class.sbb-step-label-locked]="locked"
  [class.sbb-step-label-error]="state == 'error'"
>
  <!-- If there is a label template, use it. -->
  @if (_templateLabel()) {
  <div class="sbb-step-text-label">
    <ng-container [ngTemplateOutlet]="_templateLabel()!.template"></ng-container>
  </div>
  }
  <!-- If there is no label template, fall back to the text label. -->
  @if (_stringLabel()) {
  <div class="sbb-step-text-label">{{ label }}</div>
  }
</div>
