<ng-container>
  <rokas-teaser
    [rendered]="shouldRender"
    [templateContext]="selectedMarker"
    (closeClicked)="closeClicked.next()"
    [template]="template"
    [attr.aria-live]="'polite'"
    *ngIf="!popup"
  ></rokas-teaser>
  <rokas-popup
    [rendered]="shouldRender"
    [map]="map"
    [templateContext]="selectedMarker"
    [position]="selectedMarker?.position"
    [offset]="popupOffset"
    (closeClicked)="closeClicked.next()"
    [template]="template"
    [additionalClassName]="'marker-details'"
    *ngIf="popup"
  >
  </rokas-popup>
</ng-container>
