.sbbsc-navlist {
  padding-left: 1em;
  list-style: none;
  margin-top: 0.5em;
  margin-left: 0;

  li {
    padding-left: 0;
  }

  a {
    text-decoration: none;
    vertical-align: top;

    &.sbbsc-active {
      color: $sbbColorRed125;
    }
  }
}

.sbbsc-nav {
  height: calc(100vh - #{$headerHeight});
  width: 100%;
  padding-top: pxToRem(30);

  @include mq($from: tabletLandscape) {
    border-right: solid 1px #ccc;
  }

  @include mq($from: desktop) {
    position: fixed;
  }

  &-card {
    padding: 0.25em pxToEm(30);

    &:hover {
      cursor: pointer;
    }
  }

  &-tab {
    text-decoration: none;
    font-family: $fontSbbBold;
    font-size: $sizeFontBase - 1px;
    padding: 0.5em 0.25em;

    .fa {
      font-size: 0.75em;
      line-height: 1.3;
      vertical-align: middle;
      float: right;
      position: relative;
      top: 0.6em;
      right: 0.5em;
    }
  }
}
