<sbb-processflow #processflow skippable>
  <sbb-processflow-step title="Step 1">
    <div>
      Step content 1
    </div>
  </sbb-processflow-step>
  <sbb-processflow-step title="Step 2">
    <div>
      Step content 2
    </div>
  </sbb-processflow-step>
  <sbb-processflow-step title="Step 3">
    <div>
      Step content 3
    </div>
  </sbb-processflow-step>
</sbb-processflow>
<h4 class="sbbsc-block">Processflow Controls</h4>
<button sbbButton (click)="processflow.prevStep()">
  Previous step
</button>
<button sbbButton (click)="processflow.nextStep()" style="margin-left: 0.5rem;">
  Next step
</button>
<button sbbButton mode="ghost" (click)="processflow.reset()" style="margin-left: 0.5rem;">
  Reset
</button>
