<rokas-global-styles></rokas-global-styles>
<div class="jmc-container" lang="{{language}}">
  <div class="map-container" (touchstart)="onTouchStart($event)" (touchend)="onTouchEnd($event)">
    <div class="mod_map_container_mobile_overlay" [ngClass]="touchOverlayStyleClass" style="opacity: 0">
      <span class="mod_map_container_mobile_overlay_icon_wrapper">
          <div class="mod_svgsprite_icon mod_map_container_mobile_overlay_icon"> </div>
      </span>
      <p class="mod_map_container_mobile_overlay_text">{{touchOverlayText}}</p>
    </div>
    <rokas-feature-event-listener
      [listenerOptions]="listenerOptions"
      [map]="mapReady | async"
      (featuresHoverChange)="featuresHoverChange.next($event)"
      (featuresClick)="featuresClick.next($event); handleMarkerOrClusterClick($event.features);"
      (featureSelectionsChange)="selectedFeaturesChange.next($event)"
    ></rokas-feature-event-listener>
    <rokas-marker-details
      [selectedMarker]="selectedMarker"
      [template]="markerDetailsTemplate"
      [map]="mapReady | async"
      [popup]="markerOptions.popup"
      (closeClicked)="onMarkerUnselected()"
    >
    </rokas-marker-details>

    <div class="map-widgets">
      <rokas-zoom-controls
        *ngIf="uiOptions.zoomControls"
        [map]="mapReady | async"
        [showSmallButtons]="uiOptions.showSmallButtons"
      ></rokas-zoom-controls>
      <rokas-basemap-switch
        *ngIf="uiOptions.basemapSwitch"
        [map]="mapReady | async"
        [showSmallButtons]="uiOptions.showSmallButtons"
        (toggleBasemap)="onToggleBasemap()"
      ></rokas-basemap-switch>
      <rokas-home-button
        *ngIf="uiOptions.homeButton"
        [map]="mapReady | async"
        [showSmallButtons]="uiOptions.showSmallButtons"
        (homeButtonClicked)="onHomeButtonClicked()"
      ></rokas-home-button>
      <rokas-level-switch
        *ngIf="uiOptions.levelSwitch"
        [map]="mapReady | async"
        [showSmallButtons]="uiOptions.showSmallButtons"
      ></rokas-level-switch>
    </div>
    <div class="map" (resized)="onResized()" #map></div>
  </div>
</div>
