$sbbBusiness: true;
@import '../../../angular-core/styles/common';

$sbbContextmenuIconSize: 24px;
$sbbContextmenuPadding: 6px;
$sbbContextmenuMaskWidth: $sbbContextmenuIconSize + ($sbbContextmenuPadding * 2);
$sbbContextmenuBorderRadius: 2px;

.sbb-contextmenu {
  display: inline-block;

  > button {
    background-color: $sbbColorWhite;
    border: 1px solid transparent;
    padding: $sbbContextmenuPadding;
    position: relative;
    display: inline-flex;
    align-items: center;
    outline: 0;
    cursor: pointer;

    /* Use tag and class selector to be more specific than the icon rule for width and height */
    sbb-icon.sbb-icon {
      height: $sbbContextmenuIconSize;
      width: $sbbContextmenuIconSize;
    }

    &:hover,
    &:active {
      color: $sbbColorRed125;
    }

    &[aria-expanded='true'] {
      background-color: $sbbColorWhite;
      border-radius: $sbbContextmenuBorderRadius $sbbContextmenuBorderRadius 0 0;
      border: 1px solid $sbbColorGranite;

      &.sbb-dropdown-trigger-above {
        border-radius: 0 0 $sbbContextmenuBorderRadius $sbbContextmenuBorderRadius;
      }
    }
  }
}

.sbb-dropdown-panel.sbb-contextmenu-dropdown,
.sbb-dropdown-panel.sbb-contextmenu-dropdown.sbb-dropdown-panel-above {
  border: 1px solid $sbbColorGranite;
  border-radius: $sbbContextmenuBorderRadius;
  margin: 0;
  overflow: inherit;
  box-shadow: autocompleteBoxShadow(1, 1);

  > .sbb-dropdown-panel-mask {
    display: block;
    position: absolute;
    background-color: $sbbColorWhite;
    height: 3px;
    width: $sbbContextmenuMaskWidth;
  }
}

.sbb-dropdown-panel.sbb-contextmenu-dropdown:not(.sbb-dropdown-panel-above) {
  transform: translateY(-1px);

  &:not(.sbb-dropdown-panel-left) {
    border-top-left-radius: 0;
    .sbb-dropdown-panel-mask {
      left: 0;
      top: -2px;
    }
  }

  &.sbb-dropdown-panel-left {
    border-top-right-radius: 0;
    .sbb-dropdown-panel-mask {
      right: 0;
      top: -2px;
    }
  }
}

.sbb-dropdown-panel.sbb-contextmenu-dropdown.sbb-dropdown-panel-above {
  transform: translateY(1px);
  box-shadow: autocompleteBoxShadow(-1, 1);

  &:not(.sbb-dropdown-panel-left) {
    border-bottom-left-radius: 0;
    .sbb-dropdown-panel-mask {
      left: 0;
      bottom: -2px;
    }
  }

  &.sbb-dropdown-panel-left {
    border-bottom-right-radius: 0;
    .sbb-dropdown-panel-mask {
      right: 0;
      bottom: -2px;
    }
  }
}
