:host {
  display: block;
  overflow-y: hidden;
  margin-left: 300px;
  padding: 3rem;
}

h1 {
  margin-top: 0;
}

code {
  display: flex;
  flex-direction: column;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

::ng-deep .sbb-icon-component {
  display: block;
  width: 10rem;
}
