@use '@sbb-esta/angular' as sbb;

.sbb-chip-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  background: transparent;
  padding: 0;

  .sbb-input-with-open-panel & {
    border-color: var(--sbb-form-input-color);
  }

  .cdk-drag {
    cursor: grab;
  }

  &.cdk-drop-list-dragging {
    cursor: grabbing;
  }
}

// Selector .sbb-form-field is needed to be specific enough in form-field context
:is(.sbb-chip-input, .sbb-form-field .sbb-chip-input) {
  max-width: 100%;
  border: none;
  width: var(--sbb-chips-input-width);
  flex: 1 0 var(--sbb-chips-input-width);
  min-height: calc(var(--sbb-chips-list-height) - 2 * var(--sbb-border-width));

  .sbb-chip-list-disabled & {
    display: none;
  }

  :where(html.sbb-lean) & {
    padding-bottom: sbb.pxToRem(6);
  }
}

.sbb-standard-chip {
  @include sbb.ellipsis();
  font-size: var(--sbb-font-size);
  line-height: 1;

  height: var(--sbb-chips-chip-height);
  border-radius: var(--sbb-chips-chip-height);
  color: var(--sbb-color-weak-accent);
  -webkit-text-fill-color: var(--sbb-color-weak-accent);
  background-color: var(--sbb-chips-background-color-active);
  max-width: 100%;
  margin: var(--sbb-chips-chip-margin-vertical);

  // Subtraction of 1px needed to correctly align the content vertically as in specs
  padding: calc(
      0.5 *
        (
          var(--sbb-chips-chip-height) - var(--sbb-font-size) - #{sbb.pxToRem(1)} *
            var(--sbb-scaling-factor)
        )
    )
    calc(#{sbb.pxToRem(14)} * var(--sbb-scaling-factor));

  &:not(.sbb-chip-disabled):is(:hover, :focus) {
    background-color: var(--sbb-chips-background-color-hover);
  }

  &.sbb-chip-disabled {
    background-color: var(--sbb-chips-background-color-disabled);
    opacity: var(--sbb-chips-opacity);

    :is(.sbb-chip-remove, .sbb-chip-trailing-icon) {
      cursor: default;
    }
  }

  &.sbb-chip-with-trailing-icon {
    padding-right: calc(
      #{sbb.pxToRem(4)} * var(--sbb-scaling-factor) + var(--sbb-icon-size-default) +
        var(--sbb-chips-chip-padding-horizontal)
    );
    position: relative;
  }

  :is(.sbb-chip-remove, .sbb-chip-trailing-icon) {
    @include sbb.absoluteCenterY();
    cursor: pointer;
    margin-left: var(--sbb-chips-chip-padding-horizontal);
    right: var(--sbb-chips-chip-padding-horizontal);
  }
}
