@import '../styles/common';

$chipsRightPadding: 8;

.sbb-chip-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  background: transparent;

  &.sbb-input-element {
    padding: 0;

    .sbb-input-with-open-panel & {
      border-color: var(--sbb-color-grey);

      :where(html.sbb-lean) & {
        border-color: var(--sbb-color-iron);
      }
    }

    input.sbb-chip-input {
      max-width: 100%;
      border: none;
      width: pxToEm(150);
      flex: 1 0 pxToEm(150);
      min-height: pxToEm(34);

      :where(html.sbb-lean) & {
        padding-bottom: pxToEm(6);
      }
    }
  }
}

.sbb-chip-list-disabled.sbb-input-element {
  input.sbb-chip-input {
    display: none;
  }
}

.sbb-chip {
  // Chips could be set on buttons so we need to reset the user agent styles.
  @include buttonResetFrameless();
}

.sbb-standard-chip {
  @include ellipsis();

  height: pxToEm(36);
  border-radius: pxToEm(private-div(36, 2));
  color: var(--sbb-color-iron);
  background-color: var(--sbb-color-cloud);
  max-width: 100%;
  margin: pxToEm(4);
  padding: pxToEm(10.25) pxToEm(14);
  font-size: var(--sbb-font-size);

  &,
  :where(html:not(.sbb-lean)) &,
  :where(html.sbb-lean) & {
    line-height: 1;
  }

  :where(html:not(.sbb-lean)) & {
    @include mq($from: desktop4k) {
      font-size: pxToRem($sizeFontDefault4k);
    }
    @include mq($from: desktop5k) {
      font-size: pxToRem($sizeFontDefault5k);
    }
  }

  :where(html.sbb-lean) & {
    height: pxToEm(30);
    border-radius: pxToEm(private-div(30, 2));
    margin: pxToEm(2);
    padding-top: pxToEm(7);
    padding-bottom: pxToEm(6);
  }

  &:not(.sbb-chip-disabled) {
    &:hover,
    &:focus {
      background-color: var(--sbb-color-aluminum);
    }
  }

  &.sbb-chip-disabled {
    opacity: 0.6;

    .sbb-chip-remove,
    .sbb-chip-trailing-icon {
      cursor: default;
    }
  }

  &.sbb-chip-with-trailing-icon {
    padding-right: pxToEm(4 + 24 + $chipsRightPadding);
    position: relative;
  }

  .sbb-chip-remove,
  .sbb-chip-trailing-icon {
    @include absoluteCenterY();
    cursor: pointer;
    margin-left: pxToEm(8);
    right: pxToEm($chipsRightPadding);
  }
}
