.accordion-example-custom-html-panel {
  margin: 0;
}

.accordion-example-open-state {
  margin: 0 0 0 1rem;
}

.accordion-example-panel-button {
  flex: 1 0 auto;
  text-align: right;
}

.accordion-example-open-close-buttons {
  margin: 4px 0 8px 28px;
  button {
    margin-right: 8px;
  }
}
