<sbb-accordion [multi]="multi">
  <sbb-expansion-panel [expanded]="panelMode.value === 'panel 1'" [hideToggle]="hideToggle.value">
    <sbb-expansion-panel-header>
      Some generic content accordion panel
    </sbb-expansion-panel-header>
    Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin blandit, justo eget
    pellentesque fermentum, risus tellus varius mi, rutrum tempor augue sem eu urna. Suspendisse
    finibus ornare aliquam. Cras sit amet eleifend metus, tincidunt rhoncus orci. Mauris gravida
    aliquet eleifend.
  </sbb-expansion-panel>
  <sbb-expansion-panel
    [expanded]="panelMode.value === 'panel 2'"
    (opened)="panelOpenState = true; log('opened called')"
    (closed)="panelOpenState = false; log('closed called')"
    (expandedChange)="log('expandedChange called', $event)"
    [hideToggle]="hideToggle.value"
  >
    <sbb-expansion-panel-header>
      Panel with table
      <p class="m-0 ml-1">Currently I am {{ panelOpenState ? 'open' : 'closed' }}</p>
    </sbb-expansion-panel-header>
    <div class="docs-api">
      <h2>Table Title h2</h2>
      <table class="docs-api-properties-table">
        <tbody>
          <tr class="docs-api-properties-header-row">
            <th class="docs-api-properties-th">Name</th>
            <th class="docs-api-properties-th">Description</th>
          </tr>
          <tr class="docs-api-properties-row">
            <td class="docs-api-properties-name-cell">
              <div class="docs-api-input-marker">@Input()</div>
              <p class="docs-api-property-name">
                <code>active: false</code>
              </p>
            </td>
            <td class="docs-api-property-description">
              <p>Class property that specifics tab status</p>
            </td>
          </tr>
          <tr class="docs-api-properties-row">
            <td class="docs-api-properties-name-cell">
              <div class="docs-api-input-marker">@Input()</div>
              <p class="docs-api-property-name">
                <code>badgePill: number</code>
              </p>
            </td>
            <td class="docs-api-property-description">
              <p>
                Class property that identifies the data-set for tabs content
              </p>
            </td>
          </tr>
          <tr class="docs-api-properties-row">
            <td class="docs-api-properties-name-cell">
              <div class="docs-api-input-marker">@Input()</div>
              <p class="docs-api-property-name">
                <code>disabled: boolean</code>
              </p>
            </td>
            <td class="docs-api-property-description">
              <p>Sets a specifics tab disabled</p>
            </td>
          </tr>
          <tr class="docs-api-properties-row">
            <td class="docs-api-properties-name-cell">
              <div class="docs-api-input-marker">@Input()</div>
              <p class="docs-api-property-name">
                <code>id: string</code>
              </p>
            </td>
            <td class="docs-api-property-description">
              <p>Tab identifier</p>
            </td>
          </tr>
          <tr class="docs-api-properties-row">
            <td class="docs-api-properties-name-cell">
              <div class="docs-api-input-marker">@Input()</div>
              <p class="docs-api-property-name">
                <code>label: string</code>
              </p>
            </td>
            <td class="docs-api-property-description">
              <p>Label of a specific tab</p>
            </td>
          </tr>
          <tr class="docs-api-properties-row">
            <td class="docs-api-properties-name-cell">
              <div class="docs-api-input-marker">@Input()</div>
              <p class="docs-api-property-name">
                <code>labelId: string</code>
              </p>
            </td>
            <td class="docs-api-property-description">
              <p>Label identifier of a tab</p>
            </td>
          </tr>
          <tr class="docs-api-properties-row">
            <td class="docs-api-properties-name-cell">
              <div class="docs-api-input-marker">@Input()</div>
              <p class="docs-api-property-name">
                <code>tabindex: -1</code>
              </p>
            </td>
            <td class="docs-api-property-description">
              <p>Initial index tab</p>
            </td>
          </tr>
          <tr class="docs-api-properties-row">
            <td class="docs-api-properties-name-cell">
              <div class="docs-api-output-marker">@Output()</div>
              <p class="docs-api-property-name">
                <code>disableChange: EventEmitter</code>
              </p>
            </td>
            <td class="docs-api-property-description">
              <p>Event generated if a tab is disabled</p>
            </td>
          </tr>
          <tr class="docs-api-properties-row">
            <td class="docs-api-properties-name-cell">
              <div class="docs-api-output-marker">@Output()</div>
              <p class="docs-api-property-name">
                <code>removeChange: EventEmitter</code>
              </p>
            </td>
            <td class="docs-api-property-description">
              <p>Event generated if a tab is removed</p>
            </td>
          </tr>
          <tr class="docs-api-properties-row">
            <td class="docs-api-properties-name-cell">
              <p class="docs-api-property-name">
                <code>ariaHidden: string</code>
              </p>
            </td>
            <td class="docs-api-property-description">
              <p>
                Class property that identifies an aria hidden of a tab
              </p>
            </td>
          </tr>
          <tr class="docs-api-properties-row">
            <td class="docs-api-properties-name-cell">
              <p class="docs-api-property-name">
                <code>role: 'tabpanel'</code>
              </p>
            </td>
            <td class="docs-api-property-description">
              <p>Role of tab</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </sbb-expansion-panel>
  <sbb-expansion-panel
    [expanded]="panelMode.value === 'panel 3'"
    [disabled]="disabled.value"
    [hideToggle]="hideToggle.value"
  >
    <sbb-expansion-panel-header>
      I can disable this panel
    </sbb-expansion-panel-header>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
      laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
      voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
      non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </sbb-expansion-panel>
  <sbb-expansion-panel [expanded]="panelMode.value === 'panel 4'" [hideToggle]="hideToggle.value">
    <sbb-expansion-panel-header>
      Panel with lazy loaded content
    </sbb-expansion-panel-header>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
      laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
      voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
      non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>

    <ng-template sbbExpansionPanelContent>
      <sbb-expansion-panel>
        <sbb-expansion-panel-header>
          Lazy loaded content initialized at the first parent open
        </sbb-expansion-panel-header>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        </p>
      </sbb-expansion-panel>
    </ng-template>
  </sbb-expansion-panel>
  <sbb-expansion-panel
    hideToggle
    class="sbbsc-custom-html"
    [expanded]="panelMode.value === 'panel 5'"
  >
    <sbb-expansion-panel-header>
      <h2 class="m-0">Panel with custom html</h2>
      <div class="panel-button">
        <button
          sbbButton
          (click)="logAndPreventOpeningPanel($event, 'clicked button and prevent panel to open')"
        >
          Test button
          <sbb-icon svgIcon="kom:arrow-right-small" *sbbIcon></sbb-icon>
        </button>
      </div>
    </sbb-expansion-panel-header>
    Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin blandit, justo eget
    pellentesque fermentum, risus tellus varius mi, rutrum tempor augue sem eu urna. Suspendisse
    finibus ornare aliquam. Cras sit amet eleifend metus, tincidunt rhoncus orci. Mauris gravida
    aliquet eleifend.
  </sbb-expansion-panel>
</sbb-accordion>

<div class="flex-col">
  <h4 class="sbbsc-block">Properties</h4>
  <sbb-field label="Multi panel" class="sbbsc-block">
    <sbb-checkbox value="multi" class="inline-block" [(ngModel)]="multi">
      Open the panels of the accordion together
    </sbb-checkbox>
    <ng-container *ngIf="multi">
      <sbb-radio-group (change)="toggleRadio($event)" class="sbbsc-block">
        <div *ngFor="let option of radioOptions">
          <sbb-radio-button [value]="option.value">{{ option.name }}</sbb-radio-button>
        </div>
      </sbb-radio-group>
    </ng-container>
  </sbb-field>

  <sbb-field label="Disabled accordion panel" class="sbbsc-block">
    <sbb-checkbox value="disabled" [formControl]="disabled" class="inline-block">
      Disabled
    </sbb-checkbox>
  </sbb-field>

  <sbb-field label="Panel toggles" class="sbbsc-block">
    <sbb-checkbox value="hideToggle" [formControl]="hideToggle" class="inline-block">
      Hide Toggle
    </sbb-checkbox>
  </sbb-field>

  <sbb-field label="Programmatically open panel" class="sbbsc-block">
    <select [formControl]="panelMode" id="panelMode" sbbInput>
      <option *ngFor="let panel of panels" [ngValue]="panel">{{ panel }}</option>
    </select>
  </sbb-field>
  <div class="flex-col">
    <small>*You can choose "Open all/Close all" if multi panel checkbox is selected </small>
    <small
      >*You can choose one panel into select field to expand if the multi panel checkbox isn't
      selected</small
    >
  </div>
</div>
