<form [formGroup]="twoDatepickersForm">
  <sbb-field label="Datepicker" mode="medium" class="sbbsc-block" style="display: block">
    <sbb-datepicker [connected]="datepickerTheSecond" arrows>
      <input type="text" sbbDateInput sbbInput formControlName="firstDatepicker" />
    </sbb-datepicker>
  </sbb-field>
  <sbb-field label="Datepicker" mode="medium">
    <sbb-datepicker #datepickerTheSecond arrows>
      <input type="text" sbbDateInput sbbInput formControlName="secondDatepicker" />
    </sbb-datepicker>
  </sbb-field>
</form>
<h4 class="sbbsc-block">Properties</h4>
<pre>datepicker 1 errors: {{ twoDatepickersForm.get('firstDatepicker').errors | json }}</pre>
<pre>datepicker 2 errors: {{ twoDatepickersForm.get('secondDatepicker').errors | json }}</pre>

<pre>form validity: {{ twoDatepickersForm.valid | json }}</pre>
<pre>
firstDatepicker model: {{ twoDatepickersForm.get('firstDatepicker').value | date: 'mediumDate' }}
secondDatepicker model: {{
    twoDatepickersForm.get('secondDatepicker').value | date: 'mediumDate'
  }}</pre
>
