<sbb-submenu>
  <ul>
    <li>
      Introduction

      <ul>
        <li>
          <a routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
            >Getting started</a
          >
        </li>
        <li>
          <a routerLink="./introduction/schematics" routerLinkActive="active">Schematics</a>
        </li>
        <li>
          <a routerLink="./components" routerLinkActive="active">Icons Overview</a>
        </li>
        <li>
          <a routerLink="./experimental" routerLinkActive="active">Experimental Icons</a>
        </li>
      </ul>
    </li>
  </ul>
</sbb-submenu>

<router-outlet></router-outlet>
