<sbb-form-field label="Numbers">
  <input [formControl]="myControlStatic" [sbbAutocomplete]="autoStatic" sbbInput type="text" />
</sbb-form-field>
<sbb-autocomplete #autoStatic="sbbAutocomplete">
  @for (option of options | async; track option) {
    <sbb-option [value]="option">{{ option }}</sbb-option>
  }
  <sbb-optgroup label="Oft gesucht">
    @for (option of staticOptions; track option) {
      <sbb-option [value]="option">{{ option }}</sbb-option>
    }
    <sbb-option-hint>Hint for "Oft gesucht"</sbb-option-hint>
  </sbb-optgroup>
</sbb-autocomplete>
<pre>{{ myControlStatic.value | json }}</pre>
<p>
  The async call is emulated by a 500ms delay.<br />
  Two digits are needed at least to trigger the async function call.
</p>
