// ----------------------------------------------------------------------------------------------------
// Custom Webfonts
// ----------------------------------------------------------------------------------------------------

@font-face {
  font-family: "SBBWeb Bold";
  src: url("assets/fonts/SBBWeb-Bold.woff2") format("woff2"),
    url("assets/fonts/SBBWeb-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "SBBWeb Light";
  src: url("assets/fonts/SBBWeb-Light.woff2") format("woff2"),
    url("assets/fonts/SBBWeb-Light.woff") format("woff");
    font-display: swap;
  }

@font-face {
  font-family: "SBBWeb Roman";
  src: url("assets/fonts/SBBWeb-Roman.woff2") format("woff2"),
    url("assets/fonts/SBBWeb-Light.woff") format("woff");
  font-display: fallback;
}

@font-face {
  font-family: "SBBWeb Thin";
  src: url("assets/fonts/SBBWeb-Thin.woff2") format("woff2"),
    url("assets/fonts/SBBWeb-Thin.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "SBBWeb Ultralight";
  src: url("assets/fonts/SBBWeb-UltraLight.woff2") format("woff2"),
    url("assets/fonts/SBBWeb-UltraLight.woff") format("woff");
  font-display: swap;
}
