// Links mixins
// ----------------------------------------------------------------------------------------------------

@mixin standardLink {
  color: $colorBlack;
  line-height: pxToEm(23px);
  text-decoration: underline;

  @include mq($from: desktop4k) {
    font-size: pxToRem($sizeFontDefault4k);
    line-height: pxToEm(35px);
  }

  @include mq($from: desktop5k) {
    font-size: pxToRem($sizeFontDefault5k);
    line-height: pxToEm(45px);
  }

  &:hover,
  &:link {
    color: $colorRed125;
  }
}
