// ----------------------------------------------------------------------------------------------------
// All about variables in here
// ----------------------------------------------------------------------------------------------------

$sizeFontBase: 15px;
$sizeLineHeightBase: 1.7; // In the Sketch files everything is annotated as 1.5 but in fact we will need 1.7 with the current Webfonts to achieve the desired line height

/**
 * Font Families
 */
$font-family-base: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-sbb-roman: 'SBBWeb Roman', $font-family-base;
$font-sbb-bold: 'SBBWeb Bold', $font-family-base;
$font-sbb-ultralight: 'SBBWeb Ultralight', $font-family-base;
$font-sbb-light: 'SBBWeb Light', $font-family-base;
$font-sbb-thin: 'SBBWeb Thin', $font-family-base;

/**
 * Breakpoints
 */
$size-breakpoint-mobile-portrait: 321px;
$size-breakpoint-mobile-landscape: 421px;
$size-breakpoint-tablet-portrait: 643px;
$size-breakpoint-tablet-landscape: 769px;
$size-breakpoint-desktop: 1025px;
$size-breakpoint-desktop-large: 1281px;
$size-breakpoint-desktop-large-plus: 1441px; // used for checkout column change from 2:1 to 3:1.
$size-breakpoint-desktop-max-width: 1921px; // maxWidthDesktop + (2 x 8.5%)
$size-breakpoint-desktop4k: 2561px;
$size-breakpoint-desktop5k: 3841px;

$size-width-content: 960px;
$max-width-content-desktop: 1594px;
$max-width-content-desktop-5k: 2656px;

/**
 * Offsets
 */
$offset-5k: 19%;
$offset-large: 8.5%;
$offset-pre-large: 5.5%;
$offset-medium: 24;
$offset-small: 12;

/**
 * Scaling Factors
 */
$scaling-factor-default: 1;
$scaling-factor-4k: 1.5;
$scaling-factor-5k: 2;

/**
 * Header variables
 */
$header-height-mobile-landscape: 49;
$header-height-tablet-portrait: 65;
$header-height-tablet-landscape: $header-height-tablet-portrait;
$header-height-desktop: 130;
$header-height-desktop-4k: $header-height-desktop * $scaling-factor-4k;
$header-height-desktop-5k: $header-height-desktop * $scaling-factor-5k;
$header-height-desktop-rolled-up: 64;
$header-height-desktop4k-rolled-up: $header-height-desktop-rolled-up * $scaling-factor-4k;
$header-height-desktop5k-rolled-up:  $header-height-desktop-rolled-up * $scaling-factor-5k;

/**
 * Grid
 */
$gutter-mobile: 12;
$gutter-tablet: 24;
$gutter-desktop: 16;
$gutter-desktop-4k: 26;
$gutter-desktop-5k: 32;

/* Vertical Spacings */
$gutter-height: 8;
$inner-component-spacing: 24;
$inter-component-spacing: 80;
$inter-component-spacing-small: 40;

// Design Colors

$color-black: #000000;
$color-white: #FFFFFF;
$color-grey-light: #DCDCDC;
$color-grey-silver: #CDCDCD;
$color-grey: #666666;
$color-red-100: #EB0000;
$color-red-125: #C60018;
$color-red-150: #A20013;
$color-black-5: #F6F6F6;
$color-black-10: #E5E5E5;
$color-black-20: #D2D2D2;
$color-black-30: #BDBDBD;
$color-black-40: #A8A8A8;
$color-black-60: #767676;
$color-black-70: #686868;
$color-black-72: #b7b7b7;
$color-black-80: #5A5A5A;
$color-black-90: #444444;
$color-black-100: #1E1E1E;
$color-blue: #003399;

/**
 * Custom colors
 */
$color-bg: $color-white;
$color-call-to-action: $color-red-100;
$color-call-to-action-hover: $color-red125;
$color-content-bg: $color-white;
$color-fallback-button: $color-black90;
$color-focus-outline: $color-grey;
$color-headline: $color-black;
$color-menu-border: $color-black-10;
$color-navigation: $colorBlue;
$color-secondary-button: $color-black-20;
$color-separation-border: $color-black-10;
$color-text: $color-black;
$color-metanav: $color-black-60;

/**
 * Typo
 */
$size-font-default: 15;
$size-font-default-4k: $size-font-default * $scaling-factor-4k;
$size-font-default-5k: $size-font-default * $scaling-factor-5k;

$font-size-header-default: 14;
$font-size-header-desktop-4k: $font-size-header-default * $scaling-factor-4k;
$font-size-header-desktop-5k: $font-size-header-default * $scaling-factor-5k;

$size-font-h1-default: 40;
$size-font-h1-tablet: 30;
$size-font-h1-mobile: 28;
$size-font-h1-default4k: $size-font-h1-default * $scaling-factor-4k;
$size-font-h1-default5k: $size-font-h1-default * $scaling-factor-5k;

$size-font-h2-default: 32;
$size-font-h2-tablet: 24;
$size-font-h2-mobile: $size-font-h2-tablet;
$size-font-h2-default-4k: $size-font-h2-default * $scaling-factor-4k;
$size-font-h2-default-5k: $size-font-h2-default * $scaling-factor-5k;

$size-font-h3-default: 21;
$size-font-h3-tablet: $size-font-h3-default;
$size-font-h3-mobile: 20;
$size-font-h3-default4k: $size-font-h3-default * $scaling-factor-4k;
$size-font-h3-default5k: $size-font-h3-default * $scaling-factor-5k;

$size-font-h4-default: $size-font-default-;
$size-font-h4-default-4k: $size-font-h4-default * $scaling-factor-4k;
$size-font-h4-default-5k: $size-font-h4-default * $scaling-factor-5k;

$size-font-additional-info-default: 13;
$size-font-additional-info-default-4k: $size-font-additional-info-default * $scaling-factor-4k;
$size-font-additional-info-default-5k: $size-font-additional-info-default * $scaling-factor-5k;

/* lead text font sizes */
$size-font-lead-text-default: 21;
$sizeFontLeadTextTablet: $size-font-lead-text-default;
$sizeFontLeadTextMobile: 20;
$size-font-lead-text-default-4k: $size-font-lead-text-default * $scaling-factor-4k;
$size-font-lead-text-default-5k: 40;

$font-size-footer-bottom-container-default: 12;
$font-size-footer-default: $font-size-header-default;

/* form element sizing */
$form-element-max-width: 320;
$form-element-min-width: 240;
$form-element-spacing: $gutter-desktop/2;

/**
 * Animation-Stuff
 */
$default-transition-duration: 300ms;
$short-distance-transition-duration: 225ms;

$default-link-icon-transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);

$linkicon-animation-duration: $default-transition-duration;
$linkicon-animation: $linkicon-animation-duration $default-link-icon-transition-timing-function;

$image-lazyload-fade-animation: opacity .35s ease-in;
$image-lazyload-fade-animation-tablet: opacity .45s ease-in;

/**
 * Layers
 */

$z-index-focused-element: 999;

/**
 * Footer
 */
$color-footer-text: $color-grey;
$footer-animation: .3s;  // This has to match the delay in the corresponding JS
$font-size-footer-section-title-default: 16;


/**
 * Timetable Breakpoints
 */
$size-breakpoint-timetable-mobile: 960px;

/**
 * Timetable Cells
 */
$cell-small: 52;
$cell-cta-small: 72;
$cell-cta-small-medium: 96;
$cell-cta-medium: 160;
$cell-cta-large: 332;
