<label [attr.for]="inputId" class="sbb-toggle-option-button">
  <div class="sbb-toggle-option-button-inner">
    <input
      #input
      type="radio"
      class="cdk-visually-hidden"
      [id]="inputId"
      [checked]="checked"
      [attr.aria-checked]="checked"
      [disabled]="disabled"
      [tabIndex]="tabIndex"
      [attr.name]="name"
      [attr.value]="value"
      [required]="required"
      [attr.aria-label]="ariaLabel"
      [attr.aria-labelledby]="ariaLabelledby"
      [attr.aria-describedby]="ariaDescribedby"
      [attr.aria-controls]="ariaControls"
      [attr.aria-expanded]="ariaExpandedValue"
      (change)="_onInputChange($event)"
      (click)="_onInputClick($event)"
    />
    <span class="sbb-toggle-option-button-label-wrapper">
      <span *ngIf="icon" role="presentation" class="sbb-toggle-option-button-icon">
        <ng-container *ngTemplateOutlet="icon"></ng-container>
      </span>
      <span class="sbb-toggle-option-button-label">{{ label }}</span>
      <span *ngIf="infoText" class="sbb-toggle-option-button-info-text">
        <span class="cdk-visually-hidden">&nbsp;</span>
        {{ infoText }}
      </span>
    </span>
  </div>
</label>

<section
  #toggleOptionContentContainer
  *ngIf="toggleOptionHasContent"
  [attr.tabindex]="checked ? 0 : -1"
  [attr.aria-hidden]="!checked"
  [attr.id]="contentId"
  class="sbb-toggle-option-content"
>
  <ng-content></ng-content>
</section>
