.sbbsc-cards {
  padding: 0;
  margin: 50px 0 50px 0;

  &-list {
    margin: 0;
    max-width: 100%;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -ms-flex-align: stretch;
    align-items: stretch;
    padding-left: 0;
  }

  &-card {
    width: 300px;
    margin: 0 20px 20px 0;
    border-radius: 6px;
    background: #fff;
    border: solid 1px #ccc;
    color: #1b1b1b;
    cursor: pointer;
    position: relative;
    display: flex;
    padding: 0;

    a {
      text-decoration: none;
      border-bottom: none;
      display: inline-block;
      width: 100%;
    }

    &-hero {
      position: relative;
      overflow: hidden;
      display: block;
      width: 100%;
      height: 180px;
      border-radius: 4px 4px 0 0;
      text-align: center;

      img {
        max-width: 100%;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }

      &:hover {
        img {
          -webkit-transform: scale(1.1);
          transform: scale(1.1);
        }
      }
    }

    &-title {
      margin: 15px 20px 0 20px;
      display: block;
      text-align: center;
      font-size: pxToRem(18);
      padding-bottom: 2em;
    }

    &-badge-wrapper {
      text-align: right;
      margin: 1em 0 0.5em;
    }

    &-badge {
      display: inline-block;
      background-color: $sbbColorRed;
      color: $sbbColorWhite;
      padding: 0 0.5em;
      border-radius: 1em;
      font-size: $fontSizeBagde;
      margin-right: 0.5em;
    }

    &-icon-selector {
      color: $sbbColorBlue;
    }
  }
}
