.sbbsc-comp-viewer {
  border: 1px solid rgba(0, 0, 0, 0.03);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
  margin: 4px;
  padding-bottom: 1em;

  &-header {
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 12px 20px 12px 20px;
    background-color: rgba($sbbColorSilver, 0.5);

    @include mq($from: tabletLandscape) {
      padding: 12px 0 12px 20px;
    }
  }

  &-title {
    flex: 1 1 auto;
    margin-top: 0;
  }

  &-code-icon {
    flex-shrink: 0;

    .fa {
      font-size: 2em;
    }

    .fa-angle-right {
      margin-left: 0.25em;
    }
  }

  &-body {
    position: relative;
    padding: 0.25em;

    @include mq($from: tabletLandscape) {
      padding: 0.25em 1em;
    }

    ngb-tabset .nav-tabs .nav-item .nav-link {
      font-size: pxToRem(22);
    }
  }

  &-src {
    border-bottom: 1px solid rgba($sbbColorSilver, 0.5);
    min-height: 300px;
  }
}
