@mixin baseDocsTheme() {
  table {
    color: rgba(0, 0, 0, 0.87);
    border-collapse: collapse;
    border-radius: 2px;
    border-spacing: 0;
    margin: 0 0 32px;
    width: 100%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
  }
  th {
    background: rgba($sbbColorSilver, 0.5);
    font-family: $fontSbbRoman;
    font-weight: 400;
    max-width: 100px;
    padding: 13px 32px;
    text-align: left;
  }
  td {
    border: 1px solid $sbbColorSilver;
    font-family: $fontSbbRoman;
    font-weight: 400;
    padding: 8px 16px;
  }

  > p {
    word-break: break-word;
  }

  code,
  pre {
    font-family: 'Roboto Mono', monospace;
  }
  pre {
    font-size: pxToRem(14);
  }
  code {
    font-size: 90%;
  }

  h1,
  h2,
  h3 {
    margin-top: 0;
  }

  @include mq($to: tabletLandscape) {
    table {
      margin: 0 0 32px;
    }
    th {
      padding: 6px 16px;
    }
    td {
      padding: 4px 8px;
    }
  }
}

%baseDocsTheme {
  @include baseDocsTheme;
}

.docs {
  &-api {
    &-h2 {
      font-size: pxToRem(30);
    }

    &-h3 {
      font-size: pxToRem(24);
      margin-top: toEm(45 / $sizeFontDefault);
      padding-bottom: 0.3em;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }

    &-h4 {
      font-size: pxToRem(18);
    }

    &-class-description {
      font-size: pxToRem(13);
    }

    &-property-name {
      margin: 0;
    }

    &-method-name-row,
    &-method-parameter-row,
    &-properties-name-cell {
      font-family: 'Roboto Mono', monospace;
      font-weight: 600;
    }

    &-method-parameter-row,
    &-properties-name-cell {
      font-size: pxToRem(14);
    }

    &-method-parameter-type {
      font-size: pxToRem(13);
    }

    &-module-import {
      margin-bottom: 2.5em;
    }

    &-class-name,
    &-module-import {
      display: inline-block;
    }

    &-method-name-cell {
      font-family: $fontSbbBold;
      font-size: pxToRem(18);
    }

    &-method-parameters-header-cell,
    &-method-returns-header-cell {
      font-size: pxToRem(14);
    }

    &-deprecated-marker,
    &-input-marker,
    &-output-marker {
      font-size: pxToRem(13);
    }

    &-class-export-name,
    &-class-selector-name,
    &-module-import {
      font-family: 'Roboto Mono', monospace;
      padding: toEm(3 / $sizeFontDefault);
    }

    &-class-deprecated-marker[title],
    &-deprecated-marker[title],
    &-interface-deprecated-marker[title] {
      border-bottom: 1px dotted grey;
      cursor: help;
    }
    &-deprecated-marker + &-property-name {
      text-decoration: line-through;
    }

    &-method-parameter-type,
    &-method-returns-type {
      color: #303f9f;
    }

    &-h1 {
      display: none !important;
    }

    &-class-export-name,
    &-class-name,
    &-class-selector-name,
    &-module-import {
      background: rgba(0, 0, 0, 0.06);
    }

    &-method-header {
      font-size: $sizeFontBase;
    }

    @extend %baseDocsTheme;
  }

  &-markdown {
    max-width: 100%;
  }

  &-markdown-h1 {
    display: inline-block;
    font-size: pxToRem(34);
    font-weight: 400;
    padding: 5px;
  }
  &-markdown-h2 {
    font-size: pxToRem(24);
  }
  &-markdown-h3 {
    font-size: pxToRem(20);
  }
  &-markdown-h2,
  &-markdown-h4 {
    margin-top: 40px;
  }
  &-markdown-h5 {
    font-size: pxToRem(18);
  }

  &-markdown-h1,
  &-markdown-h2,
  &-markdown-h3,
  &-markdown-h4 {
    &:first-of-type {
      margin-top: 0;
    }
  }

  &-markdown-ol,
  &-markdown-p,
  &-markdown-ul {
    font-size: pxToRem(16);
    line-height: toEm(28 / $sizeFontDefault);
  }
  &-markdown-td code {
    font-size: pxToRem(14);
  }
  &-markdown-pre {
    border-radius: 5px;
    display: block;
    margin: 16px auto;
    overflow-x: auto;
    padding: 20px;
    white-space: pre-wrap;
    background: rgba($sbbColorSilver, 0.5);
    border: 0.5px solid rgba(0, 0, 0, 0.03);
  }
  &-markdown-pre &-markdown-code {
    padding: 0;
    background: 0 0;
  }
  &-markdown-pre code {
    font-size: 100%;
  }
  &-markdown-code {
    padding: 3px;
    background: rgba($sbbColorSilver, 0.5);
  }

  &-markdown-table {
    border-collapse: collapse;
    border-radius: 2px;
    border-spacing: 0;
    margin: 0 0 32px;
    width: 100%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
  }

  &-markdown-th {
    font-weight: 400;
    max-width: 100px;
    padding: 13px 32px;
    text-align: left;
  }

  &-markdown-td {
    font-weight: 400;
    padding: 8px 16px;
  }
  @include mq($to: tabletLandscape) {
    &-markdown-table {
      margin: 0 0 32px;
    }

    &-markdown-th {
      padding: 6px 16px;
    }

    &-markdown-td {
      padding: 4px 8px;
    }
  }

  &-markdown-a {
    text-decoration: none;
    color: #3f51b5;
  }
  &-markdown-h3 .material-icons,
  &-markdown-h4 .material-icons {
    color: rgba(0, 0, 0, 0.54);
  }
}

#sbbsc-overview-tab-panel {
  @extend %baseDocsTheme;
}
