/*** 
* sketch styles for future components already needed for showcase 
* TO REMOVE WHEN ACTUAL COMPONENTS WILL BE READY
***/

ngb-tabset {
  .nav-tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;

    .nav-item {
      padding-right: 3em;
      padding-left: 0;

      .nav-link {
        display: block;
        font-family: $fontSbbLight;
        font-size: pxToRem(26);
        text-decoration: none;
        padding-bottom: pxToRem(20);
        margin-bottom: 1em;
        position: relative;

        @include mq($from: desktop4k) {
          font-size: pxToRem(39);
        }

        @include mq($from: desktop5k) {
          font-size: pxToRem(52);
        }

        &::after {
          content: '';
          display: block;
          position: absolute;
          bottom: 0;
          width: 0;
          left: 50%;
          height: 1px;
          border-bottom: 1px solid currentColor;
          transition: width 0.3s, left 0.3s;
        }

        &.active::after,
        &:not(.active):focus::after,
        &:not(.active):hover::after {
          left: 0;
          width: 100%;
        }

        &:not(.active):focus::after,
        &:not(.active):hover::after {
          border-bottom-color: $sbbColorRed125;
        }

        &.active:hover,
        &.active:focus {
          color: currentColor;

          &::after {
            border-bottom-color: currentColor;
          }
        }
      }
    }
  }
}
