@import '../../../core/styles/common';

.sbb-dropdown-panel {
  @include autocompleteBase();
  @include autocompleteDirectionalRules();

  &.sbb-dropdown-panel-above {
    @include autocompleteDirectionalRules($mode: reverse);
  }

  &.sbb-dropdown-visible {
    visibility: visible;
  }

  &.sbb-dropdown-hidden {
    visibility: hidden;
  }

  .sbb-dropdown-panel-mask {
    display: none;
  }

  a,
  button {
    @include buttonResetFrameless;
    @include optionBase;
    width: 100%;
    color: $sbbColorGrey;

    &:hover,
    &:focus,
    &.sbb-selected {
      color: $sbbColorRed125;
    }
  }

  hr {
    margin: 0;
    padding: 0;
    border: none;
    border-top: solid 1px $sbbColorCloud;
  }

  a[disabled],
  button[disabled],
  .sbb-dropdown-item-disabled {
    cursor: default;
    opacity: 0.5;
  }

  a[aria-disabled='true'],
  button[aria-disabled='true'] {
    user-select: none;
    cursor: default;
  }
}
