// Tabpanel mixins
// ----------------------------------------------------------------------------------------------------

@mixin sbbTabpanel {
  border: 1px solid hsl(219, 1%, 72%);
  border-radius: 0 .2em .2em .2em;
  box-shadow: 0 0 .2em hsl(219, 1%, 72%);
  background: hsl(220, 43%, 99%);
}