// TabBadgePill mixins
// ----------------------------------------------------------------------------------------------------

@mixin sbbTabBadgePill {
  position: absolute;
  left: 85px;
  min-width: 0.9em;
  border-radius: 1.4em;
  padding: 0.5em 0.7em 0.5em;
  background: $colorBlack60;
  color: $colorWhite;
  font-family: $fontSbbBold;
  line-height: 1em;
  font-size: 0.7em;
  text-align: center;
  top: 0;
  background-color: $colorRed100;
  vertical-align: 15px;
  @include mq($from: desktop4k) {
    font-size: pxToRem(17);
    line-height: pxToRem(17);
  }  
  @include mq($from: desktop5k) {
    font-size: pxToRem(22);
    line-height: pxToRem(22);
  }
}
