// TabsWrapper mixins
// ----------------------------------------------------------------------------------------------------

@mixin sbbTabsWrapper {
  .sbb-tabs-wrapper {
    position: relative;
    z-index: 0;
    min-height: 3.86667em; 
    display: flex; 
    flex-direction: row;
    min-height: 5.4em;
  }
  @include mq($from: desktop4k) {
    font-size: pxToRem(39);
    line-height: pxToRem(39);
  }
  @include mq($from: desktop5k) {
    font-size: pxToRem(52);
    line-height: pxToRem(52);
  }
  .sbb-tabs-wrapper.is-scrolling:after, 
  .sbb-tabs-wrapper.is-scrolling:before {
    position: absolute;
    top: 0;
    content: '';
    z-index: 1;
    width: 0.8em;
    height: calc(100% - 0.5rem);
    transition: -webkit-transform .25s ease;
    transition: transform .25s ease;
    transition: transform .25s ease, -webkit-transform .25s ease; 
  }
  .sbb-tabs-wrapper.is-scrolling:before {
    left: 0;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    background: linear-gradient(to left, rgba(255, 255, 255, 0.37) 0%, white 100%); 
  }
  .sbb-tabs-wrapper.is-scrolling:after {
    right: 0;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.37) 0%, white 100%); 
  }
  .sbb-tabs-wrapper.is-scrolling-end:after {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  .sbb-tabs-wrapper.is-scrolling-start:before {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); 
  }
}
