<article class="container-fluid">
  <div class="row">
    <div class="col-lg-8 sbbsc-v-sep no-fix-width">
      <h4 class="sbbsc-block">Simple Ghettobox</h4>

      <sbb-ghettobox id="test-ghettobox-id" (afterDelete)="afterDelete1($event)">
        This is a simple message with a simple <a href="#">Link</a>
      </sbb-ghettobox>
    </div>
    <div class="col-lg-4">
      <h4 class="sbbsc-block">afterDelete response</h4>
      <pre>{{ afterDeleteResponse1 | json }}</pre>
    </div>
  </div>

  <div role="presentation" class="sbbsc-separator"></div>

  <div class="row">
    <div class="col-lg-8 sbbsc-v-sep no-fix-width">
      <h4 class="sbbsc-block">Ghettobox Link with custom icon</h4>

      <sbb-ghettobox
        (afterDelete)="afterDelete2($event)"
        [routerLink]="['.', 'test']"
        [queryParams]="{ debug: false }"
        fragment="test"
      >
        <sbb-icon-him-disruption *sbbIcon></sbb-icon-him-disruption>
        This is a simple link text with custom icon
      </sbb-ghettobox>
    </div>
    <div class="col-lg-4">
      <h4 class="sbbsc-block">afterDelete response</h4>
      <pre>{{ afterDeleteResponse2 | json }}</pre>
    </div>
  </div>

  <div role="presentation" class="sbbsc-separator"></div>

  <div class="row">
    <div class="col-lg-8 sbbsc-v-sep no-fix-width">
      <h4 class="sbbsc-block">Ghettobox container</h4>
      <div class="sbbsc-block">
        <sbb-ghettobox-container>
          <sbb-ghettobox
            [routerLink]="['.', 'test']"
            [queryParams]="{ debug: true }"
            fragment="education"
            (afterDelete)="afterDeleteContainer($event)"
          >
            <sbb-icon-him-disruption *sbbIcon></sbb-icon-him-disruption>
            This is an initial ghettobox into a container. Die Strecke zwischen Stadelhofen und
            Zürich Hauptbahnhof ist vorübergehend wegen einer technischen Störung unterbrochen.
          </sbb-ghettobox>
        </sbb-ghettobox-container>
      </div>
    </div>
    <div class="col-lg-4">
      <h4 class="sbbsc-block">Add Ghettobox</h4>
      <div class="sbbsc-block">
        <div class="sbbsc-block">
          <textarea #ghettoMessage style="width: 100%; height: 120px;">
Der Zugang zum Ticket Shop ist vom 20.10.2015, 22:00 Uhr, bis zum 21.10.2015, 05:00 Uhr wegen Wartungsarbeiten unterbrochen.</textarea
          >
        </div>
        <button sbbButton (click)="addGhettobox(ghettoMessage.value)">
          Add ghettobox
        </button>
      </div>
      <div role="presentation" class="sbbsc-separator"></div>
      <h4 class="sbbsc-block">Delete Ghettobox</h4>
      <div class="sbbsc-block">
        <input #ghettoId type="text" placeholder="ID to delete" style="margin-right: 0.5rem" />
        <button sbbButton (click)="deleteById(ghettoId.value)">
          Delete ghettoxbox by ID
        </button>
      </div>
      <div role="presentation" class="sbbsc-separator"></div>
      <div class="sbbsc-block">
        <input
          #ghettoIndex
          type="number"
          placeholder="Index to delete"
          style="margin-right: 0.5rem"
        />
        <button sbbButton (click)="deleteByIndex(ghettoIndex.value)">
          Delete ghettobox by Index
        </button>
      </div>
      <div role="presentation" class="sbbsc-separator"></div>
      <div class="sbbsc-block">
        <button sbbButton (click)="deleteByRef()">
          Delete first ghettobox from GhettoboxRef
        </button>
      </div>
      <div role="presentation" class="sbbsc-separator"></div>
      <div class="sbbsc-block">
        <button sbbButton (click)="clear()">Clear All</button>
      </div>
      <div role="presentation" class="sbbsc-separator"></div>
      <h4 class="sbbsc-block">Ghettobox Ids</h4>
      <pre>{{ printAttachedGhettoboxesIDS() | json }}</pre>
      <h4 class="sbbsc-block">
        Last afterDelete response
      </h4>
      <pre class="sbbsc-block">{{ afterDeleteResponseContainer | json }}</pre>
    </div>
  </div>
  <article>
    <ng-template #testIcon1>
      <sbb-icon-him-replacementbus></sbb-icon-him-replacementbus>
    </ng-template>

    <ng-template #testIcon2>
      <sbb-icon-him-construction></sbb-icon-him-construction>
    </ng-template>
  </article>
</article>
