@import '../../../../angular-core/styles/common/mediaqueries';
@import '../../../../angular-core/styles/common/mixins';
@import '../accordion';

@mixin expansionToggleArrow($icon) {
  content: '';

  @include absoluteCenterY;

  right: pxToEm($sbb-accordion-divider-left);
  width: pxToEm($sbb-accordion-toggle-size);
  height: pxToEm($sbb-accordion-toggle-size);

  @include publicOnly() {
    border: 1px solid $sbb-accordion-toggle-color;
    border-radius: 50%;
  }

  background: url($icon) no-repeat;
  background-position: center;
  background-size: toPx($sbb-accordion-toggle-icon-size) toPx($sbb-accordion-toggle-icon-size);
}

.sbb-expansion-panel-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: $sbb-accordion-header-padding;
  position: relative;
  background-color: $sbb-accordion-header-bgcolor;

  @include publicOnly() {
    @include mq($from: desktop4k) {
      font-size: toEm(1 * $scalingFactor4k);
    }

    @include mq($from: desktop5k) {
      font-size: toEm(1 * $scalingFactor5k);
    }
  }

  &:focus,
  &:hover {
    outline: none;
  }

  &.sbb-no-toggle {
    padding: $sbb-accordion-header-padding-no-toggle;
  }

  &.sbb-expanded {
    &::after {
      content: '';
      display: block;
      position: absolute;
      height: 0;
      width: calc(100% - #{toPx($sbb-accordion-divider-left * 2)});
      bottom: 0;
      left: toPx($sbb-accordion-divider-left);
      border-bottom: 1px solid $sbb-accordion-body-expanded-border-color;

      @include publicOnly() {
        @include mq($from: desktop4k) {
          border-width: toPx(1 * $scalingFactor4k);
        }

        @include mq($from: desktop5k) {
          border-width: toPx(1 * $scalingFactor5k);
        }
      }
    }
  }

  &.sbb-expanded,
  &.sbb-expanded:focus,
  &.sbb-expanded:hover {
    background: inherit;
  }

  &[aria-disabled='true'] {
    opacity: 0.75;
  }

  &:not([aria-disabled='true']) {
    cursor: pointer;
  }

  &-content {
    display: flex;
    flex: 1;
    flex-direction: row;
    overflow: hidden;
    font-size: pxToEm($sbb-accordion-header-font-size);
    font-family: $fontSbbLight;
    line-height: $sbb-accordion-header-content-line-height;
  }

  &:not(.sbb-no-toggle) {
    &.sbb-expanded {
      &::before {
        @include expansionToggleArrow($sbb-accordion-toggle-expanded);

        @include businessOnly() {
          transform-origin: toPx($sbb-accordion-toggle-icon-size / 2)
            toPx($sbb-accordion-toggle-icon-size / 4);
          transform: rotate(180deg);
        }
      }
    }

    &:not(.sbb-expanded) {
      &::before {
        @include expansionToggleArrow($sbb-accordion-toggle);
      }
    }
  }
}
