<div
  class="sbb-chip-input"
  sbbAutocompleteOrigin
  #origin="sbbAutocompleteOrigin"
  [class.sbb-chip-input-active]="isActive"
  [class.sbb-chip-input-disabled]="isDisabled"
  [class.sbb-chip-input-error]="isInvalid"
>
  <div class="sbb-chip-input-content">
    <div class="sbb-chip-wrapper" *ngFor="let option of selectedOptions">
      <sbb-chip
        [label]="option"
        (dismissed)="deselectOption(option)"
        [disabled]="disabled"
      ></sbb-chip>
    </div>
    <input
      type="text"
      [disabled]="disabled"
      [sbbAutocomplete]="auto"
      [sbbAutocompleteConnectedTo]="origin"
      [(ngModel)]="inputModel"
      (focus)="focus = true"
      (blur)="focus = false"
      class="sbb-chip-input-textfield"
    />
  </div>

  <sbb-autocomplete #auto="sbbAutocomplete" (optionSelected)="selectOption($event)">
    <sbb-option *ngFor="let option of options" [value]="option">{{ option }}</sbb-option>
  </sbb-autocomplete>
</div>
