@import '../../../angular-core/styles/common/colors';
@import '../../../angular-core/styles/common/functions';
@import '../../../angular-core/styles/common/mixins';

$tagTransition: border-color 225ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 225ms cubic-bezier(0.4, 0, 0.2, 1);
$tagBaseBgcolor: $sbbColorMilk;
$tagBaseColor: $sbbColorGrey;
$tagActiveBgcolor: $sbbColorWhite;
$tagActiveColor: $sbbColorBlack;
$tagBadgeActiveColor: $sbbColorRed;
$tagPadding: pxToEm(7) pxToEm(8) pxToEm(7) pxToEm(16);

@mixin tagList() {
  .sbb-tag-content {
    margin-right: pxToEm(8);
  }
}

@mixin baseTag() {
  display: inline-block;

  &.sbb-tag-disabled .sbb-tag-content {
    cursor: default;
  }

  .sbb-tag-content {
    display: flex;
    background-color: $tagBaseBgcolor;
    border-radius: pxToEm(18);
    padding: $tagPadding;
    transition: $tagTransition;
    margin-bottom: pxToEm(8);
    line-height: 1;
    border: 1px solid;
    border-color: transparent;
    cursor: pointer;

    @include mq($from: desktop4k) {
      font-size: toRem(1 * $scalingFactor4k);
      border-width: toPx(1 * $scalingFactor4k);
    }

    @include mq($from: desktop5k) {
      font-size: toRem(1 * $scalingFactor5k);
      border-width: toPx(1 * $scalingFactor5k);
    }

    input[type='checkbox'] {
      &:focus ~ .sbb-tag-label {
        color: $tagActiveColor;
      }
    }

    .sbb-tag-label,
    .sbb-tag-amount {
      display: inline-block;
    }

    .sbb-tag-label {
      @include ellipsis;

      color: $tagBaseColor;
      max-width: pxToEm(250);
      vertical-align: middle;

      @include mq($from: desktop4k) {
        font-size: pxToRem(23);
      }

      @include mq($from: desktop5k) {
        font-size: pxToRem(30);
      }
    }
  }
}

@mixin activeTag() {
  .sbb-tag-content {
    background-color: $tagActiveBgcolor;
    border-color: $tagActiveColor;

    .sbb-tag-label {
      color: $tagActiveColor;
    }

    .sbb-tag-amount {
      background-color: $tagBadgeActiveColor;
    }
  }
}
