@import '../accordion';

.sbb-expansion-panel {
  box-sizing: content-box;
  display: block;
  margin: 0;
  transition: margin 225ms $sbb-accordion-timing-function;
  border: 1px solid transparent;

  @include publicOnly() {
    @include mq($from: desktop4k) {
      border-width: toPx(1 * $scalingFactor4k);
    }

    @include mq($from: desktop5k) {
      border-width: toPx(1 * $scalingFactor5k);
    }
  }

  &.sbb-expanded {
    border-color: $sbb-accordion-body-expanded-border-color;
    margin-bottom: toPx(2);

    @include publicOnly() {
      @include mq($from: desktop4k) {
        margin-bottom: toPx(2 * $scalingFactor4k);
      }

      @include mq($from: desktop5k) {
        margin-bottom: toPx(2 * $scalingFactor5k);
      }
    }
  }
}

.sbb-expansion-panel-content {
  overflow: hidden;

  &.sbb-expanded {
    overflow: visible;
  }
}

.sbb-expansion-panel-body {
  @include publicOnly() {
    padding: $sbb-accordion-content-padding-mobile;

    @include mq($from: tabletPortrait) {
      padding: $sbb-accordion-content-padding;
    }

    @include mq($from: desktop4k) {
      font-size: toEm(1 * $scalingFactor4k);
    }

    @include mq($from: desktop5k) {
      font-size: toEm(1 * $scalingFactor5k);
    }
  }

  @include businessOnly() {
    padding: $sbb-accordion-content-padding;
    line-height: pxToEm(23);
  }
}
