@mixin absoluteCenterPosition() {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@mixin landingSearchResultListHero() {
  height: pxToRem(50);
  background-color: $sbbColorSilver;
  color: $sbbColorRed;
  line-height: 4;
  font-size: pxToRem(12);
  margin: 0;
  font-family: $fontSbbRoman;
}

@mixin landingSearchResultCardTitle() {
  font-size: pxToRem(20);
}

@mixin landingIconSearchResultListHero() {
  height: pxToRem(80);
  font-size: pxToRem(24);
  line-height: 1;

  .icon-flex-column {
    @include absoluteCenterPosition();
  }
}

@mixin landingIconSearchResultCardTitle() {
  @include ellipsis;
  font-size: pxToRem(16);
}
