@import '../styles/common';

.sbb-form-field {
  display: inline-block;
  position: relative;
  width: pxToRem(320);

  :where(html:not(.sbb-lean)) & {
    @include mq($from: desktop4k) {
      width: pxToRem(400);
    }
  }
  :where(html.sbb-lean) & {
    width: pxToRem(230);
  }
}

// Variant for .sbb-form-field
.sbb-form-field-short {
  width: 33.333%;

  @include mq($from: mobileLandscape) {
    width: 25%;
  }

  @include mq($from: desktop) {
    width: 16.66666%;
  }
}

// Variant for .sbb-form-field
.sbb-form-field-medium {
  width: 100%;

  @include mq($from: tabletPortrait) {
    width: 50%;
  }
}

// Variant for .sbb-form-field
.sbb-form-field-long {
  width: 100%;
}

.sbb-form-field-wrapper {
  padding-bottom: pxToEm(23);

  :where(html.sbb-lean) & {
    padding-bottom: pxToRem(16);
  }

  .sbb-form-field-flexible-errors & {
    padding-bottom: 0;
  }
}

.sbb-form-field-label-wrapper {
  margin-bottom: calc(#{pxToRem(5)} * var(--sbb-scaling-factor));
  padding-left: calc(#{pxToRem(10)} * var(--sbb-scaling-factor));

  :where(html.sbb-lean) & {
    margin-bottom: pxToRem(3);
    padding-left: 0;
  }
}

// The element of the input
// Also see Form Elements section in _typography.scss
.sbb-form-field .sbb-input-element {
  width: 100%;

  // Prevent textareas from being resized outside the form field.
  max-width: 100%;
}

// Prevents IE from always adding a scrollbar by default.
.sbb-form-field textarea.sbb-input-element {
  // Only allow resizing along the Y axis.
  resize: vertical;
  overflow: auto;

  &.cdk-textarea-autosize {
    resize: none;
  }
}

.sbb-form-field-error-wrapper {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;

  .sbb-form-field-flexible-errors & {
    position: relative;
  }
}

// Scale down icons in the label and error to be the same size as the text.
:is(.sbb-form-field-error-wrapper, .sbb-form-field-label-wrapper) {
  :is(.sbb-icon, .sbb-tooltip-icon),
  .sbb-icon svg {
    vertical-align: bottom;
    width: calc(#{pxToRem(16)} * var(--sbb-scaling-factor));
    height: calc(#{pxToRem(16)} * var(--sbb-scaling-factor));
  }
  .sbb-tooltip-icon:not(:hover):not(:focus) {
    color: inherit;
  }

  // Make sbb-tooltip align nicely inside sbb-label.
  .sbb-tooltip-trigger {
    margin-left: calc(#{pxToRem(8)} * var(--sbb-scaling-factor));
  }
}

.sbb-error {
  display: block;
  letter-spacing: 0;
  outline: none;
  resize: none;
  opacity: 1;
  font-family: var(--sbb-font-roman);
  color: var(--sbb-color-error);

  font-size: calc(#{pxToRem(14)} * var(--sbb-scaling-factor));
  line-height: calc(#{pxToRem(21)} * var(--sbb-scaling-factor));

  :where(html.sbb-lean) & {
    font-size: pxToRem(13);
    line-height: pxToRem(16);
  }
}

.sbb-form-group-vertical {
  display: flex;
  flex-direction: column;
  row-gap: calc(#{pxToRem(8)} * var(--sbb-scaling-factor));
}
