@import '../../angular/styles/common';

.sbb-form-field {
  display: inline-block;
  position: relative;
  width: pxToRem(320);

  html:not(.sbb-lean) & {
    @include mq($from: desktop4k) {
      width: pxToRem(400);
    }
  }

  html.sbb-lean & {
    width: pxToRem(230);
  }
}

// Variant for .sbb-form-field
.sbb-form-field-short {
  width: 33.333%;

  @include mq($from: mobileLandscape) {
    width: 25%;
  }

  @include mq($from: desktop) {
    width: 16.66666%;
  }
}

// Variant for .sbb-form-field
.sbb-form-field-medium {
  width: 100%;

  @include mq($from: tabletPortrait) {
    width: 50%;
  }
}

// Variant for .sbb-form-field
.sbb-form-field-long {
  width: 100%;
}

.sbb-form-field-wrapper {
  padding-bottom: pxToRem(23);

  html:not(.sbb-lean) & {
    @include mq($from: desktop4k) {
      padding-bottom: pxToRem(35);
    }
    @include mq($from: desktop5k) {
      padding-bottom: pxToRem(46);
    }
  }
  html.sbb-lean & {
    padding-bottom: pxToRem(16);
  }

  .sbb-form-field-errorless & {
    padding-bottom: 0;
  }
}

.sbb-form-field-label-wrapper {
  margin-bottom: pxToRem(5);
  padding-left: pxToRem(10);

  html:not(.sbb-lean) & {
    @include mq($from: desktop4k) {
      margin-bottom: pxToRem(5 * $scalingFactor4k);
      padding-left: pxToRem(10 * $scalingFactor4k);
    }
    @include mq($from: desktop5k) {
      margin-bottom: pxToRem(5 * $scalingFactor5k);
      padding-left: pxToRem(10 * $scalingFactor5k);
    }
  }

  html.sbb-lean & {
    margin-bottom: pxToRem(3);
    padding-left: 0;
  }
}

// The element of the input
// Also see Form Elements section in _typography.scss
.sbb-form-field .sbb-input-element {
  width: 100%;

  // Prevent textareas from being resized outside the form field.
  max-width: 100%;
}

// Prevents IE from always adding a scrollbar by default.
.sbb-form-field textarea.sbb-input-element {
  // Only allow resizing along the Y axis.
  resize: vertical;
  overflow: auto;

  &.cdk-textarea-autosize {
    resize: none;
  }
}

.sbb-form-field-error-wrapper {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
}

// Scale down icons in the label and error to be the same size as the text.
.sbb-form-field-error-wrapper,
.sbb-form-field-label-wrapper {
  .sbb-icon,
  .sbb-icon svg {
    vertical-align: bottom;
    width: pxToRem(16);
    height: pxToRem(16);
    html:not(.sbb-lean) & {
      @include mq($from: desktop4k) {
        width: pxToRem(16 * $scalingFactor4k);
        height: pxToRem(16 * $scalingFactor4k);
      }
      @include mq($from: desktop5k) {
        width: pxToRem(16 * $scalingFactor5k);
        height: pxToRem(16 * $scalingFactor5k);
      }
    }
  }

  // Make sbb-tooltip align nicely inside sbb-label.
  .sbb-tooltip {
    margin-left: pxToRem(8);
    html:not(.sbb-lean) & {
      @include mq($from: desktop4k) {
        margin-left: pxToRem(8 * $scalingFactor4k);
      }
      @include mq($from: desktop5k) {
        margin-left: pxToRem(8 * $scalingFactor5k);
      }
    }
  }
  .sbb-tooltip-icon {
    vertical-align: bottom;

    &:not(:hover):not(:focus) {
      color: inherit;
    }

    &,
    .sbb-icon {
      width: pxToRem(16);
      height: pxToRem(16);
      html:not(.sbb-lean) & {
        @include mq($from: desktop4k) {
          width: pxToRem(16 * $scalingFactor4k);
          height: pxToRem(16 * $scalingFactor4k);
        }
        @include mq($from: desktop5k) {
          width: pxToRem(16 * $scalingFactor5k);
          height: pxToRem(16 * $scalingFactor5k);
        }
      }
    }
  }
}

.sbb-error {
  display: block;
  letter-spacing: 0;
  outline: none;
  resize: none;
  opacity: 1;
  font-family: $fontSbbRoman;
  color: $sbbColorError;

  font-size: pxToRem(14);
  line-height: pxToRem(21);

  html:not(.sbb-lean) & {
    @include mq($from: desktop4k) {
      font-size: pxToRem(23);
      line-height: pxToRem(32);
    }
    @include mq($from: desktop5k) {
      font-size: pxToRem(30);
      line-height: pxToRem(42);
    }
  }

  html.sbb-lean & {
    font-size: pxToRem(13);
    line-height: pxToRem(16);
  }
}
