@import '../../angular/styles/common';

$defaultPickerIconSize: 24;
$defaultToggleLeftOffset: $defaultPickerIconSize / 2;
$pickerIconsHoverColor: $sbbColorRed125;
$withArrowsToggleLeftOffset: $defaultPickerIconSize + ($defaultPickerIconSize / 2) + 4;
$withArrowsLeftArrowOffset: $defaultPickerIconSize / 2;

$datePickerContentTop: 17;

$datePickerToggleWrapperArrowWidth: 24;
$datePickerToggleWrapperArrowHeight: pxToEm(16);
$datePickerToggleWrapperArrowLeftOffset: $defaultToggleLeftOffset;
$datePickerToggleWithArrowsWrapperArrowLeftOffset: $withArrowsToggleLeftOffset;
$datePickerToggleArrowWidth: 18;
$datePickerToggleArrowHeight: pxToEm(2);
$datePickerToggleArrowColor: $sbbColorGrey;
$datePickerToggleArrowBeforeOffset: pxToEm(-3);
$datePickerToggleArrowAfterOffset: pxToEm(9);

$datePickerCalendarBorderWidth: 2;
$datePickerCalendarBorder: pxToEm($datePickerCalendarBorderWidth) solid $sbbColorGrey;
$datePickerCalendarBg: $sbbColorWhite;
$datePickerCalendarHeaderColor: $sbbColorMetal;
$datePickerCalendarHeaderFontSize: pxToEm(13);
$datePickerCalendarWidthMobile: pxToEm(340);
$datePickerCalendarHeightMobile: pxToEm(380);
$datePickerCalendarWidth: pxToEm(428);
$datePickerCalendarHeight: pxToEm(428);
$datepickerCalendarLineColor: $sbbColorPlatinum;

$datePickerCalendarBorderRadius: pxToEm(2);
$datePickerCalendarBoxShadow: 0 pxToEm(8) 0 rgba(0, 0, 0, 0.15);
$datePickerRevertCalendarBoxShadow: 0 pxToEm(-8) 0 rgba(0, 0, 0, 0.15);
$datePickerCalendarHeaderHeight: pxToEm(68);
$datePickerCalendarHeaderLabelFontSize: pxToEm(21);
$datePickerCalendarHeaderLabelLineHeight: 3.2;

$datePickerCalendarTableContentPaddingMobile: 0 pxToEm(11) pxToEm(0) pxToEm(11);
$datePickerCalendarTableContentPaddingWidth: 18;
$datePickerCalendarTableContentPadding: 0 pxToEm($datePickerCalendarTableContentPaddingWidth)
  pxToEm(0) pxToEm($datePickerCalendarTableContentPaddingWidth);
$datePickerCalendarTableTodayFontFamily: $fontSbbBold;
$datePickerCalendarTableTodayColor: $sbbColorBlack;
$datePickerCalendarTableActiveColor: $sbbColorRed125;
$datePickerCalendarTableSelectedColor: $sbbColorGrey;
$datePickerCalendarTableRangeBgColor: $sbbColorMilk;
$datePickerCalendarTableColor: $sbbColorGrey;

$datePickerCalendarDisabledCellColor: $sbbColorCement;
$datePickerCalendarDisabledTextCellColor: $sbbColorCement;
$datePickerDisabledCellWidth: 32;
$datePickerDisabledCellTop: 20;
$datePickerDisabledCellLeft: 18;

// start of lean variables

$datePickerContentTopLean: 8;

$defaultToggleLeftOffsetLean: 6;
$withArrowsToggleLeftOffsetLean: 30;
$withArrowsLeftArrowOffsetLean: 6;

$datePickerCalendarBorderLean: pxToEm(1) solid $sbbColorIron;
$datePickerCalendarBorderWidthLean: 1;
$datepickerCalendarLineColorLean: $sbbColorCloud;

$datePickerCalendarWidthMobileLean: pxToEm(303);
$datePickerCalendarHeightMobileLean: pxToEm(303);

$datePickerCalendarWidthLean: pxToEm(303);
$datePickerCalendarHeightLean: pxToEm(303);

$datePickerCalendarHeaderHeightLean: pxToEm(36);
$datePickerCalendarHeaderLabelFontSizeLean: pxToEm(15);
$datePickerCalendarHeaderLabelLineHeightLean: pxToEm(36);
$datePickerCalendarHeaderColorLean: $sbbColorIron;
$datePickerCalendarTableColorLean: $sbbColorIron;

$datePickerCalendarTableContentPaddingWidthLean: 16;
$datePickerCalendarTableContentPaddingLean: 0
  pxToEm($datePickerCalendarTableContentPaddingWidthLean)
  pxToEm($datePickerCalendarTableContentPaddingWidthLean)
  pxToEm($datePickerCalendarTableContentPaddingWidthLean);
$datePickerCalendarTableSelectedColorLean: $sbbColorIron;
$datePickerCalendarBoxShadowLean: 0 pxToEm(4) 0 rgba(0, 0, 0, 0.15);
$datePickerRevertCalendarBoxShadowLean: 0 pxToEm(-4) 0 rgba(0, 0, 0, 0.15);

$datePickerToggleWrapperArrowWidthLean: 12;
$datePickerToggleWrapperArrowHeightLean: pxToEm(8);
$datePickerToggleWrapperArrowLeftOffsetLean: $defaultToggleLeftOffsetLean +
  ($defaultPickerIconSize - $datePickerToggleWrapperArrowWidthLean) / 2;
$datePickerToggleWithArrowsWrapperArrowLeftOffsetLean: $withArrowsToggleLeftOffsetLean +
  ($defaultPickerIconSize - $datePickerToggleWrapperArrowWidthLean) / 2;
$datePickerToggleArrowWidthLean: 9;
$datePickerToggleArrowHeightLean: pxToEm(1);
$datePickerToggleArrowColorLean: $sbbColorIron;
$datePickerToggleArrowBeforeOffsetLean: pxToEm(-2);
$datePickerToggleArrowAfterOffsetLean: pxToEm($datePickerToggleArrowWidthLean / 2);

$datePickerCalendarDisabledCellColorLean: $sbbColorStorm;
$datePickerCalendarDisabledTextCellColorLean: $sbbColorStorm;
$datePickerDisabledCellWidthLean: 24;
$datePickerDisabledCellTopLean: 17;
$datePickerDisabledCellLeftLean: 12;
// end of lean variables

$datePickerToggleArrowTopOffset: -($datePickerToggleWrapperArrowHeight -
      $datePickerToggleArrowHeight);

@mixin datePickerButton() {
  button {
    @include buttonResetFrameless();

    &:hover:enabled,
    &:focus:enabled {
      cursor: pointer;
    }
  }
}

@mixin pickerIconsSize(
  $pickerIconWidth: $defaultPickerIconSize,
  $pickerIconHeight: $defaultPickerIconSize
) {
  width: toPx($pickerIconWidth);
  height: toPx($pickerIconHeight);

  html:not(.sbb-lean) & {
    @include mq($from: desktop4k) {
      width: toPx($pickerIconWidth * $scalingFactor4k);
      height: toPx($pickerIconHeight * $scalingFactor4k);
    }
    @include mq($from: desktop5k) {
      width: toPx($pickerIconWidth * $scalingFactor5k);
      height: toPx($pickerIconHeight * $scalingFactor5k);
    }
  }
}

%pickerIconsSize {
  @include pickerIconsSize();
}
