<sbb-sidebar-container>
  <sbb-sidebar role="navigation">
    <sbb-expansion-panel expanded>
      <sbb-expansion-panel-header>Introduction</sbb-expansion-panel-header>
      <a
        sbbSidebarLink
        routerLink="./introduction/getting-started"
        routerLinkActive="sbb-sidebar-link-active"
        >Getting started</a
      >
    </sbb-expansion-panel>
    <sbb-expansion-panel expanded>
      <sbb-expansion-panel-header>Modules</sbb-expansion-panel-header>
      <a
        sbbSidebarLink
        *ngFor="let c of modules | keyvalue"
        [routerLink]="['./components/', c.key]"
        routerLinkActive="sbb-sidebar-link-active"
        >{{ c.value }}</a
      >
    </sbb-expansion-panel>

    <sbb-expansion-panel expanded>
      <sbb-expansion-panel-header>Icons</sbb-expansion-panel-header>
      <a
        sbbSidebarLink
        [routerLink]="['./icon-overview']"
        routerLinkActive="sbb-sidebar-link-active"
        >Overview</a
      >
    </sbb-expansion-panel>
  </sbb-sidebar>
  <sbb-sidebar-content>
    <router-outlet></router-outlet>
  </sbb-sidebar-content>
</sbb-sidebar-container>
