<article class="container-fluid">
  <div class="row">
    <div class="col-lg-7 sbbsc-v-sep no-fix-width">
      <h4>Basic Example</h4>
      <sbb-tabs #tabs>
        <!-- First tab (required) -->
        <sbb-tab label="Tab 1" id="content1-tab" labelId="content1">
          <h4>Content 1</h4>
          <p>Here comes the content for tab 1 ...</p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
        </sbb-tab>
        <!-- Second tab (required) -->
        <sbb-tab label="Tab 2" id="content2-tab" labelId="content2">
          <h4>Content 2</h4>
          <p>Here comes the content for tab 2 ...</p>
        </sbb-tab>
        <!-- Third tab with some generated content to be tracked on badge -->
        <sbb-tab
          label="Persons"
          id="persons-tab"
          labelId="persons"
          [badgePill]="getCountOfPersons()"
          [disabled]="disabled"
          *ngIf="!removed"
          (disableChange)="disableChange($event)"
          (removeChange)="removeChange($event)"
        >
          <h4>List of Persons</h4>
          <person-list [person]="person"></person-list>
        </sbb-tab>
        <sbb-tab label="Tab 4" id="content4-tab" labelId="content4">
          <h4>Content 4</h4>
          <p>Here comes the content for tab 4 ...</p>
        </sbb-tab>
        <sbb-tab label="Tab 5" id="content5-tab" labelId="content5" disabled="disabled">
          <h4>Content 5</h4>
          <p>Here comes the content for tab 5 ...</p>
        </sbb-tab>
        <sbb-tab label="Tab 6" id="content6-tab" labelId="content6" disabled="disabled">
          <h4>Content 6</h4>
          <p>Here comes the content for tab 6 ...</p>
        </sbb-tab>
      </sbb-tabs>
      <small class="font-italic"
        >* Navigate with &#8592; and &#8593; for left, &#8594; and &#8595; for right</small
      >
    </div>
    <div class="col-lg-5">
      <h4 class="sbbsc-block">Properties</h4>
      <div class="sbbsc-block">
        <sbb-field label="Set data-set for tabs content / tab pill">
          <select [(ngModel)]="dataSet" (ngModelChange)="onChangeOfDataSet($event)" sbbInput>
            <option *ngFor="let set of data" [ngValue]="set">{{ set }}</option>
          </select>
        </sbb-field>
      </div>
      <div class="sbbsc-block">
        <sbb-checkbox value="disabled" [(ngModel)]="disabled">Set a tab disabled</sbb-checkbox>
      </div>
      <div class="sbbsc-block">
        <sbb-checkbox value="disabled" [(ngModel)]="removed">Remove a tab</sbb-checkbox>
      </div>
    </div>
  </div>
</article>
