@import '../styles/common';

.sbb-autocomplete-visible {
  visibility: visible;
}

.sbb-autocomplete-hidden {
  visibility: hidden;
}

.sbb-autocomplete-panel .sbb-menu-group .sbb-menu-item {
  :where(html:not(.sbb-lean)) & {
    padding-left: calc(#{pxToRem(14)} * var(--sbb-scaling-factor));
  }
}
