.table-wrapper {
  max-height: 300px;
  min-height: 2em;
  overflow-y: auto;
  overflow-x: hidden;
}

table.scroll {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

table.scroll tr td {
  font-size: 18px;
  line-height: 1.5;
  padding: 0.5em 1em;
  text-align: left;
  color: black;
}

table.scroll tr:nth-child(even) {
  background-color: #f2f2f2;
}
