<form [formGroup]="form">
  <sbb-form-field>
    <sbb-label>International food</sbb-label>
    <sbb-select formControlName="value" placeholder="International food">
      @for (foodNation of foodFromTheWorld; track foodNation) {
        <sbb-optgroup [label]="foodNation.nation">
          @for (food of foodNation.food; track food) {
            <sbb-option [value]="food.value">{{ food.viewValue }}</sbb-option>
          }
        </sbb-optgroup>
      }
    </sbb-select>
  </sbb-form-field>

  <h4>Properties</h4>
  <pre>{{ form.get('value')?.value | json }}</pre>
  <sbb-checkbox
    (change)="$event.checked ? form.get('value')?.disable() : form.get('value')?.enable()"
    >Disabled</sbb-checkbox
  >
</form>
