<sbb-form-field label="Notification type">
  <select [(ngModel)]="type" sbbInput>
    @for (type of types; track type) {
    <option [value]="type">{{ type }}</option>
    }
  </select>
</sbb-form-field>
<sbb-form-field label="Notification position">
  <select [(ngModel)]="position" sbbInput>
    @for (position of positions; track position) {
    <option [value]="position">{{ position }}</option>
    }
  </select>
</sbb-form-field>
<button type="button" sbb-button (click)="showNotification()">Show notification</button>
