@use '@sbb-esta/angular' as sbb;

.sbb-breadcrumbs {
  display: block;
}

.sbb-breadcrumbs-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: calc(#{sbb.pxToRem(12)} * var(--sbb-scaling-factor))
    calc(#{sbb.pxToRem(6)} * var(--sbb-scaling-factor));
}

.sbb-breadcrumb {
  display: none;
  align-items: center;
  max-width: 100%;

  :where(html.sbb-lean) & {
    margin-right: sbb.pxToRem(4);
  }

  @include sbb.mq($from: tabletPortrait) {
    display: flex;
  }

  .sbb-breadcrumbs-expanded & {
    display: flex;
  }

  &[root] {
    display: flex;
  }

  // Last user defined breadcrumb
  &:last-child {
    display: flex;
    margin-right: 0;

    // Last user defined breadcrumb
    :is(&, & :is(a, button)) {
      :where(html.sbb-lean) & {
        color: var(--sbb-color-text);

        &:is(:hover, :focus) {
          color: var(--sbb-color-call-to-action-hover);
        }
      }
    }
  }

  // Arrow between breadcrumb entries
  & + .sbb-breadcrumb:not([root])::before {
    content: '';
    display: inline-block;
    background: var(--sbb-url-icon-chevron-small-right-small-platinum) no-repeat center;
    background-size: var(--sbb-icon-size-default) var(--sbb-icon-size-default);
    width: var(--sbb-icon-size-default);
    height: var(--sbb-icon-size-default);
    margin-right: calc(#{sbb.pxToRem(6)} * var(--sbb-scaling-factor));
    flex-shrink: 0;

    :where(html.sbb-lean) & {
      background-image: var(--sbb-breadcrumb-url-icon-chevron-small-right);
      margin-right: sbb.pxToRem(4);
    }
  }

  :is(a, button, .sbb-menu-trigger-breadcrumb.sbb-menu-trigger-root) {
    @include sbb.buttonResetFrameless();
    outline: 0;
    cursor: pointer;
  }
}

.sbb-breadcrumb-root {
  display: flex;

  a {
    height: var(--sbb-icon-size-default);
    width: var(--sbb-icon-size-default);
  }

  &:empty {
    display: none;
  }
}

.sbb-breadcrumb-dots {
  display: flex;

  .sbb-breadcrumbs-expanded & {
    display: none;
  }

  @include sbb.mq($from: tabletPortrait) {
    display: none;
  }
}

// Every breadcrumb item inclusive menu trigger and copied menu trigger (inside panel)
:is(
    .sbb-breadcrumb :is(a, button),
    .sbb-menu-trigger-breadcrumb.sbb-menu-trigger-root,
    .sbb-menu-panel-type-breadcrumb .sbb-menu-panel-trigger
  ) {
  @include sbb.ellipsis;
  font-family: var(--sbb-font-roman);
  font-size: var(--sbb-font-size-small);
  line-height: var(--sbb-line-height-small);
  color: var(--sbb-breadcrumb-color-default);
  text-align: left;
  text-decoration: none;

  :where(html.sbb-lean) & {
    line-height: sbb.pxToRem(16);
  }

  &:is(:hover, :focus) {
    color: var(--sbb-color-call-to-action-hover);
  }
}

// Menu trigger inside sbb-breadcrumb if menu is open
.sbb-breadcrumb
  .sbb-menu-trigger-breadcrumb.sbb-menu-trigger-root.sbb-menu-trigger-menu-open::after {
  transform: translateY(-50%) rotate(-180deg);
}

// Menu trigger and copied menu trigger (inside panel)
.sbb-breadcrumb .sbb-menu-trigger-breadcrumb.sbb-menu-trigger-root,
.sbb-menu-panel-type-breadcrumb .sbb-menu-panel-trigger {
  position: relative;
  padding-right: var(--sbb-icon-size-default);

  &::after {
    content: '';
    display: inline-block;
    @include sbb.absoluteCenterY;
    background: var(--sbb-breadcrumb-url-icon-chevron-small-down-circle) no-repeat center;
    background-size: var(--sbb-icon-size-default) var(--sbb-icon-size-default);
    width: var(--sbb-icon-size-default);
    height: var(--sbb-icon-size-default);
    flex-shrink: 0;
    transition: transform var(--sbb-transition-fast-start);
  }

  &:is(:focus, :hover)::after {
    background-image: var(--sbb-breadcrumb-url-icon-chevron-small-down-circle-focused);
  }
}

// Copied menu trigger (inside panel)
.sbb-menu-panel-trigger {
  .sbb-menu-panel-type-breadcrumb & {
    padding: calc(var(--sbb-breadcrumb-trigger-padding-vertical) - var(--sbb-border-width))
      calc(var(--sbb-breadcrumb-trigger-padding-horizontal) + var(--sbb-icon-size-default))
      calc(var(--sbb-breadcrumb-trigger-padding-vertical) - var(--sbb-border-width))
      calc(var(--sbb-breadcrumb-trigger-padding-horizontal) - var(--sbb-border-width));
    color: var(--sbb-color-call-to-action-hover);

    &::after {
      animation: var(--sbb-transition-fast-start) 0s 1 arrowRotate;
      transform: translateY(-50%) rotate(-180deg);
      margin-top: calc(#{sbb.pxToRem(-1)} * var(--sbb-scaling-factor));
      background-image: var(--sbb-url-icon-chevron-small-down-circle-small-red125);

      @keyframes arrowRotate {
        0% {
          transform: translateY(-50%) rotate(0);
        }
        100% {
          transform: translateY(-50%) rotate(-180deg);
        }
      }
    }
  }

  .sbb-menu-panel-type-breadcrumb.sbb-menu-panel-below & {
    padding-bottom: var(--sbb-breadcrumb-trigger-padding-vertical);
    box-shadow: var(--sbb-box-shadow-horizontal-border-top);
  }
  .sbb-menu-panel-type-breadcrumb.sbb-menu-panel-above & {
    padding-top: var(--sbb-breadcrumb-trigger-padding-vertical);
    box-shadow: var(--sbb-box-shadow-below), var(--sbb-box-shadow-horizontal-border-bottom);

    &::after {
      margin-top: calc(var(--sbb-border-width) - #{sbb.pxToRem(1)});
    }
  }
}

.sbb-menu-panel-root {
  .sbb-menu-panel-type-breadcrumb.sbb-menu-panel-below & {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  .sbb-menu-panel-type-breadcrumb.sbb-menu-panel-above & {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.sbb-menu-panel-type-breadcrumb .sbb-menu-item {
  font-size: var(--sbb-font-size-small);
  line-height: var(--sbb-line-height-small);
  padding-left: calc(var(--sbb-breadcrumb-trigger-padding-horizontal) - var(--sbb-border-width));
  padding-right: var(--sbb-breadcrumb-trigger-padding-horizontal);
}
