<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 sbbsc-v-sep">
      <h4 class="sbbsc-block">Icon Links</h4>
      <ng-container [ngSwitch]="linkMode">
        <a *ngSwitchCase="'stretch'" href="#" sbbLink mode="stretch" [icon]="linkIcon"
          >Bezeichnung</a
        >
        <a *ngSwitchCase="'form'" href="#" sbbLink mode="form" [icon]="linkIcon">Bezeichnung</a>
        <a
          *ngSwitchDefault
          href="#"
          sbbLink
          class="test test-2 test-3"
          mode="normal"
          [icon]="linkIcon"
          >Bezeichnung</a
        >
      </ng-container>
    </div>
    <div class="col-lg-6">
      <h4 class="sbbsc-block">Properties</h4>
      <div class="sbbsc-block">
        <sbb-field label="Mode" mode="medium">
          <select [(ngModel)]="linkMode" sbbInput>
            <option *ngFor="let mode of modes" [ngValue]="mode">{{ mode }}</option>
          </select>
        </sbb-field>
      </div>
      <div class="sbbsc-block">
        <sbb-field label="Icon" mode="medium">
          <select [(ngModel)]="linkIcon" sbbInput>
            <option *ngFor="let icon of icons" [ngValue]="icon">{{ icon }}</option>
          </select>
        </sbb-field>
      </div>
    </div>
  </div>

  <div role="presentation" class="sbbsc-separator"></div>

  <div class="row">
    <div class="col-lg-6 sbbsc-v-sep">
      <h4 class="sbbsc-block">Social Links</h4>
      <a sbbSocialLink [icon]="socialLinkIcon">Bezeichnung</a>
    </div>
    <div class="col-lg-6">
      <h4 class="sbbsc-block">Properties</h4>
      <sbb-field label="Icon">
        <select [(ngModel)]="socialLinkIcon" sbbInput>
          <option *ngFor="let social of socials" [ngValue]="social">{{ social }}</option>
        </select>
      </sbb-field>
    </div>
  </div>
</div>
