$inputFieldBorderRadius: 2px;

$inputFieldPaddingTop: 6px;
$inputFieldPaddingLeftRight: 8px;
$inputFieldPaddingBottom: 7px;
$inputFieldBorderWidth: 1px;

$labelPaddingLeft: 0;
$labelMarginBottom: 3px;

$formErrorFontSize: 13px;
$formErrorLineHeight: 16px;
