<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 sbbsc-v-sep">
      <h4 id="default" class="sbbsc-block">Default success notification</h4>
      <sbb-notification message="Suchen" [type]="type"></sbb-notification>
    </div>
    <div class="col-lg-6">
      <h4 class="sbbsc-block">Properties</h4>
      <sbb-field mode="long" label="Notification type">
        <select  [(ngModel)]="type">
          <option *ngFor="let type of types" [value]="type">{{ type }}</option>
        </select>
      </sbb-field>
    </div>
  </div>

  <div role="presentation" class="sbbsc-separator"></div>

  <div class="row">
    <div class="col-lg-12">
      <h4 class="sbbsc-block">Notification with custom icon</h4>
      <sbb-notification message="Suchen">
        <sbb-icon-clock *sbbNotificationIcon></sbb-icon-clock>
      </sbb-notification>
    </div>
  </div>

  <div role="presentation" class="sbbsc-separator"></div>

  <div class="row">
    <div class="col-lg-12">
      <h4 class="sbbsc-block">Error notification with jumpMarks and custom icon</h4>
      <sbb-notification message="Suchen" type="error" [jumpMarks]="jumpMarks">
        <sbb-icon-leicht-bewoelkt *sbbNotificationIcon></sbb-icon-leicht-bewoelkt>
      </sbb-notification>
    </div>
  </div>

  <div role="presentation" class="sbbsc-separator"></div>

  <div class="row">
    <div class="col-lg-12">
      <h4 class="sbbsc-block">Success notification with jumpMarks and custom icon</h4>
      <sbb-notification message="Suchen" [jumpMarks]="jumpMarks">
        <sbb-icon-gluehbirne-an *sbbNotificationIcon></sbb-icon-gluehbirne-an>
      </sbb-notification>
    </div>
  </div>
</div>