<ul class="sbb-navigation">
  <li class="sbb-navigation-item sbb-navigation-item-left" *ngIf="previousPage">
    <button
      type="button"
      i18n-aria-label="@@navigationPreviousPage"
      aria-label="Vorherige Seite"
      (click)="pageChange.emit('previous')"
      [attr.title]="previousPage"
    >
      <span class="sbb-navigation-item-boundary sbb-navigation-item-boundary-left">
        <span class="sbb-navigation-item-boundary-arrow">
          <sbb-icon-chevron-small-left></sbb-icon-chevron-small-left>
        </span>
        <span class="sbb-navigation-item-boundary-text">{{ previousPage }}</span>
      </span>
    </button>
  </li>
  <li class="sbb-navigation-item sbb-navigation-item-right" *ngIf="nextPage">
    <button
      type="button"
      i18n-aria-label="@@navigationNextPage"
      aria-label="Nächste Seite"
      (click)="pageChange.emit('next')"
      [attr.title]="nextPage"
    >
      <span class="sbb-navigation-item-boundary sbb-navigation-item-boundary-right">
        <span class="sbb-navigation-item-boundary-text">{{ nextPage }}</span>
        <span class="sbb-navigation-item-boundary-arrow">
          <sbb-icon-chevron-small-right></sbb-icon-chevron-small-right>
        </span>
      </span>
    </button>
  </li>
</ul>
