// ----------------------------------------------------------------------------------------------------
// Typography Styles
// ----------------------------------------------------------------------------------------------------

@import '../variables';
@import '../functions';
@import '../mediaqueries';
@import './mixins';

select {
	max-width: 100%;
	-webkit-appearance: none;
	@include disabledinputfields;

	&::-ms-expand {
		display: none;
	}
}

button {
	&,
	abbr[title] {
		border: 0;
	}
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

input[type=button],
input[type=submit] {
	@include primaryButton;

	&.var-iconbutton {
		@include iconbutton;
	}
}

input[type=reset] {
	@include secondaryButton;
}

button.text__primarybutton,
.text__primarybutton {
	@include primaryButton;
	@include primaryIconButton;

	&.var-form-inline {
		@include mq($from: tabletPortrait) {
			margin-top: pxToEm(20);
			margin-right: pxToEm(8);
		}
	}
}

button.text__primarybutton-arrowless,
.text__primarybutton-arrowless {
	@include primaryButtonArrowless;
}

.text__secondarybutton {
	@include secondaryButton;
	@include secondaryIconButton;
}

.text__ghostbutton {
	@include primaryButton;
	@include ghostButtonPositive;
}

.text__ghostbutton-negative {
	@include primaryButton;
	@include ghostButtonNegative
}

.text__ghostbutton.var-nbc {
	margin-top: innerComponentSpacing($sizeFontDefault);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
}

.text__iconbutton-simple {
	@include iconbuttonSimple;
}

.text__additional-info {
	@include additionalinfo;
}

hr {
	height: 1px;
	background: $colorSeparationBorder;
	border: none;
}

.mod-module-title {
	@include moduleTitle();

	.page-centered & {
		text-align: center;
	}

}
