$autocompleteTransition: height 0.25s cubic-bezier(0.4, 0, 0.2, 1),
  opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
$autocompleteBg: $sbbColorWhite;
$autocompleteBorderWidth: if($sbbBusiness, 1px, 2px);
$autocompleteBorder: if(
  $sbbBusiness,
  $autocompleteBorderWidth solid $sbbColorIron,
  $autocompleteBorderWidth solid $sbbColorGrey
);
$autocompleteBorderRadius: 2px;
$autocompleteBorderTopReverse: $autocompleteBorder;
$autocompleteShadowWidth: if($sbbBusiness, 4px, 8px);
$autocompleteInputActiveBorderBottomColor: $sbbColorCloud;
$autocompleteInputActiveBorderWidth: 1px;
$autocompleteAndOptionPaddingX: if($sbbBusiness, 8px, 16px);
$autocompletePaddingBottom: if($sbbBusiness, 4px, 18px);
$autocompletePaddingX: if($sbbBusiness, 8px, 16px);

$optionMultipleCheckboxPaddingLeft: if($sbbBusiness, 8px, 16px);
$optionMultipleNoCheckboxPaddingLeft: if($sbbBusiness, 8px, 14px);
$optionMarginY: if($sbbBusiness, 4px, 10px);
$optionGroupItemPaddingLeft: if($sbbBusiness, 16px, 24px);
$optionAndAutocompleteColor: if($sbbBusiness, $sbbColorIron, $sbbColorGrey);
$optionHoverColor: if($sbbBusiness, $sbbColorRed125, $sbbColorRed);
$optionSelectedColor: $sbbColorBlack;

@mixin optionGroupDivider() {
  .sbb-menu-group + .sbb-menu-group,
  .sbb-menu-item + .sbb-menu-group,
  .sbb-menu-group + .sbb-menu-item {
    border-top: pxToRem(1) solid $sbbColorCloud;

    @include publicOnly() {
      @include mq($from: desktop4k) {
        border-top-width: pxToRem(1 * $scalingFactor4k);
      }

      @include mq($from: desktop5k) {
        border-top-width: pxToRem(1 * $scalingFactor5k);
      }
    }
  }
}
