// ----------------------------------------------------------------------------------------------------
// All about variables in here
// ----------------------------------------------------------------------------------------------------

/**
 * Font Size
 */
$sizeFontBase: 15px;
$sizeLineHeightBase: 1.7; // In the Sketch files everything is annotated as 1.5 but in fact we will need 1.7 with the current Webfonts to achieve the desired line height

/**
 * Font Families
 */
$fontFamilyBase: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$fontSbbRoman: 'SBBWeb Roman', $fontFamilyBase;
$fontSbbBold: 'SBBWeb Bold', $fontFamilyBase;
$fontSbbUltralight: 'SBBWeb Ultralight', $fontFamilyBase;
$fontSbbLight: 'SBBWeb Light', $fontFamilyBase;
$fontSbbThin: 'SBBWeb Thin', $fontFamilyBase;

/**
 * Breakpoints
 */
$sizeBreakpointMobilePortrait: 321px;
$sizeBreakpointMobileLandscape: 421px;
$sizeBreakpointTabletPortrait: 643px;
$sizeBreakpointTabletLandscape: 769px;
$sizeBreakpointDesktop: 1025px;
$sizeBreakpointDesktopLarge: 1281px;
$sizeBreakpointDesktopLargePlus: 1441px; // used for checkout column change from 2:1 to 3:1.
$sizeBreakpointDesktopMaxWidth: 1921px; // maxWidthDesktop + (2 x 8.5%)
$sizeBreakpointDesktop4k: 2561px;
$sizeBreakpointDesktop5k: 3841px;

/**
 * Offsets
 */
$offset5k: 19%;
$offsetLarge: 8.5%;
$offsetPreLarge: 5.5%;
$offsetMedium: 24;
$offsetSmall: 12;

/**
 * Scaling Factors
 */
$scalingFactorDefault: 1;
$scalingFactor4k: 1.5;
$scalingFactor5k: 2;

/**
 * Grid
 */
$gutterMobile: 12;
$gutterTablet: 24;
$gutterDesktop: 16;
$gutterDesktop4k: 26;
$gutterDesktop5k: 32;

/* Vertical Spacings */
$gutterHeight: 8;
$innerComponentSpacing: 24;
$interComponentSpacing: 80;
$interComponentSpacingSmall: 40;

/**
 * Typo
 */
$sizeFontDefault: 15;
$sizeFontDefault4k: $sizeFontDefault * $scalingFactor4k;
$sizeFontDefault5k: $sizeFontDefault * $scalingFactor5k;

$fontSizeHeaderDefault: 14;
$fontSizeHeaderDesktop4k: $fontSizeHeaderDefault * $scalingFactor4k;
$fontSizeHeaderDesktop5k: $fontSizeHeaderDefault * $scalingFactor5k;

$fontSizeFooterBottomContainerDefault: 12;
$fontSizeFooterDefault: $fontSizeHeaderDefault;

/* lead text font sizes */
$sizeFontLeadTextDefault: 20;
$sizeFontLeadTextTablet: 21;

/* form element sizing */
$formElementMaxWidth: 320;
$formElementMinWidth: 240;
$formElementSpacing: $gutterDesktop/2;

/**
 * Animation-Stuff
 */
$defaultTransitionDuration: 300ms;
$shortDistanceTransitionDuration: 225ms;

$defaultLinkIconTransitionTimingFunction: cubic-bezier(0.785, 0.135, 0.15, 0.86);

$linkiconAnimationDuration: $defaultTransitionDuration;
$linkiconAnimation: $linkiconAnimationDuration $defaultLinkIconTransitionTimingFunction;
$linksocialAnimation: background $defaultTransitionDuration ease-in;

$imageLazyloadFadeAnimation: opacity 0.35s ease-in;
$imageLazyloadFadeAnimationTablet: opacity 0.45s ease-in;

/**
 * Layers
 */

$zIndexFocusedElement: 999;

/**
 * Footer
 */
$footerAnimation: 0.3s; // This has to match the delay in the corresponding JS
$fontSizeFooterSectionTitleDefault: 16;

/**
 * Timetable Breakpoints
 */
$sizeBreakpointTimetableMobile: 960px;

/**
 * Timetable Cells
 */
$cellSmall: 52;
$cellCtaSmall: 72;
$cellCtaSmallMedium: 96;
$cellCTAMedium: 160;
$cellCTALarge: 332;

/**
 * Colors
 * https://digital.sbb.ch/en/farben
 */
// Core Colors
$sbbColorRed: #eb0000;
$sbbColorRed125: #c60018;
$sbbColorRed150: #a20013;
$sbbColorWhite: #ffffff;
$sbbColorMilk: #f6f6f6;
$sbbColorCloud: #e5e5e5;
$sbbColorSilver: #dcdcdc;
$sbbColorAluminum: #d2d2d2;
$sbbColorPlatinum: #cdcdcd;
$sbbColorCement: #bdbdbd;
$sbbColorGraphite: #b7b7b7;
$sbbColorStorm: #a8a8a8;
$sbbColorMetal: #767676;
$sbbColorGranite: #686868;
$sbbColorAnthracite: #5a5a5a;
$sbbColorIron: #444444;
$sbbColorBlack: #000000;
$sbbColorBlue: #2d327d;

// Extended Colors
$sbbColorSky: #0079c7;
$sbbColorNight: #143a85;
$sbbColorViolet: #6f2282;
$sbbColorAutumn: #e84e10;
$sbbColorOrange: #f27e00;
$sbbColorPeach: #fcbb00;
$sbbColorLemon: #ffde15;
$sbbColorGreen: #00973b;

// Non-Standard Colors
$sbbColorGrey: #666666;
$sbbColorGreyMedium: #979797;

// Context Colors
$sbbColorBg: $sbbColorWhite;
$sbbColorCallToAction: $sbbColorRed;
$sbbColorCallToActionHover: $sbbColorRed125;
$sbbColorError: $sbbColorRed;
$sbbColorText: $sbbColorBlack;
