.sbbsc-home {
  &:hover {
    cursor: pointer;
  }
}

.sbbsc-separator {
  height: 0;
  border-bottom: 1px solid $colorGreyLight;
  margin: 1em 0;
}

.sbbsc-v-sep {
  @include mq($from: desktop) {
    border-right: 1px solid $colorGreyLight;
    max-width: pxToEm(500);
    padding-bottom: 1em;

    &.no-fix-width {
      max-width: none;
    }
  }
}

.sbbsc-block {
  display: block;
  margin: 0.7em 0;
}
