/*** 
* BUTTON THEMES MIXINS AND PLACEHOLDERS
***/

/*** PRIMARY BUTTON ***/
@mixin primaryButton {
  color: $buttonDefaultColor;
  border: none;
  background-color: $buttonDefaultBgColor;

  &:not(:disabled) {
    &:hover,
    &:focus {
      background-color: $buttonDefaultBgColorHover;
      border: none;
      color: $buttonDefaultColor;

      .sbb-svgsprite-icon {
        @include svgIconColor($buttonDefaultColor);
      }
    }
  }
}

/*** 
* PRIMARY BUTTON PLACEHOLDER 
* - Include primary mixin in order to allow extension 
* 	in order to get a more compact compiled css
***/
%primaryButton {
  @include primaryButton();
}

/*** PRIMARY BUTTON WITH ICON ***/
@mixin primaryIconButton {
  @extend %primaryButton;
  @extend %arrowbuttons;
}

/*** SECONDARY BUTTON ***/
@mixin secondaryButton {
  color: $buttonSecondaryColor;
  background-color: $buttonSecondaryBgColor;
  border: none;

  &:not(:disabled) {
    &:hover,
    &:focus {
      background-color: $buttonSecondaryBgColorHover;
      border: none;
      color: $buttonSecondaryColor;
    }
  }
}

/*** 
* SECONDARY BUTTON PLACEHOLDER 
* - Include secondary mixin in order to allow extension 
* 	in order to get a more compact compiled css
***/
%secondaryButton {
  @include secondaryButton;
}

/*** SECONDARY BUTTON WITH ICON ***/
@mixin secondaryIconButton {
  @extend %secondaryButton;
  @extend %arrowbuttons;

  .sbb-svgsprite-icon {
    @include svgIconColor($buttonSecondaryColor);
  }

  &:hover,
  &:focus {
    .sbb-svgsprite-icon {
      @include svgIconColor($buttonSecondaryColor);
    }
  }
}

/***
* SECONDARY ICON BUTTON PLACEHOLDER
* - Include secondary mixin in order to allow extension
* 	in order to get a more compact compiled css
***/
%secondaryIconButton {
  @include secondaryIconButton;
}

/*** GHOST BUTTON ***/
@mixin ghostButtonPositive($fontSize: $buttonSizeFontDefault) {
  background-color: transparent;
  border-color: $buttonGhostBorderColor;
  color: $buttonGhostColor;
  transition: border-color $linkiconAnimation, height $linkiconAnimation,
    padding-left $linkiconAnimation, padding-right $linkiconAnimation, color $linkiconAnimation;
  line-height: 1.1;

  @media screen and (-ms-high-contrast: active) {
    border: pxToEm(1) solid currentColor;
  }

  &:not(:disabled) {
    &:hover,
    &:focus {
      color: $buttonGhostColorHover;
      background-color: transparent;
      border-color: $buttonGhostBorderColorHover;

      .sbb-svgsprite-icon {
        @include svgIconColor($buttonGhostColorHover);
      }
    }
  }
}

/*** 
* GHOST BUTTON PLACEHOLDER 
* - Include ghost mixin in order to allow extension 
* 	in order to get a more compact compiled css
***/
%ghostButtonPositive {
  @include ghostButtonPositive;
}

/*** GHOST BUTTON WITH ICON ***/
@mixin ghostIconButtonPositive {
  @extend %ghostButtonPositive;
  @extend %arrowbuttons;

  .sbb-svgsprite-icon {
    @include svgIconColor($buttonGhostColorHover);
  }

  &:hover,
  &:focus {
    .sbb-svgsprite-icon {
      @include svgIconColor($buttonGhostColorHover);
    }
  }
}

/*** FRAMELESS BUTTON ***/
@mixin framelessButton($fontSize: $buttonSizeFontDefault) {
  background-color: transparent;
  border: none;
  color: $buttonFramelessColor;
  padding: 0;
  height: auto;
  width: auto;

  &:not(:disabled) {
    &:hover,
    &:focus {
      color: $buttonFramelessColorHover;
      background-color: transparent;
      border: none;
    }
  }
}

/*** 
* FRAMELESS BUTTON PLACEHOLDER 
* - Include frameless mixin in order to allow extension 
* 	in order to get a more compact compiled css
***/
%framelessButton {
  @include framelessButton;
}

/*** FRAMELESS BUTTON WITH ICON ***/
@mixin framelessIconButton($fontSize: $sizeFontDefault) {
  @extend %framelessButton;
  @extend %arrowbuttons;

  padding-right: toEm(30 / $fontSize);

  .sbb-svgsprite-icon {
    @include svgIconColor($buttonFramelessColor);
  }

  &:hover,
  &:focus {
    padding-left: toEm(30 / $fontSize);

    .sbb-svgsprite-icon {
      @include svgIconColor($buttonFramelessColorHover);
    }
  }
}

/*** DISABLED BUTTON ***/
@mixin disabledButton {
  @extend %ghostButtonPositive;

  border-color: $buttonDisabledBorderColor;
  text-decoration: line-through;

  .sbb-svgsprite-icon {
    display: none;
  }
}
