@import '../pagination';

$paginatorSize: 40;
$paginatorSize4K: $paginatorSize * $scalingFactor4k;
$paginatorSize5K: $paginatorSize * $scalingFactor5k;
$paginatorSizeLean: 30;

$paginatorDisabledColor: $sbbColorSilver;
$paginatorDisabledColorLean: $sbbColorStorm;

.sbb-paginator {
  display: flex;
  padding-left: 0;
  list-style: none;
  margin: 0;
}

.sbb-paginator-item {
  position: relative;
  line-height: 0;
  text-align: center;
  outline: 0;
  margin: 0;
  padding-left: 0;
  flex-shrink: 0;
  font-size: pxToRem($sizeFontDefault);
  width: pxToRem($paginatorSize);
  height: pxToRem($paginatorSize);

  html:not(.sbb-lean) & {
    @include mq($from: desktop4k) {
      font-size: pxToRem($sizeFontDefault4k);
      width: pxToRem($paginatorSize4K);
      height: pxToRem($paginatorSize4K);
    }

    @include mq($from: desktop5k) {
      font-size: pxToRem($sizeFontDefault5k);
      width: pxToRem($paginatorSize5K);
      height: pxToRem($paginatorSize5K);
    }
  }

  html.sbb-lean & {
    width: pxToRem($paginatorSizeLean);
    height: pxToRem($paginatorSizeLean);
  }
}

.sbb-paginator-item-button {
  cursor: pointer;
  border-radius: 50%;
  border: pxToRem(2) solid transparent;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  line-height: 1;
  outline: 0;
  color: $paginationBaseColor;

  &:hover,
  &:focus {
    color: $paginationActiveHoverColor;
  }

  html:not(.sbb-lean) & {
    @include mq($from: desktop4k) {
      border-width: pxToRem(2 * $scalingFactor4k);
    }
    @include mq($from: desktop5k) {
      border-width: pxToRem(2 * $scalingFactor5k);
    }
  }

  html.sbb-lean & {
    color: $paginationBaseColorLean;

    &:hover,
    &:focus {
      color: $paginationActiveHoverColorLean;
    }
  }
}

.sbb-paginator-item-selected {
  border-color: $paginationBaseColor;
  cursor: default;

  &:hover,
  &:focus {
    color: $paginationBaseColor;
  }

  html.sbb-lean & {
    border-color: $paginationBaseColorLean;

    &:hover,
    &:focus {
      color: $paginationBaseColorLean;
    }
  }
}

.sbb-paginator-item-boundary {
  color: $sbbColorGranite;
  width: pxToRem($paginatorSize);
  height: pxToRem($paginatorSize);

  &:hover {
    color: $paginationActiveHoverColor;
  }

  html:not(.sbb-lean) & {
    @include mq($from: desktop4k) {
      width: pxToRem($paginatorSize4K);
      height: pxToRem($paginatorSize4K);
    }

    @include mq($from: desktop5k) {
      width: pxToRem($paginatorSize5K);
      height: pxToRem($paginatorSize5K);
    }
  }

  html.sbb-lean & {
    color: $sbbColorIron;
    height: pxToRem($paginatorSizeLean);
    width: pxToRem($paginatorSizeLean);

    &:hover {
      color: $paginationActiveHoverColorLean;
    }
  }
}

.sbb-paginator-item-disabled {
  color: $paginatorDisabledColor;
  cursor: default;
  pointer-events: none;

  &.sbb-paginator-item-selected {
    border-color: $paginatorDisabledColor;

    html.sbb-lean & {
      border-color: $paginatorDisabledColorLean;
    }
  }

  html.sbb-lean & {
    color: $paginatorDisabledColorLean;
  }
}

.sbb-paginator-item-ellipsis {
  cursor: default;
  display: block;
  margin-top: 54%;
  color: $paginationBaseColor;

  html.sbb-lean & {
    color: $paginationBaseColorLean;
  }
}

.sbb-paginator-item-ellipsis-disabled {
  color: $paginatorDisabledColor;

  html.sbb-lean & {
    color: $paginatorDisabledColorLean;
  }
}
