<ul class="sbb-paginator-list sbb-clean-list sbb-icon-fit">
  <li class="sbb-paginator-item">
    <button
      type="button"
      [attr.aria-label]="_labelPreviousPage"
      class="sbb-button-reset-frameless sbb-paginator-item-boundary sbb-paginator-item-button"
      [disabled]="_previousButtonDisabled()"
      [class.sbb-paginator-item-disabled]="_previousButtonDisabled()"
      (click)="previousPage()"
    >
      <sbb-icon svgIcon="chevron-small-left-small" class="sbb-icon-scaled"></sbb-icon>
    </button>
  </li>

  @for (page of _pageRange(); track page) {
  <li class="sbb-paginator-item">
    @if (page === null) {
    <span
      class="sbb-paginator-item-ellipsis"
      [class.sbb-paginator-item-ellipsis-disabled]="disabled"
      >...</span
    >
    } @if (page !== null) {
    <button
      type="button"
      class="sbb-button-reset-frameless sbb-paginator-item-button"
      [attr.tabindex]="page === pageIndex ? '-1' : null"
      [class.sbb-paginator-item-selected]="page === pageIndex"
      [attr.aria-current]="page === pageIndex"
      [disabled]="disabled"
      [class.sbb-paginator-item-disabled]="disabled"
      (click)="selectPage(page)"
    >
      <ng-container>{{ page + 1 }}</ng-container>
    </button>
    }
  </li>
  }
  <li class="sbb-paginator-item">
    <button
      type="button"
      [attr.aria-label]="_labelNextPage"
      class="sbb-button-reset-frameless sbb-paginator-item-boundary sbb-paginator-item-button"
      [disabled]="_nextButtonDisabled()"
      [class.sbb-paginator-item-disabled]="_nextButtonDisabled()"
      (click)="nextPage()"
    >
      <sbb-icon svgIcon="chevron-small-right-small" class="sbb-icon-scaled"></sbb-icon>
    </button>
  </li>
</ul>
