$breadcrumbHeight:                                 24;
$breadcrumbArrowWidth:                             16;
$breadcrumbArrowHeight:                            16;
$breadcrumbArrowLineHeight:                        20;
$breadcrumbArrowMarginsMP:                         12;
$breadcrumbArrowMarginsTP:                         16;
$breadcrumbArrowMarginsDT:                         24;

$breadcrumbStepButtonFontSizeDT:                   13;
$breadcrumbStepButtonLineHeightDT:                 20;

