
$ghettobox-bg:                $colorBlack90;
$ghettobox-color:             $colorWhite;
$ghettobox-icon-bg:           $colorRed100;
$ghettobox-icon-radius:       2px;
$ghettobox-icon-size:         pxToEm(24);
$ghettobox-link-icon-size:    pxToEm(26);