@use 'external/npm/node_modules/@angular/cdk' as cdk;
@import '../angular-core/styles/main';

@include sbbFonts();
@include reset();
@include sbbLink();
@include sbbHeadings();
@include sbbParagraph();
@include lists;
@include sbbInputFields();
@include sbbTextarea();
@include sbbSelect();
@include sbbFieldset();
@include sbbTimeInputField();
@include sbbTable();
@include cdk.a11y-visually-hidden();
@include cdk.overlay();
@include cdk.text-field();
@include sbbOverlay();
@include sbbScrollbar();
