.example-small-box,
.example-large-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
}

.example-small-box {
  height: 100px;
  width: 100px;
  border: 1px solid #767676;
}

.example-large-box {
  height: 300px;
  width: 300px;
  border: 1px solid #767676;
}
