<ng-container [formGroup]="buttonForm">
  <button
    sbbButton
    [mode]="buttonForm.get('mode')?.value"
    [disabled]="buttonForm.get('disabled')?.value"
    *ngIf="buttonForm.get('icon')?.value === 'noIcon'"
  >
    Description
  </button>
  <button
    sbbButton
    [mode]="buttonForm.get('mode')?.value"
    [disabled]="buttonForm.get('disabled')?.value"
    [icon]="icon"
    *ngIf="buttonForm.get('icon')?.value !== 'noIcon'"
  >
    Description
  </button>
  <ng-template #icon>
    <sbb-icon-arrow-right *ngIf="buttonForm.get('icon')?.value === 'arrow'"></sbb-icon-arrow-right>
    <sbb-icon-plus *ngIf="buttonForm.get('icon')?.value === 'plus'"></sbb-icon-plus>
    <sbb-icon-download *ngIf="buttonForm.get('icon')?.value === 'download'"></sbb-icon-download>
  </ng-template>

  <h4 class="sbbsc-block">Properties</h4>
  <sbb-field label="Mode" mode="short" class="sbbsc-block">
    <select formControlName="mode" sbbInput>
      <option *ngFor="let mode of modes" [ngValue]="mode">{{ mode }}</option>
    </select>
  </sbb-field>
  <br />
  <sbb-field label="Icon" mode="short" class="sbbsc-block">
    <select formControlName="icon" sbbInput>
      <option [ngValue]="'noIcon'">No Icon</option>
      <option *ngFor="let icon of icons" [ngValue]="icon">{{ icon }}</option>
    </select>
  </sbb-field>
  <sbb-checkbox value="disabled" formControlName="disabled">Disabled button</sbb-checkbox>
</ng-container>
<p>
  <small>* All icons allowed, in this example are loaded only three as sample icons</small>
</p>
