<ng-container [formGroup]="buttonForm">
  <button
    sbbButton
    [mode]="buttonForm.get('mode')?.value"
    [disabled]="buttonForm.get('disabled')?.value"
    *ngIf="buttonForm.get('icon')?.value === 'noIcon'"
  >
    Description
  </button>
  <button
    sbbButton
    [mode]="buttonForm.get('mode')?.value"
    [disabled]="buttonForm.get('disabled')?.value"
    [icon]="icon"
    *ngIf="buttonForm.get('icon')?.value !== 'noIcon'"
  >
    Description
  </button>
  <ng-template #icon>
    <sbb-icon
      svgIcon="kom:arrow-right-small"
      *ngIf="buttonForm.get('icon')?.value === 'arrow'"
    ></sbb-icon>
    <sbb-icon svgIcon="kom:plus-small" *ngIf="buttonForm.get('icon')?.value === 'plus'"></sbb-icon>
    <sbb-icon
      svgIcon="kom:download-small"
      *ngIf="buttonForm.get('icon')?.value === 'download'"
    ></sbb-icon>
  </ng-template>

  <h4 class="sbbsc-block">Properties</h4>
  <sbb-form-field label="Mode" mode="medium" class="sbbsc-block">
    <select formControlName="mode" sbbInput>
      <option *ngFor="let mode of modes" [ngValue]="mode">{{ mode }}</option>
    </select>
  </sbb-form-field>
  <br />
  <sbb-form-field label="Icon" mode="medium" class="sbbsc-block">
    <select formControlName="icon" sbbInput>
      <option [ngValue]="'noIcon'">No Icon</option>
      <option *ngFor="let icon of icons" [ngValue]="icon">{{ icon }}</option>
    </select>
  </sbb-form-field>
  <sbb-checkbox value="disabled" formControlName="disabled">Disabled button</sbb-checkbox>
</ng-container>
<p>
  <small>* All icons allowed, in this example are loaded only three as sample icons</small>
</p>
