<article class="container-fluid">
  <div class="row">
    <div class="col-lg-6 sbbsc-v-sep">
      <h4 class="sbbsc-block">Basic Example</h4>
      <div *ngIf="showButton">
        <button
          sbbButton
          [mode]="buttonMode"
          [disabled]="buttonDisabled"
          *ngIf="buttonIcon === 'noIcon'"
        >
          Bezeichnung
        </button>
        <button
          sbbButton
          [mode]="buttonMode"
          [disabled]="buttonDisabled"
          [icon]="icon"
          *ngIf="buttonIcon !== 'noIcon'"
        >
          Bezeichnung
        </button>
        <ng-template #icon>
          <sbb-icon-arrow-right *ngIf="buttonIcon === 'arrow'"></sbb-icon-arrow-right>
          <sbb-icon-plus *ngIf="buttonIcon === 'plus'"></sbb-icon-plus>
          <sbb-icon-download *ngIf="buttonIcon === 'download'"></sbb-icon-download>
        </ng-template>
      </div>
    </div>
    <div class="col-lg-6" [formGroup]="buttonForm">
      <h4 class="sbbsc-block">Properties</h4>
      <div class="sbbsc-block">
        <sbb-field label="Mode" mode="medium">
          <select formControlName="mode" sbbInput>
            <option *ngFor="let mode of modes" [ngValue]="mode">{{ mode }}</option>
          </select>
        </sbb-field>
      </div>
      <div class="sbbsc-block">
        <sbb-field label="Icon" mode="medium">
          <select formControlName="icon" sbbInput>
            <option [ngValue]="'noIcon'">No Icon</option>
            <option *ngFor="let icon of icons" [ngValue]="icon">{{ icon }}</option>
          </select>
        </sbb-field>
      </div>
      <div class="sbbsc-block">
        <sbb-checkbox value="disabled" formControlName="disabled">Disabled button</sbb-checkbox>
      </div>
      <p>
        <small>* All icons allowed, in this example are loaded only three as sample icons</small>
      </p>
    </div>
  </div>
</article>
