@import '../../../../angular-core/styles/common';

:host {
  display: block;
  margin-bottom: 1rem;
  position: relative;

  &:first-child > div {
    margin-top: 0;
  }

  > div {
    border-bottom: 1px solid $sbbColorSilver;
    display: flex;
    padding-bottom: 10px;
    margin-bottom: 1rem;
    margin-top: 3rem;

    > h3 {
      flex-grow: 1;
      margin-top: 0;
    }

    button {
      cursor: pointer;
      flex-grow: 0;
      @include buttonResetFrameless();

      svg {
        height: 24px;
        width: 24px;
      }
    }
  }
}
