<sbb-processflow aria-label="Process flow to fill out your name and address" #processflow>
  <sbb-step
    aria-label="Step to fill out your name"
    [stepControl]="firstFormGroup"
    [editable]="!disableEditable"
  >
    <form [formGroup]="firstFormGroup">
      <ng-template sbbStepLabel>Fill out your name</ng-template>
      <sbb-form-field>
        <sbb-label>Name</sbb-label>
        <input sbbInput formControlName="firstCtrl" placeholder="Last name, First name" required />
      </sbb-form-field>
      <div>
        <button sbb-button sbbProcessflowNext>Next</button>
      </div>
    </form>
  </sbb-step>
  <sbb-step
    aria-label="Step to fill out your address"
    [stepControl]="secondFormGroup"
    [editable]="!disableEditable"
  >
    <form [formGroup]="secondFormGroup">
      <ng-template sbbStepLabel>Fill out your address</ng-template>
      <sbb-form-field>
        <sbb-label>Address</sbb-label>
        <input
          sbbInput
          formControlName="secondCtrl"
          placeholder="Ex. Hilfikerstrasse 1, 3000 Bern"
          required
        />
      </sbb-form-field>
      <div>
        @if (!disableEditable) {
          <button sbb-secondary-button sbbProcessflowPrevious>Back</button>
        }
        <button sbb-button sbbProcessflowNext>Next</button>
      </div>
    </form>
  </sbb-step>
  <sbb-step aria-label="Step to finish the process flow or reset it">
    <ng-template sbbStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      @if (!disableEditable) {
        <button sbb-secondary-button sbbProcessflowPrevious>Back</button>
      }
      <button sbb-button (click)="processflow.reset()">Reset</button>
    </div>
  </sbb-step>
</sbb-processflow>

<h4>Properties</h4>
<sbb-checkbox [(ngModel)]="disableEditable">Disable edit mode</sbb-checkbox>
