<sbb-form-field>
  <sbb-label>Name</sbb-label>
  <input
    type="text"
    sbbInput
    [formControl]="name"
    autocomplete="off"
    placeholder="Name"
    spellcheck="false"
  />
  @if (name.errors?.required) {
    <sbb-error>Name is required!</sbb-error>
  }
  @if (name.errors?.minlength) {
    <sbb-error>Min length is {{ name.errors?.minlength?.requiredLength }}!</sbb-error>
  }
</sbb-form-field>
<p>Name must be at least 3 characters long</p>

<h4>Properties</h4>
<sbb-checkbox (change)="toggleDisabled($event)">Disabled</sbb-checkbox>
