<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <h4 class="sbbsc-block">Single Tooltip</h4>
      <sbb-tooltip (opened)="onOpen($event)" (closed)="onClose($event)">
        {{ tooltipContent }}
      </sbb-tooltip>
      <small class="font-italic" style="margin-top: 100px;display: block;"
        >* to open a tooltip you can use the ENTER key while focusing the question mark or you can
        click on it.</small
      >
      <small class="font-italic" style="display: block;"
        >** to close a tooltip you can use the ESCAPE key, click on the question mark, on the close
        button or click outside the tooltip content box.</small
      >
    </div>
    <div class="col-lg-6">
      <h4 class="sbbsc-block">Properties</h4>
      <sbb-field mode="long" label="Tooltip text content">
        <input type="text" [(ngModel)]="tooltipContent" />
      </sbb-field>
    </div>
  </div>

  <div role="presentation" class="sbbsc-separator"></div>

  <div class="row">
    <div class="col-lg-6">
      <h4 class="sbbsc-block">Double Tooltips</h4>
      <div class="row">
        <div class="col-lg-6 sbbsc-block">
          <sbb-tooltip #t (opened)="onOpen($event)" (closed)="onClose($event)">
            <p>Dies ist ein Tooltip mit einer Schaltfläche im Inneren.</p>
            <button mode="secondary" sbbButton (click)="t.close(true)">
              Diesen Tooltip schließen
            </button>
          </sbb-tooltip>
        </div>
        <div class="col-lg-6">
          <sbb-tooltip (opened)="onOpen($event)" (closed)="onClose($event)">
            <p>Dies ist ein weiterer Tooltip mit einem Link!</p>
            <a href="#" sbbLink>Bezeichnung</a>
          </sbb-tooltip>
        </div>
      </div>
    </div>
    <div class="col-lg-6"></div>
  </div>

  <div role="presentation" class="sbbsc-separator"></div>

  <div class="row">
    <div class="col-lg-6">
      <h4 class="sbbsc-block">Tooltip with Custom Icon</h4>
      <div class="row">
        <div class="col-lg-6">
          <sbb-tooltip>
            <sbb-icon-plus *sbbIcon></sbb-icon-plus>
            <p>Dies ist ein Tooltip mit einem angepassten Icon.</p>
          </sbb-tooltip>
        </div>
      </div>
    </div>
  </div>

  <div role="presentation" class="sbbsc-separator"></div>

  <div class="row">
    <div class="col-lg-6 sbbsc-v-sep">
      <h4 class="sbbsc-block">Tooltip with Hover Configuration set to be true</h4>
      <ul>
        <li>Delay open on mouse over: {{ hoverOpenDelay }} ms</li>
        <li>
          <p>Delay close on mouse leave: {{ hoverCloseDelay }} ms</p>
        </li>
      </ul>
      <sbb-tooltip
        trigger="hover"
        [hoverOpenDelay]="hoverOpenDelay"
        [hoverCloseDelay]="hoverCloseDelay"
      >
        <p>Dies ist ein Tooltip mit einem angepassten Icon.</p>
      </sbb-tooltip>
    </div>
    <div class="col-lg-6">
      <h4 class="sbbsc-block">Configuration:</h4>
      <p>Open tooltip delay in milliseconds:</p>
      <input type="number" [(ngModel)]="hoverOpenDelay" />
      <p>Close tooltip delay in milliseconds:</p>
      <input type="number" [(ngModel)]="hoverCloseDelay" />
    </div>
  </div>
</div>
