@import '../../../../../../sbb-esta/angular-core/styles/common/colors';

:host {
  display: block;
  overflow-y: hidden;
  margin-left: 300px;
  padding: 3rem;
}

h1 {
  margin-top: 0;
}

sbb-search {
  margin-bottom: 2rem;
}

:host > div {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.5rem;
  margin-right: -0.5rem;

  > a {
    text-decoration: none;
    display: block;
    border: 1px solid $sbbColorSilver;
    padding: 24px;
    width: 22rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 1rem;

    > h3 {
      margin-top: 0;
      border-bottom: 1px solid $sbbColorSilver;
      display: flex;
      padding-bottom: 20px;
      margin-bottom: 1.5rem;
    }

    ::ng-deep .sbb-icon-component {
      display: block;
      margin: 0 auto;
      width: 8rem;
    }
  }
}
