$sbbBusiness: true;
@import '../../core/styles/common';

$dialog-bgcolor: $sbbColorWhite;
$dialog-border-color: $sbbColorCloud;
$dialog-x-padding-mobile: 16;
$dialog-x-padding-tablet: 16;
$dialog-x-padding: 16;
$dialog-y-padding-mobile: 24;
$dialog-y-padding: 24;

$dialog-footer-height-mobile: 52;
$dialog-footer-height-tablet: 52;
$dialog-header-height: 52;

