<ng-container *ngIf="!isFirst">
  <div class="sbb-breadcrumb-arrow">
    <sbb-icon-chevron-right></sbb-icon-chevron-right>
  </div>
</ng-container>
<ng-content select="a, button"></ng-content>
<span
  #breadcrumbTrigger
  *ngIf="dropdown"
  tabindex="0"
  class="sbb-breadcrumb-trigger"
  [class.sbb-breadcrumb-trigger-open]="dropdown.open"
>
  <span class="sbb-breadcrumb-label"><ng-content></ng-content></span>
  <div
    class="sbb-breadcrumb-trigger-icon sbb-breadcrumb-trigger-icon-visible"
    [class.sbb-breadcrumb-trigger-icon-active]="dropdown.open"
  >
    <sbb-icon-chevron-small-down></sbb-icon-chevron-small-down>
  </div>
</span>

<div class="sbb-breadcrumb-dots" *ngIf="isFirst">
  <div class="sbb-breadcrumb-arrow">
    <sbb-icon-chevron-right></sbb-icon-chevron-right>
  </div>
  <button type="button" (click)="expand($event)">...</button>
</div>
