<div class="container">
  <div class="row justify-content-between">  
    <div class="col-6"> 
    <h5>Tabs</h5>
    <fieldset>
    <sbb-tabs-new>
      <!-- First tab (required) -->
      <sbb-tab-new [title]="'Tab 1'" 
                   [id]="'content1-tab'">
          <br/>
          <h5>Content 1</h5>
          <hr/>
          <p>Here comes the content for tab 1 ...</p>
          <br/>
      </sbb-tab-new>
      <!-- Second tab (required) -->
      <sbb-tab-new [title]="'Tab 2'" 
                   [id]="'content2-tab'">
          <br/>
          <h5>Content 2</h5>
          <hr/>
          <p>Here comes the content for tab 2 ...</p>
          <br/>
      </sbb-tab-new>
      <!-- Third tab with the possibility of dynamic tabs if any -->
      <sbb-tab-new [title]="'Persons'"
                   [id]="'persons-tab'"
                   [badgePill]="getCountOfPersons()" 
                   [disabled]="disabled" 
                   *ngIf="withDynamicTabs">
        <br/>
        <h5>List of Persons</h5>
        <hr/>
        <person-list-new [person]="person" (addPerson)="onAddPerson()" (editPerson)="onEditPerson($event)"></person-list-new>
      </sbb-tab-new>
    </sbb-tabs-new>
    <ng-template let-person="person" #personEdit>
      <person-edit-new [person]="person" (savePerson)="onPersonFormSubmit($event)"></person-edit-new>
    </ng-template>
    </fieldset>
    <small class="font-italic">* Navigate with Tab, &#8592; and &#8593; for left, &#8594; and &#8595; for right</small>
    </div>
    <div class="col-lg-6">
      <h5>Properties</h5>
      <fieldset>
          <div class="form-group">
            <sbb-label>Please choose :</sbb-label>
            <select [(ngModel)]="tabType" class="form-control" (ngModelChange)="onChangeOfType()">
              <option *ngFor="let type of types" [ngValue]="type">{{ type }}</option>
            </select>
          </div>
          <div *ngIf="withDynamicTabs" class="form-group">
              <sbb-label>Please set data set for dynamic tabs content :</sbb-label>
              <select [(ngModel)]="dataSet" class="form-control" (ngModelChange)="onChangeOfDataSet($event)">
                <option *ngFor="let set of data" [ngValue]="set">{{ set }}</option>
              </select>
          </div>
          <div class="form-check">
            <input id="disabled" class="form-check-input" type="checkbox" [(ngModel)]="disabled">
            <sbb-label class="form-check-label" for="disabled">Disabled</sbb-label>
          </div>
      </fieldset>
    </div>
  </div>
</div>
