<sbb-toggle aria-label="Choose journey" [(ngModel)]="model">
  <sbb-toggle-option infoText="info text" label="Single Journey" value="SingleJourney">
    <sbb-icon svgIcon="kom:arrow-right-small" *sbbIcon></sbb-icon>
    <sbb-form-field>
      <sbb-label>Select date</sbb-label>
      <sbb-datepicker>
        <input sbbDateInput sbbInput type="text" />
      </sbb-datepicker>
    </sbb-form-field>
  </sbb-toggle-option>
  <sbb-toggle-option label="Single and return journey" value="ReturnJourney">
    <sbb-icon svgIcon="kom:arrows-right-left-small" *sbbIcon></sbb-icon>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
      laboris nisi ut aliquip ex ea commodo consequat.
    </p>
  </sbb-toggle-option>
</sbb-toggle>

<h4>Model</h4>
{{ model | json }}
