<label [attr.for]="inputId">
  <input
    #input
    type="checkbox"
    class="cdk-visually-hidden"
    [id]="inputId"
    [attr.name]="name"
    [attr.value]="value"
    [required]="required"
    [checked]="checked"
    [indeterminate]="indeterminate"
    [tabIndex]="tabIndex"
    [attr.aria-checked]="ariaChecked"
    [attr.aria-label]="ariaLabel"
    [attr.aria-labelledby]="ariaLabelledby"
    [attr.aria-describedby]="ariaDescribedby"
    [disabled]="disabled"
    (change)="_onInteractionEvent($event)"
    (click)="_onInputClick($event)"
  />

  <div class="sbb-checkbox-container">
    <sbb-icon-tick class="sbb-checkbox-checked"></sbb-icon-tick>
  </div>

  <div class="sbb-checkbox-label-content">
    <!-- Add an invisible span so JAWS can read the label -->
    <span style="display:none">&nbsp;</span>
    <ng-content></ng-content>
  </div>
</label>
