:host {
  &.menu-push {
    .content {
      margin-left: 300px;
    }

    .brand {
      left: 300px;
    }
  }
}

.brand {
  transition: all 0.3s ease;
  padding: 0;
  width: inherit;
  background: #fff;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  height: 48px;
  border-bottom: solid 1px #cccccc;
  z-index: 2000;

  a {
    height: 48px;
    display: block;
    float: right;
    padding: 14px 50px;

    svg {
      height: 20px;
      display: block;
    }
  }
}

.menu {
  font-size: 15px;
  left: -300px;
  background: #eb0000;
  color: #ffffff;
  position: fixed;
  width: 300px;
  height: 100%;
  top: 0;
  z-index: 1000;
  transition: all 0.3s ease;
  overflow-y: auto;

  ul {
    margin-top: 80px;
    list-style: none;
  }

  &.menu-open {
    left: 0;
  }

  li {
    padding-left: 50px;

    &.title {
      margin-top: 20px;
      opacity: 0.8;
      font-size: 13px;
    }

    &.space {
      margin-top: 20px;
    }

    a {
      padding: 5px 0;
      display: block;
      color: #fff;
      text-decoration: none;

      &.active {
        font-weight: 700;
      }
    }
  }
}

.burger-icon {
  // Reset button
  border: none;
  padding: 0;
  overflow: visible;
  background: transparent;
  outline: 0;

  width: 22px;
  height: 16px;
  position: fixed;
  top: 0;
  margin: 13px 13px 13px 50px;
  transform: rotate(0deg);
  transition: all 0.3s ease;
  cursor: pointer;
  z-index: 3000;

  span {
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background: #000;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: all 0.3s ease;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2) {
      top: 8px;
    }

    &:nth-child(3) {
      top: 16px;
    }
  }

  &.active {
    span {
      background: #fff;

      &:nth-child(1) {
        top: 8px;
        transform: rotate(135deg);
      }

      &:nth-child(2) {
        opacity: 0;
        left: -50px;
      }

      &:nth-child(3) {
        top: 8px;
        transform: rotate(-135deg);
      }
    }
  }
}

.container {
  margin: 0 auto;
}

.content {
  padding: 50px;
  padding-top: 30px;

  transform: rotate(0deg);
  transition: all 0.3s ease;
}
