<sbb-tooltip (opened)="onOpen($event)" (closed)="onClose($event)">
  {{ tooltipContent }}
</sbb-tooltip>
<h4 class="sbbsc-block">Properties</h4>
<sbb-form-field mode="long" label="Tooltip text content">
  <input type="text" [(ngModel)]="tooltipContent" sbbInput />
</sbb-form-field>
<small class="font-italic"
  >* to open a tooltip you can use the ENTER key while focusing the question mark or you can click
  on it.</small
>
<br />
<small class="font-italic"
  >** to close a tooltip you can use the ESCAPE key, click on the question mark, on the close button
  or click outside the tooltip content box.</small
>
