<sbb-sidebar-container>
  <sbb-sidebar role="navigation">
    <sbb-expansion-panel expanded>
      <sbb-expansion-panel-header>Introduction</sbb-expansion-panel-header>
      <a
        sbbSidebarLink
        routerLink="./introduction/getting-started"
        routerLinkActive="sbb-sidebar-link-active"
        >Getting started</a
      >
      <a
        sbbSidebarLink
        routerLink="./introduction/schematics"
        routerLinkActive="sbb-sidebar-link-active"
        >Schematics</a
      >
      <a sbbSidebarLink routerLink="./components" routerLinkActive="sbb-sidebar-link-active"
        >Icons Overview</a
      >
      <a sbbSidebarLink routerLink="./experimental" routerLinkActive="sbb-sidebar-link-active"
        >Experimental Icons</a
      >
    </sbb-expansion-panel>
  </sbb-sidebar>
  <sbb-sidebar-content role="main">
    <router-outlet></router-outlet>
  </sbb-sidebar-content>
</sbb-sidebar-container>
