.sbb-icon-code-wrapper {
  display: flex;

  h4 {
    margin-top: 0;
    margin-bottom: 1.5rem;
  }
}

.sbb-icon-original-size,
.sbb-icon-resized-icon {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sbb-icon-original-size {
  padding-right: 20px;
}

.sbb-icon-resized-icon sbb-icon {
  width: 75px;
  margin-bottom: 20px;
}

code {
  user-select: all;
}
