@import '../../angular/styles/common';

$paginationBaseColor: $sbbColorGrey;
$paginationBaseColorLean: $sbbColorGranite;
$paginationActiveHoverColor: $sbbColorRed;
$paginationActiveHoverColorLean: $sbbColorRed125;
