@import '../styles/common';

$paginationBaseColor: var(--sbb-color-grey);
$paginationBaseColorLean: var(--sbb-color-granite);
$paginationActiveHoverColor: var(--sbb-color-red);
$paginationActiveHoverColorLean: var(--sbb-color-red125);
