<p>Autocomplete chip input:</p>
<ng-container [formGroup]="formGroup" *ngIf="formGroup">
  <sbb-field label="Label" class="sbb-field-100">
    <sbb-chip-input
      formControlName="chip"
      [options]="options"
      [sbbAutocomplete]="auto"
    ></sbb-chip-input>
    <sbb-autocomplete #auto="sbbAutocomplete">
      <sbb-option *ngFor="let option of options" [value]="option">{{ option }}</sbb-option>
    </sbb-autocomplete>
    <sbb-form-error *ngIf="formGroup.get('chip').errors?.required"
      >This field is required.</sbb-form-error
    >
  </sbb-field>
</ng-container>
