@import '../../../styles/common';

.sbb-option.sbb-menu-item {
  cursor: default;
}

/*
.sbb-pseudo-checkbox {
  @include checkboxContainer;
  display: inline-block;
  margin-bottom: -4.5px;
  margin-right: 4px;
  overflow: hidden;

  .sbb-checkbox-checked > svg {
    @if $sbbBusiness {
      transform: translateY(toPx(-2));
    } @else {
      transform: translateY(toPx(-2));
      @include mq($from: desktop5k) {
        transform: translateY(toPx(-4));
      }
    }
  }

  @include publicOnly() {
    @include mq($from: desktop4k) {
      margin-right: toPx(4 * $scalingFactor4k);
      margin-bottom: toPx(-4.5 * $scalingFactor4k);
    }

    @include mq($from: desktop5k) {
      margin-right: toPx(4 * $scalingFactor5k);
      margin-bottom: toPx(-4.5 * $scalingFactor5k);
    }
  }

  @include businessOnly() {
    margin-top: 0;
  }

  & > .sbb-checkbox-checked {
    display: none;
  }

  &.sbb-pseudo-checkbox-checked {
    & > .sbb-checkbox-checked {
      display: inline-block;
    }
  }
  &.sbb-pseudo-checkbox-disabled {
    border-color: $sbbColorAluminum;
    background-color: $sbbColorMilk;

    & > .sbb-checkbox-checked {
      color: $sbbColorGrey;
    }
  }
}
*/

/*
sbb-option {
  &.sbb-option-multiple {
    padding-left: toPx($optionMultipleCheckboxPaddingLeft);

    @include publicOnly() {
      @include mq($from: desktop4k) {
        padding-left: toPx($optionMultipleCheckboxPaddingLeft * $scalingFactor4k);
      }

      @include mq($from: desktop5k) {
        padding-left: toPx($optionMultipleCheckboxPaddingLeft * $scalingFactor5k);
      }
    }

    .sbb-pseudo-checkbox {
      @include checkboxContainer;
      display: inline-block;
      margin-bottom: -4.5px;
      margin-right: 4px;
      overflow: hidden;

      .sbb-checkbox-checked > svg {
        @if $sbbBusiness {
          transform: translateY(toPx(-2));
        } @else {
          transform: translateY(toPx(-2));
          @include mq($from: desktop5k) {
            transform: translateY(toPx(-4));
          }
        }
      }

      @include publicOnly() {
        @include mq($from: desktop4k) {
          margin-right: toPx(4 * $scalingFactor4k);
          margin-bottom: toPx(-4.5 * $scalingFactor4k);
        }

        @include mq($from: desktop5k) {
          margin-right: toPx(4 * $scalingFactor5k);
          margin-bottom: toPx(-4.5 * $scalingFactor5k);
        }
      }

      @include businessOnly() {
        margin-top: 0;
      }

      & > .sbb-checkbox-checked {
        display: none;
      }

      &.sbb-pseudo-checkbox-checked {
        & > .sbb-checkbox-checked {
          display: inline-block;
        }
      }
      &.sbb-pseudo-checkbox-disabled {
        border-color: $sbbColorAluminum;
        background-color: $sbbColorMilk;

        & > .sbb-checkbox-checked {
          color: $sbbColorGrey;
        }
      }
    }
  }
}
*/
