@import '../../../styles/common';

.sbb-option.sbb-menu-item {
  cursor: default;
}

.sbb-pseudo-checkbox {
  display: inline-block;
  margin-bottom: -4.5px;
  margin-right: 4px;
  overflow: hidden;
  line-height: 0;

  .sbb-selection-container {
    margin: 0;
  }
}
