@import '../styles/datepicker';

.sbb-datepicker-popup {
  @include datePickerPopup();
  @include defaultDatePickerTheme();

  .sbb-datepicker-content {
    position: relative;
    width: 100%;
    top: pxToEm($datePickerContentTop);

    .sbb-calendar {
      @include datePickerCalendar();
      @include datePickerCalendarHeader();
      @include datePickerCalendarControls();
      @include datePickerCalendarTable();
    }
  }
}

.sbb-datepicker-popup-above {
  .sbb-datepicker-popup {
    @include revertPopUp();
  }
}
