@import '~@angular/cdk/a11y';
@import '~@angular/cdk/overlay';
@import '../../sbb-esta/angular-core/styles/main';

@include sbbFonts();
@include reset();
@include sbbLink();
@include cdk-a11y();
@include cdk-overlay();

sbb-public,
sbb-core,
sbb-icons {
  @import '../../sbb-esta/angular-public/styles';
  sbb-markdown-viewer,
  sbb-public-component-viewer,
  sbb-api-viewer,
  sbb-icon-search,
  sbb-icon-viewer {
    @include sbbHeadings();
    @include sbbParagraph();
    @include lists;
    @include sbbInputFields();
    @include sbbSelect();
    @include sbbFieldset();
    @include sbbTimeInputField();
  }
}

sbb-business {
  @import '../../sbb-esta/angular-business/styles';
  sbb-markdown-viewer,
  sbb-public-component-viewer {
    @include sbbHeadings();
    @include sbbParagraph();
    @include lists;
    @include sbbInputFields();
    @include sbbSelect();
    @include sbbFieldset();
    @include sbbTimeInputField();
  }
}

body {
  transition: all 0.3s ease;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  left: 0;
  top: 48px;

  &.home {
    top: 0;
  }
}

table {
  @include table();
  margin-top: 1rem;
}

sbb-markdown-viewer,
sbb-public-component-viewer {
  pre {
    background-color: #efefef;
    padding: 1rem 3rem;
    margin: 1rem -3rem;
  }

  sbb-example-viewer pre {
    padding: 1rem 24px;
    margin: 1rem -24px;
  }
}

code {
  background-color: #efefef;
  padding: 3px;
}

pre code {
  padding: 0;
}

.content h4 {
  margin-bottom: 0.5rem;
}

.docs-api {
  .docs-api-h3 {
    padding-bottom: 0.3em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }

  .docs-api-h4 code {
    font-size: 150%;
  }

  .docs-api-deprecated-marker {
    font-style: italic;
  }

  .docs-api-class-selector-name {
    background-color: #efefef;
    padding: 3px;
  }

  .docs-api-module-import code {
    font-size: large;
    padding: 5px;
  }

  table {
    width: 100%;

    &.docs-api-method-table th {
      text-align: left;
    }
  }

  .docs-api-properties-name-cell {
    .docs-api-input-marker,
    .docs-api-output-marker {
      font-size: 80%;
    }

    .docs-api-property-name {
      margin-top: 0;

      code {
        background-color: transparent;
      }
    }
  }
}

nav.menu.ps .ps__rail-y {
  background-color: transparent;

  .ps__thumb-y {
    background-color: #fff;
  }
}

@mixin svgIconColor2Paths($fillColor1, $strokeColor1, $fillColor2, $strokeColor2) {
  &.sbb-svg-icon {
    & > g > :first-child path {
      stroke: $strokeColor1;
      fill: $fillColor1;
    }

    & > g > :nth-child(2) path {
      stroke: $strokeColor2;
      fill: $fillColor2;
    }
  }
}

svg.sbb-status-grey-eye {
  @include svgIconColors($sbbColorGreyMedium, $sbbColorWhite);
  @include svgIconBackground($sbbColorGreyMedium, pxToRem(2px));
}

svg.sbb-status-eye {
  @include svgIconColors($sbbColorSky, $sbbColorBlue);
}

svg.sbb-status-grinning {
  @include svgIconColors($sbbColorLemon, $sbbColorBlack);
}

svg.sbb-status-heart {
  @include svgIconColors($sbbColorRed150, $sbbColorViolet);

  &.sbb-svg-icon {
    & > path {
      stroke-width: 2;
      fill-opacity: 0.7;
    }
  }
}

svg.sbb-status-trainstation {
  @include svgIconColors(none, $sbbColorWhite);
  @include svgIconBackground($sbbColorRed, pxToRem(2px));
}

svg.sbb-icon-status-question {
  @include svgIconColor2Paths(none, $sbbColorBlack, $sbbColorBlack, none);
  @include svgIconBackground($sbbColorOrange, pxToRem(2px));
}

svg.sbb-status-happy {
  @include svgIconColors($sbbColorLemon, $sbbColorBlack);
}
