//@import './styles/main';

@import '~@angular/cdk/a11y';
@import '~@angular/cdk/overlay';
@import '../../../dist/sbb-esta/angular-public/styles.scss';

@include sbbFonts();
@include reset();
@include sbbLink();
@include cdk-a11y();
@include cdk-overlay();

sbb-public {
  sbb-markdown-viewer {
    @include sbbHeadings();
    @include sbbParagraph();
    @include lists;
    @include sbbInputFields();
    @include sbbSelect();
    @include sbbFieldset();
    @include sbbTimeInputField();
    @include sbbTable();
  }
}

body {
  transition: all 0.3s ease;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  left: 0;
  top: 48px;

  &.home {
    top: 0;
  }
}

nav.menu.ps .ps__rail-y {
  background-color: transparent;

  .ps__thumb-y {
    background-color: #fff;
  }
}
