@import '../../../dist/sbb-angular/styles.scss';
@import '../../styles/common/variable';
@import '../../styles/common/mixins';

.sbbsc-cards-card-hero {
  @include landingSearchResultListHero();
}
.sbbsc-cards-card-title {
  @include landingSearchResultCardTitle();
}
