<input id="search-input-component" type="text" (input)="onSearchChange($event.target.value)" placeholder="Search components"
  spellcheck="false" [(ngModel)]="inputValue" #reference>

<nav class="sbbsc-cards" *ngIf="foundUiComponents.length > 0">
  <ul class="sbbsc-cards-list">
    <li class="sbbsc-cards-card" *ngFor="let uiComponent of foundUiComponents">
      <a [routerLink]="['/content/' + uiComponent['routerLink']]" (click)="navigate('/content/' + uiComponent['routerLink']);">
        <h4 class="sbbsc-cards-card-hero">
          <span *ngIf="uiComponent['isComponent']">Component</span>
          <span *ngIf="uiComponent['isComponent'] && uiComponent['isDirective']"> / </span>
          <span *ngIf="uiComponent['isDirective']">Directive</span>
        </h4>
        <h3 class="sbbsc-cards-card-title" id="uiComponentId" [innerHTML]="uiComponent['id']">
        </h3>
      </a>
    </li>
  </ul>
</nav>

<p i18n *ngIf="foundUiComponents.length === 0">No components found</p>