@import '../../styles/common';

.sbb-select {
  display: inline-block;
  cursor: pointer;
  position: relative;

  padding-right: pxToRem(44);

  // Use variant mixin here to be specific enough to overwrite sbb-input-element styles
  html:not(.sbb-lean) & {
    @include mq($from: desktop4k) {
      padding-right: pxToRem(44 * $scalingFactor4k);
    }
    @include mq($from: desktop5k) {
      padding-right: pxToRem(44 * $scalingFactor5k);
    }
  }
  html.sbb-lean & {
    padding-right: pxToRem(38);
  }
}

.sbb-select-value {
  overflow: hidden;
  text-overflow: ellipsis;
}

.sbb-select-arrow-icon {
  @include absoluteCenterY();
  right: pxToEm(9);
  color: $sbbColorGrey;

  html.sbb-lean & {
    color: $sbbColorGranite;
    right: pxToRem(6);
  }
}

.sbb-select-arrow-icon > svg {
  transition: transform 120ms cubic-bezier(0, 0, 0.2, 1);

  .sbb-input-with-open-panel & {
    transform: rotate(180deg);
  }
}

.sbb-select-panel {
  .sbb-menu-group + .sbb-menu-group,
  .sbb-menu-item + .sbb-menu-group,
  .sbb-menu-group + .sbb-menu-item {
    border-top: none;
  }

  html:not(.sbb-lean) &.sbb-select-multiple .sbb-menu-group .sbb-menu-item {
    padding-left: pxToRem(14);

    @include mq($from: desktop4k) {
      padding-left: pxToRem(14 * $scalingFactor4k);
    }
    @include mq($from: desktop5k) {
      padding-left: pxToRem(14 * $scalingFactor5k);
    }
  }
}
