<span class="sbb-notification-icon-wrapper">
  <ng-container *ngTemplateOutlet="icon"></ng-container>
</span>
<div *ngIf="jumpMarks; else content" class="sbb-notification-content">
  <div class="sbb-notification-content-title">
    {{ message }}
  </div>
  <span *ngFor="let jumpMark of jumpMarks; let isLast = last" class="sbb-notification-jump-mark">
    <a (click)="scrollTo($event, jumpMark)">{{ jumpMark.title }}</a>
    <ng-container *ngIf="!isLast"> / </ng-container>
  </span>
</div>
<ng-template #content>
  <div class="sbb-notification-content">
    {{ message }}
  </div>
</ng-template>

<ng-template #check>
  <sbb-icon-tick></sbb-icon-tick>
</ng-template>

<ng-template #error>
  <sbb-icon-sign-exclamation-point></sbb-icon-sign-exclamation-point>
</ng-template>

<ng-template #info>
  <sbb-icon-circle-information></sbb-icon-circle-information>
</ng-template>
