@import '../../dialog';

.sbb-dialog-content-scrollbar {
  .ps-content {
    padding: pxToEm($dialog-content-y-padding-mobile) pxToEm($dialog-content-x-padding-mobile);

    @include mq($from: tabletPortrait) {
      padding: pxToEm($dialog-content-y-padding) pxToEm($dialog-content-x-padding-tablet);
    }

    @include mq($from: desktop) {
      padding: pxToEm($dialog-content-y-padding) pxToEm($dialog-content-x-padding);
    }
  }
}
