<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 sbbsc-v-sep">
      <h4>Simple Datepicker</h4>
      <sbb-field>
        <sbb-datepicker [formControl]="laData" scrollable inputOnly [min]="minDate" [max]="maxDate" (closed)="closedEvent()"
          (opened)="openedEvent()" (dateChange)="dateChangeEvent($event)" (dateInput)="dateInputEvent($event)"></sbb-datepicker>
      </sbb-field>
    </div>
    <div class="col-lg-6">
      <h4>Properties</h4>
      <pre>formControl: {{ laData | json }}</pre>
    </div>
  </div>
</div>