@import '../../../../dist/sbb-angular/styles.scss';

.sbbsc-medium-field {
  &:first-of-type {
    padding-bottom: 1em;
  }

  @include mq($from: tabletPortrait) {
    &:first-of-type {
      padding-right: 0.5em;
      padding-bottom: 0;
    }
    &:last-of-type {
      padding-left: 0.5em;
    }
  }

}