@import '../../../core/styles/common';

$paginationLiWidthHeight: 40;
$paginationLiWidthHeight4K: $paginationLiWidthHeight * $scalingFactor4k;
$paginationLiWidthHeight5K: $paginationLiWidthHeight * $scalingFactor5k;

$paginationItemIconSize: 24;
$paginationItemIconSize4K: $paginationItemIconSize * $scalingFactor4k;
$paginationItemIconSize5K: $paginationItemIconSize * $scalingFactor5k;

$paginationLiWidthHeightBusiness: 30;
