@import '../../../../angular-core/styles/common/functions';
@import '../../../../angular-core/styles/common/mediaqueries';
@import '../../../../angular-core/styles/common/checkbox';
@import '../option';

sbb-option {
  .sbb-select-content & {
    @include optionBase($selectMode: true);
    padding-left: toPx($optionMultipleNoCheckboxPaddingLeft);

    @include publicOnly() {
      @include mq($from: desktop4k) {
        padding-left: toPx($optionMultipleNoCheckboxPaddingLeft * $scalingFactor4k);
      }

      @include mq($from: desktop5k) {
        padding-left: toPx($optionMultipleNoCheckboxPaddingLeft * $scalingFactor5k);
      }
    }
  }

  .sbb-autocomplete-panel & {
    @include optionBase;
  }

  &.sbb-option-multiple {
    display: flex;
    align-items: center;

    padding-left: toPx($optionMultipleCheckboxPaddingLeft);

    @include publicOnly() {
      @include mq($from: desktop4k) {
        padding-left: toPx($optionMultipleCheckboxPaddingLeft * $scalingFactor4k);
      }

      @include mq($from: desktop5k) {
        padding-left: toPx($optionMultipleCheckboxPaddingLeft * $scalingFactor5k);
      }
    }

    sbb-pseudo-checkbox {
      @include checkboxContainer;

      & > .sbb-checkbox-checked {
        display: none;
      }

      &.sbb-pseudo-checkbox-checked {
        & > .sbb-checkbox-checked {
          display: block;
        }
      }
      &.sbb-pseudo-checkbox-disabled {
        border-color: $sbbColorAluminum;
        background-color: $sbbColorMilk;

        & > .sbb-checkbox-checked {
          @include svgIconColor($sbbColorGrey);
        }
      }
    }
  }
}

sbb-option[disabled],
.sbb-option-disabled {
  cursor: default;
  opacity: 0.5;
}

sbb-option[aria-disabled='true'] {
  user-select: none;
  cursor: default;
}
