@use './../../style/functions' as f;
@use '@sbb-esta/angular' as esta;

@include f.map-controls-shared;
@include f.map-control-icon;

.var-plus {
  position: relative;
  border-radius: 24px 24px 12px 12px;

  @include esta.mq($from: tabletPortrait) {
    @at-root .map-control-container.small-buttons #{&} {
      border-radius: 16px 16px 8px 8px;
    }
  }

  @include f.map-control-icon-button('plus');

  &::after {
    content: ' ';
    display: block;
    position: absolute;
    height: 1px;
    background: esta.$sbbColorCloud;
    width: 100%;
    left: 0;
    bottom: -1px;

    @at-root .map-control-container.dark #{&} {
      background: esta.$sbbColorMetal;
    }
  }
}

.var-minus {
  border-radius: 12px 12px 24px 24px;
  @include f.map-control-icon-button('minus');

  @include esta.mq($from: tabletPortrait) {
    @at-root .map-control-container.small-buttons #{&} {
      border-radius: 8px 8px 16px 16px;
    }
  }
}
