@import '../../../angular-core/styles/common/variants';
@import '../../../angular-core/styles/common/variables';
@import '../../../angular-core/styles/common/colors';
@import '../../../angular-core/styles/common/functions';
@import '../../../angular-core/styles/common/mediaqueries';

$radioButtonGreyColor: $sbbColorGrey;

@if $sbbBusiness {
  $radioButtonGreyColor: $sbbColorGranite;
}

@mixin radioButton() {
  & > label {
    user-select: none;
    @include radioButtonBase();
  }
}

@mixin radioButtonBase {
  display: flex;
  position: relative; // assure absolute positioned native input is close to the label!
  align-items: flex-start;

  & > input[type='radio'] {
    & + .sbb-radio-circle-container {
      @include radioButtonCircle();

      & > .sbb-radio-circle-checked {
        display: none;
      }

      & + .sbb-radio-label-content {
        user-select: auto;
        color: $radioButtonGreyColor;
        transition: color 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);

        @include businessOnly() {
          padding-top: toPx(2);
          padding-bottom: toPx(3);
          line-height: pxToEm(15px);
        }
      }
    }

    &:focus + .sbb-radio-circle-container {
      border-color: $radioButtonGreyColor;
    }

    &:checked + .sbb-radio-circle-container,
    &[checked] + .sbb-radio-circle-container {
      & > .sbb-radio-circle-checked {
        display: block;
      }

      & + .sbb-radio-label-content {
        color: $sbbColorBlack;
      }
    }

    &:disabled + .sbb-radio-circle-container,
    &[disabled] + .sbb-radio-circle-container {
      border-color: $sbbColorAluminum;
      background-color: $sbbColorMilk;

      & > .sbb-radio-circle-checked {
        background-color: $radioButtonGreyColor;
      }

      & + .sbb-radio-label-content {
        color: $radioButtonGreyColor;
      }
    }
  }
}

@mixin radioButtonCircle() {
  width: toPx(20);
  min-width: toPx(20);
  height: toPx(20);
  min-height: toPx(20);
  background-color: $sbbColorWhite;

  @include businessOnly() {
    margin-top: 0;
    border: toPx(1) solid $sbbColorGraphite;
  }

  @include publicOnly() {
    margin-top: toPx(1);
    border: toPx(2) solid $sbbColorGraphite;

    @include mq($from: desktop4k) {
      width: toPx(20 * $scalingFactor4k);
      min-width: toPx(20 * $scalingFactor4k);
      height: toPx(20 * $scalingFactor4k);
      min-height: toPx(20 * $scalingFactor4k);
      border: toPx(2 * $scalingFactor4k) solid $sbbColorGraphite;
      margin-right: toPx(8 * $scalingFactor4k);
      margin-top: toPx(1 * $scalingFactor4k);
    }

    @include mq($from: desktop5k) {
      width: toPx(20 * $scalingFactor5k);
      min-width: toPx(20 * $scalingFactor5k);
      height: toPx(20 * $scalingFactor5k);
      min-height: toPx(20 * $scalingFactor5k);
      border: toPx(2 * $scalingFactor5k) solid $sbbColorGraphite;
      margin-right: toPx(8 * $scalingFactor5k);
      margin-top: toPx(1 * $scalingFactor5k);
    }
  }

  border-radius: 50%;
  margin-right: toPx(8);

  .sbb-radio-circle-checked {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    transform: scale(0.65);
    transition: opacity 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);

    @include publicOnly() {
      background-color: $sbbColorRed;
    }

    @include businessOnly() {
      background-color: $sbbColorGranite;
    }
  }
}
