<article class="container-fluid">
  <div class="row">
    <div class="col-lg-8 sbbsc-v-sep">

      <h4 class="sbbsc-block">Simple Ghettobox</h4>

      <sbb-ghettobox>
        This is a simple message with a simple <a href="#">Link</a>
      </sbb-ghettobox>

    </div>
    <div class="col-lg-4">
      <h4 class="sbbsc-block">Properties</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 sbbsc-v-sep">

      <h4 class="sbbsc-block">Ghettobox with custom icon</h4>

      <sbb-ghettobox>
        <sbb-icon-him-disruption with="24px" height="24px" *sbbGhettoboxIcon></sbb-icon-him-disruption>
        This is a simple message with custom icon
      </sbb-ghettobox>

    </div>
    <div class="col-lg-4">
      <h4 class="sbbsc-block">Properties</h4>
    </div>
  </div>

  <div role="presentation" class="sbbsc-separator"></div>

  <div class="row">
    <div class="col-lg-8 sbbsc-v-sep">

      <h4 class="sbbsc-block">Ghettobox Link</h4>

      <sbb-ghettobox>
        <a sbbGhettoboxLink routerLink="/test">
          This is a simple link text
          <sbb-icon-him-disruption width="24px" height="24px" *sbbGhettoboxIcon></sbb-icon-him-disruption>
        </a>
      </sbb-ghettobox>

    </div>
    <div class="col-lg-4">
      <h4 class="sbbsc-block">Properties</h4>
    </div>
  </div>

  <div role="presentation" class="sbbsc-separator"></div>

  <div class="row">
    <div class="col-lg-8 sbbsc-v-sep">

      <h4 class="sbbsc-block">Ghettobox container with initial entry</h4>

      <sbb-ghettobox-container>

        <sbb-ghettobox>
          <a sbbGhettoboxLink routerLink="/test">
            This is an initial ghettobox into a container
            <sbb-icon-him-disruption width="24px" height="24px" *sbbGhettoboxIcon></sbb-icon-him-disruption>
          </a>
        </sbb-ghettobox>

      </sbb-ghettobox-container>

    </div>
    <div class="col-lg-4">
      <h4 class="sbbsc-block">Properties</h4>
      <div class="sbbsc-block">
        <button sbbButton (click)="addGhettoboxes()">Add a ghettobox Array</button>
      </div>
      <div class="sbbsc-block">
        <button sbbButton (click)="deleteById('sbb-ghettobox-4')">Delete ghettoxbox width id sbb-ghettobox-4</button>
      </div>
    </div>
  </div>
  <article>