<article class="container-fluid">
  <div class="row">
    <div class="col-lg-8 sbbsc-v-sep">

      <h4 class="sbbsc-block">Simple Ghettobox</h4>

      <sbb-ghettobox>
        This is a simple message with a simple <a href="#">Link</a>
      </sbb-ghettobox>

    </div>
    <div class="col-lg-4">
      <h4 class="sbbsc-block">Properties</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 sbbsc-v-sep">

      <h4 class="sbbsc-block">Ghettobox with custom icon</h4>

      <sbb-ghettobox>
        <sbb-icon-him-disruption with="24px" height="24px" *sbbGhettoboxIcon></sbb-icon-him-disruption>
        This is a simple message with custom icon
      </sbb-ghettobox>

    </div>
    <div class="col-lg-4">
      <h4 class="sbbsc-block">Properties</h4>
    </div>
  </div>

  <div role="presentation" class="sbbsc-separator"></div>

  <div class="row">
    <div class="col-lg-8 sbbsc-v-sep">

      <h4 class="sbbsc-block">Ghettobox Link</h4>

      <sbb-ghettobox>
        <a sbbGhettoboxLink routerLink="/test">
          This is a simple link text
          <sbb-icon-him-disruption width="24px" height="24px" *sbbGhettoboxIcon></sbb-icon-him-disruption>
        </a>
      </sbb-ghettobox>

    </div>
    <div class="col-lg-4">
      <h4 class="sbbsc-block">Properties</h4>
    </div>
  </div>

  <div role="presentation" class="sbbsc-separator"></div>

  <div class="row">
    <div class="col-lg-8 sbbsc-v-sep">

      <h4 class="sbbsc-block">Ghettobox container with initial entry</h4>

      <sbb-ghettobox-container>

        <sbb-ghettobox>
          <a sbbGhettoboxLink routerLink="/test">
            This is an initial ghettobox into a container
            <sbb-icon-him-disruption width="24px" height="24px" *sbbGhettoboxIcon></sbb-icon-him-disruption>
          </a>
        </sbb-ghettobox>

      </sbb-ghettobox-container>

    </div>
    <div class="col-lg-4">
      <h4 class="sbbsc-block">Properties</h4>
      <div class="sbbsc-block">
        <button sbbButton (click)="addGhettobox()">Add ghettobox</button>
      </div>
      <div class="sbbsc-block">
        <input #ghettoId type="text" placeholder="Set ghettobox ID to delete" />
        <button sbbButton (click)="deleteById(ghettoId.value)">Delete ghettoxbox by id sbb-ghettobox-4</button>
      </div>
      <div class="sbbsc-block">
        <button sbbButton (click)="deleteByIndex()">Delete ghettobox by index</button>
      </div>
      <h4 class="sbbsc-block">Model</h4>
      <pre>{{ printAttachedGhettoboxesIDS() | json }}</pre>
    </div>
  </div>
  <article>

    <ng-template #testIcon1>
      <sbb-icon-clock width="24px" height="24px"></sbb-icon-clock>
    </ng-template>

    <ng-template #testIcon2>
      <sbb-icon-comfort width="24px" height="24px"></sbb-icon-comfort>
    </ng-template>