@mixin datePickerInput() {
  position: relative;

  .sbb-date-input {
    width: 100%;
  }

  &.sbb-datepicker-toggle-enabled > .sbb-date-input,
  &.sbb-datepicker-arrows-enabled > .sbb-date-input {
    padding-left: pxToEm($dateInputOneIconPadding - $dateInputBorderWidth);

    @include publicOnly() {
      @include mq($from: desktop4k) {
        padding-left: pxToEm(
          $dateInputOneIconPadding * $scalingFactor4k - $dateInputBorderWidth * $scalingFactor4k
        );
      }

      @include mq($from: desktop5k) {
        padding-left: pxToEm(
          $dateInputOneIconPadding * $scalingFactor5k - $dateInputBorderWidth * $scalingFactor5k
        );
      }
    }
  }

  &.sbb-datepicker-arrows-enabled > .sbb-date-input {
    padding-right: pxToEm($dateInputOneIconPadding - $dateInputBorderWidth);

    @include publicOnly() {
      @include mq($from: desktop4k) {
        padding-right: pxToEm(
          $dateInputOneIconPadding * $scalingFactor4k - $dateInputBorderWidth * $scalingFactor4k
        );
      }

      @include mq($from: desktop5k) {
        padding-right: pxToEm(
          $dateInputOneIconPadding * $scalingFactor5k - $dateInputBorderWidth * $scalingFactor5k
        );
      }
    }
  }

  &.sbb-datepicker-arrows-enabled.sbb-datepicker-toggle-enabled > .sbb-date-input {
    padding-left: pxToEm($dateInputTwoIconPadding - $dateInputBorderWidth);

    @include publicOnly() {
      @include mq($from: desktop4k) {
        padding-left: pxToEm(
          $dateInputTwoIconPadding * $scalingFactor4k - $dateInputBorderWidth * $scalingFactor4k
        );
      }

      @include mq($from: desktop5k) {
        padding-left: pxToEm(
          $dateInputTwoIconPadding * $scalingFactor5k - $dateInputBorderWidth * $scalingFactor5k
        );
      }
    }
  }
}
