@mixin defaultDatePickerTheme() {
  button {
    @include buttonResetFrameless();

    &:hover:enabled,
    &:focus:enabled {
      @include svgIconColor($pickerIconsHoverColor);
      cursor: pointer;
    }
  }
}

@mixin pickerIconsSize(
  $pickerIconWidth: $defaultPickerIconSize,
  $pickerIconHeight: $defaultPickerIconSize
) {
  width: toPx($pickerIconWidth);
  height: toPx($pickerIconHeight);

  @include publicOnly() {
    @include mq($from: desktop4k) {
      width: toPx($pickerIconWidth * $scalingFactor4k);
      height: toPx($pickerIconHeight * $scalingFactor4k);
    }
    @include mq($from: desktop5k) {
      width: toPx($pickerIconWidth * $scalingFactor5k);
      height: toPx($pickerIconHeight * $scalingFactor5k);
    }
  }
}
%pickerIconsSize {
  @include pickerIconsSize();
}
@mixin datePickerToggleArrow($dir: calendarDown) {
  position: absolute;
  left: pxToEm($datePickerToggleWrapperArrowLeftOffset);
  width: pxToEm($datePickerToggleWrapperArrowWidth);
  background-color: $datePickerCalendarBg;
  height: $datePickerToggleWrapperArrowHeight;
  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    background-color: $datePickerToggleArrowColor;
    width: pxToEm($datePickerToggleArrowWidth);
    height: $datePickerToggleArrowHeight;
  }
  &::before {
    left: $datePickerToggleArrowBeforeOffset;
  }
  &::after {
    left: $datePickerToggleArrowAfterOffset;
  }
  @if $dir == calendarDown {
    top: $datePickerToggleArrowTopOffset;
    &::before,
    &::after {
      top: $datePickerToggleWrapperArrowHeight / 2;
    }
    &::before {
      transform: rotate(-45deg);
    }
    &::after {
      transform: rotate(45deg);
    }
    .sbb-datepicker-with-arrows & {
      left: pxToEm($datePickerToggleWithArrowsWrapperArrowLeftOffset);
    }
  } @else if $dir == calendarTop {
    top: auto;
    bottom: $datePickerToggleArrowTopOffset;
    &::before,
    &::after {
      top: auto;
      bottom: $datePickerToggleWrapperArrowHeight / 2;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
}
@mixin datePickerDisableCell() {
  color: $datePickerCalendarDisabledTextCellColor;
  cursor: default;

  &:not(.empty)::after {
    content: '';
    width: pxToEm($datePickerDisabledCellWidth);
    height: pxToEm(1);
    top: pxToEm($datePickerDisabledCellTop);
    left: calc(50% - #{pxToEm($datePickerDisabledCellLeft)});
    background-color: $datePickerCalendarDisabledCellColor;
    display: block;
    position: absolute;
    transform: rotate(-45deg);

    @include publicOnly() {
      @include mq($from: tabletPortrait) {
        top: pxToEm(27);
      }
    }
  }
}
