@import '../../../angular/styles/common';

$sbbExpansionPanelHeaderLineHeightStandard: 28;
$sbbExpansionPanelHeaderLineHeightStandardTablet: 30;
$sbbExpansionPanelHeaderLineHeightStandard4k: 45;
$sbbExpansionPanelHeaderLineHeightStandard5k: 60;
$sbbExpansionPanelBorderWidth: 1;
$sbbExpansionPanelBorderWidth4k: 2;

.sbb-expansion-panel-header {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  background-color: $sbbColorMilk;
  outline: none;
  padding: pxToRem(23 - $sbbExpansionPanelBorderWidth) pxToRem(23 - $sbbExpansionPanelBorderWidth)
    pxToRem(25 - $sbbExpansionPanelBorderWidth) pxToRem(23 - $sbbExpansionPanelBorderWidth);

  html:not(.sbb-lean) & {
    @include mq($from: tablet) {
      padding: pxToRem(35 - $sbbExpansionPanelBorderWidth)
        pxToRem(48 - $sbbExpansionPanelBorderWidth) pxToRem(37 - $sbbExpansionPanelBorderWidth)
        pxToRem(48 - $sbbExpansionPanelBorderWidth);
    }
    @include mq($from: desktop) {
      padding: pxToRem(35 - $sbbExpansionPanelBorderWidth)
        pxToRem(32 - $sbbExpansionPanelBorderWidth) pxToRem(37 - $sbbExpansionPanelBorderWidth)
        pxToRem(32 - $sbbExpansionPanelBorderWidth);
    }
    @include mq($from: desktop4k) {
      padding: pxToRem(53 - $sbbExpansionPanelBorderWidth4k)
        pxToRem(48 - $sbbExpansionPanelBorderWidth4k) pxToRem(55 - $sbbExpansionPanelBorderWidth4k)
        pxToRem(48 - $sbbExpansionPanelBorderWidth4k);
    }
    @include mq($from: desktop5k) {
      padding: pxToRem(72 - $sbbExpansionPanelBorderWidth4k)
        pxToRem(64 - $sbbExpansionPanelBorderWidth4k);
    }
  }

  html.sbb-lean & {
    padding: pxToRem(11 - $sbbExpansionPanelBorderWidth) pxToRem(16 - $sbbExpansionPanelBorderWidth)
      pxToRem(12 - $sbbExpansionPanelBorderWidth) pxToRem(16 - $sbbExpansionPanelBorderWidth);
  }

  &.sbb-expanded {
    &::after {
      content: '';
      display: block;
      position: absolute;
      height: 0;
      bottom: 0;
      width: calc(100% - #{pxToRem((24 - $sbbExpansionPanelBorderWidth) * 2)});
      left: pxToRem((24 - $sbbExpansionPanelBorderWidth));
      border-bottom: pxToRem(1) solid $sbbColorCloud;

      html:not(.sbb-lean) & {
        @include mq($from: tablet) {
          width: calc(100% - #{pxToRem((48 - $sbbExpansionPanelBorderWidth) * 2)});
          left: pxToRem((48 - $sbbExpansionPanelBorderWidth));
        }
        @include mq($from: desktop) {
          width: calc(100% - #{pxToRem((32 - $sbbExpansionPanelBorderWidth) * 2)});
          left: pxToRem((32 - $sbbExpansionPanelBorderWidth));
        }
        @include mq($from: desktop4k) {
          width: calc(100% - #{pxToRem((48 - $sbbExpansionPanelBorderWidth4k) * 2)});
          left: pxToRem((48 - $sbbExpansionPanelBorderWidth4k));
          border-width: pxToRem(2);
        }
        @include mq($from: desktop5k) {
          width: calc(100% - #{pxToRem((64 - $sbbExpansionPanelBorderWidth4k) * 2)});
          left: pxToRem((64 - $sbbExpansionPanelBorderWidth4k));
        }
      }

      html.sbb-lean & {
        width: calc(100% - #{pxToRem((16 - $sbbExpansionPanelBorderWidth) * 2)});
        left: pxToRem((16 - $sbbExpansionPanelBorderWidth));
      }
    }
  }

  &.sbb-expanded,
  &.sbb-expanded:focus,
  &.sbb-expanded:hover {
    background: inherit;
  }

  &.sbb-disabled {
    cursor: default;
    opacity: 0.75;
  }
}

.sbb-expansion-panel-header-content {
  display: flex;
  flex: 1;
  overflow: hidden;
  font-family: $fontSbbLight;
  font-size: pxToRem(20);
  line-height: pxToRem($sbbExpansionPanelHeaderLineHeightStandard);

  html:not(.sbb-lean) & {
    @include mq($from: tablet) {
      font-size: pxToRem(21);
      line-height: pxToRem($sbbExpansionPanelHeaderLineHeightStandardTablet);
    }
    @include mq($from: desktop4k) {
      font-size: pxToRem(32);
      line-height: pxToRem($sbbExpansionPanelHeaderLineHeightStandard4k);
    }
    @include mq($from: desktop5k) {
      font-size: pxToRem(42);
      line-height: pxToRem($sbbExpansionPanelHeaderLineHeightStandard5k);
    }
  }

  html.sbb-lean & {
    font-size: pxToRem(21);
    line-height: pxToRem(25);
  }
}

.sbb-expansion-panel-header-indicator {
  flex: 0 0 auto;
  line-height: 0; // Centers the svg icon inside sbb-icon
  margin-left: pxToRem(24);
  height: pxToRem(24);
  width: pxToRem(24);

  html:not(.sbb-lean) & {
    border: pxToRem(1) solid $sbbColorStorm;
    border-radius: 50%;
    color: $sbbColorGranite;
    padding: pxToRem(4 - $sbbExpansionPanelBorderWidth);

    @include mq($from: tablet) {
      $iconSize: 32;
      height: pxToRem($iconSize);
      width: pxToRem($iconSize);
      margin-left: pxToRem(40);

      // Ensure calculated height of icon is not higher than line-height
      margin-top: pxToRem(($sbbExpansionPanelHeaderLineHeightStandardTablet - $iconSize) / 2);
      margin-bottom: pxToRem(($sbbExpansionPanelHeaderLineHeightStandardTablet - $iconSize) / 2);
    }

    @include mq($from: desktop) {
      margin-left: pxToRem(24);
    }

    @include mq($from: desktop4k) {
      $iconSize: 48;
      border-width: pxToRem($sbbExpansionPanelBorderWidth4k);
      padding: pxToRem(6 - $sbbExpansionPanelBorderWidth4k);
      height: pxToRem($iconSize);
      width: pxToRem($iconSize);
      margin-left: pxToRem(36);

      // Ensure calculated height of icon is not higher than line-height
      margin-top: pxToRem(($sbbExpansionPanelHeaderLineHeightStandard4k - $iconSize) / 2);
      margin-bottom: pxToRem(($sbbExpansionPanelHeaderLineHeightStandard4k - $iconSize) / 2);
    }

    @include mq($from: desktop5k) {
      $iconSize: 64;
      padding: pxToRem(8 - $sbbExpansionPanelBorderWidth4k);
      height: pxToRem($iconSize);
      width: pxToRem($iconSize);
      margin-left: pxToRem(44);

      // Ensure calculated height of icon is not higher than line-height
      margin-top: pxToRem(($sbbExpansionPanelHeaderLineHeightStandard5k - $iconSize) / 2);
      margin-bottom: pxToRem(($sbbExpansionPanelHeaderLineHeightStandard5k - $iconSize) / 2);
    }
  }
}
