@import '../../../angular/styles/common';

$sbbExpansionPanelHeaderLineHeightStandard: 28;
$sbbExpansionPanelHeaderLineHeightStandardTablet: 30;
$sbbExpansionPanelHeaderLineHeightStandard4k: 45;
$sbbExpansionPanelHeaderLineHeightStandard5k: 60;

.sbb-expansion-panel-header {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  background-color: $sbbColorMilk;
  outline: none;
  padding: pxToRem(24) pxToRem(24) pxToRem(26) pxToRem(24);

  html:not(.sbb-lean) & {
    @include mq($from: tablet) {
      padding: pxToRem(35) pxToRem(48) pxToRem(37) pxToRem(48);
    }
    @include mq($from: desktop) {
      padding: pxToRem(35) pxToRem(32) pxToRem(37) pxToRem(32);
    }
    @include mq($from: desktop4k) {
      padding: pxToRem(53) pxToRem(48) pxToRem(55) pxToRem(48);
    }
    @include mq($from: desktop5k) {
      padding: pxToRem(72) pxToRem(64);
    }
  }

  html.sbb-lean & {
    padding: pxToRem(11) pxToRem(16) pxToRem(12) pxToRem(16);
  }

  &.sbb-expanded {
    &::after {
      content: '';
      display: block;
      position: absolute;
      height: 0;
      bottom: 0;
      width: calc(100% - #{pxToRem(24 * 2)});
      left: pxToRem(24);
      border-bottom: pxToRem(1) solid $sbbColorCloud;

      html:not(.sbb-lean) & {
        @include mq($from: tablet) {
          width: calc(100% - #{pxToRem(48 * 2)});
          left: pxToRem(48);
        }
        @include mq($from: desktop) {
          width: calc(100% - #{pxToRem(32 * 2)});
          left: pxToRem(32);
        }
        @include mq($from: desktop4k) {
          width: calc(100% - #{pxToRem(48 * 2)});
          left: pxToRem(48);
          border-width: pxToRem(1 * $scalingFactor4k);
        }
        @include mq($from: desktop5k) {
          width: calc(100% - #{pxToRem(64 * 2)});
          left: pxToRem(64);
          border-width: pxToRem(1 * $scalingFactor5k);
        }
      }

      html.sbb-lean & {
        width: calc(100% - #{pxToRem(16 * 2)});
        left: pxToRem(16);
      }
    }
  }

  &.sbb-expanded,
  &.sbb-expanded:focus,
  &.sbb-expanded:hover {
    background: inherit;
  }

  &.sbb-disabled {
    cursor: default;
    opacity: 0.75;
  }
}

.sbb-expansion-panel-header-content {
  display: flex;
  flex: 1;
  flex-direction: row;
  overflow: hidden;
  font-family: $fontSbbLight;
  font-size: pxToRem(20);
  line-height: pxToRem($sbbExpansionPanelHeaderLineHeightStandard);

  html:not(.sbb-lean) & {
    @include mq($from: tablet) {
      font-size: pxToRem(21);
      line-height: pxToRem($sbbExpansionPanelHeaderLineHeightStandardTablet);
    }
    @include mq($from: desktop4k) {
      font-size: pxToRem(32);
      line-height: pxToRem($sbbExpansionPanelHeaderLineHeightStandard4k);
    }
    @include mq($from: desktop5k) {
      font-size: pxToRem(42);
      line-height: pxToRem($sbbExpansionPanelHeaderLineHeightStandard5k);
    }
  }

  html.sbb-lean & {
    font-size: pxToRem(21);
    line-height: pxToRem(25);
  }
}

.sbb-expansion-panel-header-indicator {
  flex: 0 0 auto;
  line-height: 0; // Centers the svg icon inside sbb-icon
  margin-left: pxToRem(24);
  height: pxToRem(24);
  width: pxToRem(24);

  html:not(.sbb-lean) & {
    $borderWidth: 1;
    border: pxToRem(1) solid $sbbColorStorm;
    border-radius: 50%;
    color: $sbbColorGranite;
    padding: pxToRem(4 - $borderWidth);

    @include mq($from: tablet) {
      $iconSize: 32;
      height: pxToRem($iconSize);
      width: pxToRem($iconSize);
      margin-left: pxToRem(40);

      // Ensure calculated height of icon is not higher than line-height
      margin-top: pxToRem(($sbbExpansionPanelHeaderLineHeightStandardTablet - $iconSize) / 2);
      margin-bottom: pxToRem(($sbbExpansionPanelHeaderLineHeightStandardTablet - $iconSize) / 2);
    }

    @include mq($from: desktop) {
      margin-left: pxToRem(24);
    }

    $borderWidth: 2;
    @include mq($from: desktop4k) {
      $iconSize: 48;
      border-width: pxToRem($borderWidth);
      padding: pxToRem(6 - $borderWidth);
      height: pxToRem($iconSize);
      width: pxToRem($iconSize);
      margin-left: pxToRem(36);

      // Ensure calculated height of icon is not higher than line-height
      margin-top: pxToRem(($sbbExpansionPanelHeaderLineHeightStandard4k - $iconSize) / 2);
      margin-bottom: pxToRem(($sbbExpansionPanelHeaderLineHeightStandard4k - $iconSize) / 2);
    }

    @include mq($from: desktop5k) {
      $iconSize: 64;
      padding: pxToRem(8 - $borderWidth);
      height: pxToRem($iconSize);
      width: pxToRem($iconSize);
      margin-left: pxToRem(44);

      // Ensure calculated height of icon is not higher than line-height
      margin-top: pxToRem(($sbbExpansionPanelHeaderLineHeightStandard5k - $iconSize) / 2);
      margin-bottom: pxToRem(($sbbExpansionPanelHeaderLineHeightStandard5k - $iconSize) / 2);
    }
  }
}
