@import '../../../angular-core/styles/common';

.sbb-label {
  @if ($sbbBusiness) {
    margin-bottom: pxToEm(3, 13);
    padding-left: 0;
  } @else {
    margin-bottom: pxToEm(5, 13);
    padding-left: pxToEm(10, 13);

    @include mq($from: desktop4k) {
      margin-bottom: pxToEm(5 * $scalingFactor4k, 13);
    }

    @include mq($from: desktop5k) {
      margin-bottom: pxToEm(5 * $scalingFactor5k, 13);
    }
  }

  @include label;

  .sbb-tooltip-trigger.sbb-tooltip-icon {
    &:not(:hover):not(:focus) {
      color: inherit;
    }

    width: 16px;
    height: 16px;
    margin-top: -4px;
    transform: translateY(3px);
  }
}
