@import '../../../../../../../angular-core/styles/common';

.table-wrapper {
  max-height: 300px;
  min-height: 2em;
  overflow: auto;
}

table.scroll {
  width: 100%;
  border-spacing: 0;
}

table.scroll tr td {
  line-height: 1.5;
  padding: 0.5em 1em;
  text-align: left;
}

table.scroll tr:nth-child(even) {
  background-color: $sbbColorGraphite;
}
