@import '../../../core/styles/common';

.sbb-social-link {
  display: block;
  position: relative;
  transition: $linksocialAnimation;
  width: toPx(40);
  height: toPx(40);
  background-color: $sbbColorGrey;
  border-radius: 50%;

  @include mq($from: desktop4k) {
    width: toPx(40 * $scalingFactor4k);
    height: toPx(40 * $scalingFactor4k);
  }

  @include mq($from: desktop5k) {
    width: toPx(40 * $scalingFactor5k);
    height: toPx(40 * $scalingFactor5k);
  }

  .sbb-svgsprite-icon {
    @include svgIconColor($sbbColorWhite);
    line-height: 1;
    position: absolute;
    width: toPx(24);
    height: toPx(24);
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include mq($from: desktop4k) {
      width: toPx(24 * $scalingFactor4k);
      height: toPx(24 * $scalingFactor4k);
    }

    @include mq($from: desktop5k) {
      width: toPx(24 * $scalingFactor5k);
      height: toPx(24 * $scalingFactor5k);
      top: 25%;
      transform: translate(-50%, -25%);
    }
  }

  &:hover,
  &:focus {
    background-color: $sbbColorRed125;
  }
}
