<div>
  <sbb-contextmenu>
    <sbb-dropdown>
      <button sbbDropdownItem (click)="assignLastAction($event)">
        <sbb-icon svgIcon="kom:face-worker-small"></sbb-icon> Copy
      </button>
      <button sbbDropdownItem (click)="assignLastAction($event)">
        <sbb-icon svgIcon="kom:trash-small"></sbb-icon> Delete
      </button>
      <hr />
      <button sbbDropdownItem (click)="assignLastAction($event)">
        <sbb-icon svgIcon="kom:cross-small"></sbb-icon> Cancel
      </button>
    </sbb-dropdown>
  </sbb-contextmenu>
</div>

<h4>Last Action</h4>
<pre>{{ lastAction | json }}</pre>
