@import '../../../angular-core/styles/common';

.sbb-textarea {
  @include inputfields;
  @include disabledinputfields;
  @include readonlyinputfields;

  display: inline-block;
  letter-spacing: 0;
  border: 2px solid $sbbColorGraphite;
  border-radius: 2px;
  outline: 0;
  opacity: 1;
  font-size: pxToRem(15);
  width: 100%;

  @include publicOnly() {
    line-height: 23px;

    @include mq($from: desktop4k) {
      border-width: 3px;
      border-radius: 3px;
      font-size: pxToRem(23);
    }
    @include mq($from: desktop5k) {
      border-radius: 4px;
      border-width: 4px;
      font-size: pxToRem(30);
    }
  }

  @include businessOnly() {
    line-height: 20px;
    border-width: 1px;
  }

  font-family: $fontSbbRoman;

  textarea {
    border: none;
    padding: 0;
    min-height: inherit;
    resize: none;
    overflow: hidden;
    background-color: transparent;
  }

  &.sbb-focused {
    border-color: $sbbColorGrey;
  }

  &.sbb-disabled {
    background-color: $sbbColorMilk;
    border-color: $sbbColorAluminum;
    opacity: 1;
  }

  &.ng-dirty.ng-invalid {
    border-color: $sbbColorCallToAction;

    textarea {
      color: $sbbColorCallToAction;
    }
  }

  .sbb-textarea-remaining-chars {
    position: relative;
    float: right;
    background: transparent;
    color: $sbbColorBlack;
    @include businessOnly() {
      color: $sbbColorMetal;
    }
    letter-spacing: 0;
    line-height: pxToRem(13);
    font-size: pxToRem(13);
    font-family: $fontSbbRoman;

    @include publicOnly() {
      @include mq($from: desktop4k) {
        font-size: pxToRem(20);
        line-height: pxToRem(13);
      }

      @include mq($from: desktop5k) {
        font-size: pxToRem(26);
        line-height: pxToRem(13);
      }
    }
  }
}
