<button sbbButton (click)="firstAccordion.openAll()">Open All</button>&nbsp;&nbsp;
<button sbbButton mode="secondary" (click)="firstAccordion.closeAll()">Close All</button>&nbsp;&nbsp;
<sbb-checkbox [(ngModel)]="disabled" style="display: inline-block;">disable one</sbb-checkbox>

<sbb-accordion #firstAccordion>
  <sbb-expansion-panel>
    <sbb-expansion-panel-header>
      <h3 style="margin: 1em;">Some html content title</h3>
      <p>Some html content description</p>
    </sbb-expansion-panel-header>

    <sbb-expansion-panel-body>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>

      <ng-template sbbExpansionPanelContent>
        <sbb-expansion-panel>
          <sbb-expansion-panel-header>
            <h3 style="margin: 1em;">Lazy loaded content initialized at the first parent open</h3>
            <p>Some html content description</p>
          </sbb-expansion-panel-header>
          <sbb-expansion-panel-body>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore
              magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
              commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
              pariatur.</p>
          </sbb-expansion-panel-body>
        </sbb-expansion-panel>
      </ng-template>
    </sbb-expansion-panel-body>
  </sbb-expansion-panel>

  <sbb-expansion-panel (opened)="panelOpenState = true; log('opened called')" (closed)="panelOpenState = false; log('closed called')"
    (expandedChange)="log('expandedChange called', $event)">

    <sbb-expansion-panel-header>
      <h3 style="margin: 1em;">Self aware panel that cast some events around</h3>
      <p>Currently I am {{panelOpenState ? 'open' : 'closed'}}</p>
    </sbb-expansion-panel-header>

    <sbb-expansion-panel-body>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </sbb-expansion-panel-body>
  </sbb-expansion-panel>

  <sbb-expansion-panel [disabled]="disabled">
    <sbb-expansion-panel-header>
      <h3 style="margin: 1em;">I can disable this panel</h3>
      <p>Currently I am {{panelOpenState ? 'open' : 'closed'}}</p>
    </sbb-expansion-panel-header>
    <sbb-expansion-panel-body>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </sbb-expansion-panel-body>
  </sbb-expansion-panel>
  <sbb-expansion-panel>
    <sbb-expansion-panel-header>
      <h3 style="margin: 1em;">Some html content title</h3>
      <p>Some html content description</p>
    </sbb-expansion-panel-header>
    <sbb-expansion-panel-body>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </sbb-expansion-panel-body>
  </sbb-expansion-panel>
</sbb-accordion>

<div style="margin-bottom: 3em"></div>

<sbb-accordion class="example-headers-align">
  <sbb-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
    <sbb-expansion-panel-header>
      <h3 style="margin: 1em;">I'm a wizard like accordion</h3>
      <p>conditionally open using [expand] property<br> and (opened) event</p>
    </sbb-expansion-panel-header>
    <sbb-expansion-panel-body>
      <div class="sbbsc-block">
        <button sbbButton mode="primary" (click)="nextStep()">Next</button>
      </div>
    </sbb-expansion-panel-body>
  </sbb-expansion-panel>

  <sbb-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
    <sbb-expansion-panel-header>
      <h3 style="margin: 1em;">Step 1</h3>
    </sbb-expansion-panel-header>
    <sbb-expansion-panel-body>
      <div class="sbbsc-block">
        <button sbbButton mode="ghost" (click)="prevStep()">Previous</button>&nbsp;
        <button sbbButton mode="primary" (click)="nextStep()">Next</button>
      </div>
    </sbb-expansion-panel-body>
  </sbb-expansion-panel>

  <sbb-expansion-panel [expanded]="step === 2" (opened)="setStep(2)">
    <sbb-expansion-panel-header>
      <h3 style="margin: 1em;">Step 2</h3>
    </sbb-expansion-panel-header>
    <sbb-expansion-panel-body>
      <div class="sbbsc-block">
        <button sbbButton mode="ghost" (click)="prevStep()">Previous</button>&nbsp;
        <button sbbButton mode="primary" (click)="nextStep()">End</button>
      </div>
    </sbb-expansion-panel-body>
  </sbb-expansion-panel>

</sbb-accordion>

<div style="margin-bottom: 3em"></div>

<sbb-expansion-panel>
  <sbb-expansion-panel-header>
    <h3 style="margin: 1em;">A single orphan (no accordion) panel</h3>
  </sbb-expansion-panel-header>
  <sbb-expansion-panel-body>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </sbb-expansion-panel-body>
</sbb-expansion-panel>

<div style="margin-bottom: 3em"></div>

<sbb-expansion-panel>
  <sbb-expansion-panel-header>
    <h3 style="margin: 1em;">Some nested panels and accordion</h3>
  </sbb-expansion-panel-header>
  <sbb-expansion-panel-body>
    <sbb-accordion multi="false">
      <sbb-expansion-panel>
        <sbb-expansion-panel-header>
          I'm a single expansion-panel accordion into a panel
        </sbb-expansion-panel-header>
        <sbb-expansion-panel-body>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.

          <sbb-expansion-panel>
            <sbb-expansion-panel-header>
              Another inner panel
            </sbb-expansion-panel-header>
            <sbb-expansion-panel-body>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore
              magna aliqua.
            </sbb-expansion-panel-body>
          </sbb-expansion-panel>

        </sbb-expansion-panel-body>
      </sbb-expansion-panel>
      <sbb-expansion-panel>
        <sbb-expansion-panel-header>
          Panel 2
        </sbb-expansion-panel-header>
        <sbb-expansion-panel-body>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.
        </sbb-expansion-panel-body>
      </sbb-expansion-panel>
    </sbb-accordion>
  </sbb-expansion-panel-body>
</sbb-expansion-panel>