@import '../../../core/styles/common';

sbb-field {
  display: inline-block;

  &.sbb-input-field {
    &-short {
      width: 33.333%;
    
      @include mq($from: mobileLandscape) {
        width: 25%;
      }
    
      @include mq($from: desktop) {
        width: 16.66666%;
      }
    }

    &-medium {
      width: 100%;
    
      @include mq($from: tabletPortrait) {
        width: 50%;
      }
    }

    &-long {
      width: 100%;
    }

    &-short,
    &-medium,
    &-long {
      input {
        &:not([type='checkbox']),
        &:not([type='radio']) {
          width: 100%;
        }
      }
    }
  }

  & > .sbb-form-error {
    display: block;
    letter-spacing: 0;
    outline: none;
    resize: none;
    opacity: 1;
    font-family: $fontSbbRoman;
    color: $sbbColorError;

    @include publicOnly() {
      font-size: pxToRem(14);
      line-height: pxToEm(21, 14);

      @include mq($from: desktop4k) {
        font-size: pxToRem(14 * $scalingFactor4k);
      }

      @include mq($from: desktop5k) {
        font-size: pxToRem(14 * $scalingFactor5k);
      }
    }

    @include businessOnly() {
      font-size: pxToRem(13);
      line-height: pxToEm(16, 13);
    }
  }
}
