@mixin sbbInputFields() {
  input[type='email'],
  input[type='password'],
  input[type='search'],
  input[type='text'],
  input[type='number'],
  input[type='tel'],
  input[type='time'],
  input[type='datetime'],
  input[type='datetime-local'],
  input[type='url'],
  input:not([type]) {
    @include inputfields;
  }

  input[placeholder] {
    text-overflow: ellipsis;
  }

  input[type='number'],
  input[type='time'],
  input[type='datetime'],
  input[type='datetime-local'] {
    -moz-appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button,
    &::-webkit-clear-button {
      appearance: none;
      margin: 0;
      width: 0;
      padding: 0;
      background: transparent;
    }
  }
}

@mixin timeInputBase {
  text-align: center;

  @include publicOnly() {
    $timeInputWidth: 70;
    $timeInputHeight: 48;

    width: toPx($timeInputWidth);
    height: toPx($timeInputHeight);

    @include mq($from: desktop4k) {
      width: toPx($timeInputWidth * $scalingFactor4k);
      height: toPx($timeInputWidth * $scalingFactor4k);
    }

    @include mq($from: desktop5k) {
      width: toPx($timeInputWidth * $scalingFactor5k);
      height: toPx($timeInputWidth * $scalingFactor5k);
    }
  }

  @include businessOnly() {
    width: 68px;
    height: 36px;
  }
}

@mixin nativeSelectBase {
  $selectArrowWidthHeight: 24;
  $selectNativeBackground: 'data:image/svg+xml,<svg version="1.1" id="_x30__1_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;fill: %23666;" xml:space="preserve"><path d="M7.7,10.7L8.4,10l3.6,3.6l3.6-3.6l0.7,0.7L12,15L7.7,10.7z"/></svg>';
  $selectArrowRight: 12;
  $selectTriggerPaddingRight: 44;

  @include businessOnly() {
    $selectArrowRight: 6;
    $selectTriggerPaddingRight: 38;
  }

  @include inputfields;
  cursor: pointer;
  align-items: center;
  width: 100%;
  padding-right: toPx($selectTriggerPaddingRight);

  &:disabled {
    cursor: default;
  }

  background: url($selectNativeBackground) no-repeat;
  background-position: center right toPx($selectArrowRight);
  background-size: toPx($selectArrowWidthHeight);

  @include publicOnly() {
    @include mq($from: desktop4k) {
      background-size: toPx($selectArrowWidthHeight * $scalingFactor4k);
      background-position: center right toPx($selectArrowRight * $scalingFactor4k);
    }

    @include mq($from: desktop5k) {
      background-size: toPx($selectArrowWidthHeight * $scalingFactor5k);
      background-position: center right toPx($selectArrowRight * $scalingFactor5k);
    }
  }
}

@mixin sbbTimeInputField() {
  input.sbb-time-input {
    @include timeInputBase;
  }
}

@mixin sbbSelect() {
  select {
    @include nativeSelectBase;
  }
}

@mixin sbbFieldset() {
  fieldset {
    @include fieldset;
  }
}
