@mixin reset() {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  article,
  aside,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  main,
  nav,
  section {
    display: block;
  }

  html {
    background: $sbbColorBg;
    color: $sbbColorText;
    font-family: $fontSbbRoman;
    font-size: $sizeFontBase / 16px * 100%;
    line-height: $sizeLineHeightBase;

    @include fontSmoothing;

    b,
    strong,
    optgroup[label='*'] {
      font-family: $fontSbbBold;
      font-weight: normal;
    }
  }

  body {
    margin: 0;
  }

  // Suppress the focus outline on elements that cannot be accessed via keyboard.
  // This prevents an unwanted focus outline from appearing around elements that
  // might still respond to pointer events.
  //
  // Credit: https://github.com/suitcss/base
  [tabindex='-1']:focus {
    outline: 0 !important;
  }

  input,
  button,
  select,
  optgroup,
  textarea {
    margin: 0; // Remove the margin in Firefox and Safari
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }

  table {
    th,
    td {
      color: $sbbColorBlack;
      font-size: pxToEm($sizeFontDefault);
      line-height: 1.5;
      margin: 0.75em 0 0; // paragraph as default
    }
    th {
      font-family: $fontSbbBold;
      font-weight: 400;
    }
  }

  [hidden] {
    display: none !important;
  }

  .clearfix {
    @include clearfix;
  }
}
