<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 content-section left">

      <div class="result">

      <div id="accordion">
          <div class="card">
            <div id="headingComponents" (click)="componentsClicked=!componentsClicked">
              
                <button class="btn btn-link" data-toggle="collapse" data-target="#components" aria-expanded="componentsClicked" aria-controls="components">
                  <div class="row">
                     <div class="col-sm-2">
                        <i [ngClass]="componentsClicked ? 'fa fa-chevron-down' : 'fa fa-chevron-right'" aria-hidden="true"></i>
                     </div>
                     <div class="col-sm-6">
                        Components <span class="badge badge-pill badge-secondary">{{ sizeOfUiComponents }}</span>
                     </div> 
                  </div>
                </button>
               
            </div>
            <div id="components" [ngClass]="componentsClicked ? 'collapse show' : 'collapse'" aria-labelledby="headingComponents" data-parent="#accordion">
              <div class="card-body">
                <sbb-search></sbb-search>
                <hr/>
                <sbb-navlist></sbb-navlist>
                <hr/>
                <span>Total {{ sizeOfUiComponents }} Component(s).</span>
              </div>
            </div>
          </div>
          <div class="card">
            <div id="headingIcons" (click)="iconsClicked=!iconsClicked">
              
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#icons" aria-expanded="iconsClicked" aria-controls="icons">
                    <div class="row">
                        <div class="col-sm-2">
                           <i [ngClass]="iconsClicked ? 'fa fa-chevron-down' : 'fa fa-chevron-right'" aria-hidden="true"></i>
                        </div>
                        <div class="col-sm-6">
                           Icons <span class="badge badge-pill badge-secondary">{{ sizeOfUiIcons }}</span>
                        </div> 
                     </div>
                </button>
              
            </div>
            <div id="icons" [ngClass]="iconsClicked ? 'collapse show' : 'collapse'" aria-labelledby="headingIcons" data-parent="#accordion">
              <div class="card-body">
                <sbb-search-icon></sbb-search-icon>
                <hr/>
                <sbb-navlist-icon></sbb-navlist-icon>
                <hr/>
                <span>Total {{ sizeOfUiIcons }} Icon(s).</span>
              </div>
            </div>
          </div>
          <div class="card">
              <div id="headingAbout" (click)="aboutClicked=!aboutClicked;">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#about" aria-expanded="aboutClicked" aria-controls="about">
                      <div class="row">
                          <div class="col-sm-2">
                            <i [ngClass]="aboutClicked ? 'fa fa-chevron-down' : 'fa fa-chevron-right'" aria-hidden="true"></i>
                          </div>
                          <div class="col-sm-6">
                             About
                          </div> 
                       </div>
                  </button>
              </div>
              <div id="about" [ngClass]="aboutClicked ? 'collapse show' : 'collapse'" aria-labelledby="aboutComponents" data-parent="#accordion">
                <div class="card-body">
                  <ul class="navlist">
                    <li>
                      <a href="http://www.finconsgroup.com/">
                        <div class="row">
                          <div class="col-sm-2">
                            <img src="assets/favicons/finconsgroup.png" width="24" height="24"/>
                          </div>
                          <div class="col-sm-6">
                            Fincons Group AG
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="https://www.sbb.ch/">
                        <div class="row">
                            <div class="col-sm-2">
                                <img src="assets/favicons/sbb.ico" width="24" height="24"/>
                            </div>
                            <div class="col-sm-6">
                                SBB CFF FFS
                            </div>
                          </div>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card">
                <div id="headingVersion" (click)="versionClicked=!versionClicked">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#version" aria-expanded="versionClicked" aria-controls="version">
                        <div class="row">
                            <div class="col-sm-2">
                               <i [ngClass]="versionClicked ? 'fa fa-chevron-down' : 'fa fa-chevron-right'" aria-hidden="true"></i>
                            </div>
                            <div class="col-sm-6">
                               Version
                            </div> 
                         </div>
                    </button>
                </div>
                <div id="version" [ngClass]="versionClicked ? 'collapse show' : 'collapse'" aria-labelledby="versionComponents" data-parent="#accordion">
                  <div class="card-body">
                    <ul class="navlist">
                      <li>
                        <a href="https://angular.io/">
                          <div class="row">
                            <div class="col-sm-2">
                              <img src="assets/favicons/angular.ico" width="24" height="24"/>
                            </div>
                            <div class="col-sm-6">
                              Angular 6.1.7
                            </div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0);">
                          <div class="row">
                            <div class="col-sm-2">
                              <img src="assets/favicons/showcase.png" width="24" height="24"/>
                            </div>
                            <div class="col-sm-6">
                                Showcase 1.0.0
                            </div>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            
        </div>
    </div>
    </div>
    
    <div class="col-lg-9 content-section main">
      <div class="result">
        <router-outlet></router-outlet>
      </div>
    </div>

  </div>
</div>