.header a .m {
    font-size: 20px;
    font-weight: 700;
    color: #606060;
}

.header a .w {
    font-size: 20px;
    font-weight: 400;
    color: #A7A7A7;
}

.header a .a {
    font-size: 20px;
    font-weight: 700;
    color: #444;
}

.navlist li {
    font-size: 13px;
    margin: 5px 0;
}

ul.navlist {
    list-style: none;
    margin: 10px 0 10px 0; 
    padding-left: 0;
}

.navlist a, .navlist a:visited {
    color: #444;
}

h3.navtitle {
    font-size: 17px;
    font-weight: 500;
    margin: 10px 0 10px 0;
}

.left {
    width: 75%;
    overflow-y: scroll; 
}

.content-section {
    display: block;
    border-bottom: 1px solid #dde3e6;
    padding: 10px;
    overflow: hidden;
    background-color: #f5f7f8;
}

.result {
    display: block;
    overflow: hidden;
    font-size: 1em;
    padding: 0.85714286em 1.14285714em;
    color: rgba(0, 0, 0, 0.87);
    line-height: 1.33;
    border-bottom: 1px solid rgba(34, 36, 38, 0.1);
    border-radius: 0.28571429rem;
    box-shadow: 0px 2px 4px 0px rgba(34, 36, 38, 0.12), 0px 2px 10px 0px rgba(34, 36, 38, 0.15);
    border: 1px solid #D4D4D5;
    z-index: 998;
}

.btn-link {
    font-weight: 400;
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.card {
    background-color: #f4f6f7;
}

#headingAbout {
    background-image: linear-gradient(to left,#2bc0ec,#1b81d7);
}

#headingVersion {
    background-image: linear-gradient(to left,#2bc0ec,#1b81d7);
}

#headingComponents {
    background-image: linear-gradient(to left,#2bc0ec,#1b81d7);
}

#headingIcons {
    background-image: linear-gradient(to left,#2bc0ec,#1b81d7);
}