<article class="container-fluid">
  <div class="row">
    <div class="col-lg-6 sbbsc-v-sep">
      <h4 class="sbbsc-block">Basic example</h4>
      <sbb-captcha (resolved)="resolved($event)" 
             siteKey="6LcOuyYTAAAAAHTjFuqhA52fmfJ_j5iFk5PsfXaU">
      </sbb-captcha>
    </div>
    <div class="col-lg-6">
      <h4 class="sbbsc-block">Captcha response</h4>
      <pre>{{ basicCaptchaResponse | json }}</pre>
    </div>
  </div>

  <div role="presentation" class="sbbsc-separator"></div>

  <div class="row">
    <div class="col-lg-6 sbbsc-v-sep">
      <h4 class="sbbsc-block">Basic example</h4>
      <form #captchaProtectedForm="ngForm">
        <sbb-captcha
          [(ngModel)]="formModel.captcha"
          name="captcha"
          required
          siteKey="6LcOuyYTAAAAAHTjFuqhA52fmfJ_j5iFk5PsfXaU"
          #captchaControl="ngModel"
        ></sbb-captcha>
        <sbb-field class="sbbsc-block">
          <button sbbButton (click)="formModel.captcha = ''">Reset Captcha</button>
        </sbb-field>
      </form>
    </div>
    <div class="col-lg-6">
      <h4 class="sbbsc-block">Form is valid</h4>
      <pre>{{ captchaProtectedForm.form.valid | json }}</pre>

      <h4 class="sbbsc-block">Captcha is valid</h4>
      <pre>{{ captchaControl.valid | json }}</pre>

      <h4 class="sbbsc-block">Form Model</h4>
      <pre>{{ formModel | json }}</pre>
    </div>
  </div>
</article>
