@import '../../../angular-core/styles/common';

.sbb-link-business {
  word-break: break-word;
  display: block;
  position: relative;
  padding-right: toEm(70 / $sizeFontDefault);
  hyphens: auto;
  text-decoration: none !important;

  /* Use tag and class selector to be more specific than the icon rule for width and height */
  sbb-icon.sbb-icon {
    position: absolute;
    width: toPx(24);
    height: toPx(24);
    margin-left: toPx(8) !important;
    pointer-events: none;
    top: 50%;
    transform: translate(0px, -50%);
  }

  &.sbb-link-stretch .sbb-icon {
    right: 0;
  }

  &:hover,
  &:focus {
    color: $sbbColorCallToActionHover;
  }
}
