.sbb-tooltip-panel {
  // The overlay reference updates the pointer-events style property directly on the HTMLElement
  // depending on the state of the overlay. For tooltips the overlay panel should never enable
  // pointer events. To overwrite the inline CSS from the overlay reference `!important` is needed.
  pointer-events: none !important;
}

.sbb-tooltip {
  padding: 8px;
  position: relative;
  max-width: 460px;
  width: auto;
  min-height: 0;
}
