<span class="sbb-notification-icon-wrapper">
  <ng-container *ngTemplateOutlet="icon"></ng-container>
</span>
<div class="sbb-notification-content">
  <ng-template cdkPortalOutlet></ng-template>
</div>

<button (click)="exit()" class="sbb-notification-icon-wrapper sbb-notification-icon-close-wrapper">
  <sbb-icon-cross></sbb-icon-cross>
</button>

<ng-template #check>
  <sbb-icon-tick></sbb-icon-tick>
</ng-template>

<ng-template #error>
  <sbb-icon-sign-exclamation-point></sbb-icon-sign-exclamation-point>
</ng-template>

<ng-template #info>
  <sbb-icon-circle-information></sbb-icon-circle-information>
</ng-template>
