<form [formGroup]="filterForm" class="sbb-cdn-icon-filter-bar">
  <sbb-field mode="long" label="Fulltext Filter">
    <input sbbInput formControlName="fulltext" />
  </sbb-field>

  <sbb-field mode="long" label="Namespaces">
    <sbb-select placeholder="Namespaces" formControlName="namespaces" multiple>
      <sbb-option *ngFor="let namespace of namespaces" [value]="namespace">
        {{ namespace }}
      </sbb-option>
    </sbb-select>
  </sbb-field>

  <sbb-field mode="long" label="Icon Size">
    <sbb-checkbox formControlName="fitIcons">Fit icon size to parent element</sbb-checkbox>
  </sbb-field>
</form>
<div [class.sbb-icon-fit]="filterForm.get('fitIcons').value">
  <sbb-cdn-icon *ngFor="let cdnIcon of filteredIcons | async" [cdnIcon]="cdnIcon"></sbb-cdn-icon>
</div>
<p>Icon CDN Version: {{ cdnIcons.version }}</p>
