@import './styles/main';
@import './styles/fonts';

table {
	th,
	td {
		color: $colorHeadline;
		font-size: pxToEm($sizeFontDefault);
		line-height: 1.5;
		margin: 0.75em 0 0; // paragraph as default
	}

	th {
		font-family: $fontSbbBold;
	}
}

h1,
.text-headline1 {
	@include headline1;
}

h2,
.text-headline2 {
	@include headline2;
}

h3,
.text-headline3 {
	@include headline3;
}

h4,
.text-headline4 {
	@include headline4;
}

.text-lead {
	@include lead;
}

p,
.text-copy {
	@include copy;
}

a {
  @include standardLink;
}

.visuallyhidden {
	@include visuallyhidden;
}

.clearfix {
	@include clearfix;
}

sbb-radio-button {
  @include radioButtonLabel;
}

sbb-checkbox {
  @include checkboxLabel;
}
