@import "./styles/main";
@import "./styles/fonts";
@import "~@angular/cdk/a11y-prebuilt.css";
@import "~@angular/cdk/overlay-prebuilt.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

html {
  background: $colorBg;
  color: $colorText;
  font-family: $fontSbbRoman;
  font-size: $sizeFontBase / 16px * 100%;
  line-height: $sizeLineHeightBase;
  
  @include fontSmoothing;
  
  b,
  strong,
  optgroup[label="*"] {
    font-family: $fontSbbBold;
    font-weight: normal;
  }
}

body {
  margin: 0;
}

// Suppress the focus outline on elements that cannot be accessed via keyboard.
// This prevents an unwanted focus outline from appearing around elements that
// might still respond to pointer events.
//
// Credit: https://github.com/suitcss/base
[tabindex="-1"]:focus {
  outline: 0 !important;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0; // Remove the margin in Firefox and Safari
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

table {
  th,
  td {
    color: $colorHeadline;
    font-size: pxToEm($sizeFontDefault);
    line-height: 1.5;
    margin: 0.75em 0 0; // paragraph as default
  }
  th {
    font-family: $fontSbbBold;
  }
}

@include lists;

h1,
.text-headline1 {
  @include headline1;
}

h2,
.text-headline2 {
  @include headline2;
}

h3,
.text-headline3 {
  @include headline3;
}

h4,
.text-headline4 {
  @include headline4;
}

.text-lead {
  @include lead;
}

p,
.text-copy {
  @include copy;
}

a {
  @include standardLink;
}

.visuallyhidden {
  @include visuallyhidden;
}

.clearfix {
  @include clearfix;
}

input[type="email"],
input[type="password"],
input[type="search"],
input[type="text"],
input[type="number"],
input[type="tel"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="url"] {
  @include inputfields;
}

input[placeholder] {
  text-overflow: ellipsis;
}

input[type="number"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"] {
  -moz-appearance: textfield;
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button,
  &::-webkit-clear-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    width: 0;
    padding: 0;
    background: transparent;
  }
}

sbb-radio-button {
  @include radioButtonLabel;
}

sbb-checkbox {
  @include checkboxLabel;
}

input[sbbTimeInput].ssb-time-input {
  @include timeInputBase;
}