<ul class="sbb-pagination sbb-icon-fit">
  <li class="sbb-pagination-item">
    <button
      type="button"
      i18n-aria-label="Button label to navigate to the previous page@@sbbPaginationPreviousPage"
      aria-label="Previous Page"
      class="sbb-pagination-item-boundary"
      [disabled]="!(hasPreviousPage | async)"
      [class.sbb-pagination-item-disabled]="!(hasPreviousPage | async)"
      (click)="_pageClick(pageIndex - 1)"
    >
      <sbb-icon svgIcon="kom:chevron-small-left-small"></sbb-icon>
    </button>
  </li>

  <li *ngFor="let page of pageRange | async" class="sbb-pagination-item">
    <ng-container *ngIf="page === null">
      <span class="sbb-pagination-item-ellipsis">...</span>
    </ng-container>
    <ng-container *ngIf="page !== null">
      <button
        #pageButton
        type="button"
        [attr.tabindex]="page === pageIndex ? '-1' : null"
        [class.sbb-pagination-item-selected]="page === pageIndex"
        [attr.aria-current]="page === pageIndex"
        (click)="_pageClick(page)"
      >
        <ng-container>{{ page + 1 }}</ng-container>
      </button>
    </ng-container>
  </li>
  <li class="sbb-pagination-item">
    <button
      type="button"
      i18n-aria-label="Button label to navigate to the next page@@sbbPaginationNextPage"
      aria-label="Next Page"
      class="sbb-pagination-item-boundary"
      [disabled]="!(hasNextPage | async)"
      [class.sbb-pagination-item-disabled]="!(hasNextPage | async)"
      (click)="_pageClick(pageIndex + 1)"
    >
      <sbb-icon svgIcon="kom:chevron-small-right-small"></sbb-icon>
    </button>
  </li>
</ul>
