<div>
  <sbb-processflow #processflow skippable="true">
    <sbb-processflow-step title="Schritt 1">
      <div>
        Schrittinhalt 1
      </div>
    </sbb-processflow-step>
    <sbb-processflow-step title="Schritt 2">
      <div>
        Schrittinhalt 2
      </div>
    </sbb-processflow-step>
    <sbb-processflow-step title="Schritt 3">
      <div>
        Schrittinhalt 3
      </div>
    </sbb-processflow-step>
  </sbb-processflow>
  <button sbbButton (click)="processflow.prevStep()">
    Vorheriger Schritt
  </button>
  <button sbbButton (click)="processflow.nextStep()">
    Nächster Schritt
  </button>
</div>
<div>
  <h4>Properties</h4>
  <button mode="ghost" sbbButton (click)="reset()">Reset</button>
</div>
