@import '../../../../../angular/styles/common';

:host {
  display: block;
  padding: 24px;
  margin-bottom: 1rem;
  position: relative;
  border: 1px solid $sbbColorSilver;

  ::ng-deep pre {
    margin: 1rem 0;
    white-space: pre-wrap;
  }
}

.example-viewer-header {
  border-bottom: 1px solid $sbbColorSilver;
  display: flex;
  padding-bottom: 20px;
  margin-bottom: 1rem;
}

.example-viewer-header-button {
  flex-shrink: 0;
  margin-left: 0.5rem;
  width: pxToRem(36);
  height: pxToRem(36);
}

.example-viewer-title {
  flex-grow: 1;
  margin-top: 0;
}

.sbb-example-viewer-tabs {
  margin-bottom: 2rem;
}
