<div class="example-viewer-header sbb-icon-scaled">
  <h3 class="example-viewer-title">{{ this.exampleData.description }}</h3>
  <button
    type="button"
    (click)="showSource = !showSource"
    aria-label="View source"
    class="example-viewer-header-button sbb-icon sbb-icon-scaled"
  >
    <sbb-icon svgIcon="showcase:code"></sbb-icon>
  </button>

  <button
    type="button"
    class="example-viewer-header-button stackblitz-button"
    (click)="openStackblitz()"
    [disabled]="isStackblitzDisabled"
    [attr.aria-label]="
      isStackblitzDisabled ? 'Building StackBlitz example...' : 'Edit this example in StackBlitz'
    "
  >
    <sbb-icon svgIcon="kom:link-external-small"></sbb-icon>
  </button>
</div>

<sbb-tab-group [hidden]="!showSource" class="sbb-example-viewer-tabs">
  <sbb-tab label="HTML">
    <pre><code [innerHtml]="html | async"></code></pre>
  </sbb-tab>
  <sbb-tab label="TS">
    <pre><code [innerHtml]="ts | async"></code></pre>
  </sbb-tab>
  <sbb-tab label="CSS" *ngIf="css | async as cssHtml">
    <pre><code [innerHtml]="cssHtml"></code></pre>
  </sbb-tab>
</sbb-tab-group>

<sbb-example-outlet [exampleData]="exampleData"></sbb-example-outlet>
