<ng-container [formGroup]="vehicleFilterForm">
  <sbb-form-field label="Global Filter">
    <input sbbInput formControlName="_" />
  </sbb-form-field>

  <sbb-table-wrapper>
    <table sbb-table sbbSort (sbbSortChange)="announceSortChange($event)">
      @for (column of columns; track column) {
      <ng-container [sbbColumnDef]="column.title">
        <th
          sbb-header-cell
          [sbb-sort-header]="column.title"
          *sbbHeaderCellDef
          [sortActionDescription]="'Sort by ' + column.title"
          style="width: 20%"
        >
          {{ column.title }} @if (column.subtitle) {
          <div class="sbb-table-header-subtitle">{{ column.subtitle }}</div>
          }
        </th>
        <td sbb-cell *sbbCellDef="let element">{{ element[column.title] }}</td>
      </ng-container>
      }

      <ng-container sbbColumnDef="filter-name">
        <th sbb-header-cell *sbbHeaderCellDef class="sbb-table-filter">
          <input class="sbb-input-element" formControlName="name" />
        </th>
      </ng-container>
      <ng-container sbbColumnDef="filter-description">
        <th sbb-header-cell *sbbHeaderCellDef class="sbb-table-filter">
          <input
            class="sbb-input-element"
            formControlName="description"
            [sbbAutocomplete]="descriptionsAuto"
          />
          <sbb-autocomplete #descriptionsAuto="sbbAutocomplete">
            @for (option of descriptions | async; track option) {
            <sbb-option [value]="option">{{ option }}</sbb-option>
            }
          </sbb-autocomplete>
        </th>
      </ng-container>
      <ng-container sbbColumnDef="filter-category">
        <th sbb-header-cell *sbbHeaderCellDef class="sbb-table-filter">
          <sbb-select formControlName="category" multiple placeholder="Select category...">
            @for (category of categories; track category) {
            <sbb-option [value]="category">{{ category }}</sbb-option>
            }
          </sbb-select>
        </th>
      </ng-container>

      <ng-container sbbColumnDef="empty">
        <th sbb-header-cell *sbbHeaderCellDef></th>
      </ng-container>

      <tr sbb-header-row *sbbHeaderRowDef="displayedColumns"></tr>
      <tr
        sbb-header-row
        *sbbHeaderRowDef="[
          'empty',
          'filter-name',
          'empty',
          'filter-description',
          'filter-category'
        ]"
      ></tr>
      <tr sbb-row *sbbRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </sbb-table-wrapper>

  @if (dataSource.filteredData.length === 0) {
  <p>No keywords match your filters.</p>
  }

  <sbb-paginator class="sbb-divider-small-top" [pageSize]="5"></sbb-paginator>
</ng-container>
