table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}

.doc-table {
    border-collapse: collapse;
    width: 100%;
}

.doc-table th {
    background-color: #dae8ef;
    color: #404c51;
    border: 1px solid #c1d5df;
    padding: 8px 14px;
    text-align: left;
}

tbody td {
    color: #404c51;
    padding: 8px 14px;
    border: 1px solid #e5ebf0;
    opacity: .9;
}
