<div class="sbb-header-ribbon" *ngIf="environment" [style.background]="environmentColor">
  {{ environment }}
</div>

<button
  type="button"
  class="sbb-header-open-menu"
  [class.sbb-header-app-chooser-available]="_appChooserSections.length"
  (click)="openMenu('mouse')"
  (keydown)="_openOnKeydownTrigger($event)"
  aria-label-i18n="@@sbbHeaderOpenMenu"
  aria-label="Open Menu"
>
  <sbb-icon-hamburger-menu></sbb-icon-hamburger-menu>
</button>

<div class="sbb-header-titlebox">
  <span>{{ label }}</span>
  <span *ngIf="subtitle">{{ subtitle }}</span>
</div>

<nav>
  <ng-template cdkPortalOutlet #mainMenuOutlet="cdkPortalOutlet"></ng-template>
</nav>

<div class="sbb-header-container-end">
  <div class="sbb-header-additional-content">
    <ng-content select=".additional-header-content"></ng-content>
  </div>
  <div class="sbb-header-usermenu">
    <ng-content select="sbb-usermenu,.sbb-usermenu"></ng-content>
  </div>

  <!-- If an icon is provided, use that, otherwise use the sbb logo -->
  <div #iconContent class="sbb-header-logo" [hidden]="!iconContent.childElementCount">
    <ng-content select="[brand],.brand"></ng-content>
  </div>
  <div *ngIf="!iconContent.childElementCount" class="sbb-header-logo">
    <svg viewBox="0 0 80 21" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 0h59.233v20.603H0V0z" fill="#EC0000"></path>
      <path
        d="M35.186 17.02h3.75l-5.047-5.163h6.265v5.163h2.96v-5.163h6.267l-5.05 5.163h3.752l6.427-6.708-6.426-6.73h-3.752l5.05 5.185h-6.266V3.583h-2.96v5.184h-6.267l5.047-5.184h-3.75l-6.43 6.73 6.43 6.707"
        fill="#FFF"
      ></path>
    </svg>
  </div>
</div>

<div class="sbb-header-side-menu-backdrop" (click)="_onBackdropClicked()"></div>
<div
  [@menu]="_animationState"
  (@menu.start)="_animationStartListener($event)"
  (@menu.done)="_animationDoneListener($event)"
  class="sbb-header-side-menu sbb-scrollbar"
  #menu
>
  <div class="sbb-header-side-menu-title-section">
    <button
      type="button"
      class="sbb-header-close-menu"
      (click)="closeMenu()"
      (keydown)="_closeOnKeydownTrigger($event)"
      aria-label-i18n="@@sbbHeaderCloseMenu"
      aria-label="Close Menu"
    >
      <sbb-icon-cross></sbb-icon-cross>
    </button>

    <div class="sbb-header-titlebox">
      <span>{{ label }}</span>
      <span *ngIf="subtitle">{{ subtitle }}</span>
    </div>
  </div>

  <nav>
    <ng-template cdkPortalOutlet #sideMenuOutlet="cdkPortalOutlet"></ng-template>
  </nav>

  <ng-content select="sbb-app-chooser-section"></ng-content>
</div>
<ng-content select="sbb-header-menu"></ng-content>

<ng-template cdkPortal>
  <ng-content select="a,button"></ng-content>
</ng-template>
