<ng-template>
  <div
    class="sbb-menu-panel-wrapper"
    [id]="panelId"
    [class]="_classList"
    (click)="closed.emit('click')"
    [class.sbb-menu-panel-animations-disabled]="_animationsDisabled"
    [class.sbb-menu-panel-exit-animation]="_panelAnimationState === 'void'"
    [class.sbb-menu-panel-animating]="_isAnimating"
    [style.--sbb-menu-trigger-width.px]="triggerContext ? triggerContext.width : 0"
    [style.--sbb-menu-trigger-height.px]="triggerContext ? triggerContext.height : 0"
    tabindex="-1"
    role="menu"
    (animationstart)="_onAnimationStart($event.animationName)"
    (animationend)="_onAnimationDone($event.animationName)"
    (animationcancel)="_onAnimationDone($event.animationName)"
    [attr.aria-label]="ariaLabel || null"
    [attr.aria-labelledby]="ariaLabelledby || null"
    [attr.aria-describedby]="ariaDescribedby || null"
  >
    @if (_hasHeader()) {
      @if (!triggerContext.templateContent) {
        <button
          type="button"
          class="sbb-menu-panel-trigger"
          [innerHTML]="triggerContext.elementContent"
          aria-hidden="true"
        ></button>
      }
      @if (triggerContext.templateContent) {
        <button type="button" class="sbb-menu-panel-trigger" aria-hidden="true">
          <ng-template [ngTemplateOutlet]="triggerContext.templateContent"></ng-template>
        </button>
      }
    }
    <div
      class="sbb-panel sbb-panel-padded sbb-menu-panel sbb-menu-content sbb-scrollbar"
      [class.sbb-menu-panel-root]="!parentMenu"
    >
      <div class="sbb-menu-panel-content">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</ng-template>
