@import './variants';
@import './colors';
@import './functions';
@import './mediaqueries';
@import './mixins';

$checkBoxContainerBorder: if($sbbBusiness, 1, 2);
$radioButtonGreyColor: if($sbbBusiness, $sbbColorGranite, $sbbColorGrey);
$checkBoxGreyColor: if($sbbBusiness, $sbbColorGranite, $sbbColorGrey);

$checkboxRadioButtonPanelHeight: 64;
$checkboxRadioButtonPanelHeightWithSubtitle: 88;
$checkboxRadioButtonPanelBorderRadius: 2;
$checkboxRadioButtonPanelHeaderMargin: 24;
$checkboxRadioButtonPanelPadding: 20;
$checkboxRadioButtonPanelBorderSize: 1;
$checkboxRadioButtonPanelSubtitleFontSize: 13;
$checkboxRadioButtonPanelHeaderPaddingLeft: 28;
$checkboxRadioButtonPanelImageWidth: 64;
$checkboxRadioButtonPanelImageHeight: 40;

@mixin checkboxContainer() {
  width: toPx(20);
  min-width: toPx(20);
  height: toPx(20);
  min-height: toPx(20);
  background-color: $sbbColorWhite;
  border: toPx($checkBoxContainerBorder) solid $sbbColorGraphite;
  border-radius: toPx(2);
  margin-right: toPx(8);
  margin-top: toPx(1);

  @include publicOnly() {
    @include mq($from: desktop4k) {
      width: toPx(20 * $scalingFactor4k);
      min-width: toPx(20 * $scalingFactor4k);
      height: toPx(20 * $scalingFactor4k);
      min-height: toPx(20 * $scalingFactor4k);
      border: toPx(2 * $scalingFactor4k) solid $sbbColorGraphite;
      margin-right: toPx(8 * $scalingFactor4k);
      margin-top: toPx(1 * $scalingFactor4k);
    }

    @include mq($from: desktop5k) {
      width: toPx(20 * $scalingFactor5k);
      min-width: toPx(20 * $scalingFactor5k);
      height: toPx(20 * $scalingFactor5k);
      min-height: toPx(20 * $scalingFactor5k);
      border: toPx(2 * $scalingFactor5k) solid $sbbColorGraphite;
      margin-right: toPx(8 * $scalingFactor5k);
      margin-top: toPx(1 * $scalingFactor5k);
    }
  }

  @include businessOnly() {
    border-width: 1px;
  }

  .sbb-checkbox-checked {
    @include publicOnly() {
      @include svgIconColor($sbbColorRed);
    }

    @include businessOnly() {
      @include svgIconColor($sbbColorGranite);
    }

    line-height: 0;
    height: 100%;
    width: 100%;
    border-radius: toPx(2);
    transform: scale(1.3);
    transition: opacity 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);

    & > svg {
      transform: translateY(toPx(-1.5));

      @include publicOnly() {
        @include mq($from: desktop4k) {
          transform: translateY(toPx(-1.5 * $scalingFactor4k));
        }

        @include mq($from: desktop5k) {
          transform: translateY(toPx(-1.5 * $scalingFactor5k));
        }
      }
    }
  }
}

@mixin checkboxBase {
  display: flex;
  position: relative; // assure absolute positioned native input is close to the label!
  align-items: flex-start;

  & > input[type='checkbox'] {
    & + .sbb-checkbox-container {
      @include checkboxContainer();

      & > .sbb-checkbox-checked {
        display: none;
      }

      & + .sbb-checkbox-label-content {
        @include businessOnly() {
          line-height: toEm(21 / $sizeFontDefault);
        }

        color: $checkBoxGreyColor;
        transition: color 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      }
    }

    &:focus + .sbb-checkbox-container {
      border-color: $checkBoxGreyColor;
    }

    &:checked + .sbb-checkbox-container,
    &[checked] + .sbb-checkbox-container {
      & > .sbb-checkbox-checked {
        display: block;
      }

      & + .sbb-checkbox-label-content {
        color: $sbbColorBlack;
      }
    }

    @include businessOnly() {
      &:indeterminate + .sbb-checkbox-container,
      &[indeterminate] + .sbb-checkbox-container {
        &::before {
          content: '';
          position: relative;
          height: 1px;
          width: 10px;
          left: 4px;
          top: 8.5px;
          border: 1px solid $sbbColorGranite;
          display: block;
        }

        & > .sbb-checkbox-checked {
          display: none;
        }

        & + .sbb-checkbox-label-content {
          color: $sbbColorBlack;
        }
      }
    }

    &:disabled + .sbb-checkbox-container,
    &[disabled] + .sbb-checkbox-container {
      border-color: $sbbColorAluminum;
      background-color: $sbbColorMilk;

      & > .sbb-checkbox-checked {
        @include svgIconColor($sbbColorGrey);
      }

      & + .sbb-checkbox-label-content {
        color: $checkBoxGreyColor;
      }
    }
  }
}

@mixin radioButtonBase {
  display: flex;
  position: relative; // assure absolute positioned native input is close to the label!
  align-items: flex-start;

  & > input[type='radio'] {
    & + .sbb-radio-circle-container {
      width: toPx(20);
      min-width: toPx(20);
      height: toPx(20);
      min-height: toPx(20);
      background-color: $sbbColorWhite;
    
      @include businessOnly() {
        margin-top: 0;
        border: toPx(1) solid $sbbColorGraphite;
      }
    
      @include publicOnly() {
        margin-top: toPx(1);
        border: toPx(2) solid $sbbColorGraphite;
    
        @include mq($from: desktop4k) {
          width: toPx(20 * $scalingFactor4k);
          min-width: toPx(20 * $scalingFactor4k);
          height: toPx(20 * $scalingFactor4k);
          min-height: toPx(20 * $scalingFactor4k);
          border: toPx(2 * $scalingFactor4k) solid $sbbColorGraphite;
          margin-right: toPx(8 * $scalingFactor4k);
          margin-top: toPx(1 * $scalingFactor4k);
        }
    
        @include mq($from: desktop5k) {
          width: toPx(20 * $scalingFactor5k);
          min-width: toPx(20 * $scalingFactor5k);
          height: toPx(20 * $scalingFactor5k);
          min-height: toPx(20 * $scalingFactor5k);
          border: toPx(2 * $scalingFactor5k) solid $sbbColorGraphite;
          margin-right: toPx(8 * $scalingFactor5k);
          margin-top: toPx(1 * $scalingFactor5k);
        }
      }
    
      border-radius: 50%;
      margin-right: toPx(8);
    
      .sbb-radio-circle-checked {
        height: 100%;
        width: 100%;
        border-radius: 50%;
        transform: scale(0.65);
        transition: opacity 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    
        @include publicOnly() {
          background-color: $sbbColorRed;
        }
    
        @include businessOnly() {
          background-color: $sbbColorGranite;
        }
      }

      & > .sbb-radio-circle-checked {
        display: none;
      }

      & + .sbb-radio-label-content {
        user-select: auto;
        color: $radioButtonGreyColor;
        transition: color 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);

        @include businessOnly() {
          padding-top: toPx(2);
          padding-bottom: toPx(3);
          line-height: pxToEm(15px);
        }
      }
    }

    &:focus + .sbb-radio-circle-container {
      border-color: $radioButtonGreyColor;
    }

    &:checked + .sbb-radio-circle-container,
    &[checked] + .sbb-radio-circle-container {
      & > .sbb-radio-circle-checked {
        display: block;
      }

      & + .sbb-radio-label-content {
        color: $sbbColorBlack;
      }
    }

    &:disabled + .sbb-radio-circle-container,
    &[disabled] + .sbb-radio-circle-container {
      border-color: $sbbColorAluminum;
      background-color: $sbbColorMilk;

      & > .sbb-radio-circle-checked {
        background-color: $radioButtonGreyColor;
      }

      & + .sbb-radio-label-content {
        color: $radioButtonGreyColor;
      }
    }
  }
}

@mixin checkboxRadioButtonPanel {
  .sbb-checkbox-radio-button-panel {
    border: toPx($checkboxRadioButtonPanelBorderSize) solid $sbbColorMilk;
    background-color: $sbbColorMilk;
    font-size: toPx($sizeFontDefault);
    width: 100%;
    height: toPx($checkboxRadioButtonPanelHeight);
    padding: toPx($checkboxRadioButtonPanelPadding);
    border-radius: toPx($checkboxRadioButtonPanelBorderRadius);
    display: flex;
    transition: border-color 0.15s ease-in-out;
    user-select: none;

    &-checked {
      background-color: $sbbColorWhite;
      border: solid toPx($checkboxRadioButtonPanelBorderSize) $sbbColorBlack;
      color: $sbbColorBlack;
    }

    @include mq($from: desktop4k) {
      font-size: toPx($sizeFontDefault * $scalingFactor4k);
      height: toPx($checkboxRadioButtonPanelHeight * $scalingFactor4k);
      border: toPx($checkboxRadioButtonPanelBorderSize * $scalingFactor4k) solid $sbbColorMilk;
      padding: toPx($checkboxRadioButtonPanelPadding * $scalingFactor4k);
      border-radius: toPx($checkboxRadioButtonPanelBorderRadius * $scalingFactor4k);
    }

    @include mq($from: desktop5k) {
      font-size: toPx($sizeFontDefault * $scalingFactor5k);
      height: toPx($checkboxRadioButtonPanelHeight * $scalingFactor5k);
      border: toPx($checkboxRadioButtonPanelBorderSize * $scalingFactor5k) solid $sbbColorMilk;
      padding: toPx($checkboxRadioButtonPanelPadding * $scalingFactor5k);
      border-radius: toPx($checkboxRadioButtonPanelBorderRadius * $scalingFactor5k);
    }

    &-has-subtitle {
      height: toPx($checkboxRadioButtonPanelHeightWithSubtitle);
      @include mq($from: desktop4k) {
        height: toPx($checkboxRadioButtonPanelHeightWithSubtitle * $scalingFactor4k);
      }

      @include mq($from: desktop5k) {
        height: toPx($checkboxRadioButtonPanelHeightWithSubtitle * $scalingFactor5k);
      }
    }

    &-disabled {
      @include checkboxRadioButtonPanelDisabled;
    }

    .sbb-checkbox-radio-button-panel-header {
      @include radioButtonBase;
    }

    .sbb-checkbox-radio-button-panel-multiple-header {
      @include checkboxBase;
    }

    .sbb-checkbox-radio-button-panel-header-subtitle {
      color: $sbbColorGrey;
      font-size: toPx($checkboxRadioButtonPanelSubtitleFontSize);

      @include mq($from: desktop4k) {
        font-size: toPx($checkboxRadioButtonPanelSubtitleFontSize * $scalingFactor4k);
      }
      @include mq($from: desktop5k) {
        font-size: toPx($checkboxRadioButtonPanelSubtitleFontSize * $scalingFactor5k);
      }
    }
  }
}

@mixin checkboxRadioButtonPanelDisabled {
  color: $sbbColorGrey;
  background-color: $sbbColorWhite;
  border: toPx($checkboxRadioButtonPanelBorderSize) solid $sbbColorMilk;
  @include mq($from: desktop4k) {
    border: toPx($checkboxRadioButtonPanelBorderSize * $scalingFactor4k) solid $sbbColorMilk;
  }
  @include mq($from: desktop5k) {
    border: toPx($checkboxRadioButtonPanelBorderSize * $scalingFactor5k) solid $sbbColorMilk;
  }
}

@mixin checkboxRadioButtonPanelImage {
  width: toPx($checkboxRadioButtonPanelImageWidth);
  height: toPx($checkboxRadioButtonPanelImageHeight);
  margin-left: auto;
  @include mq($from: desktop4k) {
    width: toPx($checkboxRadioButtonPanelImageWidth * $scalingFactor4k);
    height: toPx($checkboxRadioButtonPanelImageHeight * $scalingFactor4k);
  }
  @include mq($from: desktop5k) {
    width: toPx($checkboxRadioButtonPanelImageWidth * $scalingFactor5k);
    height: toPx($checkboxRadioButtonPanelImageHeight * $scalingFactor5k);
  }
  * {
    max-width: 100%;
    max-height: 100%;
  }
}
