@import '../../button/src/styles/button';

@mixin fileSelectorLabel() {
  display: inline-block;
  overflow: hidden;

  &:hover {
    cursor: pointer;
  }
}

@mixin fileSelectorButton() {
  @include buttons;

  &:not(.sbb-file-selector-disabled) {
    @include secondaryButton;
    @include arrowbuttons;

    .sbb-svgsprite-icon {
      @include svgIconColor($buttonSecondaryColor);
    }
  }
  // Disabled button
  &.sbb-file-selector-disabled {
    @include disabledButton;
  }
}

@mixin fileSelectorList() {
  list-style: none;
  padding: 0;
  margin: 0;

  @include mq($from: desktop4k) {
    font-size: toEm(1 * $scalingFactor4k);
  }

  @include mq($from: desktop5k) {
    font-size: toEm(1 * $scalingFactor5k);
  }

  li {
    margin-bottom: pxToEm(17);
    padding-left: 0;
  }

  &-type-icon,
  &-remove-icon {
    display: inline-block;
    vertical-align: middle;
  }

  &-type-icon {
    width: pxToEm(24);
    height: pxToEm(24);
    margin-right: 0.5em;
    margin-bottom: pxToEm(2);
  }

  &-desc {
    text-decoration: underline;
  }

  &-remove-icon {
    @include buttonResetFrameless();
    @include svgIconColor($sbbColorAnthracite);
    margin-bottom: pxToEm(2);
    position: relative;
    width: pxToEm(32);
    height: pxToEm(32);
    margin-left: pxToEm(8);
    border: pxToEm(1) solid $sbbColorStorm;
    border-radius: 50%;

    svg {
      @include absoluteCenterXY();
      width: pxToEm(24);
      height: pxToEm(24);
    }
  }

  &-file-ext {
    text-transform: uppercase;
  }
}
