<form class="sbb-form-group" [formGroup]="formGroup" (ngSubmit)="handleSubmit()">
  <sbb-form-field label="Name">
    <input
      type="text"
      sbbInput
      formControlName="name"
      autocomplete="off"
      placeholder="Name"
      spellcheck="false"
    />
    @if (formGroup.get('name')!.errors?.required) {
      <sbb-error>Name is required!</sbb-error>
    }
    @if (formGroup.get('name')!.errors?.minlength) {
      <sbb-error
        >Min length is {{ formGroup.get('name')!.errors?.minlength?.requiredLength }}!</sbb-error
      >
    }
  </sbb-form-field>
  <sbb-form-field label="Date">
    <sbb-datepicker arrows>
      <input sbbInput sbbDateInput formControlName="date" />
    </sbb-datepicker>
    @if (formGroup.get('date')!.touched && formGroup.get('date')!.errors?.required) {
      <sbb-error> Date is required! </sbb-error>
    }
  </sbb-form-field>
  <button sbb-button>Submit</button>
</form>

@if (lastSubmission) {
  <h3>Last Submission</h3>
  <pre>{{ lastSubmission | json }}</pre>
}
