<div
  [class.sbb-search-box-visible]="mode === 'default' || !hideSearch"
  class="sbb-search-box"
  #searchbox
>
  <input
    #input
    class="sbb-search-input"
    type="text"
    (focusin)="handleFocus()"
    (input)="handleInput($event)"
    (keydown)="handleKeydown($event)"
    (blur)="onBlur($event)"
    [attr.placeholder]="placeholder"
    [attr.autocomplete]="autocompleteAttribute"
    [attr.role]="autocompleteDisabled ? null : 'combobox'"
    [attr.aria-autocomplete]="autocompleteDisabled ? null : 'list'"
    [attr.aria-activedescendant]="activeOption ? this.activeOption.id : null"
    [attr.aria-expanded]="autocompleteDisabled ? null : panelOpen.toString()"
    [attr.aria-owns]="autocompleteDisabled || !panelOpen ? null : autocomplete.id"
    [attr.aria-haspopup]="!autocompleteDisabled"
  />
  <button
    type="button"
    #button
    (click)="emitSearch()"
    (blur)="onBlur($event)"
    class="sbb-icon-fit"
    [class.sbb-search-box-button-active]="isSearchBoxFocused()"
    i18n-aria-label="Start search@@sbbSearchStartSearch"
    aria-label="Start search"
  >
    <ng-container *ngTemplateOutlet="icon ? icon : defaultIcon"></ng-container>
  </button>
</div>
<button
  type="button"
  #trigger
  [class.sbb-search-icon-wrapper-visible]="hideSearch"
  class="sbb-search-icon-wrapper"
  (click)="revealSearchbox()"
>
  <span class="sbb-svgsprite-icon sbb-icon-fit">
    <ng-container *ngTemplateOutlet="icon ? icon : defaultIcon"></ng-container>
  </span>
  <span class="sbb-search-icon-wrapper-label">{{ placeholder }}</span>
</button>

<ng-template #defaultIcon>
  <sbb-icon svgIcon="kom:magnifying-glass-small"></sbb-icon>
</ng-template>
