@use '@sbb-esta/angular' as sbb;

.sbb-search {
  font-size: var(--sbb-font-size);
  display: flex;
  position: relative;
  max-width: calc(#{sbb.pxToRem(329)} * var(--sbb-scaling-factor));

  @include sbb.mq($from: tabletPortrait) {
    max-width: calc(#{sbb.pxToRem(376)} * var(--sbb-scaling-factor));
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    border: var(--sbb-border-width) solid transparent;
    border-radius: var(--sbb-border-radius);
  }

  &.sbb-focused::after {
    border-color: var(--sbb-color-weak-accent);
  }

  &.sbb-autocomplete-panel-open:not(.sbb-input-with-open-panel-above)::after {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &.sbb-autocomplete-panel-open.sbb-input-with-open-panel-above::after {
    // Apply the shadow to the .sbb-search element, since it should be shown below the entire
    // width of the sbb-search. To do this correctly, we need to disable the shadow on the
    // input (see below).
    box-shadow: var(--sbb-box-shadow-below);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.sbb-search > input {
  flex: 1 1 auto;
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

// Disable shadow for inner input, since we apply it on the .sbb-search element
.sbb-search.sbb-input-with-open-panel-above > .sbb-input-element {
  box-shadow: unset;
}

.sbb-search .sbb-search-button {
  flex: 0 0 calc(#{sbb.pxToRem(56)} * var(--sbb-scaling-factor));
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: var(--sbb-border-width-negative);

  :where(html:not(.sbb-lean)) & {
    padding: 0;
  }
}
