@import '../header';

$sbbHeaderHeight: 54px;

:host {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  height: $sbbHeaderHeight;
  width: 100%;
  z-index: $sbbHeaderBaseZIndex;
  background-color: $sbbColorWhite;
  border-bottom: solid 1px $sbbColorSilver;

  > nav {
    margin-left: 50px;
    overflow-x: hidden;
    display: flex;
    flex-grow: 1;

    > ::ng-deep a,
    > ::ng-deep button {
      flex: 0 0 20%;
    }
  }
}

.sbb-header-ribbon {
  width: 80px;
  position: absolute;
  top: 12px;
  left: -20px;
  text-align: center;
  line-height: 12px;
  letter-spacing: 0px;
  font-size: 10px;
  color: $sbbColorWhite;
  transform: rotate(-45deg);
}

.sbb-header-open-menu,
.sbb-header-close-menu {
  @include buttonResetFrameless();
  flex-grow: 0;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  margin-left: 15px;
  cursor: pointer;
  position: relative;
  outline: none;

  > .sbb-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
  }

  &:focus {
    > .sbb-icon {
      color: $sbbColorRed125;
    }
  }
}

.sbb-header-open-menu:not(.sbb-header-app-chooser-available) {
  @include mq($from: desktop) {
    display: none;
  }
}

.sbb-header-titlebox {
  display: flex;
  flex-grow: 0;
  flex-direction: column;
  width: 200px;
  margin-left: 45px;
  font-family: $fontSbbLight;

  > span {
    @include ellipsis();
  }
  > span:first-child {
    line-height: 23px;
    color: $sbbColorBlack;
    font-family: $fontSbbRoman;
  }
  > span:nth-child(2) {
    font-size: 13px;
    font-weight: 300;
    line-height: 16px;
    color: $sbbColorAnthracite;
  }
}

nav {
  > ::ng-deep a,
  > ::ng-deep button {
    line-height: 23px;
    font-size: 15px;
    border: transparent solid 1px;
    outline: none;
    color: $sbbColorBlack;
    font-family: $fontSbbRoman;

    &:hover,
    &:active,
    &:focus,
    &.sbb-active {
      color: $sbbColorRed125;
    }
  }
  > ::ng-deep a {
    text-decoration: none;
    padding: 6px 8px;
  }
  > ::ng-deep button {
    cursor: pointer;
    @include buttonResetFrameless();
    text-align: left;
  }
}

.sbb-header-container-end {
  flex-grow: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 35px;

  > .sbb-header-usermenu {
    z-index: 1;
    margin-left: 15px;
    margin-right: 15px;
  }

  > .sbb-header-logo {
    display: flex;
    height: $sbbHeaderHeight;

    > svg {
      width: 80px;
    }
  }
}

.sbb-header-side-menu-backdrop {
  display: none;
}

:host(.sbb-header-opened) .sbb-header-side-menu-backdrop {
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.sbb-header-side-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: $sbbHeaderMenuWidth;
  height: 100vh;
  top: 0;
  background-color: $sbbColorWhite;
  border-right: 1px solid $sbbColorGranite;
  box-shadow: 4px 0 0 0 rgba(0, 0, 0, 0.15);
  z-index: $sbbHeaderSideMenuZIndex;
  overflow-y: auto;

  div.sbb-header-side-menu-title-section {
    display: flex;
    align-items: center;
    height: $sbbHeaderHeight;
    margin-bottom: 12px;
    flex: 0 0 auto;
  }

  nav {
    flex-direction: column;
    margin: 0 15px;

    > ::ng-deep a,
    > ::ng-deep button {
      display: block;
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
  }
}
