@import '../header';

$sbbHeaderHeight: pxToRem(54);

:host {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  height: $sbbHeaderHeight;
  width: 100%;
  z-index: $sbbHeaderBaseZIndex;
  background-color: $sbbColorWhite;
  border-bottom: solid 1px $sbbColorSilver;

  > nav {
    overflow-x: hidden;
    display: flex;
    flex-grow: 1;
  }

  &:not(.sbb-header-flexible) > nav {
    margin-left: pxToRem(50);

    > ::ng-deep a,
    > ::ng-deep button {
      flex: 0 0 20%;
    }
  }

  &.sbb-header-flexible > nav {
    > ::ng-deep a,
    > ::ng-deep button {
      margin-right: 1rem;
    }
  }
}

::ng-deep {
  .sbb-header-environment {
    z-index: 1;
    pointer-events: none;
    width: pxToRem(80);
    position: absolute;
    top: pxToRem(12);
    left: pxToRem(-20);
    text-align: center;
    line-height: pxToRem(12);
    letter-spacing: 0;
    font-size: pxToRem(10);
    color: $sbbColorWhite;
    transform: rotate(-45deg);
  }

  // Default colors for the environments
  .sbb-header-environment-dev {
    background-color: $sbbColorPeach;
  }
  .sbb-header-environment-test {
    background-color: $sbbColorNight;
  }
  .sbb-header-environment-edu {
    background-color: $sbbColorGreen;
  }
  .sbb-header-environment-int {
    background-color: $sbbColorGranite;
  }
}

.sbb-header-open-menu,
.sbb-header-close-menu {
  @include buttonResetFrameless();
  flex-grow: 0;
  flex-shrink: 0;
  width: pxToRem(24);
  height: pxToRem(24);
  margin-left: pxToRem(15);
  cursor: pointer;
  position: relative;
  outline: none;

  > .sbb-icon {
    display: inline-block;
    width: pxToRem(24);
    height: pxToRem(24);
  }

  &:focus {
    > .sbb-icon {
      color: $sbbColorRed125;
    }
  }
}

.sbb-header-open-menu {
  :host:not(.sbb-header-menus-collapsed) &:not(.sbb-header-app-chooser-available) {
    visibility: hidden;
  }
}

.sbb-header-titlebox {
  display: flex;
  flex-grow: 0;
  flex-direction: column;
  width: pxToRem(200);
  margin-left: pxToRem(15);
  font-family: $fontSbbLight;

  :host(.sbb-header-flexible) & {
    width: auto;
    margin-right: 2.5rem;
  }
  > span {
    @include ellipsis();
  }
  > span:first-child {
    line-height: pxToRem(23);
    color: $sbbColorBlack;
    font-family: $fontSbbRoman;
  }
  > span:nth-child(2) {
    font-size: pxToRem(13);
    font-weight: 300;
    line-height: pxToRem(16);
    color: $sbbColorAnthracite;
  }
}

nav {
  > ::ng-deep a,
  > ::ng-deep button {
    line-height: pxToRem(23);
    font-size: pxToRem(15);
    border: transparent solid 1px;
    outline: none;
    color: $sbbColorBlack;
    font-family: $fontSbbRoman;

    &:hover,
    &:active,
    &:focus,
    &.sbb-active {
      color: $sbbColorRed125;
    }
  }
  > ::ng-deep a {
    text-decoration: none;
    padding: pxToRem(6) pxToRem(8);
  }
  > ::ng-deep button {
    cursor: pointer;
    @include buttonResetFrameless();
    text-align: left;
  }
}

.sbb-header-container-end {
  flex-grow: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: pxToRem(35);

  > .sbb-header-usermenu {
    z-index: 1;
    margin-left: pxToRem(15);
    margin-right: pxToRem(15);
  }

  > .sbb-header-logo {
    display: flex;
    height: $sbbHeaderHeight;

    > svg {
      width: pxToRem(80);
    }
  }
}

.sbb-header-side-menu-backdrop {
  display: none;
}

:host(.sbb-header-opened) .sbb-header-side-menu-backdrop {
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.sbb-header-side-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: $sbbHeaderMenuWidth;
  height: 100vh;
  top: 0;
  background-color: $sbbColorWhite;
  border-right: 1px solid $sbbColorGranite;
  box-shadow: pxToRem(4) 0 0 0 rgba(0, 0, 0, 0.15);
  z-index: $sbbHeaderSideMenuZIndex;
  overflow-y: auto;

  div.sbb-header-side-menu-title-section {
    display: flex;
    align-items: center;
    height: $sbbHeaderHeight;
    margin-bottom: pxToRem(12);
    flex: 0 0 auto;
  }

  nav {
    flex-direction: column;
    margin: 0 pxToRem(15);

    > ::ng-deep a,
    > ::ng-deep button {
      display: block;
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
  }
}
