<button
  *ngIf="prevDayActive"
  type="button"
  class="sbb-datepicker-arrow sbb-datepicker-arrow-left"
  [disabled]="disabled"
  (click)="prevDay()"
>
  <sbb-icon-chevron-small-left></sbb-icon-chevron-small-left>
</button>
<sbb-datepicker-toggle *ngIf="toggle"></sbb-datepicker-toggle>
<ng-content></ng-content>
<button
  *ngIf="nextDayActive"
  type="button"
  class="sbb-datepicker-arrow sbb-datepicker-arrow-right"
  [disabled]="disabled"
  (click)="nextDay()"
>
  <sbb-icon-chevron-small-right></sbb-icon-chevron-small-right>
</button>
