:host {
  display: block;
  height: calc(100vh - 48px);
  overflow-y: hidden;
}

:host-context(sbb-public, sbb-business, sbb-core, sbb-icons, sbb-maps) {
  margin-left: 300px;
}

article {
  padding: 0 3rem;
  padding-bottom: 3rem;
}
