<div>
  <h1>
    Links
  </h1>
  <span class="text-lead">
    <a href="#">Link without component</a><br />
    <a href="#" sbbLink>Link with icon-link component</a>
    <a href="#" sbbLink icon="download">Link with icon-link component (icon=download)</a>
    <a href="#" sbbLink mode="form">Link with icon-link component (mode=form))</a>
    <a href="#" sbbLink mode="stretch">Link with icon-link component (mode=stretch))</a>
  </span>
  <a href="#" sbbSocialLink icon="facebook"></a>
  <a href="#" sbbSocialLink icon="google-plus"></a>
  <a href="#" sbbSocialLink icon="instagram"></a>
  <a href="#" sbbSocialLink icon="linkedin"></a>
  <a href="#" sbbSocialLink icon="pinterest"></a>
  <a href="#" sbbSocialLink icon="twitter"></a>
  <a href="#" sbbSocialLink icon="xing"></a>
  <a href="#" sbbSocialLink icon="youtube"></a>
</div>

<div>
  <h1>
    Typography
  </h1>

  <hr>

  <h1>
    H1 - Welcome to {{ title }}!
  </h1>
  <h2>
    H2 - Welcome to {{ title }}!
  </h2>
  <h3>
    H3 - Welcome to {{ title }}!
  </h3>
  <h4>
    H4 - Welcome to {{ title }}!
  </h4>

  <hr>

  <span class="text-copy">
    Copy - Welcome to {{ title }}!
  </span>

  <hr>

  <span class="text-lead">
    Lead - Welcome to {{ title }}!
  </span>

  <hr>

  <span class="text__additional-info">
    Additional Info - Welcome to {{ title }}!
  </span>

  <hr>

  <h3>Ordered list</h3>
  <ol>
    <li>Test 1</li>
    <li>Test 2</li>
    <li>Test 3</li>
    <li>
      Test 4
      <ol>
        <li>Test 5</li>
        <li>Test 6</li>
      </ol>
    </li>
    <li>
        Test 7
        <ul>
          <li>Test 8</li>
          <li>Test 9</li>
        </ul>
      </li>
  </ol>
  <hr>

  <h3>Unordered list</h3>
  <ul>
    <li>Test 1</li>
    <li>Test 2</li>
    <li>Test 3</li>
    <li>
      Test 4
      <ol>
        <li>Test 5</li>
        <li>Test 6</li>
      </ol>
    </li>
    <li>
      Test 7
        <ul>
          <li>Test 8</li>
          <li>Test 9</li>
        </ul>
      </li>
  </ul>
</div>
