@import '../../../angular-core/styles/common/variants';
@import '../../../angular-core/styles/common/variables';
@import '../../../angular-core/styles/common/colors';
@import '../../../angular-core/styles/common/functions';
@import '../../../angular-core/styles/common/mediaqueries';
@import '../../../angular-core/styles/common/form';

@mixin sbbTextarea($borderColor) {
  @include inputfields;
  @include disabledinputfields;

  display: inline-block;
  letter-spacing: 0;
  border: 2px solid $borderColor;
  border-radius: 2px;
  outline: 0px;
  opacity: 1;
  font-size: pxToRem(15);
  width: 100%;

  @include publicOnly() {
    line-height: 23px;

    @include mq($from: desktop4k) {
      border-width: 3px;
      border-radius: 3px;
      font-size: pxToRem(23);
    }
    @include mq($from: desktop5k) {
      border-radius: 4px;
      border-width: 4px;
      font-size: pxToRem(30);
    }
  }

  @include businessOnly() {
    line-height: 20px;
    border-width: 1px;
  }

  font-family: $fontSbbRoman;
}
