@import '../styles/tabs';

sbb-tabs {
  display: block;
}

.sbb-tabs {
  &-tablist {
    @include tabsBase();

    > .sbb-tabs-tablist-item {
      @include tabsItem();
      .sbb-badge {
        transform: translateY(-70%);
      }

      .sbb-tabs-tablist-item-button {
        @include tabsButton();
      }
    }
  }
}
