@import '../styles/tabs';

.sbb-tabs {
  &-tablist {
    @include tabsBase();

    > .sbb-tabs-tablist-item {
      @include tabsItem();

      @include businessOnly() {
        position: relative;
      }

      .sbb-badge {
        display: inline-block;

        @include publicOnly() {
          transform: translateY(-70%);
          margin-left: 0;
        }

        @include businessOnly() {
          position: relative;
          margin-left: pxToEm(-2, 11);
          margin-right: pxToEm(-14, 11);
          top: pxToEm(-6, 11);
        }
      }

      .sbb-tabs-tablist-item-button {
        @include tabsButton();
      }
    }
  }

  &-content {
    @include tabsContent();
  }
}
