$inputFieldBorderRadius: 2px;

$inputFieldPaddingTop: 10px;
$inputFieldPaddingLeftRight: 14px;
$inputFieldPaddingBottom: 12px;
$inputFieldBorderWidth: 2px;

$labelPaddingLeft: 10px;
$labelMarginBottom: 5px;

$formErrorFontSize: 14px;
$formErrorLineHeight: 21px;
