<table class="sbb-calendar-table">
  <thead class="sbb-calendar-table-header">
    <tr>
      @if (showWeekNumbers) {
        <th>#</th>
      }
      @for (day of weekdays; track day) {
        <th>
          @switch (isWeekdaySelectable) {
            @case (true) {
              <button
                type="button"
                tabindex="0"
                class="sbb-button-reset-frameless sbb-calendar-body-weekday"
                [attr.aria-label]="day.long"
                (click)="weekdaySelected(day.index)"
              >
                {{ day.narrow }}
              </button>
            }
            @case (false) {
              <span class="cdk-visually-hidden">{{ day.long }}</span>
              <span aria-hidden="true">{{ day.narrow }}</span>
            }
          }
        </th>
      }
    </tr>
    <tr>
      <th class="sbb-calendar-table-header-divider" colspan="7" aria-hidden="true"></th>
    </tr>
  </thead>
  <tbody
    sbb-calendar-body
    label="{{ monthLabel }}"
    [rows]="weeks"
    [weeksInMonth]="showWeekNumbers ? weeksInMonth : []"
    [todayValue]="todayDate!"
    [selectedValue]="selectedDate!"
    [labelMinRequiredCells]="3"
    [activeCell]="_dateAdapter.getDate(activeDate) - 1"
    [isWeekSelectable]="isWeekSelectable"
    [isWeekdaySelectable]="isWeekdaySelectable"
    (selectedValueChange)="dateSelected($event)"
    (selectedWeekChange)="weekSelected($event)"
    (activeDateChange)="_updateActiveDate($event)"
    (keydown)="handleCalendarBodyKeydown($event)"
  ></tbody>
</table>
