@use '@sbb-esta/angular' as sbb;

:host {
  display: block;
}

.sbb-icon-sidebar.sbb-icon-sidebar-expanded {
  width: sbb.pxToEm(260);
}

.sbb-select {
  min-width: 150px;
}

.additional-header-content {
  display: flex;
}
