<sbb-header label="SBB Angular" [subtitle]="'Version ' + showcaseVersion">
  <sbb-app-chooser-section label="Links">
    <a target="_blank" href="https://github.com/sbb-design-systems/sbb-angular">GitHub</a>
    <a target="_blank" href="https://angular.io/">Angular {{ angularVersion }}</a>
  </sbb-app-chooser-section>
  <a routerLink="/">Introduction</a>
  <a routerLink="/howtoupdate">How to update</a>
</sbb-header>

<sbb-icon-sidebar-container class="sbb-icon-sidebar-after-header">
  <sbb-icon-sidebar>
    <a
      sbbIconSidebarItem
      label="@sbb-esta/angular-public"
      routerLink="/public"
      routerLinkActive="sbb-icon-sidebar-item-active"
    >
      <sbb-icon-station sbbIcon></sbb-icon-station>
    </a>
    <a
      sbbIconSidebarItem
      label="@sbb-esta/angular-business"
      routerLink="/business"
      routerLinkActive="sbb-icon-sidebar-item-active"
    >
      <sbb-icon-station sbbIcon></sbb-icon-station>
    </a>
    <a
      sbbIconSidebarItem
      label="@sbb-esta/angular-core"
      routerLink="/core"
      routerLinkActive="sbb-icon-sidebar-item-active"
    >
      <sbb-icon-station sbbIcon></sbb-icon-station>
    </a>
    <a
      sbbIconSidebarItem
      label="@sbb-esta/angular-icons"
      routerLink="/icons"
      routerLinkActive="sbb-icon-sidebar-item-active"
    >
      <sbb-icon-station sbbIcon></sbb-icon-station>
    </a>
    <a
      sbbIconSidebarItem
      label="@sbb-esta/angular-keycloak"
      routerLink="/keycloak"
      routerLinkActive="sbb-icon-sidebar-item-active"
    >
      <sbb-icon-station sbbIcon></sbb-icon-station>
    </a>
    <a
      sbbIconSidebarItem
      label="@sbb-esta/angular-maps"
      routerLink="/maps"
      routerLinkActive="sbb-icon-sidebar-item-active"
    >
      <sbb-icon-station sbbIcon></sbb-icon-station>
    </a>
  </sbb-icon-sidebar>
  <sbb-icon-sidebar-content>
    <router-outlet></router-outlet>
  </sbb-icon-sidebar-content>
</sbb-icon-sidebar-container>
