<sbb-header label="SBB Angular" [subtitle]="'Version ' + showcaseVersion">
  <sbb-app-chooser-section label="Links">
    <a target="_blank" href="https://github.com/sbb-design-systems/sbb-angular">GitHub</a>
    <a target="_blank" href="https://angular.io/">Angular {{ angularVersion }}</a>
  </sbb-app-chooser-section>
  <a routerLink="/">Introduction</a>
  <button [sbbHeaderMenu]="packages">Packages</button>
  <sbb-header-menu #packages="sbbHeaderMenu">
    Packages
    <a sbbHeaderMenuItem routerLink="/public" routerLinkActive="sbb-active"
      >@sbb-esta/angular-public</a
    >
    <a sbbHeaderMenuItem routerLink="/business" routerLinkActive="sbb-active"
      >@sbb-esta/angular-business</a
    >
    <a sbbHeaderMenuItem routerLink="/core" routerLinkActive="sbb-active">@sbb-esta/angular-core</a>
    <a sbbHeaderMenuItem routerLink="/icons" routerLinkActive="sbb-active"
      >@sbb-esta/angular-icons</a
    >
    <a sbbHeaderMenuItem routerLink="/keycloak" routerLinkActive="sbb-active"
      >@sbb-esta/angular-keycloak</a
    >
    <a sbbHeaderMenuItem routerLink="/maps" routerLinkActive="sbb-active">@sbb-esta/angular-maps</a>
    <a sbbHeaderMenuItem routerLink="/maps-leaflet" routerLinkActive="sbb-active"
      >@sbb-esta/angular-maps-leaflet</a
    >
  </sbb-header-menu>
</sbb-header>

<main class="sbb-scrollbar" cdkScrollable>
  <router-outlet></router-outlet>
</main>
