@mixin notificationBase {
  display: flex;
  align-items: center;
  min-height: pxToEm($notificationHeight);
  width: $notificationBaseWidth;
  border-radius: toPx($notificationBorderRadius);
  color: $sbbColorWhite;
  background-color: $notificationDefaultBackgroundColor;

  &-error {
    @include svgIconColor($sbbColorWhite);
    background-color: $notificationErrorBackgroundColor;

    a {
      color: $sbbColorWhite;
    }
  }

  &-success {
    @include svgIconColor($sbbColorGreen);
    color: $sbbColorGreen;
    border: 1px solid $sbbColorGreen;

    a {
      color: $sbbColorGreen;
    }
  }

  &-info {
    @include svgIconColor($sbbColorGranite);
    color: $sbbColorGranite;
    border: 1px solid $sbbColorGranite;

    a {
      color: $sbbColorGranite;
    }
  }

  &-warn {
    @include svgIconColor($sbbColorWhite);

    a {
      color: $sbbColorWhite;
    }

    background-color: $notificationWarnBackgroundColor;
  }

  &-has-jump-marks {
    min-height: toPx($notificationLinksHeight);
  }

  &-content {
    font-size: toPx($notificationDefaultFontSize);
    margin-left: toPx($notificationMessageMarginLeft);
    margin-right: toPx($notificationMessageMarginRight);
    margin-top: pxToEm($notificationVerticalMargin);
    margin-bottom: pxToEm($notificationVerticalMargin);

    &-title {
      font-family: $fontSbbBold;
    }
  }

  &-jump-mark {
    a {
      cursor: pointer;
    }
  }

  &-icon-wrapper {
    min-width: toPx($notificationIconWidth);
    width: toPx($notificationIconWidth);
    height: toPx($notificationIconHeight);
    margin-left: toPx($notificationIconMarginLeft);

    * {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &-icon-close-wrapper {
    cursor: pointer;
    margin-left: auto;
    margin-right: pxToEm($notificationIconMarginRight);
  }
}

@mixin notificationToast {
  position: absolute;
  max-width: pxToEm($notificationToastMaxWidth);
}
