$notificationHeight: 49;
$notificationBaseWidth: 100%;
$notificationIconWidth: 24;
$notificationIconHeight: 24;
$notificationDefaultBackgroundColor: $sbbColorWhite;
$notificationErrorBackgroundColor: $sbbColorRed;
$notificationWarnBackgroundColor: $sbbColorOrange;
$notificationLinksHeight: 78;
$notificationBorderRadius: 2;
$notificationDefaultFontSize: $sizeFontDefault;
$notificationIconMarginLeft: 16;
$notificationMessageMarginLeft: 16;
$notificationMessageMarginRight: 24;
$notificationToastOffset: 20;
$notificationToastMaxWidth: 251;
