@use '@sbb-esta/angular' as sbb;

.sbb-option.sbb-menu-item {
  cursor: default;
}

.sbb-pseudo-checkbox {
  display: inline-block;
  margin-right: calc(#{sbb.pxToRem(8)} * var(--sbb-scaling-factor));
  margin-bottom: calc(#{sbb.pxToRem(-4.5)} * var(--sbb-scaling-factor));
  overflow: hidden;
  line-height: 0;

  .sbb-selection-container {
    margin: 0;
  }
}
