@import '../../styles/common';

.sbb-option.sbb-menu-item {
  cursor: default;
}

.sbb-pseudo-checkbox {
  display: inline-block;
  margin-right: pxToRem(8);
  margin-bottom: pxToRem(-4.5);
  overflow: hidden;
  line-height: 0;

  .sbb-selection-container {
    margin: 0;
    html:not(.sbb-lean) & {
      @include mq($from: desktop4k) {
        margin: 0;
      }
    }
  }

  html:not(.sbb-lean) & {
    @include mq($from: desktop4k) {
      margin-top: pxToRem(-2);
      margin-right: pxToRem(8 * $scalingFactor4k);
      margin-bottom: pxToRem(-4.5 * $scalingFactor4k);
    }

    @include mq($from: desktop5k) {
      margin-top: pxToRem(-4);
      margin-right: pxToRem(8 * $scalingFactor5k);
      margin-bottom: pxToRem(-4.5 * $scalingFactor5k);
    }
  }
}
