@import '../../../angular-core/styles/common';
@import '../sidebar';

.sbb-icon-sidebar-container {
  @include sbb-sidebar-container;

  &.sbb-icon-sidebar-after-header {
    top: 54px; //TODO: import
  }
}

.sbb-icon-sidebar-backdrop {
  @include sbb-sidebar-backdrop;
}

.sbb-icon-sidebar-content {
  @include sbb-sidebar-content;
}

.sbb-icon-sidebar {
  @include sbb-sidebar;
  transform: none;
  visibility: visible;

  transition: width $swift-ease-out-duration $swift-ease-out-timing-function;
  background-color: $sbbColorMilk;

  &,
  .sbb-icon-sidebar-links {
    width: 200px;
  }

  .sbb-icon-sidebar-item {
    display: flex;
    min-height: 48px;
    color: $sbbColorIron;
    text-decoration: none;
    font-size: toPx($sizeFontDefault);
    line-height: 23px;
    position: relative;

    .sbb-icon-sidebar-item-icon {
      display: inline-flex;
      height: 48px;
      justify-content: center;
      align-items: center;
      flex: 0 0 48px;

      .sbb-icon-component {
        @include svgIconColor($sbbColorIron);
        width: 24px;
        height: 24px;
      }

      &:empty:after {
        content: '?';
        display: block;
      }
    }

    .sbb-icon-sidebar-item-label {
      padding: 12px 12px 12px 4px;
    }

    &:hover,
    &:focus,
    &.sbb-icon-sidebar-item-active {
      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 2px;
        height: 100%;
        left: 0;
        top: 0;
      }
    }

    &:hover,
    &:focus {
      color: $sbbColorRed125;

      &:after {
        background-color: $sbbColorRed125;
      }

      .sbb-icon-sidebar-item-icon {
        .sbb-icon-component {
          @include svgIconColor($sbbColorRed125);
        }
      }
    }

    &.sbb-icon-sidebar-item-active {
      background-color: $sbbColorWhite;
      color: $sbbColorBlack;
      cursor: default;
      pointer-events: none;

      &:after {
        background-color: $sbbColorBlack;
      }

      .sbb-icon-sidebar-item-icon {
        .sbb-icon-component {
          @include svgIconColor($sbbColorBlack);
        }
      }
    }
  }

  hr {
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 0;
    border: none;
    border-top: solid 1px $sbbColorGraphite;
  }

  .sbb-icon-sidebar-collapse-expand-button {
    @include buttonResetFrameless();
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: $sbbColorMilk;
    cursor: pointer;
    outline: 0;

    .sbb-icon-sidebar-item-icon {
      transition: transform $swift-ease-out-duration $swift-ease-out-timing-function;
    }

    &:hover,
    &:focus {
      &:after {
        content: none;
      }
    }
  }

  &:not(.sbb-icon-sidebar-expanded) {
    width: 48px;

    &,
    .sbb-sidebar-inner-container {
      overflow: hidden;
    }

    .sbb-icon-sidebar-item {
      height: 48px;
    }

    .sbb-icon-sidebar-collapse-expand-button {
      .sbb-icon-sidebar-item-icon {
        transform: rotate(180deg);
      }
    }
  }
}
