<sbb-notification type="info" class="api-key-info"
  >This example uses a test API key, that might be disabled at any time.
</sbb-notification>
<sbb-tab-group>
  <!-- ************************* Basic ************************* -->
  <sbb-tab label="Basic">
    <div class="web-map">
      <sbb-journey-maps [apiKey]="apiKey" language="en"></sbb-journey-maps>
    </div>
    <div>
      <ul>
        <li>
          <small class="font-italic">* Zoom map with scroll wheel or hold to move / pan.</small>
          <br />
          <small class="font-italic">* On a touch device: move / pan map with one finger.</small>
        </li>
      </ul>
    </div>
  </sbb-tab>
  <!-- ************************* Advanced ************************* -->
  <sbb-tab label="Advanced">
    <div class="web-map">
      <sbb-journey-maps
        #advancedMap
        *ngIf="mapVisible"
        language="en"
        [styleOptions]="styleOptions"
        [interactionOptions]="interactionOptions"
        [listenerOptions]="listenerOptions"
        [uiOptions]="uiOptions"
        [viewportOptions]="viewportOptions"
        [apiKey]="apiKey"
        [markerOptions]="markerOptions"
        [markerDetailsTemplate]="markerDetailsTemplate"
        [journeyMapsRoutingOption]="journeyMapsRoutingOption"
        [journeyMapsZones]="journeyMapsZones"
        [(selectedMarkerId)]="selectedMarkerId"
        [(selectedLevel)]="selectedLevel"
        (mapCenterChange)="mapCenterChange.next($event)"
        (zoomLevelsChange)="zoomLevels=$event"
        (visibleLevelsChange)="visibleLevels.next($event)"
      ></sbb-journey-maps>
      <ng-template #markerDetailsTemplate let-marker>
        <div class="markerdetails-title">{{marker.title}}</div>
        <div class="markerdetails-subtitle">{{marker.subtitle}}</div>
      </ng-template>
      <ng-template #stationTemplate let-station>
        <div class="station-title">{{station.properties.name}}</div>
        <div class="station-subtitle">{{station.properties.sbb_id}}</div>
      </ng-template>
      <ng-template #routeTemplate let-route>
        <div class="route-title">{{route.properties.routeId}}</div>
      </ng-template>
    </div>
    <div>
      <ul>
        <li class="sbb-label">
          Map move / pan with one finger: {{(interactionOptions.oneFingerPan ?? false) ? 'on' :
          'off'}}
        </li>
        <li class="sbb-label">
          Map zoom with scroll wheel: {{(interactionOptions.scrollZoom ?? false) ? 'on' : 'off'}}
        </li>
        <li class="sbb-label">
          Map center (x / lng, y / lat): {{mapCenterInfo()?.lng | number: '1.1-6'}},
          {{mapCenterInfo()?.lat | number:'1.1-6'}}
        </li>
        <li class="sbb-label">
          Map zoom (within range {{zoomLevels?.minZoom}}..{{zoomLevels?.maxZoom}} ):
          {{zoomLevels?.currentZoom | number: '1.1-2'}}
        </li>
        <li>
          <hr />
        </li>
        <li>
          <sbb-checkbox (change)="mapVisible=!mapVisible" [checked]="mapVisible"
            >Map visibility
          </sbb-checkbox>
        </li>
        <li>
          <sbb-checkbox
            (change)="setShowSmallButtons($event)"
            [checked]="uiOptions.showSmallButtons??false"
            value="smallButtons"
            >Small map controls
          </sbb-checkbox>
        </li>
        <li>
          <span class="sbb-label">Switch map to dark mode / bright mode</span>
          <sbb-radio-group
            class="sbb-checkbox-group-horizontal"
            (change)="setStyleModeInput($event)"
            [selected]="bright"
          >
            <sbb-radio-button #bright value="bright">Bright Mode</sbb-radio-button>
            <sbb-radio-button value="dark">Dark Mode</sbb-radio-button>
          </sbb-radio-group>
        </li>
        <li>
          <span class="sbb-label">Zoom map</span>
          <button sbb-ghost-button (click)="client.zoomIn()">Zoom In</button>
          <button sbb-ghost-button (click)="client.zoomOut()">Zoom Out</button>
        </li>
        <li>
          <span class="sbb-label">Move / pan map</span>
          <button sbb-ghost-button (click)="client.moveNorth()">North</button>
          <button sbb-ghost-button (click)="client.moveEast()">East</button>
          <button sbb-ghost-button (click)="client.moveSouth()">South</button>
          <button sbb-ghost-button (click)="client.moveWest()">West</button>
        </li>
        <li>
          <div>
            <span class="sbb-label">Map interaction configuration</span>
            <div class="sbb-checkbox-group-horizontal">
              <sbb-checkbox
                [(ngModel)]="listenerOptions.MARKER.watch"
                (change)="updateListenerOptions()"
                >Marker
              </sbb-checkbox>
              <sbb-checkbox
                [(ngModel)]="listenerOptions.ROUTE.watch"
                (change)="updateListenerOptions()"
                >Route
              </sbb-checkbox>
              <sbb-checkbox
                [(ngModel)]="listenerOptions.STATION.watch"
                (change)="updateListenerOptions()"
                >Station
              </sbb-checkbox>
              <sbb-checkbox
                [(ngModel)]="listenerOptions.ZONE.watch"
                (change)="updateListenerOptions()"
                >Zone
              </sbb-checkbox>
            </div>
          </div>
        </li>
        <li>
          <span class="sbb-label">
            Map markers<span *ngIf="selectedMarkerId"> (selected: {{selectedMarkerId}})</span></span
          >
          <button sbb-ghost-button (click)="selectedMarkerId='home'">'Home Office'</button>
          <button sbb-ghost-button (click)="selectedMarkerId=undefined">Unselect all</button>
        </li>
        <li>
          <span class="sbb-label">Map marker info style</span>
          <sbb-radio-group
            class="sbb-checkbox-group-horizontal"
            (change)="setPopupInput($event)"
            [selected]="popup"
          >
            <sbb-radio-button #popup value="true">Popup</sbb-radio-button>
            <sbb-radio-button value="false">Teaser</sbb-radio-button>
          </sbb-radio-group>
        </li>
        <li>
          <span class="sbb-label">Select zones</span>
          <select sbbInput (change)="setJourneyMapsZoneInput($event)">
            <option value="" (change)="setJourneyMapsZoneInput($event)">(none)</option>
            <option *ngFor="let input of journeyMapsZoneOptions" [value]="input">{{input}}</option>
          </select>
        </li>
        <li>
          <span class="sbb-label">Select a journey</span>
          <select class="select-journey" sbbInput (change)="setJourneyMapsRoutingInput($event)">
            <option value="" (change)="setJourneyMapsRoutingInput($event)">(none)</option>
            <option *ngFor="let input of journeyMapsRoutingOptions" [value]="input">
              {{input}}
            </option>
          </select>
        </li>
        <li *ngIf="visibleLevels | async as visibleLevels">
          <sbb-notification *ngIf="!visibleLevels.length" type="info"
            >No indoor data visible in map
          </sbb-notification>
          <div *ngIf="visibleLevels.length">
            <span class="sbb-label">Select indoor level</span>
            <ng-container *ngFor="let level of visibleLevels">
              <button
                sbb-icon-button
                [disabled]="level === selectedLevel"
                (click)="setSelectedLevel(level)"
              >
                Level {{level}}
              </button>
            </ng-container>
          </div>
        </li>
      </ul>
    </div>
  </sbb-tab>
</sbb-tab-group>
