<sbb-field label="Global Filter" class="sbbsc-block" mode="long">
  <input sbbInput [(ngModel)]="vehicleFilter._" (ngModelChange)="applyFilter()" />
</sbb-field>

<table sbbTable aria-describedby="sbb-table" sbbSort>
  <ng-container *ngFor="let column of displayedColumns" [sbbColumnDef]="column">
    <th sbbHeaderCell [sbbSortHeader]="column" *sbbHeaderCellDef style="width:20%">
      {{ column }}
    </th>
    <td sbbCell *sbbCellDef="let element">{{ element[column] }}</td>
  </ng-container>

  <ng-container sbbColumnDef="filter-name">
    <th sbbHeaderCell *sbbHeaderCellDef class="sbb-header-cell-filter-input">
      <input sbbInput [(ngModel)]="vehicleFilter.name" (ngModelChange)="applyFilter()" />
    </th>
  </ng-container>
  <ng-container sbbColumnDef="filter-description">
    <th sbbHeaderCell *sbbHeaderCellDef class="sbb-header-cell-filter-input">
      <input sbbInput [(ngModel)]="vehicleFilter.description" (ngModelChange)="applyFilter()" />
    </th>
  </ng-container>
  <ng-container sbbColumnDef="filter-category">
    <th sbbHeaderCell *sbbHeaderCellDef class="sbb-header-cell-filter-select">
      <sbb-select [(ngModel)]="vehicleFilter.category" (ngModelChange)="applyFilter()" multiple>
        <sbb-option *ngFor="let category of categories" [value]="category">{{
          category
        }}</sbb-option>
      </sbb-select>
    </th>
  </ng-container>

  <ng-container sbbColumnDef="empty">
    <th sbbHeaderCell *sbbHeaderCellDef></th>
  </ng-container>

  <tr sbbHeaderRow *sbbHeaderRowDef="displayedColumns"></tr>
  <tr
    sbbHeaderRow
    *sbbHeaderRowDef="['empty', 'filter-name', 'empty', 'filter-description', 'filter-category']"
  ></tr>
  <tr sbbRow *sbbRowDef="let row; columns: displayedColumns"></tr>
</table>

<p *ngIf="dataSource.filteredData.length === 0">No keywords match your filters.</p>

<sbb-paginator [pageSize]="5"></sbb-paginator>
