@import '../header';

$sbbHeaderMenuSectionHeight: 54px;

:host {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background-color: $sbbColorMilk;
  z-index: $sbbHeaderMenuMobileZIndex;

  @include mq($from: tabletPortrait) {
    width: calc(100vw - #{$sbbHeaderMenuWidth});
    z-index: $sbbHeaderMenuTabletZIndex;
  }

  @include mq($from: desktop) {
    display: none;
  }
}

button.sbb-header-menu-back,
:host > div.sbb-header-menu-title {
  @include buttonResetFrameless();
  height: $sbbHeaderMenuSectionHeight;
  width: 100%;
  line-height: 23px;
  font-size: 15px;
  color: $sbbColorBlack;
  background-color: $sbbColorWhite;
  border-bottom: 1px solid $sbbColorSilver;
}

button.sbb-header-menu-back {
  display: flex;
  padding-left: 8px;
  cursor: pointer;

  @include mq($from: tabletPortrait) {
    display: none;
  }

  > sbb-icon-chevron-small-left {
    width: 24px;
    height: 24px;

    ::ng-deep path {
      stroke: currentColor;
    }
  }

  &:hover,
  &:active,
  &:focus {
    color: $sbbColorRed125;
  }
}

:host > div.sbb-header-menu-title {
  padding-top: 15px;
  padding-left: 15px;
}

:host > div.sbb-header-menu-panel-container {
  height: calc(100% - #{$sbbHeaderMenuSectionHeight * 2});

  @include mq($from: tabletPortrait) {
    height: calc(100% - #{$sbbHeaderMenuSectionHeight});
  }

  .sbb-header-menu-panel {
    display: flex;
    flex-direction: column;
    padding: 15px;
    height: 100%;
    overflow-y: auto;

    & > ::ng-deep hr {
      display: none;
    }

    & > ::ng-deep a,
    & > ::ng-deep button {
      border-bottom: 1px solid $sbbColorCloud;
      padding-top: 8px;
      padding-bottom: 10px;
      color: $sbbColorIron;
      line-height: 20px;
      font-size: 15px;
      text-decoration: none;
      outline: 0;
      @include headerRightArrow();

      &.sbb-active,
      &:hover,
      &:active,
      &:focus {
        color: $sbbColorRed125;
      }
    }
  }
}

::ng-deep .cdk-overlay-container .sbb-header-menu-panel {
  @include panelBase();
  @include panelBelow();

  > a,
  > button {
    @include panelItems();
    line-height: 20px;
    font-size: 15px;
  }
}
