$tooltipBorderRadius:                            2;
$tooltipBorderWidth:                             2;
$tooltipIconsBorderWidth:                        1;          
$tooltipWidth:                                 460; 
$tooltipWidthMP:                               351;
$tooltipMinWidth:                               72;
$tooltipIconsSize:                              24;
$tooltipContentPadding:                         24;
$tooltipContentBelowMarginTop:                  16;
$tooltipBoxShadowColor:rgba(102, 102, 102, 0.15);
$tooltipShadowSize:                              8;
$tooltipContentArrowSize:                       20;
$tooltipShadowBorderWidth:                      14;