@mixin tooltipContent {
  border: toPx(2) solid $colorGrey;
  font-family: $fontSbbRoman;
  color:$colorGrey;
  font-size: toPx(15);
  letter-spacing: 0;
  line-height:toPx(23);
  border-radius: toPx(2) toPx(2) toPx(2) 0 0 0 toPx(2);
  text-align: left;
  width: toPx(460);
  min-height: toPx(72); 
  display:block;
  background-color: $colorWhite;
  .sbb-tooltip-content-body {
    padding-top: toPx(24);
    padding-left: toPx(24);
    padding-bottom: toPx(24);
    width: toPx(460 - 72);
  }

  @include mq($from: desktop4k) {
    /* font-size:;
    width:;
    height:;
    box-shadow:;
    border:; */
  }

  @include mq($from: desktop5k) {
    /* font-size:;
    width:;
    height:;
    box-shadow:;
    border:; */
  }
}

@mixin tooltipArrowBelow {
  .sbb-tooltip-content-below {
    box-shadow: 0 toPx(8) 0 0 rgba(102, 102, 102, 0.15);
    margin-top: toPx(16);
    margin-left: toPx(12);
    background: $colorWhite;
    border: toPx(2) solid $colorGrey;
  }
  .sbb-tooltip-content-below::after, .sbb-tooltip-content-below::before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: toPx(20);
    width: toPx(20);
    position: absolute;
    pointer-events: none;
    transform: rotate(-45deg) translate(-14px);
    background-color: $colorWhite;
    border-color: $colorGrey;
    border-width: 2px;
    border-bottom-color: $colorWhite;
    border-left-color: $colorWhite;
  }
  
}

@mixin tooltipArrowAbove {
  .sbb-tooltip-content-above {
    box-shadow: 0 toPx(8) 0 0 rgba(102, 102, 102, 0.15);
    margin-bottom: toPx(24);
    margin-left: toPx(12);
    background: $colorWhite;
    border: toPx(2) solid $colorGrey;
  }
  .sbb-tooltip-content-above::after, .sbb-tooltip-content-above::before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 20px;
    width: 20px;
    position: absolute;
    pointer-events: none;
    transform: rotate(45deg) translate(-14px);
    background-color: $colorWhite;
    border-color: $colorGrey;
    border-width: 2px;
    border-top-color: $colorWhite;
    border-left-color: $colorWhite;
    // box-shadow: 7px 7px 0px -3px rgba(102, 102, 102, 0.15);
    filter: drop-shadow(1px 1px 0 rgba(102, 102, 102, 0.15));

  }
  
  
}

@mixin tooltipIconClose {
  @include buttonResetFrameless();
  width: toPx(24);
  height: toPx(24);
  float: right;
  cursor: pointer;
  position: absolute;
  top: toPx(24);
  right: toPx(24);
  display: block;
  border-color: $colorGrey;
  border-width: pxToEm(1);
  border-style: solid;
  border-radius: 50%;
  background-color: $colorWhite;
  text-decoration: none;
  outline: 0;
  line-height: 1;
  fill: $colorGrey;
  > * {
    max-width: 100%;
    max-height: 100%;
  }

  @include mq($from: desktop4k) {

  }

  @include mq($from: desktop5k) {

    
  }
}

@mixin tooltipTrigger {
  @include buttonResetFrameless();
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin:auto;
  display:block;
  border-color: $colorGrey;
  border-width: pxToEm(1);
  border-style: solid;
  border-radius: 50%;
  background-color: $colorWhite;
  text-decoration: none;
  outline: 0;
  line-height: 1;
  fill: $colorGrey;
  > * {
    max-width: 100%;
    max-height: 100%;
  }

  &-active, &:hover, &:focus {
    fill: $colorRed100;
    border-color: $colorRed100;
  }

  @include mq($from: desktop4k) {

  }

  @include mq($from: desktop5k) {

    
  }
}

