@import '../../../../../angular/styles/common';

.sbb-variant-limitation {
  margin-bottom: 1rem;
}

.sbb-variant-limitation-title {
  text-transform: capitalize;
}

.sbb-variant-limitation-text {
  font-size: pxToRem(13);
  line-height: 1.5;

  html:not(.sbb-lean) & {
    @include mq($from: desktop4k) {
      font-size: pxToRem(20);
    }

    @include mq($from: desktop5k) {
      font-size: pxToRem(26);
    }
  }

  html.sbb-lean & {
    font-size: pxToRem($sizeFontDefault);
    line-height: pxToRem(23);
  }
}
