<sbb-field mode="long">
  <sbb-label>Favourite meal</sbb-label>
  <sbb-select placeholder="Favourite meal" [(ngModel)]="value" [disabled]="disabled">
    <sbb-option
      *ngFor="let food of ['Beefsteak', 'Pizza', 'Pasta']; first as isFirst"
      [disabled]="isFirst && optionDisabled"
      [value]="food"
    >
      {{ food }}
    </sbb-option>
  </sbb-select>
</sbb-field>
<h4>Properties</h4>
<pre>{{ value | json }}</pre>
<sbb-checkbox [(ngModel)]="disabled">Disabled</sbb-checkbox>
<sbb-checkbox [(ngModel)]="optionDisabled">First option disabled</sbb-checkbox>
