@import '../../../../../../angular/styles/common';

sbb-cdn-icon {
  width: 100px;
  min-height: 124px;
  margin-right: 20px;
  margin-bottom: 20px;
  display: inline-block;
}
.sbb-cdn-icon-filter-bar {
  margin-bottom: 30px;

  @include mq($from: desktop) {
    display: flex;

    sbb-form-field,
    div {
      flex: 1 0 0;
      margin-right: 15px;
    }

    div {
      align-self: center;
    }
  }
}
