@import 'https://unpkg.com/maplibre-gl@3.6.1/dist/maplibre-gl.css';

sbb-notification.api-key-info {
  margin-bottom: 30px;
}

.web-map {
  width: 100%;
  height: 500px;
  min-height: 500px;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.15);
}
