<h1>How to update</h1>

<p>
  Before updating make sure your Angular packages (@angular/...) are up to date. For example if you
  would like to update from version
  {{ libraryPredecessorMajorVersion }}.x.x to version {{ libraryMajorVersion }}.x.x of our SBB
  Angular packages (@sbb-esta/...), you would first need to update the Angular packages to version
  {{ libraryMajorVersion }}.x.x. See <a href="https://update.angular.io">update.angular.io</a> for a
  step-by-step guide for updating Angular. Don't forget to update @angular/cdk as well.
</p>
<p>
  To update the SBB Angular packages, use the <code>ng update</code> command.
  <code>ng update</code> will update all related packages and will automatically run update
  schematics which helps keeping up with breaking changes.
</p>
<pre
  style="user-select: all;"
>ng update<ng-container *ngIf="fullCommand.value"> @angular/core @angular/cli</ng-container> @angular/cdk @sbb-esta/angular-core</pre>
<sbb-checkbox [formControl]="fullCommand">Include @angular packages in update command</sbb-checkbox>
