<h1>How to update</h1>

<form class="sbb-form-group" [formGroup]="versionSelect">
  <sbb-form-field label="From">
    <sbb-select formControlName="from">
      <sbb-option *ngFor="let v of versions" [value]="v">{{ toVersionString(v) }}</sbb-option>
    </sbb-select>
  </sbb-form-field>

  <sbb-form-field label="To">
    <sbb-select formControlName="to">
      <sbb-option *ngFor="let v of versions" [value]="v">{{ toVersionString(v) }}</sbb-option>
    </sbb-select>
  </sbb-form-field>
</form>

<div *ngFor="let step of steps | async">
  <h2>Update from Version {{ toVersionString(step.from) }} to {{ toVersionString(step.to) }}</h2>
  <ol>
    <li *ngFor="let action of step.actions" [innerHTML]="action"></li>
  </ol>
</div>
