@import '../../../angular-core/styles/common';
@import '../sidebar';

$sbbSidebarMobileMenuBarHeight: 48px;

.sbb-sidebar-container {
  @include sbb-sidebar-container('.sbb-sidebar-backdrop, .sbb-sidebar-content');

  &.sbb-sidebar-after-header {
    top: $sbb-sidebar-after-header-top;
  }

  &.sbb-sidebar-container-has-open {
    overflow: hidden;
  }

  &.sbb-sidebar-container-mobile {
    padding-top: $sbbSidebarMobileMenuBarHeight;

    .sbb-sidebar-mobile-menu-bar,
    .sbb-sidebar-mobile-menu-bar-close-wrapper {
      display: flex;
    }

    sbb-sidebar {
      box-shadow: 4px 0 0 0 rgba(0, 0, 0, 0.15);
      border-right: 1px solid $sbbColorGranite;

      .sbb-sidebar-inner-container {
        padding-top: $sbbSidebarMobileMenuBarHeight;
      }
    }
  }
}

.sbb-sidebar-backdrop {
  @include sbb-fill();

  display: block;

  // Because of the new stacking context, the z-index stack is new and we can use our own
  // numbers.
  z-index: $sbb-sidebar-backdrop-z-index;

  // We use 'visibility: hidden | visible' because 'display: none' will not animate any
  // transitions, while visibility will interpolate transitions properly.
  // see https://developer.mozilla.org/en-US/docs/Web/CSS/visibility, the Interpolation
  // section.
  visibility: hidden;

  &.sbb-sidebar-shown {
    visibility: visible;
  }

  .sbb-sidebar-transition & {
    transition: {
      duration: $swift-ease-out-duration;
      timing-function: $swift-ease-out-timing-function;
      property: background-color, visibility;
    }
  }
}

.sbb-sidebar-content {
  @include sbb-sidebar-content;
}

.sbb-sidebar-transition .sbb-sidebar-content {
  @include sbb-sidebar-content-transition();
}

.sbb-sidebar {
  @include sbb-sidebar;
  width: 300px;
  transform: translate3d(-100%, 0, 0);
  border-right: 1px solid $sbbColorCloud;
  background-color: $sbbColorWhite;

  .sbb-sidebar-inner-container {
    @include sbb-sidebar-inner-container();
  }

  &.sbb-sidebar-side {
    z-index: $sbb-sidebar-side-sidebar-z-index;
  }

  .sbb-sidebar-inner-container {
    > sbb-expansion-panel,
    > fieldset {
      border: none;
      border-bottom: 1px solid $sbbColorCloud;

      + fieldset,
      + sbb-expansion-panel {
        margin-top: 12px;
      }

      + fieldset fieldset {
        margin-top: 0;
      }
    }
  }

  .sbb-expansion-panel-header {
    background-color: inherit;

    /**
     animate line below legend when collapsing.
     styles are copied from .sbb-expansion-panel-header
    */
    &::after {
      content: '';
      display: block;
      position: absolute;
      height: 0;
      width: calc(100% - 32px);
      bottom: 0;
      left: 16px;
      border-bottom: 1px solid transparent;
      transition: border-bottom $swift-ease-out-duration $swift-ease-out-timing-function;
    }
  }

  .sbb-sidebar-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 5px 16px 7px 15px;
    width: calc(100% + 16px);
    color: $sbbColorIron;
    text-decoration: none;
    line-height: 20px;

    .sbb-sidebar-link-label {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      flex: 1 1;
    }

    .sbb-sidebar-link-arrow {
      display: inline-flex;
      height: 24px;
      width: 24px;
    }

    &:hover,
    &:focus,
    &.sbb-sidebar-link-active {
      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 1px;
        height: 100%;
        left: 0;
        top: 0;
      }
    }

    &:hover,
    &:focus {
      color: $sbbColorRed125;
      background-color: $sbbColorMilk;

      &:after {
        background-color: $sbbColorRed125;
      }
    }

    &.sbb-sidebar-link-active {
      background-color: $sbbColorCloud;
      color: $sbbColorBlack;
      cursor: default;
      pointer-events: none;

      &:after {
        background-color: $sbbColorBlack;
      }
    }

    &:not(.sbb-sidebar-link-active) {
      outline: 0;
    }
  }
}

.sbb-sidebar-mobile-menu-bar,
.sbb-sidebar-mobile-menu-bar-close-wrapper {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.sbb-sidebar-mobile-menu-bar {
  border-bottom: 1px solid $sbbColorCloud;
}

.sbb-sidebar-mobile-menu-bar-trigger,
.sbb-sidebar-mobile-menu-bar-close {
  @include buttonResetFrameless();
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  width: 54px;
  height: $sbbSidebarMobileMenuBarHeight;
  cursor: pointer;
  outline: none;

  &:focus {
    color: $sbbColorRed125;
  }
}

.sbb-sidebar-mobile-menu-bar-close-wrapper {
  background-color: $sbbColorWhite;
  z-index: 1;
}
