<h4 class="sbbsc-block">Lightbox sharing data</h4>
<sbb-lightbox-showcase-example></sbb-lightbox-showcase-example>

<div role="presentation" class="sbbsc-separator"></div>

<h4 class="sbbsc-block">Lightbox with content loaded from Component</h4>
<sbb-lightbox-showcase-example-2></sbb-lightbox-showcase-example-2>

<div role="presentation" class="sbbsc-separator"></div>

<h4 class="sbbsc-block">Lightbox with content loaded from Template</h4>
<sbb-lightbox-showcase-example-3></sbb-lightbox-showcase-example-3>

<div role="presentation" class="sbbsc-separator"></div>

<h4 class="sbbsc-block">Alert Lightbox with confirmation button</h4>
<sbb-lightbox-showcase-example-4></sbb-lightbox-showcase-example-4>
<sbb-lightbox-showcase-example-5></sbb-lightbox-showcase-example-5>