.sbbsc-lightbox-example-icon-1,
.sbbsc-lightbox-example-icon-2 {
  height: 20px;
  vertical-align: middle;
}

.sbbsc-lightbox-example-icon-1 {
  width: 20px; 
}

.sbbsc-lightbox-example-icon-2 {
  width: 60px; 
  fill: #fff;
  background: #eb0000;
}

.sbbsc-lightbox-example-1-content {
  max-width: 400px;
  margin: auto;
}