<div class="container-fluid">
    <div class="row">
            <div class="col-lg-6 sbbsc-v-sep">
                <h4 class="sbbsc-block">Lightbox sharing data</h4>
                <sbb-lightbox-showcase-example></sbb-lightbox-showcase-example>
            </div>
            <div class="col-lg-6">
                <h4 class="sbbsc-block">Properties</h4>
           
                <div class="row">
                    <div class="col-2">
                        <div class="sbbsc-block">
                            <label for="InputData">Input data:</label>
                        </div>
                    </div>
                    <div class="col-10">
                        <div class="sbbsc-block">
                            <label for="OutputData">Va il model</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <div class="sbbsc-block">
                            <label for="InputData">Output data:</label>
                        </div>
                    </div>
                    <div class="col-10">
                        <div class="sbbsc-block">
                            <label for="OutputData">Va il model</label>
                        </div>
                    </div>
                </div>
            </div>
    </div>
  
    <div role="presentation" class="sbbsc-separator"></div>

    <div class="row">

            <div class="col-lg-6 sbbsc-v-sep">
                <h4 class="sbbsc-block">Lightbox from component</h4>
                <sbb-lightbox-showcase-example-2></sbb-lightbox-showcase-example-2>
            </div>
            <div class="col-lg-6">
                <h4 class="sbbsc-block">Description</h4>
        
                <div class="row">
        
                        <div class="col-12">
                                <div class="sbbsc-block">
                                    This lightbox open a new component to set an alignment of buttons in footer
                                </div>
                        </div>
                </div>
            </div>
    </div>

    <div role="presentation" class="sbbsc-separator"></div>

    <div class="row">

            <div class="col-lg-6 sbbsc-v-sep">
                <h4 class="sbbsc-block">Lightbox from template</h4>
                <sbb-lightbox-showcase-example-3></sbb-lightbox-showcase-example-3>
            </div>
            <div class="col-lg-6">
                <h4 class="sbbsc-block">Description</h4>
        
                <div class="row">
        
                        <div class="col-12">
                                <div class="sbbsc-block">
                                    This lightbox open a template that shows an angular guide
                                </div>
                        </div>
                </div>
            </div>
    </div>


</div>







