<div class="sbb-calendar-header">
  <div class="sbb-calendar-controls">
    <div class="sbb-calendar-controls-months">
      <button
        type="button"
        class="sbb-calendar-controls-left-arrow"
        [disabled]="!previousMonthEnabled()"
        (click)="previousMonthClicked()"
        i18n-aria-label="
           Button label to switch to the previous month@@sbbDatepickerSwitchToPreviousMonth
        "
        aria-label="Zum letzten Monat wechseln"
      >
        <sbb-icon-chevron-small-left
          class="sbb-calendar-controls-icon"
        ></sbb-icon-chevron-small-left>
      </button>
      <span
        class="sbb-calendar-controls-label"
        [attr.aria-label]="monthText"
        cdkAriaLive="polite"
        >{{ monthText }}</span
      >
      <button
        type="button"
        class="sbb-calendar-controls-right-arrow"
        [disabled]="!nextMonthEnabled()"
        (click)="nextMonthClicked()"
        i18n-aria-label="Button label to switch to the next month@@sbbDatepickerSwitchToNextMonth"
        aria-label="Zum nächsten Monat wechseln"
      >
        <sbb-icon-chevron-small-right
          class="sbb-calendar-controls-icon"
        ></sbb-icon-chevron-small-right>
      </button>
    </div>
    <div class="sbb-calendar-controls-years">
      <button
        type="button"
        class="sbb-calendar-controls-left-arrow"
        [disabled]="!previousYearEnabled()"
        (click)="previousYearClicked()"
        i18n-aria-label="
           Button label to switch to the previous year@@sbbDatepickerSwitchToPreviousYear
        "
        aria-label="Zum letzten Jahr wechseln"
      >
        <sbb-icon-chevron-small-left
          class="sbb-calendar-controls-icon"
        ></sbb-icon-chevron-small-left>
      </button>
      <span class="sbb-calendar-controls-label" [attr.aria-label]="yearText" cdkAriaLive="polite">{{
        yearText
      }}</span>
      <button
        type="button"
        class="sbb-calendar-controls-right-arrow"
        [disabled]="!nextYearEnabled()"
        (click)="nextYearClicked()"
        i18n-aria-label="Button label to switch to the next year@@sbbDatepickerSwitchToNextYear"
        aria-label="Zum nächsten Jahr wechseln"
      >
        <sbb-icon-chevron-small-right
          class="sbb-calendar-controls-icon"
        ></sbb-icon-chevron-small-right>
      </button>
    </div>
  </div>
</div>
