<p>Table with sortable content:</p>
<table
  sbbTable
  sbbSort
  (sbbSortChange)="sortData($event)"
  [dataSource]="dataSource"
  aria-describedby="sbb-table"
>
  <ng-container sbbColumnDef="letter">
    <th sbbHeaderCell sbbSortHeader="letter" *sbbHeaderCellDef id="letter">Letter</th>
    <td sbbCell *sbbCellDef="let element">{{ element.letter }}</td>
  </ng-container>

  <ng-container sbbColumnDef="number">
    <th sbbHeaderCell sbbSortHeader="number" *sbbHeaderCellDef id="number">Number</th>
    <td sbbCell *sbbCellDef="let element">{{ element.number }}</td>
  </ng-container>
  <ng-container sbbColumnDef="word">
    <th sbbHeaderCell sbbSortHeader="word" *sbbHeaderCellDef id="word">Word</th>
    <td sbbCell *sbbCellDef="let element">{{ element.word }}</td>
  </ng-container>
  <ng-container sbbColumnDef="date">
    <th sbbHeaderCell sbbSortHeader="date" *sbbHeaderCellDef id="date">Date</th>
    <td sbbCell *sbbCellDef="let element">{{ element.date | date }}</td>
  </ng-container>

  <tr sbbHeaderRow *sbbHeaderRowDef="displayedColumns"></tr>
  <tr sbbRow *sbbRowDef="let row; columns: displayedColumns"></tr>
</table>
