@import '../styles/common';

.sbb-notification-toast {
  display: flex;
  align-items: center;
  min-height: calc(#{pxToRem(51)} * var(--sbb-scaling-factor));
  border-radius: var(--sbb-border-radius);
  color: var(--sbb-color-white);
  background-color: var(--sbb-color-background);
  font-size: var(--sbb-font-size);
  padding-top: calc(#{pxToRem(12)} * var(--sbb-scaling-factor));
  padding-bottom: calc(#{pxToRem(12)} * var(--sbb-scaling-factor));
  margin: calc(#{pxToRem(20)} * var(--sbb-scaling-factor));

  .sbb-notification-toast-mobile & {
    margin: calc(#{pxToRem(8)} * var(--sbb-scaling-factor));
    max-width: 100%;
    min-width: 0;
    width: 100%;
  }
}

.sbb-notification-toast-mobile {
  width: 100%;
}

.sbb-notification-toast-error {
  background-color: var(--sbb-color-error);

  :is(&, & :is(a, button)) {
    color: var(--sbb-color-white);
  }
}

.sbb-notification-toast-success {
  border: var(--sbb-border-width-thin) solid var(--sbb-color-green);

  :is(&, & :is(a, button)) {
    color: var(--sbb-color-green);
  }
}

.sbb-notification-toast-info {
  border: var(--sbb-border-width-thin) solid var(--sbb-color-grey);

  :is(&, & :is(a, button)) {
    color: var(--sbb-color-grey);
  }
}

.sbb-notification-toast-warn {
  background-color: var(--sbb-color-orange);

  :is(&, & :is(a, button)) {
    color: var(--sbb-color-white);
  }
}

.sbb-notification-toast-content {
  margin-left: calc(#{pxToRem(8)} * var(--sbb-scaling-factor));
  margin-right: calc(#{pxToRem(24)} * var(--sbb-scaling-factor));
}

.sbb-notification-toast-icon-wrapper {
  min-width: var(--sbb-icon-size-default);
  width: var(--sbb-icon-size-default);
  height: var(--sbb-icon-size-default);
  margin-left: calc(#{pxToRem(16)} * var(--sbb-scaling-factor));
  border: none;
  background: none;
  padding: 0;
  align-self: flex-start;
}

.sbb-notification-toast-icon-close-wrapper {
  cursor: pointer;
  margin-left: auto;
  margin-right: calc(#{pxToRem(22)} * var(--sbb-scaling-factor));
}
