@use '@sbb-esta/angular' as sbb;

.sbb-notification-toast {
  display: flex;
  min-height: calc(#{sbb.pxToRem(48)} * var(--sbb-scaling-factor));
  border-radius: var(--sbb-border-radius);
  color: var(--sbb-color-white);
  background-color: var(--sbb-color-background);
  font-size: var(--sbb-font-size);
  line-height: var(--sbb-line-height);
  padding-top: calc(#{sbb.pxToRem(12)} * var(--sbb-scaling-factor) - var(--sbb-border-width-thin));
  padding-bottom: calc(
    #{sbb.pxToRem(12)} * var(--sbb-scaling-factor) - var(--sbb-border-width-thin) - var(
        --sbb-line-height
      ) + var(--sbb-icon-size-default)
  );
  margin: calc(#{sbb.pxToRem(20)} * var(--sbb-scaling-factor));

  :where(html.sbb-lean) & {
    padding-bottom: calc(
      #{sbb.pxToRem(12)} * var(--sbb-scaling-factor) - var(--sbb-border-width-thin)
    );
  }

  .sbb-notification-toast-mobile & {
    margin: calc(#{sbb.pxToRem(8)} * var(--sbb-scaling-factor));
    max-width: 100%;
    min-width: 0;
    width: 100%;
  }
}

.sbb-notification-toast-mobile {
  width: 100%;
}

.sbb-notification-toast-error {
  border: var(--sbb-border-width-thin) solid var(--sbb-notification-border-color-error);
  background-color: var(--sbb-notification-background-color-error);

  :is(&, & :is(a, button)) {
    color: var(--sbb-notification-label-color-error);
  }
}

.sbb-notification-toast-success {
  border: var(--sbb-border-width-thin) solid var(--sbb-notification-border-color-success);
  background-color: var(--sbb-notification-background-color-success);
  :is(&, & :is(a, button)) {
    color: var(--sbb-notification-label-color-success);
  }
}

.sbb-notification-toast-info {
  border: var(--sbb-border-width-thin) solid var(--sbb-notification-border-color-information);
  background-color: var(--sbb-notification-background-color-information);

  :is(&, & :is(a, button)) {
    color: var(--sbb-notification-label-color-information);
  }
}

.sbb-notification-toast-warn {
  border: var(--sbb-border-width-thin) solid var(--sbb-notification-border-color-warn);
  background-color: var(--sbb-notification-background-color-warn);

  :is(&, & :is(a, button)) {
    color: var(--sbb-notification-label-color-warn);
  }
}

.sbb-notification-toast-content {
  margin-left: calc(#{sbb.pxToRem(8)} * var(--sbb-scaling-factor));
  margin-right: calc(#{sbb.pxToRem(24)} * var(--sbb-scaling-factor));
}

.sbb-notification-toast-icon-wrapper {
  min-width: var(--sbb-icon-size-default);
  width: var(--sbb-icon-size-default);
  height: var(--sbb-icon-size-default);
  margin-left: calc(#{sbb.pxToRem(16)} * var(--sbb-scaling-factor));
  border: none;
  background: none;
  padding: 0;
  align-self: flex-start;
}

.sbb-notification-toast-icon-close-wrapper {
  cursor: pointer;
  margin-left: auto;
  margin-right: calc(#{sbb.pxToRem(22)} * var(--sbb-scaling-factor));
}
