@import '../styles/common';

.sbb-notification-toast {
  display: flex;
  align-items: center;
  min-height: pxToRem(51);
  border-radius: var(--sbb-border-radius);
  color: var(--sbb-color-white);
  background-color: var(--sbb-color-background);
  font-size: var(--sbb-font-size);
  padding-top: pxToRem(12);
  padding-bottom: pxToRem(12);
  margin: pxToRem(20);
}

.sbb-notification-toast-error {
  background-color: var(--sbb-color-error);

  :is(&, & :is(a, button)) {
    color: var(--sbb-color-white);
  }
}

.sbb-notification-toast-success {
  border: var(--sbb-border-width-thin) solid var(--sbb-color-green);

  :is(&, & :is(a, button)) {
    color: var(--sbb-color-green);
  }
}

.sbb-notification-toast-info {
  border: var(--sbb-border-width-thin) solid var(--sbb-color-granite);

  :is(&, & :is(a, button)) {
    color: var(--sbb-color-granite);
  }
}

.sbb-notification-toast-warn {
  background-color: var(--sbb-color-orange);

  :is(&, & :is(a, button)) {
    color: var(--sbb-color-white);
  }
}

.sbb-notification-toast-content {
  margin-left: pxToRem(8);
  margin-right: pxToRem(24);
}

.sbb-notification-toast-icon-wrapper {
  min-width: var(--sbb-icon-size-default);
  width: var(--sbb-icon-size-default);
  height: var(--sbb-icon-size-default);
  margin-left: pxToRem(16);
  border: none;
  background: none;
  padding: 0;
  align-self: flex-start;
}

.sbb-notification-toast-icon-close-wrapper {
  cursor: pointer;
  margin-left: auto;
  margin-right: pxToRem(22);
}

.sbb-notification-toast-mobile {
  width: 100%;

  .sbb-notification-toast {
    margin: pxToRem(8);
    max-width: 100%;
    min-width: 0;
    width: 100%;
  }
}
