@mixin selectBase {
  .sbb-select-trigger {
    @include inputfields;
    display: flex;
    align-items: center;
    padding-right: 12px;

    &[aria-expanded="true"] {
      @include autocompleteInputActive();

      &.sbb-select-input-above {
        @include autocompleteInputActive($mode: reverse);
      }
    }

    .sbb-select-value {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .sbb-select-arrow-wrapper {
      width: toPx($selectArrowWidthHeight);
      height: toPx($selectArrowWidthHeight);
      fill: $colorGrey;

      @include mq($from: desktop4k) {
        width: toPx($selectArrowWidthHeight * $scalingFactor4k);
        height: toPx($selectArrowWidthHeight * $scalingFactor4k);
      }

      @include mq($from: desktop5k) {
        width: toPx($selectArrowWidthHeight * $scalingFactor5k);
        height: toPx($selectArrowWidthHeight * $scalingFactor5k);
      }

      &-rotate {
        transform: rotate(180deg);
      }
    }
  }
}

@mixin selectPanelBase {
  overflow: overlay;
  max-height: toPx($selectMaxWidth);

  @include mq($from: desktop4k) {
    max-height: toPx($selectMaxWidth * $scalingFactor4k);
  }

  @include mq($from: desktop5k) {
    max-height: toPx($selectMaxWidth * $scalingFactor5k);
  }
}
