@mixin selectBase {
  .sbb-select-trigger {
    @include inputfields;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-right: 12px;

    &[aria-expanded="true"] {
      @include autocompleteInputActive();

      &.sbb-select-input-above {
        @include autocompleteInputActive($mode: reverse);
      }
    }

    &.sbb-select-disabled {
      cursor: default;
      background-color: $colorBlack5;
      border-color: $colorBlack20;
    }

    .sbb-select-value {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .sbb-select-arrow-wrapper {
      width: toPx($selectArrowWidthHeight);
      height: toPx($selectArrowWidthHeight);
      fill: $colorGrey;

      @include mq($from: desktop4k) {
        width: toPx($selectArrowWidthHeight * $scalingFactor4k);
        height: toPx($selectArrowWidthHeight * $scalingFactor4k);
      }

      @include mq($from: desktop5k) {
        width: toPx($selectArrowWidthHeight * $scalingFactor5k);
        height: toPx($selectArrowWidthHeight * $scalingFactor5k);
      }

      &-rotate {
        transform: rotate(180deg);
      }
    }
  }
}

@mixin selectContentBase {
  max-height: toPx($selectMaxWidth);

  @include mq($from: desktop4k) {
    max-height: toPx($selectMaxWidth * $scalingFactor4k);
  }

  @include mq($from: desktop5k) {
    max-height: toPx($selectMaxWidth * $scalingFactor5k);
  }
}

@mixin nativeSelectBase {
  @include inputfields;
  cursor: pointer;
  align-items: center;
  width: 100%;
  &:disabled {
    cursor: default;

  }
  background: url($selectNativeBackground) 97.5% no-repeat;
  background-size: toPx($selectArrowWidthHeight);
  @include mq($from: desktop4k) {
    background-size: toPx($selectArrowWidthHeight * $scalingFactor4k);
    background-position-x: 96%;
  }

  @include mq($from: desktop5k) {
    background-size: toPx($selectArrowWidthHeight * $scalingFactor5k);
    background-position-x: 94%;
  }
}
