@use "./../../style/colors" as c;
@use 'node_modules/@sbb-esta/angular/styles' as esta;

.teaser-container {
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: auto;
  padding: 1rem;
  background-color: c.$white;
  box-shadow: -5px 0px 5px -5px rgba(0, 0, 0, .15);

  .close {
    z-index: 101;
    position: absolute;
    top: 5px;
    right: 5px;
    height: 24px;
    width: 24px;
    cursor: pointer;
    background: none;
    padding: 0;
    border: none;
    background-color: c.$darkgray;
    mask: url("./../../assets/circle-cross-small.svg") center no-repeat;
  }

  width: 100%;
  @include esta.mq($from: tabletPortrait) {
    width: 20rem;
  }

  rokas-overlay-paginator {
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    z-index: 100;
  }
}
