.sbb-icon {
  background-repeat: no-repeat;
  display: inline-block;

  // If any ancestor has .sbb-icon-fit as a class, this rule will be applied.
  .sbb-icon-fit &,
  .sbb-icon-fit & svg,
  &.sbb-icon-fit,
  &.sbb-icon-fit svg {
    width: 100%;
    height: 100%;
  }

  &:not(.sbb-icon-namespace-fpl) {
    [fill]:not([fill='none']) {
      fill: currentColor;
    }

    [stroke]:not([stroke='none']) {
      stroke: currentColor;
    }
  }

  &.sbb-icon-inline {
    font-size: inherit;
    height: inherit;
    line-height: inherit;
    width: inherit;
  }
}
