// The width/height of the icon element.
$sbb-icon-size: 24px !default;

.sbb-icon {
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: $sbb-icon-size;
  width: $sbb-icon-size;

  &.sbb-icon-inline {
    font-size: inherit;
    height: inherit;
    line-height: inherit;
    width: inherit;
  }
}

// Icons that will be mirrored in RTL.
[dir='rtl'] .sbb-icon-rtl-mirror {
  transform: scale(-1, 1);
}

.sbb-form-field:not(.sbb-form-field-appearance-legacy) {
  .sbb-form-field-prefix,
  .sbb-form-field-suffix {
    .sbb-icon {
      display: block;
    }

    .sbb-icon-button .sbb-icon {
      margin: auto;
    }
  }
}
