// Form Styles
// ----------------------------------------------------------------------------------------------------
@mixin inputfields {
  @include ellipsis;
  @include placeholder($colorBlack40);
  @include disabledinputfields;
  @include inputFieldPadding();

  outline: none;
  background: $colorWhite;
  border: 2px solid $colorBlack72;
  border-radius: 2px;
  color: $colorGrey;
  line-height: 1.5;
  font-size: pxToRem($sizeFontDefault);
  -webkit-appearance: none;

  &::-ms-clear {
    display: none;
  }

  @include mq($from: desktop4k) {
    border-width: toPx(2 * $scalingFactor4k);
    border-radius: toPx(2 * $scalingFactor4k);
    font-size: toPx($sizeFontDefault4k);
  }

  @include mq($from: desktop5k) {
    border-width: toPx(2 * $scalingFactor5k);
    border-radius: toPx(2 * $scalingFactor5k);
    font-size: pxToRem($sizeFontDefault5k);
  }

  &:focus {
    border-color: $colorGrey;
  }

  &.ng-dirty.ng-invalid {
    color: $colorError;
    border-color: $colorError;
  }
}

@mixin inputFieldPadding() {
  padding: 10px 14px 12px;

  @include mq($from: desktop4k) {
    padding: toPx(10 * $scalingFactor4k) toPx(14 * $scalingFactor4k)
      toPx(12 * $scalingFactor4k);
  }

  @include mq($from: desktop5k) {
    padding: toPx(10 * $scalingFactor5k) toPx(14 * $scalingFactor5k)
      toPx(12 * $scalingFactor5k);
  }
}

@mixin disabledinputfields {
  &:disabled {
    background-color: $colorBlack5;
    border-color: $colorBlack20;
  }
}

@mixin formlabel {
  color: $colorGrey;
  font-size: pxToEm(13);
}

@mixin label {
  letter-spacing: 0;
  outline: 0px;
  resize: none;
  background-color: transparent;
  font-family: $fontSbbRoman;
  font-size: pxToRem(13);
  color: $colorGrey;
  line-height: pxToRem(16);
  display: block;

  @include mq($from: desktop4k) {
    font-size: pxToRem(13 * $scalingFactor4k);
  }

  @include mq($from: desktop5k) {
    font-size: pxToRem(13 * $scalingFactor5k);
  }
}

@mixin sbbLabel {
  margin-bottom: pxToEm(5, 13);
  padding-left: pxToEm(10, 13);

  @include mq($from: desktop4k) {
    margin-bottom: pxToEm(5 * $scalingFactor4k, 13);
  }

  @include mq($from: desktop5k) {
    margin-bottom: pxToEm(5 * $scalingFactor5k, 13);
  }

  @include label;
}

@mixin inputMode($mode) {
  @if $mode == short {
    @include inputShort();
  } @else if $mode == medium {
    @include inputMedium();
  } @else if $mode == long {
    @include inputLong();
  }
}

@mixin inputShort {
  width: 33.333%;

  @include mq($from: mobileLandscape) {
    width: 25%;
  }

  @include mq($from: desktop) {
    width: 16.66666%;
  }
}

@mixin inputMedium {
  width: 100%;

  @include mq($from: tabletPortrait) {
    width: 50%;
  }
}

@mixin inputLong {
  width: 100%;
}
