@import '../angular/styles/typography';
@import 'highlight.js/styles/github';

html,
body {
  height: 100%;
  overflow-x: hidden;
}

sbb-markdown-viewer,
sbb-component-viewer,
sbb-how-to-update {
  pre {
    background-color: #efefef;
    padding: 1rem 1.5rem;
    white-space: pre-wrap;
  }
}

sbb-introduction,
sbb-how-to-update {
  display: block;
  padding: 0 1.5rem;

  h1 {
    margin-top: 1rem !important;
    color: #eb0000;
  }

  p {
    max-width: pxToEm(700);
  }
}

code {
  background-color: #efefef;
  padding: 3px;
}

pre code {
  padding: 0;
}

.content h4 {
  margin-bottom: 0.5rem;
}

.docs-api {
  .docs-api-h3 {
    padding-bottom: 0.3em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }

  .docs-api-h4 code {
    font-size: 150%;
  }

  .docs-api-deprecated-marker {
    font-style: italic;

    &:before {
      content: '\26A0';
    }
  }

  .docs-api-class-deprecated-marker,
  .docs-api-interface-deprecated-marker,
  .docs-api-constant-deprecated-marker,
  .docs-api-type-alias-deprecated-marker {
    padding: 10px;
    margin: 5px 0;
    background-color: #efefef;

    &:before {
      content: '\26A0';
    }
  }

  .docs-api-class-selector-name {
    background-color: #efefef;
    padding: 3px;
  }

  .docs-api-module-import code {
    font-size: large;
    padding: 5px;
  }

  table {
    width: 100%;

    &.docs-api-method-table th {
      text-align: left;
    }
  }

  .docs-api-properties-name-cell {
    .docs-api-input-marker,
    .docs-api-output-marker {
      font-size: 80%;
    }

    .docs-api-property-name {
      margin-top: 0;

      code {
        background-color: transparent;
      }
    }
  }
}
