<form class="example-form">
  <sbb-form-field class="sbb-form-field-long">
    <sbb-label>Email</sbb-label>
    <input
      type="email"
      sbbInput
      [formControl]="emailFormControl"
      placeholder="Ex. pat@example.com"
    />
    @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
      <sbb-error> Please enter a valid email address </sbb-error>
    }
    @if (emailFormControl.hasError('required')) {
      <sbb-error> Email is <strong>required</strong> </sbb-error>
    }
  </sbb-form-field>
</form>
