<form class="example-form">
  <sbb-form-field class="sbb-form-field-long">
    <sbb-label>Email</sbb-label>
    <input
      type="email"
      sbbInput
      [formControl]="emailFormControl"
      placeholder="Ex. pat@example.com"
    />
    <sbb-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </sbb-error>
    <sbb-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </sbb-error>
  </sbb-form-field>
</form>
