<div>
  <sbb-field mode="long">
    <sbb-label>Lieblingsessen</sbb-label>
    <sbb-select placeholder="Lieblingsessen" [(ngModel)]="value" [disabled]="disabled">
      <sbb-option
        *ngFor="let food of ['Beefsteak', 'Pizza', 'Nudeln']; first as isFirst"
        [disabled]="isFirst && optionDisabled"
        [value]="food"
      >
        {{ food }}
      </sbb-option>
    </sbb-select>
  </sbb-field>
</div>
<div>
  <h4>Properties</h4>
  <pre>{{ value | json }}</pre>
  <sbb-checkbox [(ngModel)]="disabled">disabled</sbb-checkbox>
  <sbb-checkbox [(ngModel)]="optionDisabled">first option disabled</sbb-checkbox>
</div>
