<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <p>Standard table with column grouping:</p>
      <div class="row">
        <div class="col-12">
          <sbb-table-showcase-1></sbb-table-showcase-1>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>Grouped table:</p>
      <div class="row">
        <div class="col-12">
          <sbb-table-showcase-2></sbb-table-showcase-2>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>Table with sorting:</p>
      <div class="row">
        <div class="col-12">
          <sbb-table-showcase-3></sbb-table-showcase-3>
        </div>
      </div>
    </div>
  </div>
</div>
