@import '../../../../../../sbb-esta/angular-core/styles/common/functions';
@import '../../../../../../sbb-esta/angular-core/styles/common/mixins';

@mixin svgIconColor2Paths($fillColor1, $strokeColor1, $fillColor2, $strokeColor2) {
  &.sbb-svg-icon {
    & > g > :first-child path {
      stroke: $strokeColor1;
      fill: $fillColor1;
    }

    & > g > :nth-child(2) path {
      stroke: $strokeColor2;
      fill: $fillColor2;
    }
  }
}

:host {
  p {
    display: grid;
    grid-template-columns: 1fr;
  }

  sbb-table {
    th,
    td {
      min-width: pxToRem(200px);
    }

    th {
      text-align: left;
    }
  }
}

:host ::ng-deep {
  svg.sbb-status-grey-eye {
    @include svgIconColors($sbbColorGreyMedium, $sbbColorWhite);
    @include svgIconBackground($sbbColorGreyMedium, pxToRem(2px));
  }

  svg.sbb-status-eye {
    @include svgIconColors($sbbColorSky, $sbbColorBlue);
  }

  svg.sbb-status-grinning {
    @include svgIconColors($sbbColorLemon, $sbbColorBlack);
  }

  svg.sbb-status-heart {
    @include svgIconColors($sbbColorRed150, $sbbColorViolet);

    &.sbb-svg-icon {
      & > path {
        stroke-width: 2;
        fill-opacity: 0.7;
      }
    }
  }

  svg.sbb-status-trainstation {
    @include svgIconColors(none, $sbbColorWhite);
    @include svgIconBackground($sbbColorRed, pxToRem(2px));
  }

  svg.sbb-icon-status-question {
    @include svgIconColor2Paths(none, $sbbColorBlack, $sbbColorBlack, none);
    @include svgIconBackground($sbbColorOrange, pxToRem(2px));
  }

  svg.sbb-status-happy {
    @include svgIconColors($sbbColorLemon, $sbbColorBlack);
  }
}
