<h3>Status with type</h3>
<p>
  <sbb-status type="valid" [message]="'valid type'"></sbb-status>
  <sbb-status type="invalid" [message]="'invalid type'"></sbb-status>
  <sbb-status type="warning" [message]="'warning type'"></sbb-status>
</p>

<h3>Status with content tag</h3>
<p>
  <sbb-status [message]="'view details'">
    <sbb-icon-eye [svgClass]="'sbb-status-grey-eye'"></sbb-icon-eye>
  </sbb-status>
</p>

<h3>Status Bubble</h3>
<p>
  <sbb-status>
    <sbb-icon-eye [svgClass]="'sbb-status-eye'"></sbb-icon-eye>
  </sbb-status>
  <sbb-status>
    <sbb-icon-face-grinning [svgClass]="'sbb-status-grinning'"></sbb-icon-face-grinning>
  </sbb-status>
  <sbb-status>
    <sbb-icon-heart [svgClass]="'sbb-status-heart'"></sbb-icon-heart>
  </sbb-status>
</p>

<h3>Status Extended</h3>
<p>
  <sbb-status [message]="'question'">
    <sbb-icon-circle-question-mark
      [svgClass]="'sbb-icon-status-question'"
    ></sbb-icon-circle-question-mark>
  </sbb-status>
  <sbb-status [message]="'stops'">
    <sbb-icon-train-station [svgClass]="'sbb-status-trainstation'"></sbb-icon-train-station>
  </sbb-status>
  <sbb-status type="valid" [message]="'ok'"></sbb-status>
</p>

<h3>Status with tooltip</h3>
<p>
  <sbb-status [tooltipText]="'hearty'">
    <sbb-icon-heart [svgClass]="'sbb-status-heart'"></sbb-icon-heart>
  </sbb-status>
  <sbb-status [message]="'I\'m happy'" [tooltipText]="'happy status'">
    <sbb-icon-face-grinning [svgClass]="'sbb-status-grinning'"></sbb-icon-face-grinning>
  </sbb-status>
  <sbb-status
    [message]="'tooltip with open/close delay of 1 seconds'"
    [sbbTooltip]="'coffee time'"
    [tooltipOpenDelay]="1000"
    [tooltipCloseDelay]="1000"
    [tooltipPosition]="leftTooltipPosition"
  >
    <sbb-icon-mug-hot></sbb-icon-mug-hot>
  </sbb-status>
</p>

<h3>Status with custom tooltip</h3>
<p>
  <sbb-status
    type="valid"
    [sbbTooltip]="template"
    [tooltipPosition]="leftTooltipPosition"
    [message]="'custom tooltip template'"
  ></sbb-status>
  <sbb-status
    type="valid"
    [sbbTooltip]="defaultTemplate"
    [tooltipPosition]="leftTooltipPosition"
    [message]="'use DefaultTooltipComponent as templateRef'"
  ></sbb-status>
</p>

<ng-template #template>
  <div class="sbb-tooltip-template">
    <sbb-status [message]="'ok status in tooltip'" type="valid"></sbb-status>
  </div>
</ng-template>
<ng-template #defaultTemplate>
  <sbb-default-tooltip text="tooltip message"> </sbb-default-tooltip>
</ng-template>

<h3>Status Extended used in table</h3>
<sbb-table tableId="statusTableId" [pinMode]="'off'">
  <thead>
    <tr>
      <th scope="col">text</th>
      <th scope="col">status</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td [ngClass]="rowAlignment">valid status row</td>
      <td>
        <sbb-status [message]="'valid'" [sbbTooltip]="'valid status'" type="valid"></sbb-status>
      </td>
    </tr>

    <tr>
      <td [ngClass]="rowAlignment">warning status row</td>
      <td>
        <sbb-status
          [message]="'warning'"
          [sbbTooltip]="'warning status'"
          type="warning"
        ></sbb-status>
      </td>
    </tr>

    <tr>
      <td [ngClass]="rowAlignment">error status row</td>
      <td>
        <sbb-status
          [message]="'invalid'"
          [sbbTooltip]="'invalid status'"
          type="invalid"
        ></sbb-status>
      </td>
    </tr>

    <tr>
      <td [ngClass]="rowAlignment">happy face row</td>
      <td>
        <sbb-status [message]="'happy'" [sbbTooltip]="smileTemplate">
          <sbb-icon-face-smiling [svgClass]="'sbb-status-happy'"></sbb-icon-face-smiling>
        </sbb-status>
      </td>
    </tr>
  </tbody>
</sbb-table>

<ng-template #smileTemplate>
  <div class="sbb-tooltip-template">
    <sbb-status [message]="'happy'">
      <sbb-icon-face-smiling></sbb-icon-face-smiling>
    </sbb-status>
  </div>
</ng-template>
