@import '../../../angular-core/styles/common';

:host.sbb-textexpand {
  @if $sbbBusiness {
    color: $sbbColorBlack;
    font-size: pxToRem($sizeFontDefault);
  } @else {
    $fontSizeTextexpand: 13;

    color: $sbbColorMetal;
    letter-spacing: 0;
    line-height: 1.538;
    font-size: pxToRem($fontSizeTextexpand);

    @include mq($from: desktop4k) {
      font-size: pxToRem($fontSizeTextexpand * $scalingFactor4k);
    }

    @include mq($from: desktop5k) {
      font-size: pxToRem($fontSizeTextexpand * $scalingFactor5k);
    }
  }

  .sbb-textexpand-button {
    @include buttonResetFrameless();

    color: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    font-size: inherit;

    &:focus,
    &:hover {
      cursor: pointer;
      @if $sbbBusiness {
        color: $sbbColorCallToActionHover;
      } @else {
        color: $sbbColorRed;
      }
    }

    &-label {
      text-decoration: underline;
    }
  }
}
