
$sizeFontBase: 15px;
$sizeLineHeightBase: 1.7;

/**
 * Font Families
 */
$fontFamilyBase: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$fontSbbRoman: 'SBBWeb Roman', $fontFamilyBase;
$fontSbbBold: 'SBBWeb Bold', $fontFamilyBase;
$fontSbbUltralight: 'SBBWeb Ultralight', $fontFamilyBase;
$fontSbbLight: 'SBBWeb Light', $fontFamilyBase;
$fontSbbThin: 'SBBWeb Thin', $fontFamilyBase;

$sbbColorWhite: #FFFFFF;
$sbbColorBlack: #000000;

$sbbColorBg: $sbbColorWhite;
$sbbColorText: $sbbColorBlack;

html {
  background: $sbbColorBg;
  color: $sbbColorText;
  font-family: $fontSbbRoman;
  font-size: $sizeFontBase / 16px * 100%;
  line-height: $sizeLineHeightBase;

  @include fontSmoothing;

  b,
  strong,
  optgroup[label="*"] {
    font-family: $fontSbbBold;
    font-weight: normal;
  }
}

a {
  @include standardLink;
}

.clearfix {
  @include clearfix;
}