<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h4 class="sbbsc-block">Basic Example</h4>
      <sbb-textexpand>
        <sbb-textexpand-collapsed
          >Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
          invidunt ut labore et dolore magna aliquyam erat,&nbsp;</sbb-textexpand-collapsed
        >
        <sbb-textexpand-expanded
          >Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
          invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
          accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
          sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
          elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
          diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
          gubergren, no sea takimata sanctus est.&nbsp;</sbb-textexpand-expanded
        >
      </sbb-textexpand>
    </div>
  </div>
</div>
