@import '../../../core/styles/common';

$chip-close-button-size: 24;
$chip-close-icon-size: 24;
$chip-left-padding: 14;
$chip-right-padding: 8;
$chip-vertical-padding: 3;
$chip-border-radius: 15;
$chip-height: 30;
$chip-min-width: 75;

:host {
  height: pxToEm($chip-height);
  max-width: 100%;
  min-width: pxToEm($chip-min-width);
  display: inline-flex;
  border-radius: pxToEm($chip-border-radius);
  background-color: $sbbColorCloud;
  padding: pxToEm($chip-vertical-padding) pxToEm($chip-right-padding) pxToEm($chip-vertical-padding)
    pxToEm($chip-left-padding);

  .sbb-chip-label {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .sbb-chip-close-btn {
    @include buttonResetFrameless();
    @include svgIconColor($sbbColorGrey);

    margin-left: 8px;
    min-width: pxToEm($chip-close-button-size);
    min-height: pxToEm($chip-close-button-size);
    width: pxToEm($chip-close-button-size);
    height: pxToEm($chip-close-button-size);

    svg {
      @include absoluteCenterXY();
      width: pxToEm($chip-close-icon-size);
      height: pxToEm($chip-close-icon-size);
    }

    &:hover,
    &:focus {
      @include svgIconColor($sbbColorRed125);
      cursor: pointer;
    }
  }

  &.sbb-chip-disabled {
    opacity: 0.4;
    min-width: pxToEm(45);
    padding: pxToEm($chip-vertical-padding) pxToEm($chip-left-padding)
      pxToEm($chip-vertical-padding) pxToEm($chip-left-padding);
    @include svgIconColor($sbbColorIron);
  }

  &.sbb-chip-active {
    &:hover,
    &:focus {
      background-color: $sbbColorAluminum;
      cursor: pointer;
    }

    &:active {
      background-color: $sbbColorAluminum;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    }
  }
}
