@import '../common/colors';
@import '../common/functions';
@import '../common/mediaqueries';

$tableBg: $sbbColorWhite;
$tableTheadBgColor: $sbbColorCloud;
$tableTbodyStripesBgColor: $sbbColorMilk;
$tableTheadPadding: pxToEm(16);
$tableTbodyPadding: pxToEm(16);
$tableTheadCellPaddingMobile: pxToEm(29) pxToEm(12) pxToEm(30) pxToEm(12);
$tableTheadCellPadding: pxToEm(29) pxToEm(16) pxToEm(30) pxToEm(16);
$tableTbodyCellPaddingMobile: pxToEm(18) pxToEm(12) pxToEm(19) pxToEm(12);
$tableTbodyCellPadding: pxToEm(18) pxToEm(16) pxToEm(19) pxToEm(16);
$tableCaptionColor: $sbbColorGrey;

@mixin tableCaption() {
  font-size: pxToEm(13);
  color: $tableCaptionColor;
}

@mixin table {
  border-spacing: 0;
  background-color: $tableBg;
  padding-bottom: pxToEm(16);

  @include mq($from: desktop4k) {
    font-size: toEm(1 * $scalingFactor4k);
  }

  @include mq($from: desktop5k) {
    font-size: toEm(1 * $scalingFactor5k);
  }

  thead {
    background-color: $tableTheadBgColor;

    > tr {
      th,
      td {
        padding: $tableTheadCellPaddingMobile;

        @include mq($from: tabletPortrait) {
          padding: $tableTheadCellPadding;

          &:first-child {
            border-left: $tableTheadPadding solid $tableTheadBgColor;
          }

          &:last-child {
            border-right: $tableTheadPadding solid $tableTheadBgColor;
          }
        }
      }
    }
  }

  tbody {
    > tr {
      &:nth-child(even) {
        background-color: $tableTbodyStripesBgColor;
      }

      th,
      td {
        padding: $tableTbodyCellPaddingMobile;

        @include mq($from: tabletPortrait) {
          padding: $tableTbodyCellPadding;

          &:first-child {
            border-left: $tableTheadPadding solid $tableBg;
          }

          &:last-child {
            border-right: $tableTheadPadding solid $tableBg;
          }
        }
      }
    }
  }

  thead,
  tbody,
  tfoot {
    > tr {
      th,
      td {
        &:first-child {
          &::after {
            opacity: 0;
            transition: all 0.2s ease-in;
            content: '';
            position: absolute;
            width: pxToEm(8);
            height: 100%;
            top: 0;
            right: 0;
            transform: translateX(100%);
          }
        }
      }
    }
  }

  caption {
    @include tableCaption();
  }

  &-align-center {
    text-align: center;
  }

  &-align-left {
    text-align: left;

    /* th in IE11 won't inherit text-align: we apply it through selector */
    thead,
    tbody {
      > tr {
        th {
          text-align: left;
        }
      }
    }
  }

  &-align-right {
    text-align: right;

    /* th in IE11 won't inherit text-align: we apply it through selector */
    thead,
    tbody {
      > tr {
        th {
          text-align: right;
        }
      }
    }
  }
}

@mixin sbbTable() {
  .sbb-table {
    @include table();
  }
}
