<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 sbbsc-v-sep">
      <h4 class="sbbsc-block">Simple Datepicker</h4>
      <sbb-field label="Datepicker" mode="long">
        <sbb-datepicker
          [arrows]="arrows"
          [toggle]="toggle"
          (closed)="closedEvent()"
          (opened)="openedEvent()"
        >
          <input
            type="text"
            sbbDateInput
            [formControl]="laData"
            [min]="minDate"
            [max]="maxDate"
            (dateChange)="dateChangeEvent($event)"
            (dateInput)="dateInputEvent($event)"
          />
        </sbb-datepicker>
      </sbb-field>
    </div>
    <div class="col-lg-6">
      <h4 class="sbbsc-block">Properties</h4>
      <p>
        <sbb-checkbox [(ngModel)]="arrows">Arrows</sbb-checkbox>
        <sbb-checkbox [(ngModel)]="toggle">Toggle</sbb-checkbox>
        <sbb-checkbox [(ngModel)]="disabled" (change)="onDisabled()">Disabled</sbb-checkbox>
      </p>

      <sbb-field mode="medium" class="sbbsc-medium-field">
        <sbb-label for="minDate">Min Date</sbb-label>
        <sbb-datepicker arrows>
          <input type="text" sbbDateInput [(ngModel)]="minDate" />
        </sbb-datepicker>
      </sbb-field>

      <sbb-field mode="medium" class="sbbsc-medium-field">
        <sbb-label for="maxDate">Max Date</sbb-label>
        <sbb-datepicker arrows>
          <input type="text" sbbDateInput [(ngModel)]="maxDate" />
        </sbb-datepicker>
      </sbb-field>

      <pre>model: {{ laData.value | json }}</pre>
      <pre>form control validity: {{ laData.valid }}</pre>
      <pre>form control errors: {{ laData.errors | json }}</pre>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 sbbsc-v-sep">
      <h4 class="sbbsc-block">2 Datepickers</h4>
      <form [formGroup]="twoDatepickersForm">
        <sbb-field label="Datepicker" mode="medium" class="sbbsc-medium-field">
          <sbb-datepicker [slave]="datepickerTheSecond" arrows>
            <input type="text" sbbDateInput formControlName="firstDatepicker" />
          </sbb-datepicker>
        </sbb-field>
        <sbb-field label="Datepicker" mode="medium" class="sbbsc-medium-field">
          <sbb-datepicker #datepickerTheSecond arrows>
            <input type="text" sbbDateInput formControlName="secondDatepicker" />
          </sbb-datepicker>
        </sbb-field>
      </form>
    </div>
    <div class="col-lg-6">
      <h4>Properties</h4>
      <pre>datepicker 1 errors: {{ twoDatepickersForm.get('firstDatepicker').errors | json }}</pre>
      <pre>datepicker 2 errors: {{ twoDatepickersForm.get('secondDatepicker').errors | json }}</pre>

      <pre>form validity: {{ twoDatepickersForm.valid | json }}</pre>
      <pre>form model: {{ twoDatepickersForm.value | json }}</pre>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 sbbsc-v-sep">
      <h4 class="sbbsc-block">Date filter</h4>
      <sbb-field label="Datepicker">
        <sbb-datepicker arrows>
          <input
            type="text"
            sbbDateInput
            [formControl]="dateWithFilter"
            [dateFilter]="filterDates"
          />
        </sbb-datepicker>
      </sbb-field>
    </div>
    <div class="col-lg-6">
      <h4>Properties</h4>
      <pre>model: {{ dateWithFilter.value | json }}</pre>
      <pre>form control validity: {{ dateWithFilter.valid }}</pre>
      <pre>form control errors: {{ dateWithFilter.errors | json }}</pre>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 sbbsc-v-sep">
      <h4 class="sbbsc-block">Standalone Date Input</h4>
      <sbb-field label="Datepicker">
        <input type="text" sbbDateInput [formControl]="standaloneDate" />
      </sbb-field>
    </div>
    <div class="col-lg-6">
      <h4>Properties</h4>
      <pre>model: {{ standaloneDate.value | json }}</pre>
      <pre>form control validity: {{ standaloneDate.valid }}</pre>
      <pre>form control errors: {{ standaloneDate.errors | json }}</pre>
    </div>
  </div>
</div>
