<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 sbbsc-v-sep no-fix-width">
      <h4 class="sbbsc-block">Textarea</h4>
      <sbb-textarea *ngIf="isVisible" [(ngModel)]="textArea1" [minlength]="minlength" [maxlength]="maxlength"
        [required]="required" [readonly]="readonly" [disabled]="disabled"></sbb-textarea>
      <p>Model:</p>
      <pre>{{ textArea1 | json }}</pre>
    </div>
    <div class="col-lg-6">
      <h4 class="sbbsc-block">Properties</h4>
      <div class="sbbsc-block">
        <div class="row">
          <div class="col-12">
            <sbb-field>
              <sbb-label for="maxlength">Max Length</sbb-label>
              <input type="number" [(ngModel)]="maxlength" id="maxlength">
            </sbb-field>
          </div>
        </div>
      </div>
      <div class="sbbsc-block">
        <div class="row">
          <div class="col-12">
            <sbb-field>
              <sbb-label for="minlength">Min Length</sbb-label>
              <input type="number" [(ngModel)]="minlength" id="minlength">
            </sbb-field>
          </div>
        </div>
      </div>
      <div class="sbbsc-block">
        <sbb-checkbox inputId="requiredCheck" value="required" [(ngModel)]="required"></sbb-checkbox>
        <label for="requiredCheck">Required</label>
      </div>
      <div class="sbbsc-block">
        <sbb-checkbox inputId="disabled" value="disabled" [(ngModel)]="disabled"></sbb-checkbox>
        <label for="disabled">Disabled</label>
      </div>
      <div class="sbbsc-block">
        <sbb-checkbox inputId="readonly" value="disabled" [(ngModel)]="readonly"></sbb-checkbox>
        <label for="readonly">Readonly</label>
      </div>
    </div>
  </div>
</div>