<div class="form-group">
  <table class="table table-striped scroll">
    <!--
    <thead>
      <th>Nr.</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Action</th>
    </thead>
    -->
    <tbody>
      <tr *ngFor="let p of person">
        <td>{{ p.id }}.</td>
        <td>{{ p.name }}</td>
        <td>{{ p.surname }}</td>
        <td><button sbbButton mode="primary" (click)="editPerson.emit(p)">Edit</button></td>
      </tr>
    </tbody>
  </table>
  <button sbbButton mode="primary" (click)="addPerson.emit()">Add new person</button>
</div>