@import '../../../../angular-core/styles/common/variables';
@import '../../../../angular-core/styles/common/colors';
@import '../../../../angular-core/styles/common/functions';
@import '../../../../angular-core/styles/common/mediaqueries';

$tableBg: $sbbColorWhite;
$tableBorderColor: $sbbColorCloud;
$tableTheadBgColor: $sbbColorCloud;
$tableTbodyStripesBgColor: $sbbColorMilk;
$tableCaptionColor: $sbbColorGrey;

sbb-table {
  .sbb-table-container {
    .sbb-table-wrapper {
      display: block;
      width: 100%;
      overflow-x: auto;

      .sbb-table {
        width: 100%;
        border: pxToEm(1) solid $tableBorderColor;
      }
    }

    .sbb-table-caption {
      > * {
        font-size: pxToEm(13);
        color: $tableCaptionColor;
      }
    }
  }

  &.sbb-table-is-pinned .sbb-table-container .sbb-table-wrapper .sbb-table {
    thead {
      > tr {
        th,
        td {
          &:first-child {
            background-color: $tableTheadBgColor;
          }
        }
      }
    }

    tbody,
    tfoot {
      > tr {
        th,
        td {
          &:first-child {
            background-color: $tableBg;
          }
        }

        &:nth-child(even) {
          th,
          td {
            &:first-child {
              background-color: $tableTbodyStripesBgColor;
            }
          }
        }
      }
    }

    thead,
    tbody,
    tfoot {
      > tr {
        th,
        td {
          &:first-child {
            left: 0;
            position: sticky;
            z-index: 1;
          }
        }
      }
    }
  }

  &.sbb-table-is-pinned.sbb-table-is-scrolling {
    thead,
    tbody,
    tfoot {
      > tr {
        th,
        td {
          &:first-child::after {
            border-left: pxToEm(1) solid $sbbColorPlatinum;
            background-image: linear-gradient(-270deg, rgba(0, 0, 0, 0.2) 0%, transparent 100%);
            opacity: 1;
          }
        }
      }
    }
  }
}
