@import './common';

// ----------------------------------------------------------------------------------------------------
// Custom Webfonts
// ----------------------------------------------------------------------------------------------------

@font-face {
  font-family: 'SBBWeb Bold';
  src: url('https://cdn.app.sbb.ch/fonts/v1_6_subset/SBBWeb-Bold.woff2') format('woff2'),
    url('https://cdn.app.sbb.ch/fonts/v1_6_subset/SBBWeb-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'SBBWeb Light';
  src: url('https://cdn.app.sbb.ch/fonts/v1_6_subset/SBBWeb-Light.woff2') format('woff2'),
    url('https://cdn.app.sbb.ch/fonts/v1_6_subset/SBBWeb-Light.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'SBBWeb Roman';
  src: url('https://cdn.app.sbb.ch/fonts/v1_6_subset/SBBWeb-Roman.woff2') format('woff2'),
    url('https://cdn.app.sbb.ch/fonts/v1_6_subset/SBBWeb-Roman.woff') format('woff');
  font-display: fallback;
}

@font-face {
  font-family: 'SBBWeb Thin';
  src: url('https://cdn.app.sbb.ch/fonts/v1_6_subset/SBBWeb-Thin.woff2') format('woff2'),
    url('https://cdn.app.sbb.ch/fonts/v1_6_subset/SBBWeb-Thin.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'SBBWeb Ultralight';
  src: url('https://cdn.app.sbb.ch/fonts/v1_6_subset/SBBWeb-UltraLight.woff2') format('woff2'),
    url('https://cdn.app.sbb.ch/fonts/v1_6_subset/SBBWeb-UltraLight.woff') format('woff');
  font-display: swap;
}

// ----------------------------------------------------------------------------------------------------
// Reset HTML
// ----------------------------------------------------------------------------------------------------

*,
*::before,
*::after {
  box-sizing: border-box;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

html {
  background: $sbbColorBg;
  color: $sbbColorText;
  font-family: $fontSbbRoman;
  font-size: $sizeFontBase / 16px * 100%;
  line-height: pxToRem($sizeLineHeightDefault);

  @include fontSmoothing;

  b,
  strong,
  optgroup[label='*'] {
    font-family: $fontSbbBold;
    font-weight: normal;
  }

  &:not(.sbb-lean) {
    @include mq($from: desktop4k) {
      line-height: pxToRem($sizeLineHeightDefault4k);
    }
    @include mq($from: desktop5k) {
      line-height: pxToRem($sizeLineHeightDefault5k);
    }
  }

  &.sbb-lean {
    line-height: pxToRem($sizeLineHeightDefaultLean);
  }
}

body {
  margin: 0;
}

// Suppress the focus outline on elements that cannot be accessed via keyboard.
// This prevents an unwanted focus outline from appearing around elements that
// might still respond to pointer events.
//
// Credit: https://github.com/suitcss/base
[tabindex='-1']:focus {
  outline: 0 !important;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0; // Remove the margin in Firefox and Safari
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

table {
  th,
  td {
    color: $sbbColorBlack;
    font-size: pxToRem($sizeFontDefault);
    line-height: 1.5;
    margin: 0.75em 0 0; // paragraph as default
  }
  th {
    font-family: $fontSbbBold;
    font-weight: 400;
  }
}

[hidden] {
  display: none !important;
}

// ----------------------------------------------------------------------------------------------------
// CDK Styles
// ----------------------------------------------------------------------------------------------------

@include cdk-a11y;
@include cdk-overlay();
@include cdk-text-field;

// SBB CDK Overlay Patch
.cdk-overlay-pane.sbb-overlay-panel {
  max-height: none;
}

// ----------------------------------------------------------------------------------------------------
// Headings
// ----------------------------------------------------------------------------------------------------

h1,
.sbb-headline1 {
  font-family: $fontSbbThin;
  font-weight: normal;
  line-height: 1.2;
  margin: 2em 0 0;

  html:not(.sbb-lean) & {
    $fontSizes: (
      base: pxToRem(28),
      tablet: pxToRem(30),
      desktop: pxToRem(40),
      desktop4k: pxToRem(60),
      desktop5k: pxToRem(80),
    );
    @include mqSequence($fontSizes) using ($value) {
      font-size: $value;
    }
  }
  html.sbb-lean & {
    font-family: $fontSbbLight;
    font-weight: normal;
    margin: 1em 0 0;
    font-size: pxToRem(21);
    line-height: pxToRem(25);

    @include mq($from: desktop) {
      font-size: pxToRem(28);
      line-height: pxToRem(34);
    }
  }
}

h2,
.sbb-headline2 {
  font-family: $fontSbbLight;
  font-weight: normal;
  line-height: 1.2;
  margin: 1em 0 0;

  html:not(.sbb-lean) & {
    $fontSizes: (
      base: pxToRem(24),
      desktop: pxToRem(32),
      desktop4k: pxToRem(48),
      desktop5k: pxToRem(64),
    );
    @include mqSequence($fontSizes) using ($value) {
      font-size: $value;
    }
  }
  html.sbb-lean & {
    font-size: pxToRem(18);
    line-height: pxToRem(19);

    @include mq($from: desktop) {
      font-size: pxToRem(21);
      line-height: pxToRem(25);
    }
  }
}

h3,
.sbb-headline3 {
  font-family: $fontSbbLight;
  font-weight: normal;
  line-height: 1.2;
  margin: 2em 0 0;

  html:not(.sbb-lean) & {
    $fontSizes: (
      base: pxToRem(20),
      tablet: pxToRem(21),
      desktop4k: pxToRem(32),
      desktop5k: pxToRem(42),
    );
    @include mqSequence($fontSizes) using ($value) {
      font-size: $value;
    }
  }
  html.sbb-lean & {
    font-size: pxToRem(16);
    line-height: pxToRem(17);

    @include mq($from: desktop) {
      font-size: pxToRem(18);
      line-height: pxToRem(22);
    }
  }
}

h4,
.sbb-headline4 {
  font-family: $fontSbbBold;
  font-weight: normal;
  line-height: 1.5;
  margin: 2em 0 0;
  font-size: pxToRem($sizeFontDefault);

  html:not(.sbb-lean) & {
    $fontSizes: (
      desktop4k: pxToRem($sizeFontDefault4k),
      desktop5k: pxToRem($sizeFontDefault5k),
    );
    @include mqSequence($fontSizes) using ($value) {
      font-size: $value;
    }
  }
  html.sbb-lean & {
    line-height: pxToRem(14);

    @include mq($from: desktop) {
      font-size: pxToRem(16);
      line-height: pxToRem(19);
    }
  }
}

// ----------------------------------------------------------------------------------------------------
// Text
// ----------------------------------------------------------------------------------------------------

.sbb-text-lead {
  font-family: $fontSbbLight;
  font-weight: normal;
  color: $sbbColorText;
  line-height: 1.3;
  margin: 2em 0 0;

  $fontSizes: (
    base: pxToRem(20),
    tablet: pxToRem(21),
    desktop4k: pxToRem(32),
    desktop5k: pxToRem(40),
  );
  @include mqSequence($fontSizes) using ($value) {
    font-size: $value;
  }
  @include mq($from: desktop, $to: desktop4k) {
    line-height: pxToRem(32);
  }
}

p,
.sbb-copy {
  font-size: pxToRem($sizeFontDefault);
  margin: 1em 0 0; // paragraph as default
  line-height: 1.733;

  html:not(.sbb-lean) & {
    $fontSizes: (
      desktop4k: pxToRem($sizeFontDefault4k),
      desktop5k: pxToRem($sizeFontDefault5k),
    );
    @include mqSequence($fontSizes) using ($value) {
      font-size: $value;
    }
    @include mq($from: desktop4k, $to: desktop5k) {
      line-height: pxToRem($sizeLineHeightDefault4k);
    }
  }
  html.sbb-lean & {
    line-height: pxToRem($sizeLineHeightDefaultLean);
  }
}

// ----------------------------------------------------------------------------------------------------
// Link
// ----------------------------------------------------------------------------------------------------

a:not(.sbb-menu-item),
.sbb-link:not(.sbb-menu-item) {
  color: $sbbColorText;
  text-decoration: underline;
  text-decoration-skip-ink: auto; // -> read more about here https://medium.com/@iamhiwelo/improving-text-readability-for-dyslexic-users-with-skip-ink-underlines-bf52a2f3426b
  html:not(.sbb-lean) & {
    line-height: 1.733;
  }
  html.sbb-lean & {
    line-height: pxToRem($sizeLineHeightDefaultLean);
  }

  &:hover,
  &:focus {
    color: $sbbColorRed125;

    @media screen and (-ms-high-contrast: active) {
      color: windowText;

      &::before,
      &::after {
        border-color: windowText;
      }
    }
  }

  // TODO: 4k, 5k
}

// ----------------------------------------------------------------------------------------------------
// Lists
// ----------------------------------------------------------------------------------------------------

ul,
.sbb-unordered-list,
ol,
.sbb-ordered-list {
  font-size: pxToRem($sizeFontDefault);
  margin-left: pxToRem(8);
  margin-top: pxToRem(17);
  margin-bottom: pxToRem(30);

  @include mq($from: desktop) {
    margin-top: pxToRem(25);
  }

  li {
    margin-top: pxToRem(8);
  }
}

ul,
.sbb-unordered-list {
  list-style-type: disc;
  padding-left: pxToRem(16);
}

ul li,
.sbb-unordered-list li {
  padding-left: pxToRem(16 - 6);
}

ol,
.sbb-ordered-list {
  list-style-type: none;
  counter-reset: item;
  padding-left: 0;

  > li {
    display: table;
    padding-left: 0;
  }

  > li::before {
    content: counters(item, '.') '.';
    counter-increment: item;

    display: table-cell;
    padding-right: pxToRem(13);
  }
}

ol ol,
.sbb-ordered-list ol,
ol ul,
.sbb-ordered-list ul,
ul ul,
.sbb-unordered-list ul,
ul ol,
.sbb-unordered-list ol {
  margin: pxToRem(6) 0 0 pxToRem(8);
}

// if ol is nested inside ul, we need just 1 hierarchy level for the counter
ul li ol > li::before,
.sbb-unordered-list li ol > li::before {
  content: counter(item) '.';
}

// ----------------------------------------------------------------------------------------------------
// Form Elements
// ----------------------------------------------------------------------------------------------------

.sbb-input-element {
  @include ellipsis;
  @include placeholder($sbbColorStorm);

  outline: none;
  background-color: $sbbColorWhite;
  border: pxToRem(2) solid $sbbColorGraphite;
  border-radius: pxToRem(2);
  color: $sbbColorGrey;
  line-height: pxToRem(23);
  font-size: pxToRem($sizeFontDefault);
  padding: pxToRem(10) pxToRem(14) pxToRem(12);
  min-height: pxToRem(48);

  // Undo the red box-shadow glow added by Firefox on invalid inputs.
  // See https://developer.mozilla.org/en-US/docs/Web/CSS/:-moz-ui-invalid
  &:-moz-ui-invalid {
    box-shadow: none;
  }

  // Remove IE's default clear and reveal icons.
  &::-ms-clear,
  &::-ms-reveal {
    display: none;
  }

  // Clear Safari's decorations for search fields.
  &,
  &::-webkit-search-cancel-button,
  &::-webkit-search-decoration,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }

  // Also clear Safari's autofill icons. Note that this can't be in the
  // same selector as the IE ones, otherwise Safari will ignore it.
  &::-webkit-contacts-auto-fill-button,
  &::-webkit-caps-lock-indicator,
  &::-webkit-credentials-auto-fill-button {
    visibility: hidden;
  }

  &[type='date'],
  &[type='datetime'],
  &[type='datetime-local'],
  &[type='month'],
  &[type='week'],
  &[type='time'] {
    // Due to the native input masking these inputs can be slightly taller than
    // the plain text inputs. We normalize it by resetting the line height.
    line-height: 1;

    // Fixes an issue on iOS where the following input types will collapse to 1px,
    // if they're empty, because we've overridden their background color.
    // See: https://stackoverflow.com/questions/18381594/input-type-date-appearance-in-safari-on-ios
    &::after {
      content: ' ';
      white-space: pre;
      width: 1px;
    }
  }

  // Reduce the size of the native buttons in a date/time input,
  // because they can increase the height of the input (see #13317).
  &::-webkit-inner-spin-button,
  &::-webkit-calendar-picker-indicator,
  &::-webkit-clear-button {
    font-size: 0.75em;
  }

  &:focus,
  &.sbb-focused {
    border-color: $sbbColorGrey;
  }

  &:disabled,
  &[disabled],
  &.sbb-disabled {
    background-color: $sbbColorMilk;
    border-color: $sbbColorAluminum;
    color: $sbbColorGrey;
    -webkit-text-fill-color: $sbbColorGrey;
    opacity: 1;
    cursor: default;
    pointer-events: none;
  }

  &[readonly],
  &.sbb-readonly {
    background: $sbbColorMilk;
    border-color: $sbbColorAluminum;
  }

  &.ng-touched.ng-invalid:not([aria-expanded='true']) {
    color: $sbbColorError;
    border-color: $sbbColorError;
  }

  html:not(.sbb-lean) & {
    @include mq($from: desktop4k) {
      padding: pxToRem(10 * $scalingFactor4k) pxToRem(14 * $scalingFactor4k)
        pxToRem(12 * $scalingFactor4k);
      border-width: pxToRem(2 * $scalingFactor4k);
      border-radius: pxToRem(2 * $scalingFactor4k);
      font-size: pxToRem($sizeFontDefault4k);
      line-height: pxToRem(35);
    }
    @include mq($from: desktop5k) {
      padding: pxToRem(10 * $scalingFactor5k) pxToRem(14 * $scalingFactor5k)
        pxToRem(12 * $scalingFactor5k);
      border-width: pxToRem(2 * $scalingFactor5k);
      border-radius: pxToRem(2 * $scalingFactor5k);
      font-size: pxToRem($sizeFontDefault5k);
      line-height: pxToRem(45);
    }
  }
  html.sbb-lean & {
    color: $sbbColorIron;
    border-width: pxToRem(1);
    padding: pxToRem(6) pxToRem(8) pxToRem(7);
    min-height: pxToRem(36);

    &:focus,
    &.sbb-focused {
      border-color: $sbbColorIron;
    }

    &:disabled,
    &[disabled],
    &.sbb-disabled {
      color: $sbbColorGranite;
      -webkit-text-fill-color: $sbbColorGranite;
    }
  }
}

input[placeholder],
.sbb-input-element[placeholder] {
  text-overflow: ellipsis;
}

input[type='number'],
input[type='time'],
input[type='datetime'],
input[type='datetime-local'] {
  -moz-appearance: textfield;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button,
  &::-webkit-clear-button {
    appearance: none;
    margin: 0;
    width: 0;
    padding: 0;
    background: transparent;
  }
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  position: relative;
  background-color: transparent;
  display: inline-flex;
  box-sizing: border-box;

  &::-ms-expand {
    display: none;
  }

  // As a part of its user agent styling, IE11 has a blue box inside each focused
  // `select` element which we have to reset. Note that this needs to be in its own
  // selector, because having it together with another one will cause other browsers
  // to ignore it.
  &::-ms-value {
    // We need to reset the `color` as well, because IE sets it to white.
    color: inherit;
    background: none;

    // IE and Edge in high contrast mode reset the color for a focused select to the same color
    // as the background, however this causes it blend in because we've reset the `background`
    // above. We have to add a more specific selector in order to ensure that it gets the
    // `color` from our theme instead.
    @include cdk-high-contrast(active, off) {
      .sbb-focused & {
        color: inherit;
      }
    }
  }

  // The `outline: none` from `.sbb-input-element` works on all browsers, however Firefox also
  // adds a special `focus-inner` which we have to disable explicitly. See:
  // https://developer.mozilla.org/en-US/docs/Web/HTML/Element/button#Firefox
  &::-moz-focus-inner {
    border: 0;
  }

  &:not(:disabled) {
    cursor: pointer;
  }

  // Custom select expand icon
  $sbbSelectExpandIconSize: 24;
  $sbbSelectExpandIconRight: 12;
  align-items: center;

  // icon chevron-down-small-down with color #666 applied
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaXQ9IiIgcHJlc2VydmVBc3BlY3RSYXRpbz0ieE1pZFlNaWQgbWVldCIgZm9jdXNhYmxlPSJmYWxzZSI+CiAgPHBvbHlsaW5lIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzY2NiIgcG9pbnRzPSI4LjA5MiAxMC4zNSAxMS45OTYgMTQuMyAxNS45IDEwLjM1MiI+PC9wb2x5bGluZT4KPC9zdmc+')
    no-repeat;
  padding-right: pxToRem(44);
  background-position: center right pxToRem($sbbSelectExpandIconRight);
  background-size: pxToRem($sbbSelectExpandIconSize) pxToRem($sbbSelectExpandIconSize);

  html:not(.sbb-lean) & {
    @include mq($from: desktop4k) {
      background-position: center right pxToRem($sbbSelectExpandIconRight * $scalingFactor4k);
      background-size: pxToRem($sbbSelectExpandIconSize * $scalingFactor4k);
    }
    @include mq($from: desktop5k) {
      background-position: center right pxToRem($sbbSelectExpandIconRight * $scalingFactor5k);
      background-size: pxToRem($sbbSelectExpandIconSize * $scalingFactor5k);
    }
  }
  html.sbb-lean & {
    padding-right: pxToRem(38);
    background-position: center right pxToRem(6);
    background-size: pxToRem($sbbSelectExpandIconSize) pxToRem($sbbSelectExpandIconSize);
    // icon chevron-right-small rotated and with color #686868 applied
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaXQ9IiIgcHJlc2VydmVBc3BlY3RSYXRpbz0ieE1pZFlNaWQgbWVldCIgZm9jdXNhYmxlPSJmYWxzZSI+CiAgPHBvbHlsaW5lIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzY4Njg2OCIgcG9pbnRzPSI0IDggMTIgMTYgMjAgOCI+PC9wb2x5bGluZT4KPC9zdmc+');
  }
}

textarea {
  white-space: pre-wrap;
  overflow: auto;

  &:disabled {
    opacity: 1;
  }
}

// ----------------------------------------------------------------------------------------------------
// Fieldset
// ----------------------------------------------------------------------------------------------------

fieldset,
.sbb-fieldset {
  margin: 0;
  min-width: 0;
  border: pxToRem(1) solid $sbbColorSilver;
  padding: pxToRem(36) pxToRem(24);

  > legend {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    font-family: $fontSbbLight;
    font-weight: 400;
    line-height: 1.2;
    font-size: pxToRem(24);
    margin: 0 0 pxToRem(24);
    float: left;
  }

  fieldset {
    border-top: none;
    border-right: none;
    border-left: none;
    padding-left: 0;
    padding-right: 0;

    &:last-of-type {
      border-bottom: none;
    }

    > legend {
      font-size: pxToRem(20);
    }
  }

  html:not(.sbb-lean) & {
    > legend {
      @include mq($from: desktop) {
        font-size: pxToRem(32);
      }
      @include mq($from: desktop4k) {
        font-size: pxToRem(48);
        margin: 0 0 pxToRem(36);
      }
      @include mq($from: desktop5k) {
        font-size: pxToRem(64);
        margin: 0 0 pxToRem(48);
      }
    }

    fieldset {
      > legend {
        $fontSizes: (
          desktop: pxToRem(22),
          desktop4k: pxToRem(32),
          desktop5k: pxToRem(42),
        );
        @include mqSequence($fontSizes) using ($value) {
          font-size: $value;
        }
      }
    }

    @include mq($from: tabletPortrait) {
      padding: pxToRem(48) pxToRem(24);
    }
    @include mq($from: desktop4k) {
      font-size: pxToRem($sizeFontBase * $scalingFactor4k);
    }
    @include mq($from: desktop5k) {
      font-size: pxToRem($sizeFontBase * $scalingFactor5k);
    }
  }
  html.sbb-lean & {
    border: pxToRem(1) solid $sbbColorGraphite;
    padding: pxToRem(16);

    > legend {
      font-size: pxToRem(21);
      margin: 0 0 pxToRem(8);
    }

    fieldset {
      border-color: $sbbColorCloud;

      > legend {
        font-size: pxToRem(16);
      }
    }
  }
}

// ----------------------------------------------------------------------------------------------------
// SBB Checkbox & Radio Button
// ----------------------------------------------------------------------------------------------------

// This is the class that should be applied to the label wrapper of
// custom checkboxes or radio buttons.
.sbb-selection-item-label {
  display: flex;
  position: relative; // assure absolute positioned native input is close to the label!
  align-items: flex-start;

  html:not(.sbb-lean) & {
    @include mq($from: desktop4k) {
      font-size: pxToRem($sizeFontDefault4k);
    }
    @include mq($from: desktop5k) {
      font-size: pxToRem($sizeFontDefault5k);
    }
  }
}

@mixin sbbSelectionDimension($factor) {
  width: pxToRem(20 * $factor);
  min-width: pxToRem(20 * $factor);
  height: pxToRem(20 * $factor);
  min-height: pxToRem(20 * $factor);
  border: pxToRem(2 * $factor) solid $sbbColorGraphite;
  margin-right: pxToRem(8 * $factor);
  margin-top: pxToRem(2.5 * $factor);
}

.sbb-selection-container {
  display: inline-block;
  background-color: $sbbColorWhite;
  @include sbbSelectionDimension(1);

  html:not(.sbb-lean) & {
    @include mq($from: desktop4k) {
      @include sbbSelectionDimension($scalingFactor4k);
    }
    @include mq($from: desktop5k) {
      @include sbbSelectionDimension($scalingFactor5k);
    }
  }
  html.sbb-lean & {
    border-width: pxToRem(1);
    margin-top: pxToRem(1);
  }
}

.sbb-selection-container-checked {
  color: $sbbColorRed;
  line-height: 0;
  height: 100%;
  width: 100%;
  transition: opacity 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);

  html.sbb-lean & {
    color: $sbbColorIron;
  }
}

.sbb-selection-content {
  user-select: auto;
  color: $sbbColorGrey;
  transition: color 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);

  html.sbb-lean & {
    color: $sbbColorGranite;
    line-height: 1.4em;
  }
}

.sbb-selection-input:focus + .sbb-selection-container {
  border-color: $sbbColorGrey;

  html.sbb-lean & {
    border-color: $sbbColorIron;
  }
}

// Applies focus highlight for pseudo-checkbox
.sbb-menu-item.sbb-active .sbb-pseudo-checkbox .sbb-selection-container {
  border-color: $sbbColorGrey;

  html.sbb-lean & {
    border-color: $sbbColorIron;
  }
}

.sbb-checkbox-input + .sbb-selection-container,
.sbb-pseudo-checkbox > .sbb-selection-container {
  border-radius: pxToRem(2);

  & > .sbb-selection-container-checked {
    display: none;
    border-radius: pxToRem(2);
    transform: scale(1.3);

    & > svg {
      display: inline-block;
      line-height: 0;
      width: 100%;
      height: 100%;
      transform: translateY(pxToRem(-1.5));

      html:not(.sbb-lean) & {
        @include mq($from: desktop4k) {
          transform: translateY(pxToRem(-1.5 * $scalingFactor4k));
        }
        @include mq($from: desktop5k) {
          transform: translateY(pxToRem(-1.5 * $scalingFactor5k));
        }
      }

      & > polyline {
        stroke: currentColor;
      }
    }
  }
}

.sbb-radio-input {
  & + .sbb-selection-container {
    border-radius: 50%;

    html.sbb-lean & {
      margin-top: 0;
    }

    & > .sbb-selection-container-checked {
      display: none;
      border-radius: 50%;
      transform: scale(0.65);
      background-color: $sbbColorRed;

      html.sbb-lean & {
        background-color: $sbbColorIron;
      }
    }
  }
}

.sbb-selection-checked {
  .sbb-selection-container {
    & > .sbb-selection-container-checked {
      display: block;
    }

    & + .sbb-selection-content {
      color: $sbbColorBlack;
    }
  }

  html.sbb-lean & {
    .sbb-selection-container + .sbb-selection-content {
      color: $sbbColorIron;
    }
  }
}

.sbb-selection-indeterminate {
  .sbb-selection-container {
    &::before {
      content: '';
      position: relative;
      height: pxToRem(1);
      width: pxToRem(10);
      left: calc(50% - #{pxToRem(5)});
      top: calc(50% - #{pxToRem(0.5)});
      border: pxToRem(1) solid $sbbColorRed;
      display: block;
    }

    & > .sbb-selection-container-checked {
      display: none;
    }

    & + .sbb-selection-content {
      color: $sbbColorBlack;
    }
  }

  html.sbb-lean & {
    .sbb-selection-container {
      &::before {
        border: pxToRem(1) solid $sbbColorGranite;
      }

      & + .sbb-selection-content {
        color: $sbbColorIron;
      }
    }
  }
}

// Applies indeterminate styles for pseudo-checkbox
html.sbb-lean .sbb-pseudo-checkbox.sbb-selection-indeterminate .sbb-selection-container::before {
  border: pxToRem(1) solid $sbbColorGranite;
}

.sbb-selection-disabled {
  pointer-events: none;

  .sbb-selection-container {
    border-color: $sbbColorAluminum;
    background-color: $sbbColorMilk;

    & > .sbb-selection-container-checked {
      color: $sbbColorGrey;
    }

    & + .sbb-selection-content {
      color: $sbbColorGrey;
    }
  }

  html.sbb-lean & {
    .sbb-selection-container {
      & > .sbb-selection-container-checked {
        color: $sbbColorGranite;
      }

      & + .sbb-selection-content {
        color: $sbbColorStorm;
      }
    }
  }
}

// Applies disabled styles for pseudo-checkbox
html.sbb-lean .sbb-pseudo-checkbox.sbb-selection-disabled .sbb-selection-container-checked {
  color: $sbbColorGranite;
}

.sbb-checkbox-group-vertical,
.sbb-radio-group-vertical {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;

  .sbb-selection-item + .sbb-selection-item {
    margin-top: pxToRem(16);

    html:not(.sbb-lean) & {
      @include mq($from: desktop4k) {
        margin-top: pxToRem(16 * $scalingFactor4k);
      }
      @include mq($from: desktop5k) {
        margin-top: pxToRem(16 * $scalingFactor5k);
      }
    }
    html.sbb-lean & {
      margin-top: pxToRem(3);
    }
  }
}

.sbb-checkbox-group-horizontal,
.sbb-radio-group-horizontal {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;

  .sbb-selection-item {
    margin-right: pxToRem(32);

    html:not(.sbb-lean) & {
      @include mq($from: desktop4k) {
        margin-right: pxToRem(32 * $scalingFactor4k);
      }
      @include mq($from: desktop5k) {
        margin-right: pxToRem(32 * $scalingFactor5k);
      }
    }
    html.sbb-lean & {
      margin-right: pxToRem(15);
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}

// ----------------------------------------------------------------------------------------------------
// SBB Label
// ----------------------------------------------------------------------------------------------------

.sbb-label {
  letter-spacing: 0;
  outline: 0;
  resize: none;
  background-color: transparent;
  font-family: $fontSbbRoman;
  font-size: pxToRem(13);
  line-height: pxToRem(16);
  color: $sbbColorGrey;
  display: block;

  html:not(.sbb-lean) & {
    @include mq($from: desktop4k) {
      font-size: pxToRem(20);
      line-height: pxToRem(24);
    }
    @include mq($from: desktop5k) {
      font-size: pxToRem(26);
      line-height: pxToRem(32);
    }
  }
  html.sbb-lean & {
    color: $sbbColorGranite;
  }
}

// ----------------------------------------------------------------------------------------------------
// SBB Table
// ----------------------------------------------------------------------------------------------------

$tableBg: $sbbColorWhite;
$tableTheadBgColor: $sbbColorCloud;
$tableTbodyStripesBgColor: $sbbColorMilk;
$tableTheadPadding: pxToEm(16);
$tableTbodyPadding: pxToEm(16);
$tableTheadCellPaddingMobile: pxToEm(29) pxToEm(12) pxToEm(30) pxToEm(12);
$tableTheadCellPadding: pxToEm(29) pxToEm(16) pxToEm(30) pxToEm(16);
$tableTbodyCellPaddingMobile: pxToEm(18) pxToEm(12) pxToEm(19) pxToEm(12);
$tableTbodyCellPadding: pxToEm(18) pxToEm(16) pxToEm(19) pxToEm(16);
$tableTrowHeightBusiness: pxToEm(36);
$tableCaptionColor: $sbbColorGrey;

.sbb-table {
  border-spacing: 0;
  background-color: $tableBg;
  width: 100%;

  html:not(.sbb-lean) & {
    padding-bottom: $tableTbodyPadding;

    thead {
      background-color: $tableTheadBgColor;

      > tr {
        th,
        td {
          padding: $tableTheadCellPaddingMobile;

          @include mq($from: tabletPortrait) {
            padding: $tableTheadCellPadding;

            &:first-child {
              border-left: $tableTheadPadding solid $tableTheadBgColor;
            }

            &:last-child {
              border-right: $tableTheadPadding solid $tableTheadBgColor;
            }
          }
        }
      }
    }

    tbody {
      > tr {
        &:nth-child(even) {
          background-color: $tableTbodyStripesBgColor;
        }

        th,
        td {
          padding: $tableTbodyCellPaddingMobile;

          @include mq($from: tabletPortrait) {
            padding: $tableTbodyCellPadding;

            &:first-child {
              border-left: $tableTheadPadding solid $tableBg;
            }

            &:last-child {
              border-right: $tableTheadPadding solid $tableBg;
            }
          }
        }
      }
    }

    @include mq($from: desktop4k) {
      font-size: toRem(1 * $scalingFactor4k);
    }
    @include mq($from: desktop5k) {
      font-size: toRem(1 * $scalingFactor5k);
    }
  }
  html.sbb-lean & {
    border-collapse: collapse;

    thead {
      text-align: left;
      background-color: $sbbColorMilk;
      border-bottom: pxToRem(1) solid $sbbColorAluminum;

      [dir='rtl'] & {
        text-align: right;
      }
    }

    tbody {
      > tr {
        background-color: $sbbColorWhite;
        border-bottom: pxToRem(1) solid $sbbColorAluminum;

        &:hover {
          background-color: $sbbColorCloud;
        }
      }
    }

    thead,
    tbody,
    tfoot {
      > tr {
        th,
        td {
          height: $tableTrowHeightBusiness;
          padding: 0 $tableTbodyPadding;
          border-right: pxToRem(1) solid $sbbColorAluminum;
          overflow: hidden;
          text-overflow: ellipsis;

          &:first-child {
            padding-left: $tableTbodyPadding;
            border-left: none;

            [dir='rtl'] & {
              padding-left: 0;
              padding-right: $tableTbodyPadding;
            }
          }

          &:last-child {
            padding-right: $tableTbodyPadding;
            border-right: none;

            [dir='rtl'] & {
              padding-right: 0;
              padding-left: $tableTbodyPadding;
            }
          }
        }
      }
    }
  }

  caption {
    font-size: pxToRem(13);
    color: $tableCaptionColor;
  }
}

.sbb-table-align-center {
  text-align: center;
}

.sbb-table-align-left {
  text-align: left;

  /* th in IE11 won't inherit text-align: we apply it through selector */
  thead,
  tbody {
    > tr {
      th {
        text-align: left;
      }
    }
  }
}

.sbb-table-align-right {
  text-align: right;

  /* th in IE11 won't inherit text-align: we apply it through selector */
  thead,
  tbody {
    > tr {
      th {
        text-align: right;
      }
    }
  }
}

// ----------------------------------------------------------------------------------------------------
// SBB time-input
// ----------------------------------------------------------------------------------------------------

input.sbb-input-element.sbb-time-input {
  $timeInputWidth: 84;
  $timeInputHeight: 48;

  width: pxToRem($timeInputWidth);
  height: pxToRem($timeInputHeight);
  text-align: center;

  html:not(.sbb-lean) & {
    @include mq($from: desktop4k) {
      width: pxToRem($timeInputWidth * $scalingFactor4k);
      height: pxToRem($timeInputHeight * $scalingFactor4k);
    }
    @include mq($from: desktop5k) {
      width: pxToRem($timeInputWidth * $scalingFactor5k);
      height: pxToRem($timeInputHeight * $scalingFactor5k);
    }
  }

  html.sbb-lean & {
    width: pxToRem(70);
    height: pxToRem(36);
  }
}

// ----------------------------------------------------------------------------------------------------
// SBB scrollbar
// ----------------------------------------------------------------------------------------------------

$thumbColor: $sbbColorPlatinum;
$trackColor: $sbbColorMilk;

@mixin scrollbarColor($thumbColor, $trackColor) {
  scrollbar-color: $thumbColor $trackColor;
  &::-webkit-scrollbar-thumb {
    background-color: $thumbColor;
  }
  &::-webkit-scrollbar-track {
    background-color: $trackColor;
  }
}

.sbb-scrollbar {
  @include scrollbarColor(transparent, transparent);

  &:hover,
  &.sbb-scrollbar-opaque {
    @include scrollbarColor($thumbColor, $trackColor);
  }

  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }

  &:hover::-webkit-scrollbar-thumb:hover {
    background-color: $sbbColorStorm;
  }
}

// ----------------------------------------------------------------------------------------------------
// Utility
// ----------------------------------------------------------------------------------------------------

.clearfix {
  @include clearfix;
}

// ----------------------------------------------------------------------------------------------------
// Sbb Panel
// ----------------------------------------------------------------------------------------------------

$panelBorderWidthStandard: 2;
$panelBorderWidthLean: 1;
$panelBorderRadius: 2;

.sbb-panel {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: $sbbColorWhite;
  border: pxToRem($panelBorderWidthStandard) solid $sbbColorGrey;
  border-radius: 0 0 pxToRem($panelBorderRadius) pxToRem($panelBorderRadius);
  border-top: none;
  transition: height 0.25s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  color: $sbbColorGrey;

  @include panelShadow();

  hr {
    margin: pxToRem(10) 0;
    padding: 0;
    border: none;
    border-top: solid pxToRem(1) $sbbColorCloud;
  }

  html:not(.sbb-lean) & {
    @include mq($from: desktop4k) {
      border-width: pxToRem($panelBorderWidthStandard * $scalingFactor4k);
      border-radius: 0 0 pxToRem($panelBorderRadius * $scalingFactor4k)
        pxToRem($panelBorderRadius * $scalingFactor4k);
      @include panelShadow($scalingFactor: $scalingFactor4k);
    }

    @include mq($from: desktop5k) {
      border-width: pxToRem($panelBorderWidthStandard * $scalingFactor5k);
      border-radius: 0 0 pxToRem($panelBorderRadius * $scalingFactor5k)
        pxToRem($panelBorderRadius * $scalingFactor5k);
      @include panelShadow($scalingFactor: $scalingFactor5k);
    }
  }

  html.sbb-lean & {
    border-width: pxToRem($panelBorderWidthLean);
    border-color: $sbbColorIron;
    color: $sbbColorIron;
    @include panelShadow($borderWidth: $panelBorderWidthLean);

    hr {
      margin: pxToRem(4) 0;
    }
  }

  &.sbb-panel-above {
    border-radius: pxToRem($panelBorderRadius) pxToRem($panelBorderRadius) 0 0;
    border-top-width: pxToRem($panelBorderWidthStandard);
    border-top-style: solid;
    border-bottom: none;
    @include panelShadow($attached: above);

    html:not(.sbb-lean) & {
      @include mq($from: desktop4k) {
        border-radius: pxToRem($panelBorderRadius * $scalingFactor4k)
          pxToRem($panelBorderRadius * $scalingFactor4k) 0 0;
        border-top-width: pxToRem($panelBorderRadius * $scalingFactor4k);
        @include panelShadow($attached: above, $scalingFactor: $scalingFactor4k);
      }

      @include mq($from: desktop5k) {
        border-radius: pxToRem($panelBorderRadius * $scalingFactor5k)
          pxToRem($panelBorderRadius * $scalingFactor5k) 0 0;
        border-top-width: pxToRem($panelBorderRadius * $scalingFactor5k);
        @include panelShadow($attached: above, $scalingFactor: $scalingFactor5k);
      }
    }

    html.sbb-lean & {
      border-width: pxToRem($panelBorderWidthLean);
      border-bottom: none;
      @include panelShadow($attached: above, $borderWidth: $panelBorderWidthLean);
    }
  }
}

.sbb-panel-padded {
  padding-top: pxToRem(10);
  padding-bottom: pxToRem(10);

  html:not(.sbb-lean) & {
    @include mq($from: desktop4k) {
      padding-top: pxToRem(10 * $scalingFactor4k);
      padding-bottom: pxToRem(10 * $scalingFactor4k);
    }
    @include mq($from: desktop5k) {
      padding-top: pxToRem(10 * $scalingFactor5k);
      padding-bottom: pxToRem(10 * $scalingFactor5k);
    }
  }

  html.sbb-lean & {
    padding-top: pxToRem(4);
    padding-bottom: pxToRem(4);
  }
}

.sbb-input-with-open-panel {
  border-radius: pxToRem($panelBorderRadius) pxToRem($panelBorderRadius) 0 0;
}

.sbb-input-with-open-panel-above {
  border-radius: 0 0 pxToRem($panelBorderRadius) pxToRem($panelBorderRadius);
}

// ----------------------------------------------------------------------------------------------------
// Sbb Menu
// ----------------------------------------------------------------------------------------------------

$menuItemPaddingLeftRightStandard: 14;
$menuItemPaddingTopBottom: 4;

.sbb-menu-item {
  @include ellipsis;

  position: relative;
  display: block;
  text-decoration: none;
  padding: pxToRem($menuItemPaddingTopBottom) pxToRem($menuItemPaddingLeftRightStandard);
  text-align: left;
  max-width: 100%;
  cursor: pointer;
  outline: 0;
  color: $sbbColorGrey;
  line-height: pxToRem(23);

  html:not(.sbb-lean) & {
    @include mq($from: desktop4k) {
      font-size: pxToRem($sizeFontDefault4k);
      line-height: pxToRem(35);
      padding: pxToRem($menuItemPaddingTopBottom * $scalingFactor4k)
        pxToRem($menuItemPaddingLeftRightStandard * $scalingFactor4k);
    }
    @include mq($from: desktop5k) {
      font-size: pxToRem($sizeFontDefault5k);
      line-height: pxToRem(45);
      padding: pxToRem($menuItemPaddingTopBottom * $scalingFactor5k)
        pxToRem($menuItemPaddingLeftRightStandard * $scalingFactor5k);
    }
  }

  html.sbb-lean & {
    padding-left: pxToRem(8);
    padding-right: pxToRem(8);
    line-height: pxToRem(20);
    color: $sbbColorIron;
  }

  &:not(.sbb-active) strong {
    color: $sbbColorBlack;
  }

  &.sbb-selected {
    color: $sbbColorBlack;
    html.sbb-lean & {
      // Copied color from '&.sbb-selected' to be specific enough.
      // Otherwise color of '.sbb-panel.sbb-lean &' would be applied.
      color: $sbbColorBlack;
      background-color: $sbbColorCloud;
      @include borderLeftAsBefore($sbbColorBlack);
    }
  }

  &:disabled,
  &[disabled],
  &.sbb-disabled {
    cursor: default;
    opacity: 0.5;
    user-select: none;
  }

  &:not(:disabled):not([disabled]):not(.sbb-disabled):hover,
  &:not(:disabled):not([disabled]):not(.sbb-disabled):focus,
  &:not(:disabled):not([disabled]):not(.sbb-disabled):hover strong,
  &:not(:disabled):not([disabled]):not(.sbb-disabled):focus strong,
  &.sbb-active {
    color: $sbbColorRed;
    html.sbb-lean & {
      color: $sbbColorRed125;
      background-color: $sbbColorMilk;
      @include borderLeftAsBefore($sbbColorRed125);
    }
  }

  /* Use tag and class selector to be more specific than the icon rule for width and height */
  sbb-icon.sbb-icon {
    line-height: 0;
    margin: pxToRem(-7) 0 pxToRem(-7) 0;
    transform: translateY(pxToRem(7));
    width: pxToRem(24);
    height: pxToRem(24);

    html:not(.sbb-lean) & {
      @include mq($from: desktop4k) {
        margin-top: pxToRem(-12);
        margin-bottom: pxToRem(-12);
        transform: translateY(pxToRem(7 * $scalingFactor4k));
        width: pxToRem(36);
        height: pxToRem(36);
      }

      @include mq($from: desktop5k) {
        margin-top: pxToRem(-15);
        margin-bottom: pxToRem(-15);
        transform: translateY(pxToRem(7 * $scalingFactor5k));
        width: pxToRem(48);
        height: pxToRem(48);
      }
    }

    html.sbb-lean & {
      margin: pxToRem(-9) 0 pxToRem(-9) 0;
    }
  }

  > .sbb-icon:first-child {
    float: left; // used to ignore users whitespace and to ensure margin is correct
    margin-right: pxToRem(11);
    margin-left: pxToRem(-1);

    html:not(.sbb-lean) & {
      @include mq($from: desktop4k) {
        margin-right: pxToRem(11 * $scalingFactor4k);
        margin-left: pxToRem(-1 * $scalingFactor4k);
      }

      @include mq($from: desktop5k) {
        margin-right: pxToRem(11 * $scalingFactor5k);
        margin-left: pxToRem(-1 * $scalingFactor5k);
      }
    }

    html.sbb-lean & {
      margin-right: pxToRem(8);
      margin-left: pxToRem(0);
    }
  }
}

.sbb-menu-group {
  display: block;

  .sbb-menu-item {
    padding-left: pxToRem(22);

    html:not(.sbb-lean) & {
      @include mq($from: desktop4k) {
        padding-left: pxToRem(22 * $scalingFactor4k);
      }

      @include mq($from: desktop5k) {
        padding-left: pxToRem(22 * $scalingFactor5k);
      }
    }

    html.sbb-lean & {
      padding-left: pxToRem(16);
    }
  }

  &:first-child > .sbb-label:first-child {
    padding-top: pxToRem(16);

    html:not(.sbb-lean) .sbb-panel > & {
      @include mq($from: desktop4k) {
        padding-top: pxToRem(16 * $scalingFactor4k);
      }
      @include mq($from: desktop5k) {
        padding-top: pxToRem(16 * $scalingFactor5k);
      }
    }

    .sbb-panel-padded > & {
      padding-top: pxToRem(6);
    }

    html:not(.sbb-lean) .sbb-panel > & {
      @include mq($from: desktop4k) {
        padding-top: pxToRem(6 * $scalingFactor4k);
      }
      @include mq($from: desktop5k) {
        padding-top: pxToRem(6 * $scalingFactor5k);
      }
    }
  }

  .sbb-label {
    color: $sbbColorMetal;
    padding: pxToRem(22) pxToRem(14) pxToRem(5) pxToRem(14);

    html:not(.sbb-lean) & {
      @include mq($from: desktop4k) {
        padding: pxToRem(22 * $scalingFactor4k) pxToRem(14 * $scalingFactor4k)
          pxToRem(5 * $scalingFactor4k) pxToRem(14 * $scalingFactor4k);
      }

      @include mq($from: desktop5k) {
        padding: pxToRem(22 * $scalingFactor5k) pxToRem(14 * $scalingFactor5k)
          pxToRem(5 * $scalingFactor5k) pxToRem(14 * $scalingFactor5k);
      }
    }

    html.sbb-lean & {
      color: $sbbColorGranite;
      padding: pxToRem(12) pxToRem(8) pxToRem(4) pxToRem(8);
    }
  }

  & + &,
  .sbb-menu-item + &,
  & + .sbb-menu-item {
    border-top: pxToRem(1) solid $sbbColorCloud;

    html:not(.sbb-lean) & {
      @include mq($from: desktop4k) {
        border-top-width: pxToRem(1 * $scalingFactor4k);
      }

      @include mq($from: desktop5k) {
        border-top-width: pxToRem(1 * $scalingFactor5k);
      }
    }
  }
}
