@import './mixins';
@import './variants';

// Form Styles
// ----------------------------------------------------------------------------------------------------

@mixin disabledelement {
  opacity: 0.5;
}

@mixin readonlyelement {
  background: $sbbColorMilk;
  border-color: $sbbColorAluminum;
}

@mixin inputFieldPadding() {
  @include publicOnly() {
    padding: 10px 14px 12px;

    @include mq($from: desktop4k) {
      padding: toPx(10 * $scalingFactor4k) toPx(14 * $scalingFactor4k) toPx(12 * $scalingFactor4k);
    }

    @include mq($from: desktop5k) {
      padding: toPx(10 * $scalingFactor5k) toPx(14 * $scalingFactor5k) toPx(12 * $scalingFactor5k);
    }
  }

  @include businessOnly() {
    padding: 6px 8px 7px;
  }
}

@mixin inputfields {
  @include ellipsis;
  @include placeholder($sbbColorStorm);
  @include disabledinputfields;
  @include inputFieldPadding();

  outline: none;
  background: $sbbColorWhite;
  border: 2px solid $sbbColorGraphite;
  border-radius: 2px;
  color: $sbbColorGrey;
  line-height: 1.5;
  font-size: pxToRem($sizeFontDefault);
  -webkit-appearance: none;

  &::-ms-clear {
    display: none;
  }

  &:focus {
    border-color: $sbbColorGrey;
  }

  @include businessOnly() {
    border-width: 1px;
    color: $sbbColorGranite;

    &:focus {
      border-color: $sbbColorGranite;
    }
  }

  @include publicOnly() {
    @include mq($from: desktop4k) {
      border-width: toPx(2 * $scalingFactor4k);
      border-radius: toPx(2 * $scalingFactor4k);
      font-size: toPx($sizeFontDefault4k);
    }

    @include mq($from: desktop5k) {
      border-width: toPx(2 * $scalingFactor5k);
      border-radius: toPx(2 * $scalingFactor5k);
      font-size: pxToRem($sizeFontDefault5k);
    }
  }

  &.ng-touched.ng-invalid:not([aria-expanded='true']) {
    color: $sbbColorError;
    border-color: $sbbColorError;
  }
}

@mixin disabledinputfields {
  &:disabled {
    background-color: $sbbColorMilk;
    border-color: $sbbColorAluminum;
  }
}

@mixin readonlyinputfields {
  &[readonly],
  &:read-only {
    @include readonlyelement;
  }
}

@mixin label {
  letter-spacing: 0;
  outline: 0px;
  resize: none;
  background-color: transparent;
  font-family: $fontSbbRoman;
  font-size: pxToRem(13);
  color: $sbbColorGrey;
  line-height: pxToRem(16);
  display: block;

  @include businessOnly() {
    color: $sbbColorGranite;
  }

  @include publicOnly() {
    @include mq($from: desktop4k) {
      font-size: pxToRem(13 * $scalingFactor4k);
    }

    @include mq($from: desktop5k) {
      font-size: pxToRem(13 * $scalingFactor5k);
    }
  }
}

@mixin formlabel {
  color: $sbbColorGrey;
  font-size: pxToEm(13);

  @include businessOnly() {
    color: $sbbColorGranite;
  }
}

@mixin inputField() {
  display: inline-block;

  font-family: $fontSbbRoman;
  font-size: toEm(15 / $sizeFontDefault);
  border: 1px solid $sbbColorPlatinum;

  @include mq($from: tabletPortrait) {
    font-size: toEm(14 / $sizeFontDefault);
  }

  &:focus {
    border-color: $sbbColorGrey;

    @include businessOnly() {
      border-color: $sbbColorGranite;
    }
  }
}

@mixin textareaBase() {
  width: 100%;
  white-space: pre-wrap;
  overflow: auto;

  &:disabled {
    opacity: 1;
  }
}

@mixin textarea() {
  @include inputfields;
  @include disabledinputfields;
  @include textareaBase();
}
