<article class="container-fluid">
  <div class="row">
    <div class="col-lg-6 sbbsc-v-sep">
      <h4 class="sbbsc-block">Basic example</h4>
      <sbb-captcha (resolved)="resolved($event)" [siteKey]="testSiteKey"> </sbb-captcha>
    </div>
    <div class="col-lg-6">
      <h4 class="sbbsc-block">Captcha response</h4>
      <pre>{{ basicCaptchaResponse | json }}</pre>
    </div>
  </div>

  <div role="presentation" class="sbbsc-separator"></div>

  <div class="row">
    <div class="col-lg-6 sbbsc-v-sep">
      <h4 class="sbbsc-block">Template driven Form example</h4>
      <form #captchaProtectedForm="ngForm">
        <sbb-captcha
          [(ngModel)]="formModel.captcha"
          name="captcha"
          required
          [siteKey]="testSiteKey"
          #captchaControl="ngModel"
        ></sbb-captcha>
        <div class="sbbsc-block">
          <button sbbButton (click)="formModel.captcha = ''" style="margin-top: 0.5rem;">
            Reset Captcha
          </button>
        </div>
      </form>
    </div>
    <div class="col-lg-6">
      <h4 class="sbbsc-block">Form is valid</h4>
      <pre>{{ captchaProtectedForm.form.valid | json }}</pre>

      <h4 class="sbbsc-block">Captcha is valid</h4>
      <pre>{{ captchaControl.valid | json }}</pre>

      <h4 class="sbbsc-block">Form Model</h4>
      <pre>{{ formModel | json }}</pre>
    </div>
  </div>

  <div role="presentation" class="sbbsc-separator"></div>

  <div class="row">
    <div class="col-lg-6 sbbsc-v-sep">
      <h4 class="sbbsc-block">Reactive Form example</h4>
      <form [formGroup]="formCaptcha" class="sbbsc-block">
        <sbb-captcha formControlName="captcha" name="captcha" [siteKey]="testSiteKey">
        </sbb-captcha>
      </form>
      <div class="sbbsc-block">
        <button sbbButton (click)="resetForm()">Reset Captcha</button>
      </div>
    </div>
    <div class="col-lg-6">
      <h4 class="sbbsc-block">Form is valid</h4>
      <pre>{{ formCaptcha.valid | json }}</pre>

      <h4 class="sbbsc-block">Captcha is valid</h4>
      <pre>{{ captcha.valid }}</pre>

      <h4 class="sbbsc-block">Form Model</h4>
      <pre>{{ formModelReactive | json }}</pre>
    </div>
  </div>
</article>
