<div class="conatiner">
  <div class="row justify-content-between">  
     <div class="col-6">
      <h5>Input Field</h5>
      <fieldset>
        <div class="form-group">
          <sbb-input-field>
            <sbb-label>Label</sbb-label>
            <input [type]="inputType" 
                   [placeholder]="placeholder" 
                    autocomplete="off"
                   [readonly]="readonly"
                   [disabled]="disabled" 
                   [(ngModel)]="inputText"
                   style="width : 100%">
          </sbb-input-field>
        </div>
        <div class="form-group">
          <sbb-label>Model:</sbb-label>
          <sbb-label>{{ inputText | json }}</sbb-label>
        </div>
      </fieldset>
     </div>
     <div class="col-lg-6">
      <h5>Properties</h5>
      <fieldset>
        <div class="form-group">
          <sbb-label>Please choose :</sbb-label>
          <select [(ngModel)]="inputType" class="form-control" (ngModelChange)="onChange($event)">
            <option *ngFor="let type of types" [ngValue]="type">{{ type }}</option>
          </select>
        </div>
        <div class="form-check">
          <input id="disabled" class="form-check-input" type="checkbox" [(ngModel)]="disabled">
          <sbb-label class="form-check-label" for="disabled">Disabled</sbb-label>
        </div>
        <div class="form-check" *ngIf="inputType !== 'file'">
          <input id="readonly" class="form-check-input" type="checkbox" [(ngModel)]="readonly">
          <sbb-label class="form-check-label" for="readonly">Readonly</sbb-label>
        </div>
      </fieldset>
     </div>
  </div>
</div>
