<div class="conatiner">
  <div class="row justify-content-between">  
     <div class="col-6">
      <h5>Input Field</h5>
      <fieldset>      
          <div class="form-class">
            <sbb-input-field>
              <sbb-label class="my-1 mr-2" for="simpleInput">Name</sbb-label>
              <br/>
              <div *ngIf="disabled; else enabled">
                  <sbb-label class="my-1 mr-2">{{ inputText ? inputText : placeholder }}</sbb-label> 
              </div>
              <ng-template #enabled>
                  <input [type]="inputType"
                         [placeholder]="placeholder"
                          autocomplete="off"
                          spellcheck="false"
                         [readonly]="readonly"
                         [disabled]="disabled"
                         [(ngModel)]="inputText"
                         id="simpleInput"
                         class="my-1 mr-2">
              </ng-template>
            </sbb-input-field>
          </div>
          <div class="form-group">
            <sbb-label>Model:</sbb-label>
            <sbb-label>{{ inputText | json }}</sbb-label>
          </div>
          <div class="form-group">
            <button type="button" (click)="inputText=''" [disabled]="disabled || readonly">Reset</button>
          </div>
      </fieldset>
     </div>
     <div class="col-lg-6">
      <h5>Properties</h5>
      <fieldset>
        <div class="form-group">
          <sbb-label>Please choose :</sbb-label>
          <select [(ngModel)]="inputType" class="form-control" (ngModelChange)="onChange($event)" id="dropdown">
            <option *ngFor="let type of types" [ngValue]="type">{{ type }}</option>
          </select>
        </div>
        <div class="form-check">
          <input id="disabled" class="form-check-input" type="checkbox" [(ngModel)]="disabled">
          <sbb-label class="form-check-label" for="disabled">Disabled</sbb-label>
        </div>
        <div class="form-check" *ngIf="inputType !== 'file'">
          <input id="readonly" class="form-check-input" type="checkbox" [(ngModel)]="readonly">
          <sbb-label class="form-check-label" for="readonly">Readonly</sbb-label>
        </div>
      </fieldset>
     </div>
  </div>
</div>
