<label [attr.for]="inputId" class="sbb-toggle-option-button">
  <input
    #input
    type="radio"
    class="cdk-visually-hidden"
    [id]="inputId"
    [checked]="checked"
    [disabled]="disabled"
    [tabIndex]="tabIndex"
    [attr.name]="name"
    [attr.value]="value"
    [required]="required"
    [attr.aria-label]="ariaLabel"
    [attr.aria-labelledby]="ariaLabelledby"
    [attr.aria-describedby]="ariaDescribedby"
    [attr.aria-controls]="checked && _details ? toggle._contentId : null"
    [attr.aria-expanded]="checked && _details ? true : null"
    (change)="_onInputChange($event)"
    (click)="_onInputClick($event)"
  />
  <span class="sbb-toggle-option-button-label-wrapper">
    <span
      *ngIf="_hasIcon()"
      [ngSwitch]="!!_icon"
      role="presentation"
      class="sbb-toggle-option-button-icon sbb-icon-scaled"
    >
      <ng-content *ngSwitchCase="true" select="sbb-toggle-icon"></ng-content>
      <span *ngSwitchCase="false">
        <sbb-icon [svgIcon]="indicatorIcon"></sbb-icon>
      </span>
    </span>
    <span class="sbb-toggle-option-button-label" [ngSwitch]="!!_label">
      <ng-container *ngSwitchCase="false">{{ label }}</ng-container>
      <ng-content select="sbb-toggle-label" *ngSwitchCase="true"></ng-content>
    </span>
    <span
      *ngIf="subtitle || _subtitle"
      class="sbb-toggle-option-button-subtitle"
      [ngSwitch]="!!_subtitle"
    >
      <span class="cdk-visually-hidden">&nbsp;</span>
      <ng-container *ngSwitchCase="false">{{ subtitle }}</ng-container>
      <ng-content select="sbb-toggle-subtitle" *ngSwitchCase="true"></ng-content>
    </span>
  </span>
</label>

<ng-template cdkPortal>
  <ng-content select="sbb-toggle-details"></ng-content>
</ng-template>
