<label [attr.for]="inputId" class="sbb-toggle-option-button">
  <input
    #input
    type="radio"
    class="cdk-visually-hidden sbb-transparent-parent-overlay"
    [id]="inputId"
    [checked]="checked"
    [disabled]="disabled"
    [tabIndex]="tabIndex"
    [attr.name]="name"
    [attr.value]="value"
    [required]="required"
    [attr.aria-label]="ariaLabel"
    [attr.aria-labelledby]="ariaLabelledby"
    [attr.aria-describedby]="ariaDescribedby"
    [attr.aria-controls]="checked && _details ? toggle._contentId : null"
    (change)="_onInputChange($event)"
    (click)="_onInputClick($event)"
  />
  <span class="sbb-toggle-option-button-label-wrapper">
    @if (_hasIcon()) {
    <span role="presentation" class="sbb-toggle-option-button-icon sbb-icon-scaled">
      @switch (!!_icon) { @case (true) {
      <ng-content select="sbb-toggle-icon"></ng-content>
      } @default {
      <span>
        <sbb-icon [svgIcon]="svgIcon"></sbb-icon>
      </span>
      } }
    </span>
    }
    <span class="sbb-toggle-option-button-label">
      @switch (!!_label) { @case (true) {
      <ng-content select="sbb-toggle-label"></ng-content>
      } @default {
      <ng-container>{{ label }}</ng-container>
      } }
    </span>
    @if (subtitle || _subtitle) {
    <span class="sbb-toggle-option-button-subtitle">
      <span class="cdk-visually-hidden">&nbsp;</span>
      @switch (!!_subtitle) { @case (true) {
      <ng-content select="sbb-toggle-subtitle"></ng-content>
      } @default { {{ subtitle }} } }
    </span>
    }
  </span>
</label>

<ng-template cdkPortal>
  <ng-content select="sbb-toggle-details"></ng-content>
</ng-template>
