@import '../styles/common';

.sbb-toggle {
  font-size: var(--sbb-font-size);
  line-height: var(--sbb-line-height);
  display: block;
}

.sbb-toggle-label-wrapper {
  display: flex;
  align-items: stretch;
}

.sbb-toggle-option {
  flex: 1;
}

.sbb-toggle-option-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: var(--sbb-color-milk);
  color: var(--sbb-color-grey);
  border-radius: var(--sbb-border-radius);
  padding: pxToEm(8) pxToEm(15) pxToEm(9);
  line-height: 1.5;
  border: var(--sbb-border-width-thin) solid transparent;

  :where(html:not(.sbb-lean)) & {
    min-height: pxToEm(65);

    @include mq($from: desktop) {
      padding: pxToEm(8) pxToEm(23) pxToEm(9);
    }
  }
  :where(html.sbb-lean) & {
    padding: pxToEm(5) pxToEm(15) pxToEm(6);
    border-color: var(--sbb-color-aluminum);
  }

  &:hover {
    cursor: pointer;
  }

  .sbb-toggle-option:not(.sbb-toggle-option-selected):first-child & {
    :where(html.sbb-lean) & {
      border-right-color: transparent;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .sbb-toggle-option:not(.sbb-toggle-option-selected):not(:last-child):not(:first-child) & {
    :where(html.sbb-lean) & {
      border-radius: 0;
    }

    .sbb-toggle-option-selected + & {
      :where(html.sbb-lean) & {
        border-left-color: transparent;
      }
    }

    .sbb-toggle-option:not(.sbb-toggle-option-selected) + & {
      :where(html.sbb-lean) & {
        border-right-color: transparent;
      }
    }
  }

  .sbb-toggle-option:not(.sbb-toggle-option-selected):last-child & {
    :where(html.sbb-lean) & {
      border-left-color: transparent;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .sbb-toggle-option-selected & {
    background-color: var(--sbb-color-white);
    border-color: var(--sbb-color-black);
    color: var(--sbb-color-black);
  }
}

.sbb-toggle-option-button-icon {
  display: inline-block;
  vertical-align: middle;
  max-width: var(--sbb-icon-size-default);
  max-height: var(--sbb-icon-size-default);
}

.sbb-toggle-option-button-label-wrapper {
  text-align: center;
}

.sbb-toggle-option-button-label {
  display: inline-block;
  color: inherit;
  vertical-align: middle;

  .sbb-toggle-option-has-icon & {
    max-width: calc(100% - var(--sbb-icon-size-default));
    text-align: left;
    padding-left: 0.5em;
  }
}

.sbb-toggle-option-button-subtitle {
  display: block;
  color: inherit;
  font-size: var(--sbb-font-size-small);
  max-height: 3em;
  opacity: 1;
  overflow: hidden;
  transition: max-height var(--sbb-transition-default), opacity var(--sbb-transition-default);

  .sbb-toggle-option-selected & {
    opacity: 0;
    max-height: 0;
  }
}

.sbb-toggle-option-content {
  display: flex;
  background-color: var(--sbb-color-white);
  padding: pxToEm(24);
  max-height: pxToEm(600);
  visibility: visible;
  opacity: 1;
  transition: opacity 0.25s ease, visibility 0.25s ease, padding 0.2s ease, max-height 0.2s ease;
  margin-top: pxToEm(-2);
  position: relative;
  border: var(--sbb-border-width-thin) solid var(--sbb-color-black);
  border-radius: var(--sbb-border-radius);

  :where(html.sbb-lean) & {
    padding: pxToEm(15);
  }

  &:empty {
    max-height: 0;
    visibility: hidden;
    opacity: 0;
    padding: 0;
  }

  &::before {
    content: '';
    position: absolute;
    height: 0;
    top: var(--sbb-border-width-thin-negative);
    width: calc(50% - var(--sbb-border-width-thin));
    border-bottom: pxToRem(1) solid var(--sbb-color-silver);

    .sbb-toggle-triple & {
      width: calc(33.33333% - var(--sbb-border-width-thin));
    }
  }

  .sbb-toggle-first-option-selected & {
    border-top-left-radius: 0;
    &::before {
      left: 0;
    }
  }

  .sbb-toggle-middle-option-selected &::before {
    left: calc(33.33333% + var(--sbb-border-width-thin));
  }

  .sbb-toggle-last-option-selected & {
    border-top-right-radius: 0;
    &::before {
      right: 0;
    }
  }
}
