$autocompleteTransition:                    height .25s cubic-bezier(.4, 0, .2, 1), opacity .25s cubic-bezier(.4, 0, .2, 1);
$autocompleteBg:                            $colorWhite;
$autocompleteBorder:                        2px solid $colorGrey;
$autocompleteBorderTop:                     none;
$autocompleteBorderTopReverse:              $autocompleteBorder;
$autocompleteShadow:                        0 8px 0 rgba(0, 0, 0, .15);
$autocompleteShadowReverse:                 0 -8px 0 rgba(0, 0, 0, .15);
$autocompleteColor:                         $colorGrey;
$autocompleteInputActiveBorderBottomColor:  $colorBlack10;
