<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 sbbsc-v-sep">
      <h4 id="default" class="sbbsc-block">Default notifications</h4>
      <sbb-notification message="Suchen" [type]="type"></sbb-notification>
    </div>
    <div class="col-lg-6">
      <h4 class="sbbsc-block">Properties</h4>
      <sbb-field mode="long" label="Notification type">
        <select [(ngModel)]="type" sbbInput>
          <option *ngFor="let type of types" [value]="type">{{ type }}</option>
        </select>
      </sbb-field>
    </div>
  </div>

  <div role="presentation" class="sbbsc-separator"></div>

  <div class="row">
    <div class="col-lg-6">
      <h4 class="sbbsc-block">Notification with custom icon</h4>
      <sbb-notification message="Suchen">
        <sbb-icon-clock *sbbIcon></sbb-icon-clock>
      </sbb-notification>
    </div>
  </div>

  <div role="presentation" class="sbbsc-separator"></div>

  <div class="row">
    <div class="col-lg-6">
      <h4 class="sbbsc-block">
        Error notification with jump marks and custom icon
      </h4>
      <sbb-notification message="Suchen" type="error" [jumpMarks]="jumpMarks">
        <sbb-icon-cloud-sunshine *sbbIcon></sbb-icon-cloud-sunshine>
      </sbb-notification>
    </div>
  </div>

  <div role="presentation" class="sbbsc-separator"></div>

  <div class="row">
    <div class="col-lg-6">
      <h4 class="sbbsc-block">
        Success notification with jump marks and custom icon
      </h4>
      <sbb-notification message="Suchen" [jumpMarks]="jumpMarks">
        <sbb-icon-bulb-on *sbbIcon></sbb-icon-bulb-on>
      </sbb-notification>
    </div>
  </div>
</div>
