<section id="search">
    <label for="search-input">
       <i class="fa fa-search" aria-hidden="true" style="position: absolute; left: 35px; top: 87px; color: grey;"></i>
    </label>
    <input id="search-input" 
           class="form-control" 
           type="text" 
           (input)="onSearchChange($event.target.value)"
           placeholder="Search components ..."
           #reference>
</section>
<!-- 
{{ foundUiComponents | json }}
-->
<div class="result" *ngIf="foundUiComponents.length > 0">
  <div *ngFor="let uiComponent of foundUiComponents">
    <a [routerLink]="['/content/' + uiComponent['routerLink']]"
        style="text-decoration: none; color: white;"
        (click)="reference.value='';navigate('/content/' + uiComponent['routerLink']);">
      <div id="flip_container">
        <div id="flip_card" class="shadow">
          <div class="front face">
            <div class="row">
              <div class="col align-self-start">
                <span style="font-size: 15px;">
                  {{ uiComponent['id'] }}
                </span>
              </div>
            </div>
            <div class="row">
              <div class="col align-self-start">
                <span style="font-size: 13px;">{{ (uiComponent['subTitle'].length > 16) ? (uiComponent['subTitle'] | slice:0:16) + '...' : (uiComponent['subTitle']) }}</span>  
              </div>
            </div>
            <hr/> 
            <div class="row">
              <div class="col align-self-center" style="font-size: 13px;">
                <span style="float:left;">
                  <i [ngClass]="uiComponent['isComponent'] ? 'fa fa-check-circle' : 'fa fa-circle-o'" aria-hidden="true"></i> Component
                </span>
                <span style="float:right;">
                  <i [ngClass]="uiComponent['isDirective'] ? 'fa fa-check-circle' : 'fa fa-circle-o'" aria-hidden="true"></i> Directive
                </span>
              </div>
            </div>
          </div>
          <div class="back face center">
            <div class="col align-self-center">
              <i class="fa fa-info-circle" aria-hidden="true"></i>
              <br/>
              <span style="font-size: 13px;">
                This is nice for exposing more information about {{ uiComponent['id'] }}.
              </span>  
            </div>
          </div>
        </div>
      </div>
    </a>
 </div>
 <span style="font-size: 13px; color:#1b81d7;">Found {{ foundUiComponents.length }} Component(s).</span>
</div>