#search #search-input, #search .hint {
    padding-left: 43px;
    padding-right: 43px;
    border-radius: 23px;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff; 
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.title {
    margin: -0.14285714em 0em 0em; 
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1em;
    color: #1b81d7;
}

.result {
    cursor: pointer;
    display: block;
    overflow: hidden;
    font-size: 1em;
    padding: 0.85714286em 1.14285714em;
    background-color: white;
    line-height: 1.33;
    border-bottom: 1px solid #1b81d7;
    border-radius: 0.28571429rem;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid #1b81d7;
    /*background-image: linear-gradient(to left,#2bc0ec,#1b81d7);*/ 
    z-index: 998;
}

input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

.ghost-button {
    display: block;
    color: #1b81d7;
    background: white;
    border: 2px solid #1b81d7;
    font-size: 17px;
    padding: 7px 12px;
    font-weight: normal;
    margin: 6px 0;
    margin-right: 12px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    /*min-width: 120px;*/ 
 }

 .ghost-button:hover, .ghost-button:active {
    color:white;
    background:#1b81d7;
 }