@import '../../../checkbox/src/checkbox';
@import '../../../radio-button/src/radio-button';

@mixin checkboxRadioButtonPanel {
  .sbb-checkbox-radio-button-panel {
    border: toPx($checkboxRadioButtonPanelBorderSize) solid $sbbColorMilk;
    background-color: $sbbColorMilk;
    font-size: toPx($sizeFontDefault);
    width: 100%;
    height: toPx($checkboxRadioButtonPanelHeight);
    padding: toPx($checkboxRadioButtonPanelPadding);
    border-radius: toPx($checkboxRadioButtonPanelBorderRadius);
    display: flex;
    transition: border-color 0.15s ease-in-out;
    user-select: none;

    &-checked {
      background-color: $sbbColorWhite;
      border: solid toPx($checkboxRadioButtonPanelBorderSize) $sbbColorBlack;
      color: $sbbColorBlack;
    }

    @include mq($from: desktop4k) {
      font-size: toPx($sizeFontDefault * $scalingFactor4k);
      height: toPx($checkboxRadioButtonPanelHeight * $scalingFactor4k);
      border: toPx($checkboxRadioButtonPanelBorderSize * $scalingFactor4k) solid $sbbColorMilk;
      padding: toPx($checkboxRadioButtonPanelPadding * $scalingFactor4k);
      border-radius: toPx($checkboxRadioButtonPanelBorderRadius * $scalingFactor4k);
    }

    @include mq($from: desktop5k) {
      font-size: toPx($sizeFontDefault * $scalingFactor5k);
      height: toPx($checkboxRadioButtonPanelHeight * $scalingFactor5k);
      border: toPx($checkboxRadioButtonPanelBorderSize * $scalingFactor5k) solid $sbbColorMilk;
      padding: toPx($checkboxRadioButtonPanelPadding * $scalingFactor5k);
      border-radius: toPx($checkboxRadioButtonPanelBorderRadius * $scalingFactor5k);
    }

    &-has-subtitle {
      height: toPx($checkboxRadioButtonPanelHeightWithSubtitle);
      @include mq($from: desktop4k) {
        height: toPx($checkboxRadioButtonPanelHeightWithSubtitle * $scalingFactor4k);
      }

      @include mq($from: desktop5k) {
        height: toPx($checkboxRadioButtonPanelHeightWithSubtitle * $scalingFactor5k);
      }
    }

    &-disabled {
      @include checkboxRadioButtonPanelDisabled;
    }

    .sbb-checkbox-radio-button-panel-header {
      @include radioButtonBase;
    }

    .sbb-checkbox-radio-button-panel-multiple-header {
      @include checkboxBase;
    }

    .sbb-checkbox-radio-button-panel-header-subtitle {
      color: $sbbColorGrey;
      font-size: toPx($checkboxRadioButtonPanelSubtitleFontSize);

      @include mq($from: desktop4k) {
        font-size: toPx($checkboxRadioButtonPanelSubtitleFontSize * $scalingFactor4k);
      }
      @include mq($from: desktop5k) {
        font-size: toPx($checkboxRadioButtonPanelSubtitleFontSize * $scalingFactor5k);
      }
    }
  }
}
@mixin checkboxRadioButtonPanelDisabled {
  color: $sbbColorGrey;
  background-color: $sbbColorWhite;
  border: toPx($checkboxRadioButtonPanelBorderSize) solid $sbbColorMilk;
  @include mq($from: desktop4k) {
    border: toPx($checkboxRadioButtonPanelBorderSize * $scalingFactor4k) solid $sbbColorMilk;
  }
  @include mq($from: desktop5k) {
    border: toPx($checkboxRadioButtonPanelBorderSize * $scalingFactor5k) solid $sbbColorMilk;
  }
}

@mixin checkboxRadioButtonPanelImage {
  width: toPx($checkboxRadioButtonPanelImageWidth);
  height: toPx($checkboxRadioButtonPanelImageHeight);
  margin-left: auto;
  @include mq($from: desktop4k) {
    width: toPx($checkboxRadioButtonPanelImageWidth * $scalingFactor4k);
    height: toPx($checkboxRadioButtonPanelImageHeight * $scalingFactor4k);
  }
  @include mq($from: desktop5k) {
    width: toPx($checkboxRadioButtonPanelImageWidth * $scalingFactor5k);
    height: toPx($checkboxRadioButtonPanelImageHeight * $scalingFactor5k);
  }
  * {
    max-width: 100%;
    max-height: 100%;
  }
}
