<ng-container *ngIf="linkMode">
  <div class="sbb-tag-content">
    <span class="sbb-tag-label">{{ label }}</span>
    <span>&nbsp;</span>
    <sbb-badge
      i18n-aria-label="
         Aria label for amount of results displayed in badge pill@@sbbTagBadgePillAmountOfResults
      "
      aria-label="{{ amount }} Resultate verfügbar"
      class="sbb-badge-active"
      >{{ amount }}</sbb-badge
    >
  </div>
</ng-container>

<ng-container *ngIf="!linkMode">
  <label class="sbb-tag-content" [attr.for]="inputId">
    <input
      #input
      type="checkbox"
      class="cdk-visually-hidden"
      [id]="inputId"
      [attr.name]="name"
      [attr.value]="value"
      [required]="required"
      [checked]="checked"
      [tabIndex]="tabIndex"
      [attr.aria-checked]="checked"
      [attr.aria-label]="ariaLabel"
      [attr.aria-labelledby]="ariaLabelledby"
      [attr.aria-describedby]="ariaDescribedby"
      [disabled]="disabled"
      (change)="_onInteractionEvent($event)"
      (click)="_onInputClick($event)"
    />

    <!-- Add an invisible span so JAWS can read the label -->
    <span style="display:none">&nbsp;</span>
    <span class="sbb-tag-label">{{ label }}</span>
    <span>&nbsp;</span>
    <sbb-badge
      i18n-aria-label="
         Aria label for amount of results displayed in badge pill@@sbbTagBadgePillAmountOfResults
      "
      aria-label="{{ amount }} Resultate verfügbar"
      [active]="checked"
      >{{ amount }}</sbb-badge
    >
  </label>
</ng-container>
