$sbb-accordion-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !default;
$sbb-accordion-toggle-size: 32;
$sbb-accordion-toggle-icon-size: 24;
$sbb-accordion-toggle-icon-color: $colorGrey;
$sbb-accordion-toggle-color: $colorBlack40;
$sbb-accordion-header-padding: pxToEm(40)
  pxToEm(32 + ($sbb-accordion-toggle-size + 5)) pxToEm(40) pxToEm(32);
$sbb-accordion-header-padding-no-toggle: pxToEm(40) pxToEm(32);
$sbb-accordion-content-padding-mobile: pxToEm(36) pxToEm(32);
$sbb-accordion-content-padding: pxToEm(48) pxToEm(32);
$sbb-accordion-header-font-size: 21;
$sbb-accordion-header-bgcolor: $colorBlack5;
$sbb-accordion-body-expanded-border-color: $colorBlack10;
