@mixin expansionPanelHeader() {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: $sbb-accordion-header-padding;
  position: relative;
  background-color: $sbb-accordion-header-bgcolor;

  @include mq($from: desktop4k) {
    font-size: toEm(1 * $scalingFactor4k);
  }

  @include mq($from: desktop5k) {
    font-size: toEm(1 * $scalingFactor5k);
  }

  &:focus,
  &:hover {
    outline: none;
  }

  &.sbb-no-toggle {
    padding: $sbb-accordion-header-padding-no-toggle;
  }

  &.sbb-expanded {
    &::after {
      content: "";
      display: block;
      position: absolute;
      height: 0;
      width: calc(100% - #{toPx($sbb-accordion-toggle-size * 2)});
      bottom: 0;
      left: toPx($sbb-accordion-toggle-size);
      border-bottom: 1px solid $sbb-accordion-body-expanded-border-color;

      @include mq($from: desktop4k) {
        border-width: toPx(1 * $scalingFactor4k);
      }

      @include mq($from: desktop5k) {
        border-width: toPx(1 * $scalingFactor5k);
      }
    }
  }

  &.sbb-expanded,
  &.sbb-expanded:focus,
  &.sbb-expanded:hover {
    background: inherit;
  }

  &[aria-disabled="true"] {
    opacity: 0.75;
  }

  &:not([aria-disabled="true"]) {
    cursor: pointer;
  }

  &-content {
    display: flex;
    flex: 1;
    flex-direction: row;
    overflow: hidden;
    font-size: pxToEm($sbb-accordion-header-font-size);
    font-family: $fontSbbLight;
    line-height: 1.3;
  }
}

@mixin expansionIndicator() {
  @include svgIconColor($sbb-accordion-toggle-icon-color);
  position: absolute;
  top: 50%;
  right: pxToEm($sbb-accordion-toggle-size);
  width: pxToEm($sbb-accordion-toggle-size);
  height: pxToEm($sbb-accordion-toggle-size);
  border: 1px solid $sbb-accordion-toggle-color;
  border-radius: 50%;
  transform: translateY(-50%);
  text-align: center;

  svg {
    width: pxToEm($sbb-accordion-toggle-icon-size);
    height: pxToEm($sbb-accordion-toggle-icon-size);
    vertical-align: middle;
    margin-top: pxToEm(2);
  }
}
