@use 'external/npm/node_modules/@angular/cdk' as cdk;
@import '../styles/common';

.sbb-overlay-background {
  background-color: var(--sbb-color-white-alpha70);
  align-items: center;
}

.sbb-dialog-container {
  display: flex;
  flex-direction: column;
  border: var(--sbb-border-width) solid var(--sbb-color-grey);
  box-sizing: border-box;
  overflow: hidden;
  outline: 0;
  background-color: var(--sbb-color-background);

  // The dialog container should completely fill its parent overlay element.
  width: 100%;
  height: 100%;

  // Since the dialog won't stretch to fit the parent, if the height
  // isn't set, we have to inherit the min and max values explicitly.
  min-height: inherit;
  max-height: inherit;

  :where(html.sbb-lean) & {
    border-color: var(--sbb-color-iron);
  }

  @include cdk.high-contrast(active, off) {
    outline: solid pxToRem(1);
  }
}

// When using dialog with a component, the component element is placed as a
// single element inside the container.
.sbb-dialog-container > *:only-child:not(.sbb-dialog-content) {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sbb-dialog-content {
  display: block;
  padding: var(--sbb-dialog-padding);
  flex: 1 1 auto;
  max-height: 80vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  // Remove the top margin from the first element inside the content.
  > *:first-child {
    margin-top: 0;
  }
}

.sbb-dialog-title {
  font-size: var(--sbb-font-size);
  padding: calc(#{pxToRem(15)} * var(--sbb-scaling-factor))
    calc(#{pxToRem(40)} * var(--sbb-scaling-factor))
    calc(#{pxToRem(15)} * var(--sbb-scaling-factor)) var(--sbb-dialog-padding);
  flex: 0 0 auto;
  display: block;
  position: relative;
  box-shadow: var(--sbb-box-shadow-horizontal-border-top);
  @include ellipsis;
}

.sbb-dialog-title-close-button {
  position: absolute;
  right: calc(#{pxToRem(16)} * var(--sbb-scaling-factor));
  cursor: pointer;
  line-height: 0;

  &:is(:hover, :focus) {
    color: var(--sbb-color-call-to-action-hover);
  }
}

.sbb-dialog-actions {
  padding: calc(#{pxToRem(7)} * var(--sbb-scaling-factor))
    calc(#{pxToRem(16)} * var(--sbb-scaling-factor));
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: var(--sbb-button-gap);
  align-items: center;
  justify-content: flex-end;

  // Explicitly set a box-sizing since people commonly set `border-box`
  // on all elements which will break the height of the dialog actions.
  box-sizing: content-box;
  box-shadow: var(--sbb-box-shadow-horizontal-border-bottom);

  &[align='start'],
  &[align='left'] {
    justify-content: flex-start;
  }

  &[align='center'] {
    justify-content: center;
  }
}
