<div class="container">
  <div class="row justify-content-between">  
    <div class="col-6"> 
    <h5>Tabs</h5>
    <fieldset>
    <sbb-tabs>
      <!-- First tab (required) -->
      <sbb-tab [label]="'Tab 1'" 
               [id]="'content1-tab'"
               [labelId]="'content1'">
          <br/>
          <h5>Content 1</h5>
          <hr/>
          <p>Here comes the content for tab 1 ...</p>
          <br/>
      </sbb-tab>
      <!-- Second tab (required) -->
      <sbb-tab [label]="'Tab 2'" 
               [id]="'content2-tab'"
               [labelId]="'content2'">
          <br/>
          <h5>Content 2</h5>
          <hr/>
          <p>Here comes the content for tab 2 ...</p>
          <br/>
      </sbb-tab>
      <!-- Third tab (required) -->
      <sbb-tab [label]="'Tab 3'" 
               [id]="'content3-tab'"
               [labelId]="'content3'">
        <br/>
        <h5>Content 3</h5>
        <hr/>
        <p>Here comes the content for tab 3 ...</p>
        <br/>
      </sbb-tab>
      <!-- Fourth tab with the possibility of dynamic tabs if any -->
      <sbb-tab [label]="'Persons'"
               [id]="'persons-tab'"
               [labelId]="'persons'"
               [badgePill]="getCountOfPersons()" 
               [disabled]="disabled"
               *ngIf="!removed">
        <br/>
        <h5>List of Persons</h5>
        <hr/>
        <person-list [person]="person"></person-list>
      </sbb-tab>
    </sbb-tabs>
    </fieldset>
    <small class="font-italic">* Navigate with &#8592; and &#8593; for left, &#8594; and &#8595; for right</small>
    </div>
    <div class="col-lg-6">
      <h5>Properties</h5>
      <fieldset>
          <div class="form-group">
              <sbb-label>Please set data-set for tabs content / tab pill :</sbb-label>
              <select [(ngModel)]="dataSet" class="form-control" (ngModelChange)="onChangeOfDataSet($event)">
                <option *ngFor="let set of data" [ngValue]="set">{{ set }}</option>
              </select>
          </div>
          <div class="form-check">
            <input id="disabled" class="form-check-input" type="checkbox" [(ngModel)]="disabled" (change)="setFirstTabIfDisabled()">
            <sbb-label class="form-check-label" for="disabled">Disabled</sbb-label>
          </div>
          <div class="form-check">
            <input id="removed" class="form-check-input" type="checkbox" [(ngModel)]="removed" (change)="checkValueForRemoveLastTab()">
            <sbb-label class="form-check-label" for="removed">Remove last tab in the tabs module</sbb-label>
          </div>
      </fieldset>
    </div>
  </div>
</div>
