<div class="container">
  <div class="row justify-content-between">  
    <div class="col-6"> 
    <h5>Tabs</h5>
    <fieldset>
    <sbb-tabs>
      <!-- First tab (required) -->
      <sbb-tab [tabTitle]="'Tab 1'" [tabId]="1">
        <div class="card">
          <div class="container">
             <br/>
             <h5>Content 1</h5>
             <hr/>
             <p>Here comes the content for tab 1 ...</p>
             <br/>
          </div> 
        </div>
      </sbb-tab>
      <!-- Second tab (required) -->
      <sbb-tab [tabTitle]="'Tab 2'" [tabId]="2">
        <div class="card">
          <div class="container">
            <br/>
            <h5>Content 2</h5>
            <hr/>
            <p>Here comes the content for tab 2 ...</p>
            <br/>
          </div>  
        </div>
      </sbb-tab>
      <!-- Third tab with the possibility of dynamic tabs if any -->
      <sbb-tab [tabTitle]="'Persons'" [tabId]="3" [badgePill]="getCountOfPersons()" [disabled]="disabled" *ngIf="withDynamicTabs">
        <div class="card">
          <div class="container">
            <br/>
            <h5>List of Persons</h5>
            <hr/>
            <person-list [person]="person" (addPerson)="onAddPerson()" (editPerson)="onEditPerson($event)"></person-list>
          </div>
        </div>
      </sbb-tab>
    </sbb-tabs>
    <ng-template let-person="person" #personEdit>
      <person-edit [person]="person" (savePerson)="onPersonFormSubmit($event)"></person-edit>
    </ng-template>
    </fieldset>
    </div>
    <div class="col-lg-6">
      <h5>Properties</h5>
      <fieldset>
          <div class="form-group">
            <sbb-label>Please choose :</sbb-label>
            <select [(ngModel)]="tabType" class="form-control" (ngModelChange)="onChangeOfType()">
              <option *ngFor="let type of types" [ngValue]="type">{{ type }}</option>
            </select>
          </div>
          <div *ngIf="withDynamicTabs" class="form-group">
              <sbb-label>Please set data set for dynamic tabs content :</sbb-label>
              <select [(ngModel)]="dataSet" class="form-control" (ngModelChange)="onChangeOfDataSet($event)">
                <option *ngFor="let set of data" [ngValue]="set">{{ set }}</option>
              </select>
          </div>
          <div class="form-check">
            <input id="disabled" class="form-check-input" type="checkbox" [(ngModel)]="disabled">
            <sbb-label class="form-check-label" for="disabled">Disabled</sbb-label>
          </div>
      </fieldset>
    </div>
  </div>
</div>
