<h2 i18n class="sbbsc-content-title">
  SBB Angular Component And Icons Library
</h2>

<p i18n>
  Our customers should find their way around SBB's digital channels and get to
  the information they need as quickly as possible. This only works with a
  consistent user experience across all channels, guaranteeing a uniform
  appearance across all platforms.
</p>

<p i18n>
  SBB's digital guidelines form the visual guidelines in the new media and are
  binding on both internal and external projects. They provide clarity on the
  most important and everyday brand-related questions in online media.
</p>

<nav class="sbbsc-cards">
  <ul class="sbbsc-cards-list">
    <li class="sbbsc-cards-card">
      <a routerLink="/getting-started">
        <div class="sbbsc-cards-card-hero">
          <img
            alt="Getting started"
            src="assets/images/getting-started-teaser.jpg"
          />
        </div>
        <h3 i18n class="sbbsc-cards-card-title">Getting started</h3>
      </a>
    </li>
    <li class="sbbsc-cards-card">
      <a routerLink="/components-list">
        <div class="sbbsc-cards-card-hero">
          <img
            alt="SBB Angular Component Library"
            src="assets/images/comp-library-teaser.jpg"
          />
        </div>
        <h3 i18n class="sbbsc-cards-card-title">
          SBB Angular Component Library
        </h3>
      </a>
    </li>
    <li class="sbbsc-cards-card">
      <a routerLink="/icons-list">
        <div class="sbbsc-cards-card-hero">
          <img
            alt="SBB Angular Icons Library"
            src="assets/images/icons-library-teaser.jpg"
          />
        </div>
        <h3 i18n class="sbbsc-cards-card-title">SBB Angular Icons Library</h3>
      </a>
    </li>
  </ul>
</nav>
