<!-- 1) Introduction -->
<div class="content-section introduction">
  <div>
    <span class="feature-title">SBB Angular Component Library</span>
    <span>Made with Angular</span>
  </div>
</div>

<!-- 2) Implementation -->
<div class="content-section implementation">
  <div class="container text-center">
    <br/>
    <br/>
    <div class="row">
        <div class="col align-self-center" style="color: white;">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col align-self-center">
          <a class="ghost-button" href="javascript:void(0);" style="text-decoration: none;" (click)="openComponents();">SBB Angular Component Library</a>
          <a class="ghost-button" href="javascript:void(0);" style="text-decoration: none;" (click)="openIcons();">SBB Angular Icons Library</a>
        </div>
    </div>
    <br/>
    <br/>
  </div>
</div>

<!-- 4) Footer -->
<div class="content-section layout-footer">
  <div class="container text-center">
    <span class="center">&#169; 2018 Fincons Group AG</span>
    <div class="footer-links">
      <a href="https://github.com/">
        <i class="fa fa-github" aria-hidden="true"></i>
      </a>
      <a href="https://twitter.com/">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
      <a href="https://slack.com/">
        <i class="fa fa-slack" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>