<h2 i18n class="sbbsc-content-title">SBB Angular Component And Icons Library</h2>

<p i18n>
  Unsere Kundinnen und Kunden sollen sich auf allen digitalen Kanälen der SBB einfach zurecht finden und
  schnellstmöglich zu den gewünschten Informationen gelangen. Das funktioniert nur mit einer über alle Kanäle
  konsistenten User Experience, die einen über alle Plattformen einheitlichen Auftritt garantiert.
</p>

<p i18n>
  Die digitalen Richtlinien der SBB bilden die visuellen Leitplanken in den neuen Medien und sind sowohl für interne
  wie auch externe Projekte verbindlich. Sie sorgen für Klarheit, was die wichtigsten und alltäglichen markenrelevanten
  Fragen in Online-Medien angeht.
</p>

<nav class="sbbsc-cards">
  <ul class="sbbsc-cards-list">
    <li class="sbbsc-cards-card">
      <a routerLink="/components-list">
        <div class="sbbsc-cards-card-hero">
          <img alt="Design Prinzipien" src="assets/images/comp-library-teaser.jpg">
        </div>
        <h3 i18n class="sbbsc-cards-card-title">SBB Angular Component Library</h3>
      </a>
    </li>
    <li class="sbbsc-cards-card">
      <a routerLink="/icons-list">
        <div class="sbbsc-cards-card-hero">
          <img alt="Barrierefreiheit" src="assets/images/icons-library-teaser.jpg">
        </div>
        <h3 i18n class="sbbsc-cards-card-title">SBB Angular Icons Library</h3>
      </a>
    </li>
  </ul>
</nav>
