.content-section {
    display: block;
    border-bottom: 1px solid #dde3e6;
    padding: 30px;
    overflow: hidden;
    background-color: white;
}

.content-section.introduction {
    background-image: linear-gradient(to left,#2bc0ec,#1b81d7);
    color: white;
}

.feature-title {
    font-size: 30px;
    margin-bottom: 20px;
    display: block;
}

.implementation {
    background-image: url('/assets/favicons/sbb.jpg');
    background-color: white;
    overflow: visible;
}

.layout-footer {
    color: #000;
    font-weight: 400;
}

.footer-links {
    float: right;
    font-size: 24px;
}

.layout-footer .footer-links a {
    color: #000;
    margin-left: 16px;
}

.ghost-button {
    color: #1b81d7;
    background: white;
    border: 2px solid #1b81d7;
    font-size: 21px;
    padding: 7px 20px;
    font-weight: normal;
    margin: 6px 0;
    margin-right: 12px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    min-width: 120px;
 }

 .ghost-button:hover, .ghost-button:active {
    color:white;
    background:#1b81d7;
 }