@import 'https://unpkg.com/leaflet@1.6.0/dist/leaflet.css';

:host {
  display: block;
  height: 100%;
  width: 100%;
}

.config-empty {
  color: red;
  border: 1px solid red;
  padding: 1% 0 0 1%;
  width: 99%;
  height: 99%;
}
