@import '../../../../angular-core/styles/common/colors';
@import '../../../../angular-core/styles/common/variants';

$tooltipBorderRadius: 2;
$tooltipBorderWidth: 2;
$tooltipIconsBorderWidth: 1;
$tooltipWidth: 460;
$tooltipWidthMP: 351;
$tooltipMinWidth: 72;
$tooltipIconsSize: 24;
$tooltipContentPadding: 24;
$tooltipContentBelowMarginTop: 16;
$tooltipBoxShadowColor: rgba(102, 102, 102, 0.15);
$tooltipShadowSize: 8;
$tooltipContentArrowSize: 20;
$tooltipShadowBorderWidth: 14;
$tooltipArrowRightPosition: calc(100% - #{pxToEm(15.5)});
$tooltipArrowLeftPosition: pxToEm(15.5);
$tooltipShadow: 0 pxToEm(8) 0 0 rgba(102, 102, 102, 0.15);

@if ($sbbBusiness) {
  $tooltipBorderWidth: 1;
  $tooltipContentPadding: 8;
  $tooltipShadow: 0 pxToEm(-8) 0 0 rgba(102, 102, 102, 0.15);
}
