@mixin tabsBase() {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

@mixin tabsItem() {
  display: flex;
  align-items: baseline;
  padding-right: 3em;
  padding-left: 0;

  @include businessOnly() {
    padding-right: pxToEm(2px);
  }
}

@mixin tabsButton() {
  @include buttonResetFrameless();

  display: block;
  white-space: nowrap;
  font-family: $fontSbbLight;
  font-size: pxToRem($tabsFontSize);
  text-decoration: none;
  padding-bottom: pxToRem(8);
  position: relative;

  @include publicOnly() {
    margin-bottom: 1em;

    @include mq($from: tabletLandscape) {
      font-size: pxToRem(26);
      padding-bottom: pxToRem(20);
    }

    @include mq($from: desktop4k) {
      font-size: pxToRem(39);
    }

    @include mq($from: desktop5k) {
      font-size: pxToRem(52);
    }
  }

  @include businessOnly() {
    border: 1px solid transparent;
    padding: pxToEm(5) pxToEm(16) pxToEm(6) pxToEm(16);
  }

  &:hover,
  &:focus {
    cursor: pointer;
    outline: none;
  }

  @include publicOnly() {
    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      width: 0;
      left: 50%;
      height: 1px;
      border-bottom: 1px solid currentColor;
      transition: width 0.3s, left 0.3s;
    }
  }

  &.sbb-active {
    @include businessOnly() {
      color: $sbbColorBlack;
      background-color: $sbbColorWhite;
      border: 1px solid $sbbColorGraphite;
      border-bottom: 1px solid transparent;
    }
  }

  &.sbb-active::after,
  &:not(.sbb-active):focus::after,
  &:not(.sbb-active):hover::after {
    left: 0;
    width: 100%;
  }

  @include businessOnly() {
    &:not(.sbb-active) {
      color: $sbbColorGranite;
    }
  }

  &:not(.sbb-active):focus,
  &:not(.sbb-active):hover {
    color: $tabsHoverColor;

    @include publicOnly() {
      &::after {
        border-bottom-color: $sbbColorRed125;
      }
    }

    @include businessOnly() {
      &:not(:disabled) {
        border-bottom: 1px solid $tabsHoverColor;
      }
    }
  }

  &[disabled] {
    color: $sbbColorStorm;

    &:hover,
    &:focus {
      color: $sbbColorStorm;
      cursor: default;

      &::after {
        width: 0;
      }
    }
  }

  &.sbb-active:hover,
  &.sbb-active:focus {
    color: currentColor;
    cursor: default;

    @include publicOnly() {
      &::after {
        border-bottom-color: currentColor;
      }
    }
  }
}
