@import '../../../../angular-core/styles/common/variants';

$tabsHoverColor: $sbbColorRed125;
$tabsDisabledColor: $sbbColorStorm;
$tabsFontSize: 20;

@if $sbbBusiness {
  $tabsHoverColor: $sbbColorGranite;
  $tabsDisabledColor: $sbbColorGranite;
  $tabsFontSize: 15;
}
