@use '@sbb-esta/angular' as sbb;

.sbb-datepicker-content {
  position: relative;
  top: var(--sbb-datepicker-content-offset);
  font-size: var(--sbb-font-size);
  height: var(--sbb-datepicker-calendar-height);
  width: var(--sbb-datepicker-calendar-width);

  .sbb-datepicker-panel-above & {
    top: auto;
    bottom: var(--sbb-datepicker-content-offset);
  }

  // Arrow
  &::after {
    top: var(--sbb-datepicker-calendar-arrow-offset);
    left: calc(var(--sbb-datepicker-button-offset) + var(--sbb-border-width));
    content: '';
    height: var(--sbb-datepicker-calendar-arrow-width);
    width: var(--sbb-datepicker-calendar-arrow-width);
    position: absolute;
    pointer-events: none;
    transform: rotate(-135deg);
    background-color: var(--sbb-datepicker-calendar-background-color);
    border: var(--sbb-border-width) solid transparent;
    border-right-color: var(--sbb-color-weak-accent);
    border-bottom-color: var(--sbb-color-weak-accent);

    // Cut out obsolete triangle so it does not collide with calendar content
    // `-0.4px` fixes calculation issue in Firefox
    clip-path: polygon(-0.4px 100%, 100% -0.4px, 100% 100%);

    .sbb-datepicker-with-arrows & {
      left: calc(
        var(--sbb-datepicker-button-offset) + var(--sbb-border-width) +
          var(--sbb-icon-size-default) + var(--sbb-datepicker-button-gap)
      );
    }

    .sbb-datepicker-panel-above & {
      top: auto;
      bottom: var(--sbb-datepicker-calendar-arrow-offset);
      transform: rotate(45deg);

      clip-path: var(--sbb-box-shadow-arrow-clip-path);
      box-shadow: var(--sbb-box-shadow-arrow-width) var(--sbb-box-shadow-arrow-width) 0
        var(--sbb-box-shadow-arrow-width) var(--sbb-box-shadow-color);
    }

    // Hide arrow if panel is vertically centered
    .sbb-datepicker-panel-centered & {
      display: none;
    }
  }

  .sbb-calendar {
    box-shadow: var(--sbb-box-shadow-below);
  }
}
