<sbb-form-field class="sbb-form-field-long" label="Favorite Fruits">
  <sbb-chip-list aria-label="Fruit selection" [formControl]="selectedFruits">
    @for (fruit of selectedFruits.value; track fruit) {
    <sbb-chip [value]="fruit"> {{ fruit }} </sbb-chip>
    }
    <input
      placeholder="New fruit..."
      sbbChipInput
      [sbbChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [formControl]="fruitInputCtrl"
      [sbbAutocomplete]="auto"
    />
  </sbb-chip-list>
  <sbb-autocomplete #auto="sbbAutocomplete">
    @for (fruit of filteredFruits | async; track fruit) {
    <sbb-option [value]="fruit">{{ fruit }}</sbb-option>
    }
  </sbb-autocomplete>
</sbb-form-field>
