@import '../../angular-core/styles/common';

$dateInputBorderWidth: 2;
$defaultPickerIconSize: 24;
$defaultToggleLeftOffset: private-div($defaultPickerIconSize, 2);
$pickerIconsHoverColor: $sbbColorRed125;
$dateInputOneIconPadding: 44;
$dateInputTwoIconPadding: 72;
$withArrowsToggleLeftOffset: $defaultPickerIconSize + (private-div($defaultPickerIconSize, 2)) + 4;
$withArrowsLeftArrowOffset: private-div($defaultPickerIconSize, 2);
$withArrowsRightArrowOffset: private-div($defaultPickerIconSize, 2);
$datePickerMinWidth: 116;

$datePickerContentTop: 17;

$datePickerToggleWrapperArrowWidth: 24;
$datePickerToggleWrapperArrowHeight: pxToEm(16);
$datePickerToggleWrapperArrowLeftOffset: $defaultToggleLeftOffset;
$datePickerToggleWithArrowsWrapperArrowLeftOffset: $withArrowsToggleLeftOffset;
$datePickerToggleArrowWidth: 18;
$datePickerToggleArrowHeight: pxToEm(2);
$datePickerToggleArrowColor: $sbbColorGrey;
$datePickerToggleArrowBeforeOffset: pxToEm(-3);
$datePickerToggleArrowAfterOffset: pxToEm(9);

$datePickerCalendarBorderWidth: 2;
$datePickerCalendarBorder: pxToEm($datePickerCalendarBorderWidth) solid $sbbColorGrey;
$datePickerCalendarBg: $sbbColorWhite;
$datePickerCalendarHeaderColor: $sbbColorMetal;
$datePickerCalendarHeaderFontSize: pxToEm(13);
$datePickerCalendarWidthMobile: pxToEm(340);
$datePickerCalendarHeightMobile: pxToEm(380);
$datePickerCalendarWidth: pxToEm(428);
$datePickerCalendarHeight: pxToEm(428);
$datepickerCalendarLineColor: $sbbColorPlatinum;

$datePickerCalendarBorderRadius: pxToEm(2);
$datePickerCalendarBoxShadow: 0 pxToEm(8) 0 rgba(0, 0, 0, 0.15);
$datePickerRevertCalendarBoxShadow: 0 pxToEm(-8) 0 rgba(0, 0, 0, 0.15);
$datePickerCalendarHeaderHeight: pxToEm(68);
$datePickerCalendarHeaderLabelFontSize: pxToEm(21);
$datePickerCalendarHeaderLabelLineHeight: 3.2;

$datePickerCalendarTableContentPaddingMobile: 0 pxToEm(11) pxToEm(0) pxToEm(11);
$datePickerCalendarTableContentPaddingWidth: 18;
$datePickerCalendarTableContentPadding: 0 pxToEm($datePickerCalendarTableContentPaddingWidth)
  pxToEm(0) pxToEm($datePickerCalendarTableContentPaddingWidth);
$datePickerCalendarTableTodayFontFamily: $fontSbbBold;
$datePickerCalendarTableTodayColor: $sbbColorBlack;
$datePickerCalendarTableActiveColor: $sbbColorRed125;
$datePickerCalendarTableSelectedColor: $sbbColorGrey;
$datePickerCalendarTableRangeBgColor: $sbbColorMilk;
$datePickerCalendarTableColor: $sbbColorGrey;

$datePickerCalendarDisabledCellColor: $sbbColorCement;
$datePickerCalendarDisabledTextCellColor: $sbbColorCement;
$datePickerDisabledCellWidth: 32;
$datePickerDisabledCellTop: 20;
$datePickerDisabledCellLeft: 18;

@if $sbbBusiness {
  $dateInputBorderWidth: 0;
  $dateInputOneIconPadding: 38;
  $dateInputTwoIconPadding: 62;

  $datePickerContentTop: 8;

  $defaultToggleLeftOffset: 6;
  $withArrowsToggleLeftOffset: 30;
  $withArrowsLeftArrowOffset: 6;
  $withArrowsRightArrowOffset: 6;

  $datePickerCalendarBorder: pxToEm(1) solid $sbbColorIron;
  $datePickerCalendarBorderWidth: 1;
  $datepickerCalendarLineColor: $sbbColorCloud;

  $datePickerCalendarWidthMobile: pxToEm(303);
  $datePickerCalendarHeightMobile: pxToEm(303);

  $datePickerCalendarWidth: pxToEm(303);
  $datePickerCalendarHeight: pxToEm(303);

  $datePickerCalendarHeaderHeight: pxToEm(36);
  $datePickerCalendarHeaderLabelFontSize: pxToEm(15);
  $datePickerCalendarHeaderLabelLineHeight: pxToEm(36);
  $datePickerCalendarHeaderColor: $sbbColorIron;
  $datePickerCalendarTableColor: $sbbColorIron;

  $datePickerCalendarTableContentPaddingWidth: 16;
  $datePickerCalendarTableContentPadding: 0
    pxToEm($datePickerCalendarTableContentPaddingWidth)
    pxToEm($datePickerCalendarTableContentPaddingWidth)
    pxToEm($datePickerCalendarTableContentPaddingWidth);
  $datePickerCalendarTableSelectedColor: $sbbColorIron;
  $datePickerCalendarBoxShadow: 0 pxToEm(4) 0 rgba(0, 0, 0, 0.15);
  $datePickerRevertCalendarBoxShadow: 0 pxToEm(-4) 0 rgba(0, 0, 0, 0.15);

  $datePickerToggleWrapperArrowWidth: 12;
  $datePickerToggleWrapperArrowHeight: pxToEm(8);
  $datePickerToggleWrapperArrowLeftOffset: $defaultToggleLeftOffset +
    private-div(($defaultPickerIconSize - $datePickerToggleWrapperArrowWidth), 2);
  $datePickerToggleWithArrowsWrapperArrowLeftOffset: $withArrowsToggleLeftOffset +
    private-div(($defaultPickerIconSize - $datePickerToggleWrapperArrowWidth), 2);
  $datePickerToggleArrowWidth: 9;
  $datePickerToggleArrowHeight: pxToEm(1);
  $datePickerToggleArrowColor: $sbbColorIron;
  $datePickerToggleArrowBeforeOffset: pxToEm(-2);
  $datePickerToggleArrowAfterOffset: pxToEm(private-div($datePickerToggleArrowWidth, 2));

  $datePickerCalendarDisabledCellColor: $sbbColorStorm;
  $datePickerCalendarDisabledTextCellColor: $sbbColorStorm;
  $datePickerDisabledCellWidth: 24;
  $datePickerDisabledCellTop: 17;
  $datePickerDisabledCellLeft: 12;
}

$datePickerToggleArrowTopOffset: -($datePickerToggleWrapperArrowHeight -
      $datePickerToggleArrowHeight);

@mixin datePickerButton() {
  button {
    @include buttonResetFrameless();

    &:hover:enabled,
    &:focus:enabled {
      cursor: pointer;
    }
  }
}

@mixin pickerIconsSize(
  $pickerIconWidth: $defaultPickerIconSize,
  $pickerIconHeight: $defaultPickerIconSize
) {
  width: toPx($pickerIconWidth);
  height: toPx($pickerIconHeight);

  @include publicOnly() {
    @include mq($from: desktop4k) {
      width: toPx($pickerIconWidth * $scalingFactor4k);
      height: toPx($pickerIconHeight * $scalingFactor4k);
    }
    @include mq($from: desktop5k) {
      width: toPx($pickerIconWidth * $scalingFactor5k);
      height: toPx($pickerIconHeight * $scalingFactor5k);
    }
  }
}
%pickerIconsSize {
  @include pickerIconsSize();
}
