<div
  #tooltip
  class="sbb-tooltip-container"
  (animationend)="_handleAnimationEnd($event)"
  [class.sbb-tooltip-handset]="(_isHandset | async)?.matches"
>
  <div
    class="sbb-tooltip"
    [ngClass]="tooltipClass"
    [class.sbb-tooltip-has-close-button]="_triggeredByClick"
  >
    <div class="sbb-tooltip-content">
      <ng-container *ngIf="_templateRef as templateRef; else stringMessage">
        <ng-container *ngTemplateOutlet="templateRef"></ng-container>
      </ng-container>
      <ng-template #stringMessage>{{ message }}</ng-template>
    </div>
    <button
      *ngIf="_triggeredByClick"
      type="button"
      class="sbb-tooltip-icon sbb-tooltip-close-button sbb-icon-fit sbb-button-reset-frameless"
      (click)="hide(0)"
    >
      <sbb-icon svgIcon="kom:cross-small"></sbb-icon>
    </button>
  </div>
</div>
