@import '../styles/common';

.sbb-tooltip-content-close-button {
  padding-right: pxToEm(48);

  :where(html.sbb-lean) & {
    padding-right: pxToRem(40);
  }
}

.sbb-tooltip-trigger,
.sbb-tooltip-icon {
  line-height: 0;
  cursor: pointer;
}

:is(.sbb-tooltip-icon, .sbb-tooltip-trigger):is(:active, :hover, :focus),
.sbb-tooltip-trigger-active {
  outline: none;
  color: var(--sbb-color-call-to-action-hover);
  border-color: var(--sbb-color-call-to-action-hover);
}

.sbb-tooltip-close-icon {
  border: var(--sbb-border-width-thin) solid var(--sbb-color-storm);
  border-radius: 50%;
  color: var(--sbb-color-granite);
  float: right;
  position: absolute;
  top: calc(var(--sbb-tooltip-padding) + var(--sbb-tooltip-arrow-offset) + var(--sbb-border-width));
  right: var(--sbb-tooltip-padding);
  line-height: 0;

  :where(html.sbb-lean) & {
    top: calc(var(--sbb-tooltip-padding) + var(--sbb-tooltip-arrow-offset));
    color: var(--sbb-color-iron);

    &,
    &:is(:hover, :focus) {
      border-color: transparent;
    }

    &:is(:hover, :focus) {
      color: var(--sbb-color-call-to-action-hover);
    }
  }

  .sbb-tooltip-panel-above & {
    top: calc(var(--sbb-tooltip-padding) + var(--sbb-border-width));

    :where(html.sbb-lean) & {
      top: var(--sbb-tooltip-padding);
    }
  }

  .sbb-tooltip-trigger-hover & {
    display: none;
  }
}
