@use 'external/npm/node_modules/@angular/cdk' as cdk;
@import '../styles/common';

$tooltipContentArrowSize: 17.7;
$tooltipContentArrowSizeLean: 16.665;
$tooltipShadowArrowSize: 14;
$tooltipShadowArrowSizeLean: 13.333;

.sbb-tooltip-component {
  display: block;
}

.sbb-tooltip-container {
  height: 100%;
  font-size: var(--sbb-font-size);
  line-height: var(--sbb-line-height);

  &::after {
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    content: ' ';
    height: pxToEm($tooltipContentArrowSize);
    width: pxToEm($tooltipContentArrowSize);
    position: absolute;
    pointer-events: none;
    transform: rotate(-135deg);
    background-color: $sbbColorWhite;
    border: pxToEm(2) solid transparent;
    border-right-color: $sbbColorGrey;
    border-bottom-color: $sbbColorGrey;
  }
  .sbb-tooltip-panel-above &::after {
    top: auto;
    bottom: pxToEm(12.9);
    transform: rotate(45deg);
  }
  .sbb-tooltip-panel-left &::after {
    margin-right: pxToEm(6);
  }
  .sbb-tooltip-panel-right &::after {
    margin-left: pxToEm(6);
  }
  :where(html.sbb-lean) &::after {
    bottom: pxToRem(8.25);
    height: pxToRem($tooltipContentArrowSizeLean);
    width: pxToRem($tooltipContentArrowSizeLean);
    border-width: pxToRem(1);
    border-right-color: $sbbColorIron;
    border-bottom-color: $sbbColorIron;
  }
}

.sbb-tooltip {
  max-width: pxToEm(460);
  padding: pxToEm(23);
  overflow: hidden;
  color: $sbbColorGrey;
  text-overflow: ellipsis;
  background-color: $sbbColorWhite;
  border: pxToEm(2) solid $sbbColorGrey;
  border-radius: pxToEm(2);

  @include cdk.high-contrast(active, off) {
    outline: solid 1px;
  }

  .sbb-tooltip-panel-below & {
    margin-top: pxToEm(7.2);
  }

  :where(html.sbb-lean) & {
    color: $sbbColorBlack;
    padding: pxToRem(8);
    border: pxToRem(1) solid $sbbColorIron;
  }
}

.sbb-tooltip-shadow {
  height: pxToEm(8);
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 0 0 pxToEm(2) pxToEm(2);

  .sbb-tooltip-panel-above & {
    margin-bottom: pxToEm(12);

    &::after {
      top: calc(100% - #{pxToEm(12)});
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      content: ' ';
      position: absolute;
      width: 0;
      height: 0;
      border: pxToEm($tooltipShadowArrowSize) solid transparent;
      border-bottom: 0;
      border-top-color: rgba(0, 0, 0, 0.15);

      :where(html.sbb-lean) & {
        border-width: pxToRem($tooltipShadowArrowSizeLean);
        border-bottom: 0;
      }
    }
  }
  .sbb-tooltip-panel-above.sbb-tooltip-panel-left &::after {
    margin-right: pxToEm(1);
  }
  .sbb-tooltip-panel-above.sbb-tooltip-panel-right &::after {
    margin-left: pxToEm(1);
  }

  :where(html.sbb-lean) & {
    height: pxToRem(4);
    border-radius: 0 0 pxToRem(1) pxToRem(1);
  }
}
