<div
  #tooltip
  class="sbb-tooltip-container"
  (animationend)="_handleAnimationEnd($event)"
  [class.sbb-tooltip-handset]="(_isHandset | async)?.matches"
>
  <div
    class="sbb-tooltip"
    [ngClass]="tooltipClass"
    [class.sbb-tooltip-has-close-button]="_triggeredByClick"
  >
    <div class="sbb-tooltip-content">
      @if (_templateRef; as templateRef) {
        <ng-container *ngTemplateOutlet="templateRef"></ng-container>
      } @else {
        {{ message }}
      }
    </div>
    @if (_triggeredByClick) {
      <button
        type="button"
        class="sbb-tooltip-icon sbb-tooltip-close-button sbb-icon-fit sbb-button-reset-frameless"
        (click)="hide(0)"
      >
        <sbb-icon svgIcon="cross-small"></sbb-icon>
      </button>
    }
  </div>
</div>
