@use 'external/npm/node_modules/@angular/cdk' as cdk;
@import '../styles/common';

.sbb-tooltip-component {
  display: block;
}

.sbb-tooltip-container {
  height: 100%;
  font-size: var(--sbb-font-size);
  line-height: var(--sbb-line-height);
  filter: drop-shadow(0 var(--sbb-box-shadow-width) 0 var(--sbb-box-shadow-color));

  &::after,
  &::before {
    // Slightly move down arrow to avoid artifacts on certain zoom levels
    top: calc(0.5 * var(--sbb-border-width));
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    content: '';
    height: var(--sbb-tooltip-content-arrow-size);
    width: var(--sbb-tooltip-content-arrow-size);
    position: absolute;
    pointer-events: none;
    transform: rotate(45deg);
    border: var(--sbb-border-width) solid transparent;

    .sbb-tooltip-panel-above & {
      top: auto;
      bottom: calc(0.5 * var(--sbb-tooltip-shadow-arrow-size));
    }

    .sbb-tooltip-panel-left & {
      margin-right: var(--sbb-tooltip-arrow-horizontal-space);
    }

    .sbb-tooltip-panel-right & {
      margin-left: var(--sbb-tooltip-arrow-horizontal-space);
    }
  }

  &::before {
    border-color: var(--sbb-color-weak-accent);
    z-index: 1;
  }

  &::after {
    background-color: var(--sbb-color-background);
    background-clip: padding-box;
    z-index: 2;
  }

  .sbb-tooltip-panel-above & {
    margin-bottom: calc(#{pxToRem(12)} * var(--sbb-scaling-factor));
  }
}

.sbb-tooltip {
  max-width: calc(#{pxToRem(460)} * var(--sbb-scaling-factor));
  padding: var(--sbb-tooltip-padding);
  position: relative;
  overflow: hidden;
  color: var(--sbb-color-grey);
  text-overflow: ellipsis;
  background-color: var(--sbb-color-background);
  border: var(--sbb-border-width) solid var(--sbb-color-weak-accent);
  border-radius: var(--sbb-border-radius);
  z-index: 2;

  @include cdk.high-contrast(active, off) {
    outline: solid 1px;
  }

  .sbb-tooltip-panel-below & {
    margin-top: var(--sbb-tooltip-arrow-offset);
  }

  :where(html.sbb-lean) & {
    color: var(--sbb-color-text);
  }
}

.sbb-tooltip-has-close-button {
  padding-right: calc(#{pxToRem(71)} * var(--sbb-scaling-factor));

  :where(html.sbb-lean) & {
    padding-right: pxToRem(48);
  }
}

.sbb-tooltip-close-button {
  color: var(--sbb-color-weak-accent);
  position: absolute;
  width: var(--sbb-icon-size-default);
  height: var(--sbb-icon-size-default);
  top: var(--sbb-tooltip-padding);
  right: var(--sbb-tooltip-padding);
  line-height: 0;

  :where(html:not(.sbb-lean)) & {
    border: var(--sbb-border-width-thin) solid var(--sbb-color-storm);
    border-radius: 50%;
  }
}

.sbb-tooltip-panel-non-interactive {
  pointer-events: none;
}
