@use 'external/npm/node_modules/@angular/cdk' as cdk;
@import '../styles/common';

.sbb-tooltip-component {
  display: block;
}

.sbb-tooltip-container {
  height: 100%;
  font-size: var(--sbb-font-size);
  line-height: var(--sbb-line-height);
  opacity: 0;

  &._sbb-animation-noopable {
    animation: none;
    opacity: 1;
  }

  &::after,
  &::before {
    // Slightly move down arrow to avoid artifacts on certain zoom levels
    top: calc(0.5 * var(--sbb-border-width));
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    content: '';
    height: var(--sbb-tooltip-content-arrow-size);
    width: var(--sbb-tooltip-content-arrow-size);
    position: absolute;
    pointer-events: none;
    transform: rotate(45deg);
    border: var(--sbb-border-width) solid transparent;

    .sbb-tooltip-panel-above & {
      top: auto;
      bottom: calc(0.5 * var(--sbb-tooltip-shadow-arrow-size) + var(--sbb-box-shadow-width));
    }

    .sbb-tooltip-panel-left & {
      margin-right: var(--sbb-tooltip-arrow-horizontal-space);
    }

    .sbb-tooltip-panel-right & {
      margin-left: var(--sbb-tooltip-arrow-horizontal-space);
    }
  }

  &::before {
    border-color: var(--sbb-color-weak-accent);
    z-index: 1;
  }

  &::after {
    background-color: var(--sbb-color-background);
    background-clip: padding-box;
    z-index: 2;
  }
}

@keyframes sbb-tooltip-container-show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes sbb-tooltip-container-hide {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.sbb-tooltip-container-show {
  animation: sbb-tooltip-container-show var(--sbb-transition-duration-fast) cubic-bezier(0, 0, 0.2, 1) forwards;
}

.sbb-tooltip-container-hide {
  animation: sbb-tooltip-container-hide 75ms cubic-bezier(0, 0, 0.2, 1) forwards;
}

.sbb-tooltip {
  max-width: calc(#{pxToRem(460)} * var(--sbb-scaling-factor));
  padding: var(--sbb-tooltip-padding);
  position: relative;
  overflow: hidden;
  color: var(--sbb-color-grey);
  text-overflow: ellipsis;
  background-color: var(--sbb-color-background);
  border: var(--sbb-border-width) solid var(--sbb-color-weak-accent);
  border-radius: var(--sbb-border-radius);
  z-index: 2;

  @include cdk.high-contrast(active, off) {
    outline: solid 1px;
  }

  .sbb-tooltip-panel-below & {
    margin-top: var(--sbb-tooltip-arrow-offset);
  }

  :where(html.sbb-lean) & {
    color: var(--sbb-color-text);
  }
}

.sbb-tooltip-shadow {
  height: calc(var(--sbb-box-shadow-width) + var(--sbb-border-radius));
  margin-top: calc(-1 * var(--sbb-border-radius));
  background-color: var(--sbb-box-shadow-color);
  border-radius: 0 0 var(--sbb-border-radius) var(--sbb-border-radius);
  z-index: 1;

  .sbb-tooltip-panel-above & {
    margin-bottom: var(--sbb-tooltip-shadow-arrow-size);

    &::after {
      top: calc(100% - var(--sbb-tooltip-shadow-arrow-size));
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border: var(--sbb-tooltip-shadow-arrow-size) solid transparent;
      border-bottom: 0;
      border-top-color: var(--sbb-box-shadow-color);
    }
  }
  .sbb-tooltip-panel-above.sbb-tooltip-panel-left &::after {
    margin-right: calc(var(--sbb-tooltip-arrow-horizontal-space) - 2 * var(--sbb-border-width));
  }
  .sbb-tooltip-panel-above.sbb-tooltip-panel-right &::after {
    margin-left: calc(var(--sbb-tooltip-arrow-horizontal-space) - 2 * var(--sbb-border-width));
  }
}

.sbb-tooltip-has-close-button {
  padding-right: calc(#{pxToRem(71)} * var(--sbb-scaling-factor));

  :where(html.sbb-lean) & {
    padding-right: pxToRem(48);
  }
}

.sbb-tooltip-close-button {
  color: var(--sbb-color-weak-accent);
  position: absolute;
  width: var(--sbb-icon-size-default);
  height: var(--sbb-icon-size-default);
  top: var(--sbb-tooltip-padding);
  right: var(--sbb-tooltip-padding);
  line-height: 0;

  :where(html:not(.sbb-lean)) & {
    border: var(--sbb-border-width-thin) solid var(--sbb-color-storm);
    border-radius: 50%;
  }
}

.sbb-tooltip-panel-non-interactive {
  pointer-events: none;
}
