@use 'external/npm/node_modules/@angular/cdk' as cdk;
@import '../styles/common';

.sbb-tooltip-component {
  display: block;
}

.sbb-tooltip-container {
  height: 100%;
  font-size: var(--sbb-font-size);
  line-height: var(--sbb-line-height);

  &::after {
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    content: ' ';
    height: var(--sbb-tooltip-content-arrow-size);
    width: var(--sbb-tooltip-content-arrow-size);
    position: absolute;
    pointer-events: none;
    transform: rotate(-135deg);
    background-color: var(--sbb-color-background);
    border: var(--sbb-border-width) solid transparent;
    border-right-color: var(--sbb-tooltip-border-color);
    border-bottom-color: var(--sbb-tooltip-border-color);
  }
  .sbb-tooltip-panel-above &::after {
    top: auto;
    bottom: pxToEm(12.9);
    transform: rotate(45deg);
  }
  .sbb-tooltip-panel-left &::after {
    margin-right: pxToEm(6);
  }
  .sbb-tooltip-panel-right &::after {
    margin-left: pxToEm(6);
  }
  :where(html.sbb-lean) &::after {
    bottom: pxToRem(8.25);
  }
}

.sbb-tooltip {
  max-width: pxToEm(460);
  padding: var(--sbb-tooltip-padding);
  overflow: hidden;
  color: var(--sbb-color-grey);
  text-overflow: ellipsis;
  background-color: var(--sbb-color-background);
  border: var(--sbb-border-width) solid var(--sbb-tooltip-border-color);
  border-radius: var(--sbb-border-radius);

  @include cdk.high-contrast(active, off) {
    outline: solid 1px;
  }

  .sbb-tooltip-panel-below & {
    margin-top: var(--sbb-tooltip-arrow-offset);
  }

  :where(html.sbb-lean) & {
    color: var(--sbb-color-text);
  }
}

.sbb-tooltip-shadow {
  height: var(--sbb-box-shadow-width);
  background-color: var(--sbb-box-shadow-color);
  border-radius: 0 0 var(--sbb-border-radius) var(--sbb-border-radius);

  :where(html.sbb-lean) & {
    border-radius: 0 0 pxToRem(1) pxToRem(1);
  }

  .sbb-tooltip-panel-above & {
    margin-bottom: pxToEm(12);

    &::after {
      top: calc(100% - #{pxToEm(12)});
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      content: ' ';
      position: absolute;
      width: 0;
      height: 0;
      border: var(--sbb-tooltip-shadow-arrow-size) solid transparent;
      border-bottom: 0;
      border-top-color: rgba(0, 0, 0, 0.15);
    }
  }
  .sbb-tooltip-panel-above.sbb-tooltip-panel-left &::after {
    margin-right: pxToEm(1);
  }
  .sbb-tooltip-panel-above.sbb-tooltip-panel-right &::after {
    margin-left: pxToEm(1);
  }
}
