@import '../styles/common';

.sbb-tooltip-content-close-button {
  padding-right: pxToEm(48);

  :where(html.sbb-lean) & {
    padding-right: pxToRem(40);
  }
}

.sbb-tooltip-trigger,
.sbb-tooltip-icon {
  line-height: 0;
  cursor: pointer;
}

:is(.sbb-tooltip-icon, .sbb-tooltip-trigger):is(:active, :hover, :focus),
.sbb-tooltip-trigger-active {
  outline: none;
  color: var(--sbb-color-call-to-action-hover);
  border-color: var(--sbb-color-call-to-action-hover);
}

.sbb-tooltip-close-icon {
  color: var(--sbb-color-granite);
  float: right;
  position: absolute;
  width: var(--sbb-icon-size-default);
  height: var(--sbb-icon-size-default);
  top: var(--sbb-tooltip-padding);
  right: var(--sbb-tooltip-padding);
  line-height: 0;

  :where(html:not(.sbb-lean)) & {
    border: var(--sbb-border-width-thin) solid var(--sbb-color-storm);
    border-radius: 50%;
  }
  :where(html.sbb-lean) & {
    color: var(--sbb-color-iron);
  }

  .sbb-tooltip-trigger-hover & {
    display: none;
  }
}
