@use "colors" as c;
@use 'node_modules/@sbb-esta/angular/styles' as esta;

@mixin map-controls-shared {
  button {
    display: block;
    width: 100%;
    background-color: inherit;
    border: 0;
    padding: 0;
  }

  .map-control-container {
    margin: 8px;
    background: c.$white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: 24px;

    @include esta.mq($from: tabletPortrait) {
      &.small-buttons {
        margin: 6px;
      }
    }
  }

  .map-control-button-wrapper {
    line-height: 36px;
    padding: 6px;
    width: 48px;

    @include esta.mq($from: tabletPortrait) {
      @at-root .map-control-container.small-buttons #{&} {
        line-height: 26px;
        padding: 3px;
        width: 32px;
      }
    }
  }
}

@mixin map-control-icon {
  .map-control-button-wrapper {
    // this makes sure we only show the hover effect when clicking on the button actually has an effect
    // (i.e. NOT when the mouse is hovering over the outer edges of the button)
    pointer-events: none;

    border-radius: 24px;

    @include esta.mq($from: tabletPortrait) {
      @at-root .map-control-container.small-buttons #{&} {
        border-radius: 16px;
      }
    }

    &:not([data-disabled='true']):active {
      @include _map-control-button-wrapper-active
    }

    @media (hover: hover) {
      &:not([data-disabled='true']):hover {
        @include _map-control-button-wrapper-active;
      }
    }
  }
}

@mixin _map-control-button-wrapper-active {
  background-color: c.$darkgray;
  background-clip: content-box;

  .map-control-button {
    background-color: c.$white;
  }
}

@mixin map-control-icon-button($icon: "") {
  .map-control-button {
    background-color: c.$darkgray;
    cursor: pointer;
    height: 36px;
    // CHECKME ses: This somehow doesn't work in the testapp
    //  when importing the module from src.
    // mask: url("#{$icon}") center no-repeat;
    pointer-events: auto;
    text-align: center;

    &:not([disabled]):active {
      background-color: c.$white;
    }

    @media (hover: hover) {
      &:not([disabled]):hover {
        background-color: c.$white;
      }
    }

    &:disabled {
      cursor: default;
      background-color: c.$lightgray;
    }

    @include esta.mq($from: tabletPortrait) {
      @at-root .map-control-container.small-buttons #{&}{
        height: 26px;
      }
    }
  }
}
