@import '../styles/common';

.sbb-header-menu-trigger {
  position: relative;

  &:is(:hover, :active, :focus) {
    color: var(--sbb-color-call-to-action-hover);
  }

  .sbb-header-lean-main-menu & {
    padding: 0;
  }
  .sbb-header-lean-main-menu &[aria-expanded='true'] {
    overflow: visible;
  }
}

.sbb-header-menu-trigger-content {
  @include ellipsis();
  border: var(--sbb-border-width-thin) solid transparent;
  display: block;
  padding-right: calc(#{pxToRem(24)} * var(--sbb-scaling-factor));
  background-color: var(--sbb-color-background);

  .sbb-header-lean-main-menu & {
    display: inline-block;
    position: relative;
    padding: calc(#{pxToRem(6)} * var(--sbb-scaling-factor))
      calc(#{pxToRem(8)} * var(--sbb-scaling-factor));
    padding-right: pxToRem(32);
    max-width: 100%;
  }
  .sbb-header-lean-main-menu .sbb-header-menu-trigger[aria-expanded='true'] & {
    border: var(--sbb-border-width-thin) solid var(--sbb-color-iron);
    border-top-left-radius: var(--sbb-border-radius);
    border-top-right-radius: var(--sbb-border-radius);
    border-bottom: var(--sbb-border-width-thin) solid var(--sbb-color-cloud);
    width: 150%;
    max-width: unset;
    z-index: 1000;
  }
  .sbb-header-lean-side-menu & {
    border: 0;
  }
}

.sbb-header-menu-trigger .sbb-header-menu-trigger-indicator {
  display: inline-block;
  position: absolute;
  width: var(--sbb-icon-size-default);
  height: var(--sbb-icon-size-default);
  top: 50%;
  right: 0;
  transform: translateY(-50%) rotate(-90deg);

  .sbb-header-lean-main-menu & {
    right: pxToRem(8);
    transform: translateY(-50%) rotate(0);
    transition: transform var(--sbb-transition-default);
  }
  .sbb-header-lean-main-menu .sbb-header-menu-trigger[aria-expanded='true'] & {
    transform: translateY(-50%) rotate(180deg);
  }
}
