@import '../styles/common';

.sbb-header-menu-trigger {
  position: relative;

  &:hover,
  &:active,
  &:focus {
    color: var(--sbb-color-red125);
  }

  .sbb-header-lean-main-menu & {
    padding: 0;
  }
  .sbb-header-lean-main-menu &[aria-expanded='true'] {
    overflow: visible;
  }
}

.sbb-header-menu-trigger-content {
  @include ellipsis();
  border: transparent solid pxToRem(1);
  display: block;
  padding-right: pxToRem(24);
  background-color: var(--sbb-color-white);

  .sbb-header-lean-main-menu & {
    display: inline-block;
    position: relative;
    padding: pxToRem(6) pxToRem(8);
    padding-right: pxToRem(32);
    max-width: 100%;
  }
  .sbb-header-lean-main-menu .sbb-header-menu-trigger[aria-expanded='true'] & {
    border: var(--sbb-color-iron) solid pxToRem(1);
    border-top-left-radius: pxToRem(2);
    border-top-right-radius: pxToRem(2);
    border-bottom: var(--sbb-color-cloud) solid pxToRem(1);
    width: 150%;
    max-width: unset;
    z-index: 1000;
  }
  .sbb-header-lean-side-menu & {
    border: 0;
  }
}

.sbb-header-menu-trigger .sbb-header-menu-trigger-indicator.sbb-icon {
  display: inline-block;
  position: absolute;
  width: pxToRem(24);
  height: pxToRem(24);
  top: 50%;
  right: 0;
  transform: translateY(-50%) rotate(-90deg);

  .sbb-header-lean-main-menu & {
    right: pxToRem(8);
    transform: translateY(-50%) rotate(0);
    transition: transform 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  .sbb-header-lean-main-menu .sbb-header-menu-trigger[aria-expanded='true'] & {
    transform: translateY(-50%) rotate(180deg);
  }
}
