<ng-content select="sbb-header-environment"></ng-content>

<button
  type="button"
  class="sbb-header-lean-open-menu sbb-button-reset-frameless sbb-icon-fit"
  [class.sbb-header-lean-app-chooser-available]="_appChooserSections.length"
  (click)="openMenu('mouse')"
  (keydown)="_openOnKeydownTrigger($event)"
  [attr.aria-label]="_labelOpenMenu"
>
  <sbb-icon
    [svgIcon]="_appChooserSections.length ? 'nine-squares-small' : 'hamburger-menu-small'"
  ></sbb-icon>
</button>

<div class="sbb-header-lean-titlebox">
  <span class="sbb-header-lean-label">{{ label }}</span>
  @if (subtitle) {
    <span class="sbb-header-lean-subtitle">{{ subtitle }}</span>
  }
</div>

<nav class="sbb-header-lean-main-menu">
  @if (!(_headerMenusCollapsed | async)) {
    <ng-template [cdkPortalOutlet]="menuActions"></ng-template>
  }
</nav>

<div class="sbb-header-lean-container-end">
  <div class="sbb-header-lean-additional-content">
    <ng-content
      select=".additional-header-content,sbb-header-icon-actions,.sbb-header-icon-actions"
    ></ng-content>
  </div>
  <div class="sbb-header-lean-usermenu">
    <ng-content select="sbb-usermenu,.sbb-usermenu"></ng-content>
  </div>

  <!-- If an icon is provided, use that, otherwise use the sbb logo -->
  <div #iconContent class="sbb-header-lean-logo" [hidden]="!iconContent.childElementCount">
    <ng-content select="[brand],.brand"></ng-content>
  </div>
  @if (!iconContent.childElementCount) {
    <div class="sbb-header-lean-logo">
      <svg class="sbb-header-lean-sbb-logo" viewBox="0 0 80 21" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 0h59.233v20.603H0V0z" fill="#EC0000"></path>
        <path
          d="M35.186 17.02h3.75l-5.047-5.163h6.265v5.163h2.96v-5.163h6.267l-5.05 5.163h3.752l6.427-6.708-6.426-6.73h-3.752l5.05 5.185h-6.266V3.583h-2.96v5.184h-6.267l5.047-5.184h-3.75l-6.43 6.73 6.43 6.707"
          fill="#FFF"
        ></path>
      </svg>
    </div>
  }
</div>

<div class="sbb-header-lean-side-menu-backdrop" (click)="_onBackdropClicked()"></div>
<div
  [@menu]="_animationState"
  (@menu.start)="_animationStartListener($event)"
  (@menu.done)="_animationDoneListener($event)"
  class="sbb-header-lean-side-menu-container sbb-scrollbar"
  #menu
>
  <div class="sbb-header-lean-side-menu-title-section">
    <button
      type="button"
      class="sbb-header-lean-close-menu sbb-button-reset-frameless"
      (click)="closeMenu()"
      (keydown)="_closeOnKeydownTrigger($event)"
      [attr.aria-label]="_labelCloseMenu"
    >
      <sbb-icon svgIcon="cross-small"></sbb-icon>
    </button>

    <div class="sbb-header-lean-titlebox">
      <span class="sbb-header-lean-label">{{ label }}</span>
      @if (subtitle) {
        <span class="sbb-header-lean-subtitle">{{ subtitle }}</span>
      }
    </div>
  </div>

  <nav class="sbb-header-lean-side-menu">
    @if (_headerMenusCollapsed | async) {
      <ng-template [cdkPortalOutlet]="menuActions"></ng-template>
    }
  </nav>

  <ng-content select="sbb-app-chooser-section"></ng-content>
</div>
<ng-content select="sbb-header-menu"></ng-content>

<!--
The outlet for links and buttons inside sbb-header-lean, which will be placed in the header bar or
the sidebar depending on state.
-->
<ng-template cdkPortal #menuActions="cdkPortal">
  <ng-content select="a,button"></ng-content>
</ng-template>
