@use 'external/npm/node_modules/@angular/cdk' as cdk;
@import '../styles/common';

.sbb-overlay-background {
  background-color: var(--sbb-color-white-alpha70);
  align-items: center;
}

.sbb-lightbox-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  outline: 0;
  background-color: var(--sbb-color-background);

  // The dialog container should completely fill its parent overlay element.
  width: 100%;
  height: 100%;

  // The lightbox should always cover the entire viewbox.
  min-height: 100vh;
  max-height: 100vw;

  @include cdk.high-contrast(active, off) {
    outline: solid pxToRem(1);
  }
}

// When using lightbox with a component, the component element is placed as a
// single element inside the container.
.sbb-lightbox-container > *:only-child:not(.sbb-lightbox-content) {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sbb-lightbox-content {
  display: block;
  padding: var(--sbb-divider-big) var(--sbb-lightbox-padding-horizontal);
  flex: 1 1 auto;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  // Remove the top margin from the first element inside the content.
  > *:first-child {
    margin-top: 0;
  }
}

.sbb-lightbox-title {
  // The right padding considers original padding, plus additional padding
  // to not let text touch the icon.
  padding: calc(#{pxToRem(21)} * var(--sbb-scaling-factor)) pxToRem(56)
    calc(#{pxToRem(17)} * var(--sbb-scaling-factor)) pxToRem(20);
  flex: 0 0 auto;
  font-size: var(--sbb-font-size);
  line-height: var(--sbb-line-height);
  display: block;
  position: relative;
  box-shadow: horizontalBorderBoxShadow(1, 1);
  @include ellipsis;

  @include mq($from: tablet) {
    padding-left: pxToRem(24);
    // The right padding considers original padding, plus additional padding
    // to not let text touch the icon.
    padding-right: pxToRem(60);
  }
  @include mq($from: desktop) {
    padding-left: calc(#{pxToRem(80)} * var(--sbb-scaling-factor));
    // The right padding considers original padding, plus additional padding
    // to not let text touch the icon.
    padding-right: calc(#{pxToRem(92)} * var(--sbb-scaling-factor));
  }
  :where(html:not(.sbb-lean)) & {
    @include mq($from: desktop4k, $to: desktop5k) {
      padding-top: pxToRem(28);
      padding-bottom: pxToRem(28);
    }
  }
}

.sbb-lightbox-title-close-button {
  position: absolute;
  right: pxToRem(20);
  cursor: pointer;
  line-height: 0;
  color: var(--sbb-color-storm);
  outline: 0;

  &:is(:hover, :focus) {
    color: var(--sbb-color-call-to-action-hover);
  }

  @include mq($from: tablet) {
    right: pxToRem(24);
  }
  @include mq($from: desktop) {
    right: calc(#{pxToRem(56)} * var(--sbb-scaling-factor));
  }
}

.sbb-lightbox-actions {
  padding: var(--sbb-lightbox-actions-padding-vertical) var(--sbb-lightbox-padding-horizontal);
  display: flex;
  flex: 0 0 auto;
  flex-flow: column wrap;
  gap: var(--sbb-button-gap);
  align-items: center;
  justify-content: space-between;

  // Explicitly set a box-sizing since people commonly set `border-box`
  // on all elements which will break the height of the lightbox actions.
  box-sizing: content-box;
  box-shadow: horizontalBorderBoxShadow(-1, 1);

  @include mq($from: tablet) {
    flex-direction: row;
  }
}
