$checkboxRadioButtonPanelHeight: 64;
$checkboxRadioButtonPanelHeightWithSubtitle: 88;
$checkboxRadioButtonPanelBorderRadius: 2;
$checkboxRadioButtonPanelHeaderMargin: 24;
$checkboxRadioButtonPanelPadding: 20;
$checkboxRadioButtonPanelBorderSize: 1;
$checkboxRadioButtonPanelSubtitleFontSize: 13;
$checkboxRadioButtonPanelHeaderPaddingLeft: 28;
$checkboxRadioButtonPanelImageWidth: 64;
$checkboxRadioButtonPanelImageHeight: 40;
