$border: solid 1px $colorBlack72;
$border4K: solid 3px $colorBlack72;
$border5K: solid 4px $colorBlack72;

@mixin usermenu-login {
  position: relative;
  align-items: center;
  display: flex;
  width: 288px;
  height: 48px;
  line-height: 1.533;

  @include mq($from: desktop4k) {
    width: 432px;
    height: 72px;
  }

  @include mq($from: desktop5k) {
    width: 576px;
    height: 96px;
  }
}

@mixin initial-letters {
  border-radius: 50%;
  border: $border;
  background-color: $colorBlack10;
  font-family: $fontFamilyBase;
  font-size: pxToRem(15);
  color: $colorBlack60;
  font-weight: 700;
  width: 32px;
  height: 32px;
  text-align: center;
  position: relative;

  @include mq($from: desktop4k) {
    font-size: pxToRem(23);
    width: 180px;
    height: 35px;
    border: $border4K;
  }

  @include mq($from: desktop5k) {
    font-size: pxToRem(30);
    width: 235px;
    height: 45px;
    border: $border5K;
  }
}
