$border: solid 1px $colorBlack72;
$border4K: solid 3px $colorBlack72;
$border5K: solid 4px $colorBlack72;

@mixin usermenu-login {
  position: relative;
  align-items: center;
  display: flex;
  width: 288px;
  height: 48px;
  line-height: 1.533;

  @include mq($from: desktop4k) {
    width: toPx(432 * $scalingFactor4k);
    height: toPx(72 * $scalingFactor4k);
  }

  @include mq($from: desktop5k) {
    width: toPx(576 * $scalingFactor5k);
    height: toPx(96 * $scalingFactor5k);
  }
}

@mixin initial-letters {
  border-radius: 50%;
  border: $border;
  background-color: $colorBlack10;
  font-family: $fontFamilyBase;
  font-size: pxToRem(13);
  color: $colorBlack60;
  font-weight: 700;
  width: 32px;
  height: 32px;
  text-align: center;
  position: relative;

  @include mq($from: desktop4k) {
    font-size: pxToRem(23 * $scalingFactor4k);
    width: toPx(180 * $scalingFactor4k);
    height: toPx(35 * $scalingFactor4k);
    border: $border4K;
  }

  @include mq($from: desktop5k) {
    font-size: pxToRem(30 * $scalingFactor5k);
    width: toPx(235 * $scalingFactor5k);
    height: toPx(45 * $scalingFactor5k);
    border: $border5K;
  }
}
