$border: solid 1px $colorBlack72;
$border4K: solid 3px $colorBlack72;
$border5K: solid 4px $colorBlack72;

$borderActive: solid 2px $colorGrey;
$borderActive4K: solid toPx(3 * $scalingFactor4k) $colorGrey;
$borderActive5K: solid toPx(4 * $scalingFactor5k) $colorGrey;

@mixin usermenuLoggedIn {
  position: relative;
  align-items: center;
  display: flex;
  width: 288px;
  height: 48px;
  line-height: 1.533;

  @include mq($from: desktop4k) {
    width: toPx(432 * $scalingFactor4k);
    height: toPx(72 * $scalingFactor4k);
  }

  @include mq($from: desktop5k) {
    width: toPx(576 * $scalingFactor5k);
    height: toPx(96 * $scalingFactor5k);
  }
}

@mixin usermenuLoggedInActive {
  border-top: $borderActive;
  border-right: $borderActive;
  border-left: $borderActive;

  @include mq($from: desktop4k) {
    border-top: $borderActive4K;
    border-right: $borderActive4K;
    border-left: $borderActive4K;
  }

  @include mq($from: desktop5k) {
    border-top: $borderActive5K;
    border-right: $borderActive5K;
    border-left: $borderActive5K;
  }
}

@mixin usermenuLoggedInCollapsed {
  display: flex;
  align-items: center;
  margin-left: 3px;
  margin-top: 3px;
  padding-left: 16px;

  @include mq($from: desktop4k) {
    margin-left: toPx(3 * $scalingFactor4k);
    margin-top: toPx(3 * $scalingFactor4k);
  }

  @include mq($from: desktop5k) {
    margin-left: toPx(3 * $scalingFactor5k);
    margin-top: toPx(3 * $scalingFactor5k);
  }
}

@mixin usermenuUserIcon {
  flex-basis: 32px;
  width: 118px;

  @include mq($from: desktop4k) {
    flex-basis: toPx(32 * $scalingFactor4k);
  }

  @include mq($from: desktop5k) {
    flex-basis: toPx(32 * $scalingFactor5k);
  }
}

@mixin usermenuLoggedInCollapsedIcon {
  position: relative;
}

@mixin usermenuLoggedInCollapsedInitialLetters {
  border-radius: 50%;
  background-color: $colorBlack10;
  font-family: $fontFamilyBase;
  font-size: pxToRem(13);
  color: $colorBlack60;
  font-weight: 700;
  width: 32px;
  height: 32px;
  text-align: center;
  position: relative;

  @include mq($from: desktop4k) {
    font-size: toPx(14 * $scalingFactor4k);
    width: toPx(32 * $scalingFactor4k);
    height: toPx(32 * $scalingFactor4k);
  }

  @include mq($from: desktop5k) {
    font-size: toPx(14 * $scalingFactor5k);
    width: toPx(32 * $scalingFactor5k);
    height: toPx(32 * $scalingFactor5k);
  }
}

@mixin displayNameLoggedInCollapsed {
  @include mq($from: mobilePortrait, $to: tabletPortrait) {
    display: none;
  }
}

@mixin usermenuLoggedInCollapsedArrow {
  width: 24px;
  height: 24px;
  z-index: -1;
  position: relative;
  fill: $colorBlack60;
  margin-left: toPx(-80);

  @include mq($from: mobilePortrait, $to: tabletPortrait) {
    display: none;
  }

  @include mq($from: desktop4k) {
    width: toPx(36 * $scalingFactor4k);
    height: toPx(36 * $scalingFactor4k);
    z-index: -1;
    fill: $colorBlack60;
    margin-left: toPx(-40 * $scalingFactor4k);
    margin-bottom: toPx(3.335 * $scalingFactor4k);
  }

  @include mq($from: desktop5k) {
    width: toPx(48 * $scalingFactor5k);
    height: toPx(48 * $scalingFactor5k);
    z-index: -1;
    fill: $colorBlack60;
    margin-left: toPx(-35 * $scalingFactor5k);
    margin-bottom: toPx(2.5 * $scalingFactor5k);
  }
}

@mixin usermenuLoggedInExpandedInfoUser {
  flex-grow: 1;
  padding-left: 4px;

  @include mq($from: desktop4k) {
    padding-left: toPx(4 * $scalingFactor4k);
  }

  @include mq($from: desktop5k) {
    padding-left: toPx(4 * $scalingFactor5k);
  }
}

@mixin usermenuLoggedInExpandedUsername {
  font-family: $fontSbbRoman;
  color: $colorBlack60;
  font-size: pxToRem(13);
  margin-top: -3px;

  @include mq($from: desktop4k) {
    font-size: toPx(13.5 * $scalingFactor4k);
    margin-top: toPx(-3 * $scalingFactor4k);
  }

  @include mq($from: desktop5k) {
    font-size: toPx(13 * $scalingFactor5k);
    margin-top: toPx(-3 * $scalingFactor5k);
  }
}

@mixin usermenuLoggedInExpandedDisplayName {
  font-size: pxToRem(15);
  font-family: $fontSbbRoman;
  color: $colorBlack60;
  margin-top: -5px;

  @include mq($from: desktop4k) {
    font-size: toPx(15.35 * $scalingFactor4k);
    margin-top: toPx(-5 * $scalingFactor4k);
  }

  @include mq($from: desktop5k) {
    font-size: toPx(15 * $scalingFactor5k);
    margin-top: toPx(-5 * $scalingFactor5k);
  }
}

@mixin usermenuLoggedInExpandedArrow {
  width: 24px;
  height: 24px;
  transform: rotate(180deg);
  margin-left: 60px;
  fill: $colorBlack60;

  @include mq($from: desktop4k) {
    width: toPx(36 * $scalingFactor4k);
    height: toPx(36 * $scalingFactor4k);
    margin-left: toPx(60 * $scalingFactor4k);
    fill: $colorBlack60;
  }

  @include mq($from: desktop5k) {
    width: toPx(48 * $scalingFactor5k);
    height: toPx(48 * $scalingFactor5k);
    margin-left: (60 * $scalingFactor5k);
    fill: $colorBlack60;
  }
}

@mixin usermenuLoggedOff {
  display: flex;
  align-items: center;
  position: relative;
  height: 48px;
  width: 156px;
  color: $colorBlack60;
  fill: $colorBlack60;

  @include mq($from: desktop4k) {
    height: toPx(72 * $scalingFactor4k);
    width: toPx(103 * $scalingFactor4k);
  }

  @include mq($from: desktop5k) {
    height: toPx(96 * $scalingFactor5k);
    width: toPx(134 * $scalingFactor5k);
  }
}

@mixin usermenuLoggedOffIconUser {
  width: 24px;
  height: 24px;
  margin-left: 2px;
  position: relative;
  color: inherit;
  fill: inherit;

  @include mq($from: desktop4k) {
    height: toPx(36 * $scalingFactor4k);
    width: toPx(36 * $scalingFactor4k);
    margin-left: toPx(2 * $scalingFactor4k);
  }

  @include mq($from: desktop5k) {
    height: toPx(48 * $scalingFactor5k);
    width: toPx(48 * $scalingFactor5k);
    margin-left: toPx(2 * $scalingFactor5k);
  }
}

@mixin usermenuLoggedOffButton {
  @include buttonResetFrameless;
  position: relative;
  margin-left: 13.5px;
  margin-top: 2px;
  color: inherit;
  fill: inherit;

  @include mq($from: desktop4k) {
    margin-left: toPx(13.5 * $scalingFactor4k);
    margin-top: toPx(8 * $scalingFactor4k);
    max-width: toPx(53 * $scalingFactor4k);
    max-height: toPx(26 * $scalingFactor4k);
    font-size: toPx(14 * $scalingFactor4k);
  }

  @include mq($from: desktop5k) {
    margin-left: toPx(13.5 * $scalingFactor5k);
    margin-top: toPx(6.5 * $scalingFactor5k);
    max-width: toPx(70 * $scalingFactor5k);
    max-height: toPx(35 * $scalingFactor5k);
    font-size: toPx(14 * $scalingFactor5k);
  }
}

@mixin imageStyle {
  border-radius: 50%;
  width: 32px;
  height: 32px;

  @include mq($from: desktop4k) {
    width: toPx(32 * $scalingFactor4k);
    height: toPx(32 * $scalingFactor4k);
  }

  @include mq($from: desktop5k) {
    width: toPx(32 * $scalingFactor5k);
    height: toPx(32 * $scalingFactor5k);
  }
}
