@import 'https://unpkg.com/maplibre-gl@1.15.2/dist/maplibre-gl.css';

ul {
  margin: 9px 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 5px 0;
  list-style-type: none;
}

li button {
  margin: 3px 9px 3px 0;
}

.map-container {
  display: inline-block;
}

.select-journey {
  min-width: 130px;
}

.web-map {
  width: 100%;
  height: 500px;
  min-height: 500px;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.15);
}
