<form [formGroup]="form">
  <sbb-form-field label="Textarea">
    <sbb-textarea
      formControlName="textarea"
      [maxlength]="200"
      [minlength]="20"
      placeholder="Placeholder Text"
    ></sbb-textarea>
    @if (form.get('textarea')?.errors?.minlength) {
    <sbb-error>A length of 20 chars is required!</sbb-error>
    } @if (form.get('textarea')?.errors?.required) {
    <sbb-error>Content is required!</sbb-error>
    }
  </sbb-form-field>

  <h4>Properties</h4>
  <p>minlength: 20<br />maxlength: 200</p>
  <h4>Value</h4>
  <pre>{{ form.get('textarea')?.value | json }}</pre>
</form>
