<div
  class="dropdown-avatar"
  [sbbDropdown]="dropdown"
  tabindex="0"
  [class.dropdown-avatar-active]="dropdown.open"
>
  <div class="avatar-icon">
    <sbb-icon svgIcon="kom:user-small" class="sbb-icon-fit"></sbb-icon>
  </div>
  <div *ngIf="dropdown.open">William Tell</div>
</div>
<sbb-dropdown #dropdown="sbbDropdown">
  <a
    *ngFor="let link of links"
    sbbDropdownItem
    [routerLink]="linkGenerator(link.page).routerLink"
    [queryParams]="linkGenerator(link.page).queryParams"
    routerLinkActive="sbb-selected"
  >
    {{ link.text }}
  </a>
  <hr />
  <button sbbDropdownItem type="button" (click)="onClick()">Do something</button>
</sbb-dropdown>
