@import '../../../../angular-core/styles/common/variants';
@import '../../../../angular-core/styles/common/variables';
@import '../../../../angular-core/styles/common/colors';
@import '../../../../angular-core/styles/common/functions';
@import '../../../../angular-core/styles/common/mediaqueries';

@mixin formError($borderColor) {
  display: block;
  letter-spacing: 0;
  outline: none;
  resize: none;
  opacity: 1;
  font-family: $fontSbbRoman;
  color: $sbbColorError;

  @include publicOnly() {
    font-size: pxToRem(14);
    line-height: pxToEm(21, 14);

    @include mq($from: desktop4k) {
      font-size: pxToRem(14 * $scalingFactor4k);
    }

    @include mq($from: desktop5k) {
      font-size: pxToRem(14 * $scalingFactor5k);
    }
  }

  @include businessOnly() {
    font-size: pxToRem(13);
    line-height: pxToEm(16, 13);
  }
}
