@import '../../../../angular-core/styles/common/variants';
@import '../../../../angular-core/styles/common/functions';
@import '../../../../angular-core/styles/common/mediaqueries';
@import '../../../../angular-core/styles/common/form';

@mixin sbbLabel {
  @include publicOnly() {
    margin-bottom: pxToEm(5, 13);
    padding-left: pxToEm(10, 13);

    @include mq($from: desktop4k) {
      margin-bottom: pxToEm(5 * $scalingFactor4k, 13);
    }

    @include mq($from: desktop5k) {
      margin-bottom: pxToEm(5 * $scalingFactor5k, 13);
    }
  }

  @include businessOnly() {
    margin-bottom: pxToEm(3, 13);
    padding-left: 0;
  }

  @include label;
}

@mixin inputMode($mode) {
  @if $mode == short {
    @include inputShort();
  } @else if $mode == medium {
    @include inputMedium();
  } @else if $mode == long {
    @include inputLong();
  }
}

@mixin inputShort {
  width: 33.333%;

  @include mq($from: mobileLandscape) {
    width: 25%;
  }

  @include mq($from: desktop) {
    width: 16.66666%;
  }
}

@mixin inputMedium {
  width: 100%;

  @include mq($from: tabletPortrait) {
    width: 50%;
  }
}

@mixin inputLong {
  width: 100%;
}
