name: Angular Components Sync
on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '0 5 * * *'
  workflow_dispatch:

permissions:
  issues: write

jobs:
  update-issue:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b # v4
    - uses: actions/setup-node@v4
      with:
        node-version-file: '.nvmrc'
    - uses: ./.github/actions/yarn-install

    - name: "Execute Angular Components Sync"
      run: yarn ts-node scripts/angular-components-sync.ts
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
