name: Angular Components Sync
on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '0 5 * * *'
  workflow_dispatch:

permissions:
  issues: write

jobs:
  update-issue:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
    - uses: pnpm/action-setup@v4
    - uses: actions/setup-node@v6
      with:
        cache: 'pnpm'
        node-version-file: '.nvmrc'
    - run: pnpm install

    - name: "Execute Angular Components Sync"
      run: node --no-warnings=ExperimentalWarning --loader ts-node/esm/transpile-only scripts/angular-components-sync.mts
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
