name: Continuous Integration
on: [push, pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  BAZEL_COMMAND: bazelisk
  BAZEL_CACHE_FILE_MAX_SIZE: 20MB
  BAZEL_CACHE_INTERMEDIATE_FILE_MAX_SIZE: 50MB
  BAZEL_CACHE_PACKAGES_MAX_SIZE: 150MB
  BAZEL_CACHE_COMBINED_MAX_SIZE: 600MB
  BAZEL_CACHE_VERSION: v1

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: 16
    - name: "Yarn: Install"
      uses: ./.github/actions/yarn-install

    - name: "Lint: Run tslint and bazel linter"
      run: yarn lint

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: "Bazel: Copy bazel.rc to user home"
      run: cp ./.github/.bazelrc ~/
    - uses: actions/setup-node@v2
      with:
        node-version: 16
    - name: "Yarn: Install"
      uses: ./.github/actions/yarn-install

    - name: "Bazel: Restore remote cache"
      if: ${{ success() || failure() }}
      uses: ./.github/actions/download-workflow-bazel-cache
      with:
        key: combined
    - name: "Bazel: Build"
      run: yarn -s build all
      timeout-minutes: 45
    - name: "Bazel: Clean bazel disk cache"
      if: ${{ success() || failure() }}
      run: yarn -s bazel:cache clean --individualMaxSize=${{ env.BAZEL_CACHE_INTERMEDIATE_FILE_MAX_SIZE }}
    - name: "Bazel: Upload cache"
      if: ${{ success() || failure() }}
      uses: ./.github/actions/upload-intermediate-bazel-cache

  packages:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: "Bazel: Copy bazel.rc to user home"
      run: cp ./.github/.bazelrc ~/
    - uses: actions/setup-node@v2
      with:
        node-version: 16
    - name: "Yarn: Install"
      uses: ./.github/actions/yarn-install

    - name: "Bazel: Restore remote cache"
      if: ${{ success() || failure() }}
      uses: actions/cache@v2
      with:
        path: ~/.bazel-cache/sbb-angular
        key: bazel-packages-${{ env.BAZEL_CACHE_VERSION }}-${{ github.sha }}-${{ github.run_attempt }}
        restore-keys: |
          bazel-packages-${{ env.BAZEL_CACHE_VERSION }}-${{ github.sha }}-
          bazel-packages-${{ env.BAZEL_CACHE_VERSION }}-
    - name: "Bazel: Build packages"
      run: yarn -s build packages
    - name: "Bazel: Clean bazel disk cache"
      if: ${{ success() || failure() }}
      run: yarn -s bazel:cache clean --maxSize=${{ env.BAZEL_CACHE_PACKAGES_MAX_SIZE }}

  test:
    if: ${{ success() || failure() }}
    needs: build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: "Bazel: Copy bazel.rc to user home"
      run: cp ./.github/.bazelrc ~/
    - uses: actions/setup-node@v2
      with:
        node-version: 16
    - name: "Yarn: Install"
      uses: ./.github/actions/yarn-install

    - name: "Bazel: Download cache"
      if: ${{ success() || failure() }}
      uses: ./.github/actions/download-intermediate-bazel-cache
    - name: "Bazel: Run local tests"
      run: bazelisk test src/... --build_tag_filters=-e2e --test_tag_filters=-e2e --build_tests_only
    - name: "Bazel: Clean bazel disk cache"
      if: ${{ success() || failure() }}
      run: yarn -s bazel:cache clean --individualMaxSize=${{ env.BAZEL_CACHE_INTERMEDIATE_FILE_MAX_SIZE }}
    - name: "Bazel: Upload cache"
      if: ${{ success() || failure() }}
      uses: ./.github/actions/upload-intermediate-bazel-cache
      with:
        key: bazel-cache-test

  showcase:
    if: ${{ success() || failure() }}
    needs: build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: "Bazel: Copy bazel.rc to user home"
      run: cp ./.github/.bazelrc ~/
    - uses: actions/setup-node@v2
      with:
        node-version: 16
    - name: "Yarn: Install"
      uses: ./.github/actions/yarn-install

    - name: "Bazel: Download cache"
      if: ${{ success() || failure() }}
      uses: ./.github/actions/download-intermediate-bazel-cache
    - name: "Bazel: Build showcase"
      if: ${{ success() || failure() }}
      run: yarn -s build showcase
    - name: "Bazel: Clean bazel disk cache"
      if: ${{ success() || failure() }}
      run: yarn -s bazel:cache clean --individualMaxSize=${{ env.BAZEL_CACHE_INTERMEDIATE_FILE_MAX_SIZE }}
    - name: "Bazel: Upload cache"
      if: ${{ success() || failure() }}
      uses: ./.github/actions/upload-intermediate-bazel-cache
      with:
        key: bazel-cache-showcase

    - name: "Deploy: Pack showcase"
      run: mv $(npm pack ./dist/releases/showcase | tail -n 1) sbb-esta-angular-showcase.tgz
    - name: "Artifact: Upload showcase merge artifact for pull request"
      if: github.event_name == 'pull_request'
      uses: actions/upload-artifact@v2
      with:
        name: showcase-artifact-${{ github.event.number }}
        path: sbb-esta-angular-showcase.tgz
    - name: "Artifact: Upload showcase merge artifact for master branch"
      if: github.ref == 'refs/heads/master'
      uses: actions/upload-artifact@v2
      with:
        name: showcase-artifact-master
        path: sbb-esta-angular-showcase.tgz

  merge-caches:
    if: ${{ success() || failure() }}
    needs: [test, showcase]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: 16

    - uses: actions/github-script@v6
      with:
        # Since we don't want to install the full package dependencies, we remove all dependencies that we don't need.
        # We do this in order to reduce the time needed for this job.
        script: |
          const fs = require('fs');
          const pkg = require('./package.json');
          pkg.dependencies = {};
          const validKeys = ['@actions/cache', 'ts-node', 'typescript'];
          const filteredEntries = Object.entries(pkg.devDependencies).filter(([key]) => validKeys.includes(key));
          pkg.devDependencies = Object.fromEntries(filteredEntries);
          fs.writeFileSync('./package.json', JSON.stringify(pkg), 'utf8');

    - name: "Yarn: Install global dependencies"
      run: yarn install --non-interactive

    - name: "Bazel: Create cache directory"
      run: mkdir -p ~/.bazel-cache/
    - name: "Bazel: Download test cache"
      if: ${{ success() || failure() }}
      uses: ./.github/actions/download-intermediate-bazel-cache
      with:
        key: bazel-cache-test
    - name: "Bazel: Download showcase cache"
      if: ${{ success() || failure() }}
      uses: ./.github/actions/download-intermediate-bazel-cache
      with:
        key: bazel-cache-showcase
    - name: "Bazel: Clean bazel disk cache"
      if: ${{ success() || failure() }}
      run: yarn -s bazel:cache clean --maxSize=${{ env.BAZEL_CACHE_COMBINED_MAX_SIZE }} --individualMaxSize=${{ env.BAZEL_CACHE_FILE_MAX_SIZE }}

    - name: "Bazel: Upload remote cache"
      if: ${{ success() || failure() }}
      uses: ./.github/actions/upload-workflow-bazel-cache
      with:
        key: combined
