name: Continuous Integration
on: [push, pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  BAZEL_COMMAND: bazelisk
  BAZEL_CACHE_FILE_MAX_SIZE: 20MB
  BAZEL_CACHE_INTERMEDIATE_FILE_MAX_SIZE: 50MB
  BAZEL_CACHE_PACKAGES_MAX_SIZE: 150MB
  BAZEL_CACHE_COMBINED_MAX_SIZE: 600MB
  BAZEL_CACHE_VERSION: v3

permissions:
  packages: write

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          cache: 'pnpm'
          node-version-file: '.nvmrc'
      - run: pnpm install

      - name: "Lint: Run tslint and bazel linter"
        run: pnpm lint

  integrity:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          cache: 'pnpm'
          node-version-file: '.nvmrc'
      - run: pnpm install
      - name: "Bazel: Restore remote cache"
        uses: actions/cache/restore@v4
        with:
          path: ~/.bazel-cache/sbb-angular
          key: bazel-${{ env.BAZEL_CACHE_VERSION }}-${{ github.sha }}-${{ github.run_attempt }}
          restore-keys: |
            bazel-${{ env.BAZEL_CACHE_VERSION }}-${{ github.sha }}-
            bazel-${{ env.BAZEL_CACHE_VERSION }}-
      - name: "Integrity: Verify workspace integrity"
        run: pnpm integrity
      - name: "Integrity: Assert no changes (run `pnpm integrity` if this fails)"
        run: git diff --exit-code

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: "Bazel: Copy .bazelrc to user home"
        run: cp ./.github/.bazelrc ~/
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          cache: 'pnpm'
          node-version-file: '.nvmrc'
      - run: pnpm install
      - name: "Bazel: Restore remote cache"
        uses: actions/cache/restore@v4
        with:
          path: ~/.bazel-cache/sbb-angular
          key: bazel-${{ env.BAZEL_CACHE_VERSION }}-${{ github.sha }}-${{ github.run_attempt }}
          restore-keys: |
            bazel-${{ env.BAZEL_CACHE_VERSION }}-${{ github.sha }}-
            bazel-${{ env.BAZEL_CACHE_VERSION }}-
      - run: bazel build --build_tag_filters=-docs-package,-release-package -- src/...
      - name: "Bazel: Clean bazel disk cache"
        if: ${{ success() || failure() }}
        run: pnpm -s bazel:cache clean --individualMaxSize=${{ env.BAZEL_CACHE_INTERMEDIATE_FILE_MAX_SIZE }}
      - name: "Bazel: Upload cache"
        if: ${{ success() || failure() }}
        uses: ./.github/actions/upload-intermediate-bazel-cache

  test:
    runs-on: ubuntu-24.04
    if: ${{ success() || failure() }}
    needs: build
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: "Bazel: Copy .bazelrc to user home"
        run: cp ./.github/.bazelrc ~/
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          cache: 'pnpm'
          node-version-file: '.nvmrc'
      - run: pnpm install
      - name: "Bazel: Download cache"
        if: ${{ success() || failure() }}
        uses: ./.github/actions/download-intermediate-bazel-cache
      - run: bazelisk test src/... --build_tag_filters=-e2e --test_tag_filters=-e2e --build_tests_only
      - name: "Bazel: Clean bazel disk cache"
        if: ${{ success() || failure() }}
        run: pnpm -s bazel:cache clean --individualMaxSize=${{ env.BAZEL_CACHE_INTERMEDIATE_FILE_MAX_SIZE }}
      - name: "Bazel: Upload cache"
        if: ${{ success() || failure() }}
        uses: ./.github/actions/upload-intermediate-bazel-cache
        with:
          key: bazel-cache-test

  docs:
    runs-on: ubuntu-latest
    if: ${{ success() || failure() }}
    needs: build
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: "Bazel: Copy .bazelrc to user home"
        run: cp ./.github/.bazelrc ~/
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          cache: 'pnpm'
          node-version-file: '.nvmrc'
      - run: pnpm install
      - name: "Bazel: Download cache"
        if: ${{ success() || failure() }}
        uses: ./.github/actions/download-intermediate-bazel-cache
      - name: "Bazel: Build docs"
        if: ${{ success() || failure() }}
        run: pnpm -s build docs
      - name: "Bazel: Clean bazel disk cache"
        if: ${{ success() || failure() }}
        run: pnpm -s bazel:cache clean --individualMaxSize=${{ env.BAZEL_CACHE_INTERMEDIATE_FILE_MAX_SIZE }}
      - name: "Bazel: Upload cache"
        if: ${{ success() || failure() }}
        uses: ./.github/actions/upload-intermediate-bazel-cache
        with:
          key: bazel-cache-docs
      - name: "Artifact: Upload docs"
        if: github.event_name == 'pull_request' || github.ref == 'refs/heads/main'
        uses: actions/upload-artifact@v5
        with:
          name: docs-artifact
          path: dist/docs/

  publish-docs:
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    needs: docs
    env:
      IMAGE_REPO: ghcr.io/${{ github.repository }}/docs-preview

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: "Download docs artifact"
        uses: actions/download-artifact@v6
        with:
          name: docs-artifact
          path: dist/docs/
      - uses: ./.github/actions/setup-mint
      - name: Create and publish container image
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u $ --password-stdin
          docker build --tag $IMAGE_REPO:rev-main-fat .
          mint slim \
            --target $IMAGE_REPO:rev-main-fat \
            --tag $IMAGE_REPO:rev-main \
            --preserve-path /usr/share/nginx/html \
            --include-new false
          docker push $IMAGE_REPO:rev-main
          docker image list
        env:
          DOCKER_BUILDKIT: 1


  merge-caches:
    if: ${{ success() || failure() }}
    needs: [test, docs]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'

      - name: "Bazel: Create cache directory"
        run: mkdir -p ~/.bazel-cache/
      - name: "Bazel: Download test cache"
        if: ${{ success() || failure() }}
        uses: ./.github/actions/download-intermediate-bazel-cache
        with:
          key: bazel-cache-test
      - name: "Bazel: Download docs cache"
        if: ${{ success() || failure() }}
        uses: ./.github/actions/download-intermediate-bazel-cache
        with:
          key: bazel-cache-docs
      - name: "Bazel: Clean bazel disk cache"
        if: ${{ success() || failure() }}
        run: pnpm -s bazel:cache clean --maxSize=${{ env.BAZEL_CACHE_COMBINED_MAX_SIZE }} --individualMaxSize=${{ env.BAZEL_CACHE_FILE_MAX_SIZE }}

      - name: "Bazel: Upload remote cache"
        if: ${{ success() || failure() }}
        uses: actions/cache/save@v4
        with:
          path: ~/.bazel-cache/sbb-angular
          key: bazel-${{ env.BAZEL_CACHE_VERSION }}-${{ github.sha }}-${{ github.run_attempt }}
