name: PR Deployment Comment
on:
  workflow_run:
    workflows: ["Continuous Integration"]
    types: [completed]

jobs:
  pr-deployment-comment:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJSON(github) }}
        run: echo "$GITHUB_CONTEXT"
      - name: PR Deployment Comment
        if: ${{ github.event.workflow_run.pull_requests[0] != null }}
        uses: actions/github-script@v2
        env:
          prNumber: ${{ github.event.workflow_run.pull_requests[0].number }}
          headSha: ${{ github.event.workflow_run.pull_requests[0].head.sha }}
          createdAt: ${{ github.event.workflow_run.created_at }}
          stagingUrl: https://angular-staging.app.sbb.ch
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const { prNumber, headSha, createdAt, stagingUrl } = process.env;
            const createdAtDate = new Date(createdAt).toLocaleString();
            github.issues.createComment({
              issue_number: ${{ PR_NUMBER }},
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: `Staging ready from ${headSha} at ${createdAtDate}:\n- ${stagingUrl}/${prNumber}\n- ${stagingUrl}/${prNumber}-merge`
            })
      
