name: PR Title Linter
on:
  pull_request:
    types: [opened, edited, reopened, unlocked]

permissions: read-all

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4
    - uses: actions/setup-node@v3
      with:
        node-version-file: '.nvmrc'
    - name: "Yarn: Install"
      uses: ./.github/actions/yarn-install

    - name: "Lint: Pull request title"
      env:
        PR_TITLE: ${{ github.event.pull_request.title }}
      run: echo "$PR_TITLE" | yarn commitlint

    - name: "Warning: Pull request title must match patterns defined in CONTRIBUTING.md in section Commit Message Guidelines!"
      if: ${{ failure() }}
      run: echo "Pull request title must match patterns defined in CONTRIBUTING.md in section Commit Message Guidelines!"