name: PR Title Linter
on:
  pull_request:
    types: [opened, edited, reopened, unlocked]

permissions: read-all

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
    - uses: pnpm/action-setup@v4
    - uses: actions/setup-node@v6
      with:
        cache: 'pnpm'
        node-version-file: '.nvmrc'
    - run: pnpm install

    - name: "Lint: Pull request title"
      env:
        PR_TITLE: ${{ github.event.pull_request.title }}
      run: echo "$PR_TITLE" | pnpm commitlint

    - name: "Warning: Pull request title must match patterns defined in CONTRIBUTING.md in section Commit Message Guidelines!"
      if: ${{ failure() }}
      run: echo "Pull request title must match patterns defined in CONTRIBUTING.md in section Commit Message Guidelines!"