name: Regenerate Images

on:
  workflow_dispatch: {}
  schedule:
    # Once per week on sunday
    - cron: '0 0 * * 0'

permissions:
  packages: write

env:
  IMAGE_REPO: ghcr.io/${{ github.repository }}/showcase


jobs:
  tag-resolver:
    runs-on: ubuntu-latest
    env:
      START_VERSION: 11
    outputs:
      versions: ${{ steps.versions.outputs.versions }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          fetch-depth: 0
          fetch-tags: true
      - name: Find latest tags from major versions
        id: versions
        run: |
          ./scripts/find-major-versions.sh >> "$GITHUB_OUTPUT"

  regenerate-image:
    runs-on: ubuntu-latest
    needs: tag-resolver
    strategy:
      matrix:
        version: ${{ fromJSON(needs.tag-resolver.outputs.versions) }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: ./.github/actions/setup-mint
      - run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u $ --password-stdin
          ./scripts/regenerate-image.sh
        env:
          DOCKER_BUILDKIT: 1
          VERSION: ${{ matrix.version }}
