name: Renovate
on:
  schedule:
    # The "*" (#42, asterisk) character has special semantics in YAML, so this
    # string has to be quoted.
    - cron: '0/15 * * * *'
  workflow_dispatch:

permissions: read-all

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Get token
        id: get_token
        uses: machine-learning-apps/actions-app-token@master
        with:
          APP_PEM: ${{ secrets.RENOVATE_APP_PEM }}
          APP_ID: ${{ secrets.RENOVATE_APP_ID }}
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          cache: 'pnpm'
          node-version-file: '.nvmrc'
      - run: pnpm install

      - name: "Run Renovate"
        run: pnpm renovate
        shell: bash
        env:
          LOG_LEVEL: 'debug'
          RENOVATE_TOKEN: 'x-access-token:${{ steps.get_token.outputs.app_token }}'
          RENOVATE_CONFIG_FILE: renovate.json
