<div class="web-map">
  <sbb-journey-maps
    #advancedMap
    language="en"
    [apiKey]="apiKey"
    [styleOptions]="form.get('styleOptions')?.value"
    [journeyRoutesOption]="journeyRoutesOption"
    [journeyMapsZones]="form.get('zoneGeoJson')?.value"
    [viewportDimensions]="viewportDimensions"
    [poiOptions]="form.get('pointsOfInterestOptions')?.value"
    [listenerOptions]="form.get('listenerOptions')?.value"
    [markerOptions]="form.get('markerOptions')?.value"
    [markerDetailsTemplate]="markerDetailsTemplate"
    (mapCenterChange)="mapCenterChange.next($event)"
    (mapBoundsChange)="mapBoundingBoxChange.next($event)"
    (zoomLevelsChange)="zoomLevels = $event"
    [(selectedMarkerId)]="selectedMarkerId"
    [selectedLevel]="this.form.get('level')?.value"
    (selectedLevelChange)="this.changeSelectedLevel($event)"
    (visibleLevelsChange)="visibleLevels.next($event)"
  >
  </sbb-journey-maps>

  <ng-template #markerDetailsTemplate let-marker>
    <div class="markerdetails-title">{{ marker.title }}</div>
    <div class="markerdetails-subtitle">{{ marker.subtitle }}</div>
  </ng-template>
  <ng-template #stationTemplate let-station>
    <div class="station-title">{{ station.properties.name }}</div>
    <div class="station-subtitle">
      {{ station.properties.sbb_id || station.properties.didokCode }}
    </div>
  </ng-template>
  <ng-template #routeTemplate let-route>
    <div class="route-title">{{ route.properties.routeId }}</div>
  </ng-template>
  <ng-template #poiTemplate let-poi>
    <div>{{ poi.properties.name }}</div>
    <div>{{ poi.properties.sbbId }}</div>
  </ng-template>
  <ng-template #zoneTemplate let-zone>
    <div>{{ zone.properties.zone }}</div>
  </ng-template>
</div>

<div class="poi-controls">
  <form [formGroup]="form">
    <div class="row-2">
      <sbb-form-field label="Select zones">
        <sbb-select formControlName="zoneGeoJson" placeholder="(none)">
          @for (input of JOURNEY_MAPS_DEFAULT_ZONE_OPTIONS; track input) {
            <sbb-option [value]="input.value">{{ input.label }}</sbb-option>
          }
        </sbb-select>
      </sbb-form-field>
      <sbb-form-field label="Select route">
        <sbb-select formControlName="routingGeoJson" placeholder="(none)">
          @for (input of JOURNEY_MAPS_DEFAULT_ROUTING_OPTIONS; track input) {
            <sbb-option [value]="input.value"> {{ input.label }} </sbb-option>
          }
        </sbb-select>
      </sbb-form-field>
      @if (journeyMapsRoutingLegIds.length) {
        <sbb-form-field label="Select leg">
          <sbb-select formControlName="routingLegId" placeholder="(none)">
            <sbb-option [value]="">(none)</sbb-option>
            @for (legId of journeyMapsRoutingLegIds; track legId) {
              <sbb-option [value]="legId"> {{ legId || '(none)' }} </sbb-option>
            }
          </sbb-select>
        </sbb-form-field>
      }

      @if (visibleLevels | async; as visibleLevels) {
        <div>
          @if (!visibleLevels.length) {
            <sbb-notification type="info">No indoor data visible in map </sbb-notification>
          }
          @if (visibleLevels.length) {
            <div>
              <span class="sbb-label">Select indoor level</span>
              <sbb-radio-group class="sbb-checkbox-group-horizontal" formControlName="level">
                @for (level of visibleLevels; track level) {
                  <sbb-radio-button [value]="level">Level {{ level }}</sbb-radio-button>
                }
              </sbb-radio-group>
            </div>
          }
        </div>
      }
    </div>
    <div class="row-3">
      <li>
        <span class="sbb-label">
          Map markers
          @if (selectedMarkerId) {
            <span> (selected: {{ selectedMarkerId }})</span>
          }
        </span>
        <button
          sbb-button
          (click)="selectedMarkerId = 'work'"
          [disabled]="selectedMarkerId === 'work'"
        >
          Wylerpark
        </button>
        <button
          class="unselect-all-button"
          sbb-ghost-button
          (click)="selectedMarkerId = undefined"
          [disabled]="selectedMarkerId == undefined"
        >
          Unselect all
        </button>
      </li>

      <li formGroupName="markerOptions">
        <span class="sbb-label">Map marker info style</span>
        <sbb-radio-group class="sbb-checkbox-group-horizontal" formControlName="popup">
          <sbb-radio-button [value]="true">Popup</sbb-radio-button>
          <sbb-radio-button [value]="false">Teaser</sbb-radio-button>
        </sbb-radio-group>
      </li>

      <li>
        <div formGroupName="listenerOptions">
          <span class="sbb-label">Map interaction configuration</span>
          <div class="sbb-checkbox-group-horizontal">
            @for (type of listenerOptionTypes(); track type) {
              <ng-container [formGroupName]="type">
                <sbb-checkbox formControlName="watch">{{ type }}</sbb-checkbox>
              </ng-container>
            }
          </div>
        </div>
      </li>
    </div>
  </form>
</div>
