<div class="sbb-sidebar-mobile-menu-bar">
  <button
    type="button"
    class="sbb-button-reset-frameless sbb-sidebar-mobile-menu-bar-trigger sbb-icon-scaled"
    (click)="toggleSidebar()"
    [attr.aria-label]="_labelOpenSidebar"
  >
    <sbb-icon svgIcon="hamburger-menu-small"></sbb-icon>
  </button>
</div>

@if (hasBackdrop) {
  <div
    class="sbb-sidebar-backdrop"
    (click)="_onBackdropClicked()"
    [class.sbb-sidebar-shown]="_isShowingBackdrop()"
  ></div>
}

<ng-content select="sbb-sidebar"></ng-content>

<ng-content select="sbb-sidebar-content"> </ng-content>
@if (!_content) {
  <sbb-sidebar-content>
    <ng-content></ng-content>
  </sbb-sidebar-content>
}
