<sbb-contextmenu>
  <sbb-dropdown>
    <button sbbDropdownItem><sbb-icon svgIcon="kom:face-worker-small"></sbb-icon>Copy</button>
    <button sbbDropdownItem>
      <sbb-icon svgIcon="kom:trash-small"></sbb-icon> Delete
      <sbb-icon svgIcon="kom:trash-small"></sbb-icon>
    </button>
    <hr />
    <button sbbDropdownItem><sbb-icon svgIcon="kom:cross-small"></sbb-icon> Cancel</button>
  </sbb-dropdown>
</sbb-contextmenu>

<sbb-contextmenu>
  <sbb-dropdown>
    <button sbbDropdownItem disabled>
      <sbb-icon-face-worker size="small"></sbb-icon-face-worker>
      Kopieren
    </button>
    <button sbbDropdownItem>
      <sbb-icon-trash size="small"></sbb-icon-trash>
      Löschen
    </button>
  </sbb-dropdown>
</sbb-contextmenu>
