@use './../../style/functions' as f;
@use './../../style/icons' as i;
@use '@sbb-esta/angular' as esta;

@include f.map-controls-shared;
@include f.map-control-icon;
@include f.map-control-icon-button('copyright');

$attributionBackground: hsla(0, 0%, 100%, 0.75);
$attributionBackgroundDark: hsla(0, 0%, 0%, 0.75);

.attribution-wrapper {
  display: flex;
  align-items: flex-end;

  background: $attributionBackground;

  .attribution-text {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5px;
    font-size: 12px;
    justify-content: flex-end;
    align-self: center;
    align-items: center;
    column-gap: 0.5em;

    .attribution-item {
      text-align: right;
      color: esta.$sbbColorBlack;

      ::ng-deep & > a,
      ::ng-deep & > span {
        color: esta.$sbbColorBlack;
      }
    }
  }

  .attribution-button {
    display: none;
  }

  &.var-compact {
    background: none;

    .map-control-container {
      // Small button
      margin: 6px;
    }

    .map-control-button-wrapper {
      // Small button
      line-height: 26px;
      padding: 3px;
      width: 32px;
      border-radius: 16px;
    }

    .map-control-button {
      mask-size: 12px;
      -webkit-mask-size: 12px;
      // Small button
      height: 26px;
    }

    .attribution-button {
      display: block;
    }

    .attribution-text {
      display: none;
    }

    &.var-open {
      background: $attributionBackground;

      .attribution-text {
        padding-left: 12px;
        min-height: 34px;
        display: flex;
      }
      .map-control-container {
        background: none;
        box-shadow: none;
      }
      .map-control-button {
        @include i.icon-mask('close');
      }
    }
  }

  &.dark {
    background-color: $attributionBackgroundDark;

    .attribution-text {
      .attribution-item {
        ::ng-deep & > a,
        ::ng-deep & > span {
          color: esta.$sbbColorWhite;
        }
      }
    }

    &.var-compact {
      background: none;

      &.var-open {
        background: $attributionBackgroundDark;
      }
    }
  }
}
