<div
  class="attribution-wrapper"
  *ngIf="map"
  [class.var-compact]="compact"
  [class.var-open]="open"
  aria-hidden="true"
>
  <div class="attribution-text">
    <span *ngFor="let attribution of attributions">
      <span [innerHTML]="attribution" class="attribution-item"></span>
    </span>
  </div>
  <div class="attribution-button">
    <div class="map-control-container">
      <div class="map-control-button-wrapper">
        <button type="button" class="map-control-button" (click)="toggleOpen()"></button>
      </div>
    </div>
  </div>
</div>
