<div
  class="attribution-wrapper"
  *ngIf="map"
  [class.var-compact]="compact"
  [class.var-open]="open"
  [class.dark]="isDarkMode"
  aria-hidden="true"
>
  <div class="attribution-text">
    <ng-container *ngFor="let attribution of attributions">
      <div [innerHTML]="attribution" class="attribution-item"></div>
    </ng-container>
  </div>
  <div class="attribution-button">
    <div class="map-control-container" [class.dark]="isDarkMode">
      <div class="map-control-button-wrapper">
        <button type="button" class="map-control-button" (click)="toggleOpen()"></button>
      </div>
    </div>
  </div>
</div>
