<div class="jmc-container" lang="{{ language }}" [class.dark]="isDarkMode">
  <div class="map-container" (touchstart)="onTouchStart($event)" (touchend)="onTouchEnd($event)">
    <div
      class="mod_map_container_mobile_overlay"
      [ngClass]="touchOverlayStyleClass"
      style="opacity: 0"
    >
      <span class="mod_map_container_mobile_overlay_icon_wrapper">
        <div class="mod_svgsprite_icon mod_map_container_mobile_overlay_icon"></div>
      </span>
      <p class="mod_map_container_mobile_overlay_text">{{ touchOverlayText }}</p>
    </div>
    <sbb-feature-event-listener
      [listenerOptions]="listenerOptions"
      [poiOptions]="poiOptions"
      [map]="mapReady | async"
      (featuresHoverChange)="featuresHoverChange.next($event)"
      (featuresClick)="featuresClick.next($event); handleMarkerOrClusterClick($event.features)"
      (featureSelectionsChange)="selectedFeaturesChange.next($event)"
      [isDarkMode]="isDarkMode"
    ></sbb-feature-event-listener>
    <sbb-marker-details
      [selectedMarker]="selectedMarker"
      [template]="markerDetailsTemplate"
      [map]="mapReady | async"
      [popup]="markerOptions.popup"
      (closeClicked)="onMarkerUnselected()"
      [isDarkMode]="isDarkMode"
    >
    </sbb-marker-details>

    <div class="map-widgets">
      <div class="map-widgets-expanding-container">
        <sbb-zoom-controls
          *ngIf="uiOptions.zoomControls"
          [map]="mapReady | async"
          [isDarkMode]="isDarkMode"
          [showSmallButtons]="uiOptions.showSmallButtons"
        ></sbb-zoom-controls>
        <sbb-geolocate-button
          *ngIf="uiOptions.geoLocation"
          [map]="mapReady | async"
          [isDarkMode]="isDarkMode"
          [showSmallButtons]="uiOptions.showSmallButtons"
          (geolocateButtonClicked)="onGeolocateButtonClicked()"
        ></sbb-geolocate-button>
        <sbb-compass-button
          *ngIf="showCompassButton()"
          [map]="mapReady | async"
          [isDarkMode]="isDarkMode"
          [showSmallButtons]="uiOptions.showSmallButtons"
          [negativeBearing]="-getMapBearing()"
          (compassButtonClicked)="resetBearingToNorth()"
        ></sbb-compass-button>
        <sbb-basemap-switch
          *ngIf="uiOptions.basemapSwitch"
          [map]="mapReady | async"
          [isDarkMode]="isDarkMode"
          [showSmallButtons]="uiOptions.showSmallButtons"
          (toggleBasemap)="onToggleBasemap()"
        ></sbb-basemap-switch>
        <sbb-home-button
          *ngIf="uiOptions.homeButton"
          [map]="mapReady | async"
          [isDarkMode]="isDarkMode"
          [showSmallButtons]="uiOptions.showSmallButtons"
          (homeButtonClicked)="onHomeButtonClicked()"
        ></sbb-home-button>
        <sbb-level-switch-horizontal
          *ngIf="uiOptions.levelSwitch && isLevelSwitchHorizontal"
          [map]="mapReady | async"
          [isDarkMode]="isDarkMode"
          [showSmallButtons]="uiOptions.showSmallButtons"
        ></sbb-level-switch-horizontal>
        <sbb-level-switch
          *ngIf="uiOptions.levelSwitch && !isLevelSwitchHorizontal"
          [map]="mapReady | async"
          [isDarkMode]="isDarkMode"
          [showSmallButtons]="uiOptions.showSmallButtons"
        ></sbb-level-switch>
      </div>
    </div>
    <div class="map-attribution">
      <sbb-attribution [map]="mapReady | async" [isDarkMode]="isDarkMode"></sbb-attribution>
    </div>
    <div class="map" #map></div>
  </div>
</div>
