@import '~@angular/cdk/a11y';
@import '~@angular/cdk/overlay';
@import '../core/styles/main';

html,
body {
  height: 100%;
  overflow-x: hidden;
}

@include sbbFonts();
@include reset();
@include sbbLink();
@include cdk-a11y();
@include cdk-overlay();
@include sbbOverlay();
@include sbbScrollbar();

sbb-public,
sbb-maps,
sbb-core,
sbb-icons,
.cdk-overlay-container {
  @import '../public/styles';
  sbb-markdown-viewer,
  sbb-component-viewer,
  sbb-api-viewer,
  sbb-icon-search,
  sbb-icon-viewer,
  sbb-experimental-icon-search,
  sbb-lightbox-container {
    @include sbbHeadings();
    @include sbbParagraph();
    @include lists;
    @include sbbInputFields();
    @include sbbTextarea();
    @include sbbSelect();
    @include sbbFieldset();
    @include sbbTimeInputField();
    @include sbbTable();
  }
}

sbb-business,
.cdk-overlay-container {
  @import '../business/styles';
  sbb-markdown-viewer,
  sbb-business-component-viewer,
  sbb-dialog-container {
    @include sbbHeadings();
    @include sbbParagraph();
    @include lists;
    @include sbbInputFields();
    @include sbbTextarea();
    @include sbbSelect();
    @include sbbFieldset();
    @include sbbTimeInputField();
  }
}

sbb-markdown-viewer,
sbb-component-viewer {
  pre {
    background-color: #efefef;
    padding: 1rem 3rem;
    margin: 1rem -3rem;
  }
}

sbb-component-viewer sbb-example-viewer pre {
  margin: 1rem -24px;
}

sbb-business-component-viewer {
  pre {
    background-color: #efefef;
    padding: 1rem 16px;
    margin: 1rem -16px;
  }

  sbb-business-example-viewer pre {
    margin: 1rem -16px;
  }
}

sbb-api-viewer,
sbb-markdown-viewer {
  > h1:first-child {
    margin-top: 0;
  }
}

code {
  background-color: #efefef;
  padding: 3px;
}

pre code {
  padding: 0;
}

.content h4 {
  margin-bottom: 0.5rem;
}

.docs-api {
  .docs-api-h3 {
    padding-bottom: 0.3em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }

  .docs-api-h4 code {
    font-size: 150%;
  }

  .docs-api-deprecated-marker {
    font-style: italic;
  }

  .docs-api-class-selector-name {
    background-color: #efefef;
    padding: 3px;
  }

  .docs-api-module-import code {
    font-size: large;
    padding: 5px;
  }

  table {
    width: 100%;

    &.docs-api-method-table th {
      text-align: left;
    }
  }

  .docs-api-properties-name-cell {
    .docs-api-input-marker,
    .docs-api-output-marker {
      font-size: 80%;
    }

    .docs-api-property-name {
      margin-top: 0;

      code {
        background-color: transparent;
      }
    }
  }
}

.sbbsc-block {
  margin-bottom: 0.5rem;
}
