@import '../../../angular-core/styles/common/colors';
@import '../../../angular-core/styles/common/functions';
@import '../../../angular-core/styles/common/mixins';

/**
*	Tab Badge mixin
*/
@mixin sbbTabBadgePill($fontSize: $sizeFontDefault) {
  @include baseBadgePill();
  background-color: $sbbColorMetal;
}

@mixin baseBadge {
  @include sbbTabBadgePill;
  margin-left: pxToEm(8);

  &.sbb-badge-active {
    background-color: $sbbColorRed;
  }
}
